#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Localizar"
  frRes + 1, "Texto a &localizar"
  frRes + 2, "Opções"
  frRes + 3, "&Maiúsculas / minúsculas"
  frRes + 4, "Origem"
  frRes + 5, "Primeira &página"
  frRes + 6, "Página &atual"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "Largura da &página"
  frRes + 21, "Pá&gina Inteira"
  frRes + 22, "&Duas páginas"
  frRes + 23, "Fechar visualização"
  frRes + 24, "Zoom"
  frRes + 25, "Abrir relatório"
  frRes + 26, "Salvar relatório"
  frRes + 27, "Imprimir relatório"
  frRes + 28, "Localizar texto"
  frRes + 29, "Editar página"
  frRes + 30, "Inserir página"
  frRes + 31, "Apagar página"
  frRes + 32, "Mostrar ajuda"
;--- PrintForm resources -----------------------------------------------------
  frRes + 40, "Imprimir"
  frRes + 41, "Impressora"
  frRes + 42, "Propri&edades"
  frRes + 43, "Cópias"
  frRes + 44, "Intervalo páginas"
  frRes + 45, "&Todas"
  frRes + 46, "&Página atual"
  frRes + 47, "Pa&ginas:"
  frRes + 48, "Separe com ',' e/ou '-' o intervalo de páginas a imprimir. Por exemplo: 1,3,5-12"
  frRes + 49, "&Nome:"
  frRes + 50, "Número &copias:"
  frRes + 51, "Agrupar"
  frRes + 52, "Imp&rimir"
  frRes + 53, "Todas páginas"
  frRes + 54, "Da página"
  frRes + 55, "Até página"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Exportar para TXT"
  frRes + 1801, "&Eliminar linhas vazias"
  frRes + 1802, "Converter para &DOS"
  frRes + 1803, "Preparar exportação"
  frRes + 1804, "Usar DOS &pseudografico"
  frRes + 1805, "Inserir &quebras página"
  frRes + 1806, "Fator de zoom"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Opções exportação CSV"
  frRes + 1811, "Delimitador &CSV"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Esportar para RTF"
  frRes + 1821, "Exportar &Figura"
  frRes + 1822, "Converter para &tabela"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Exportar para HTML"

;--- EXCELExportForm resources
  frRes + 1840, "Arquivo Excel OLE (*.xls)"
  frRes + 1841, "Objetos: "
  frRes + 1842, " - Tempo ocorrido: "
  frRes + 1843, "Por favor aguarde ..."
  frRes + 1844, "Exportar para Excel"
  frRes + 1845, " Propriedades página "
  frRes + 1846, "Margem Topo"
  frRes + 1847, "Margem Esquerda"
  frRes + 1848, "Scala de X"
  frRes + 1849, "Scala de Y"
  frRes + 1850, " Quality settings "
  frRes + 1851, "Merged"
  frRes + 1852, "Alinhar"
  frRes + 1853, "Cor fundo"
  frRes + 1854, "Bordas"
  frRes + 1855, "Contorno Palavras"
  frRes + 1856, "Nome Fonte"
  frRes + 1857, "Tamanho Fonte"
  frRes + 1858, "Estílo Fonte"
  frRes + 1859, "Cor Fonte"
  frRes + 1860, "Quebra Página"
  frRes + 1861, "Qualidade"
  frRes + 1862, "Rápido"
  frRes + 1863, "Imagem"
  frRes + 1864, "Abrir Excel após exportar"
  frRes + 1865, "Prepare Y pos: "
  frRes + 1866, "Prepare X pos: "
;--- RTFExportForm resources
  frRes + 1870, "Rich texto avançado (*.rtf)"
  frRes + 1871, "Exportar para RTF"
;--- IMGExportForm resources
  frRes + 1875, "BMP arquivo (*.bmp)"
  frRes + 1876, "TIFF arquivo (*.tif)"
  frRes + 1877, "JPEG arquivo (*.jpg)"
  frRes + 1878, "Exportar para imagem"
  frRes + 1879, "Imagem setup"
  frRes + 1880, "Qualidade (para JPEG)"
  frRes + 1881, "Crop pages"
  frRes + 1882, "Monocromático"
;--- Advanced CROSS
  frRes + 2600, "Grande total"
  frRes + 2601, "Total"      
  frRes + 2602, "Total de "   
  frRes + 2603, "Celula"
  frRes + 2604, "Cabeçalho" 
  frRes + 2605, "Repetir descrição"
  frRes + 2606, "Quadro Interno"
  frRes + 2607, "Mostrar cabeçalho"
;--- Functions in 2.50
  frRes + 2620, "Database"
  frRes + 2621, "FIELDISNULL(<FieldName>)/Returns 'true' if DB-field is null"
  frRes + 2622, "Informação Relatório"
  frRes + 2623, "REPORTCOMMENT/Retorna comentário relatório"
  frRes + 2624, "REPORTNAME/Retorna nome relatório"
  frRes + 2625, "REPORTAUTOR/Returna autor relatório"
  frRes + 2626, "VMAJOR/Retorna última versão"
  frRes + 2627, "VMINOR/Retorna primeira versão"
  frRes + 2628, "VRELEASE/Retorna release versão"
  frRes + 2629, "VBUILD/Retorna compilação versão"
  frRes + 2630, "REPORTDATE/Retorna data de criação relatório"
  frRes + 2631, "REPORTLASTCHANGE/Retorna data modificação relatório"
;--- Designer 2.50
  frRes + 2650, "Destaque de Sintaxe"
  frRes + 2651, "&Habilitar destaque de sintaxe"
  frRes + 2652, "Desabilitar Desfa&zer"
  frRes + 2653, "Senha"
  frRes + 2654, "Digite a senha para abrir o relatório"
  frRes + 2655, "Digite novamente a senha para validação"
  frRes + 2656, "Geral"
  frRes + 2657, "Protegido por senha"
  frRes + 2658, "Documento"
  frRes + 2659, "Atributo"
  frRes + 2660, "Nome"
  frRes + 2661, "Autor"
  frRes + 2662, "Versão"
  frRes + 2663, "Última"
  frRes + 2664, "Primeira"
  frRes + 2665, "Release"
  frRes + 2666, "Compilação"
  frRes + 2667, "Descrição"
  frRes + 2668, "Comentário"
  frRes + 2669, "Modificado"
  frRes + 2670, "Criado"

;-- Additions in 2.52
;-- OLE Excel export
  frRes + 2700, "Estílos"
;-- XML Excel export
  frRes + 2710, "Excel tabela (XML) file (*.xls)"
  frRes + 2711, "XML tabela (*.xml)"
  frRes + 2712, "Exportar para XML"
  frRes + 2713, "Export para Excel (XML)"
  frRes + 2714, "Números"
;-- HTML Table export
  frRes + 2720, "HTML tabela (*.html)"
  frRes + 2721, "Exportar para HTML"
  frRes + 2722, "Imagem"
  frRes + 2723, "Tudo em uma Pasta"
  frRes + 2724, "Exportar e abrir no browser"
  frRes + 2725, "Tamanho fixo"
  frRes + 2726, "Página navegação"
  frRes + 2727, "Multipáginas"
  frRes + 2728, "Mozilla quadros"
  frRes + 2729, "Páginas"
  frRes + 2730, "Avançado"
;-- Text advanced export
  frRes + 2740, "Texto (Matricial) (*.prn)"
  frRes + 2741, "Exportar para Texto (Matricial)"
  frRes + 2742, "Visualizar on/off"
  frRes + 2743, "Mostrar Setup"
  frRes + 2744, " Exportar propriedades "
  frRes + 2745, "Quebra página"
  frRes + 2746, "OEM codepage"
  frRes + 2747, "Linha vazias"
  frRes + 2748, "Espaços direito"
  frRes + 2749, " Escalando "
  frRes + 2750, "Largura"
  frRes + 2751, "Altura"
  frRes + 2752, " Quadros "
  frRes + 2753, "Nenhum"
  frRes + 2754, "Simples"
  frRes + 2755, "Só com OEM codepage"
  frRes + 2756, "Grafico"
  frRes + 2757, "Imprime após exportar"
  frRes + 2758, "Salvar posições"
  frRes + 2759, " Visualizar "
  frRes + 2760, "Largura:"
  frRes + 2761, "Altura:"
  frRes + 2762, "Página"
  frRes + 2763, "Aumentar visualização"
  frRes + 2764, "Diminuir visualização"
  frRes + 2765, "Printer init setup"
  frRes + 2766, "Tipo Impressora"
  frRes + 2767, "Ler"
  frRes + 2768, "Salvar"
  frRes + 2769, "Impressora iniciar modelo (*.fpi)|*.fpi"

;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Cancelar"
  SYes, "Sim"
  SNo, "Não"
  SPg, "Página"
  SNotAssigned, "[Nenhum]"
  SDefaultPrinter, "Impressora Virtual"
  SBand1, "Título do Relatório"
  SBand2, "Sumário do Relatório"
  SBand3, "Cabeçalho de Página"
  SBand4, "Rodapé de Página"
  SBand5, "Cabeçalho Mestre"
  SBand6, "Dados Mestre"
  SBand7, "Rodapé Mestre"
  SBand8, "Cabeçalho Detalhe"
  SBand9, "Dados de Detalhe"
  SBand10, "Rodapé de Detalhe"
  SBand11, "Cabeçalho de Sub-detalhe"
  SBand12, "Dados de Sub-detalhe"
  SBand13, "Rodapé de Sub-detalhe"
  SBand14, "Revista"
  SBand15, "Cabeçalho de Coluna"
  SBand16, "Rodapé de Coluna"
  SBand17, "Cabeçalho de Grupo"
  SBand18, "Rodapé de Grupo"
  SBand19, "Cabeçalho de Ref. Cruzada"
  SBand20, "Dados de Ref. Cruzada"
  SBand21, "Rodapé de Ref. Cruzada"
  SBand22, "Filha"
  SBand23, "Nenhum"
  SCateg1, "Texto"
  SCateg2, "Número"
  SCateg3, "Data"
  SCateg4, "Hora"
  SCateg5, "Boolean"
  SFormat11, "[Nenhum]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Personalizado"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 novembro 1998"
  SFormat35, "Personalizado"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Personalizado"
  SFormat51, "0;1"
  SFormat52, "No;Yes"
  SFormat53, "_;x"
  SFormat54, "False;True"
  SFormat55, "Personalizado"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "de"
  SErrorOccured, "Ocorreu um erro durante o cálculo"
  SDoc, "Relatório:"
  SObject, "Objeto:"
  SReportPreparing, "Preparando relatório"
  SFirstPass, "Executando 1º passo:"
  SPagePreparing, "Processando página:"
  SError, "Erro"
  SPreview, "Visualizar"
  SPagePrinting, "Imprimindo página:"
  SUntitled, "Sem título"
  SPrinterError, "Impressora selecionada não é válida"
  SRepFile, "Arquivo de Relatório"
  STextFile, "Arquivo Texto ASCII"
  SRTFFile, "Arquivo RichText"
  SCSVFile, "Arquivos CSV"
  SHTMFile, "Arquivo HTML"
  SFont, "Fonte..."
  SCharset, "1"
  SBarcodeError, "Erro no código de barras"
  SFRFError, "Formato (FRF) não suportado"
  SUndefinedSymbol, "Símbolo indefinido"
}
