#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Inspetor de Objetos"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Editor de texto"
  frRes + 61, "Inserir expressão"
  frRes + 62, "Inserir campo"
  frRes + 63, "Quebrar linhas de texto"
  frRes + 64, "Mostrar painel de script"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Designer"
  frRes + 81, "Retângulo"
  frRes + 82, "Padrão"
  frRes + 83, "Texto"
  frRes + 84, "Objetos"
  frRes + 85, "Alinhamento"
  frRes + 86, "Ferramentas"
  frRes + 87, "Novo relatório"
  frRes + 88, "Abrir relatório"
  frRes + 89, "Salvar relatório"
  frRes + 90, "Visualizar relatório"
  frRes + 91, "Recortar"
  frRes + 92, "Copiar"
  frRes + 93, "Colar"
  frRes + 94, "Desfazer ação"
  frRes + 95, "Refazer ação desfeita"
  frRes + 96, "Trazer para a frente"
  frRes + 97, "Enviar para trás"
  frRes + 98, "Selecionar tudo"
  frRes + 99, "Inserir página"
  frRes + 100, "Remover página"
  frRes + 101, "Opções da página"
  frRes + 102, "Grade"
  frRes + 103, "Alinhamento da grade"
  frRes + 104, "Ajustar objeto na banda"
  frRes + 105, "Fechar"
  frRes + 106, "Fechar gerador"
  frRes + 107, "Alinhar à esquerda"
  frRes + 108, "Alinhar à direta"
  frRes + 109, "Centralizar"
  frRes + 110, "Texto normal / 90 graus"
  frRes + 111, "Centralizar na vertical"
  frRes + 112, "Alinhar acima"
  frRes + 113, "Alinhar abaixo"
  frRes + 114, "Justificar"
  frRes + 115, "Negrito"
  frRes + 116, "Itálico"
  frRes + 117, "Sublinhado"
  frRes + 118, "Cor da fonte"
  frRes + 119, "Característica condicional"
  frRes + 120, "Tamanho da fonte"
  frRes + 121, "Nome da fonte"
  frRes + 122, "Borda superior"
  frRes + 123, "Borda esquerda"
  frRes + 124, "Borda inferior"
  frRes + 125, "Borda direita"
  frRes + 126, "Com bordas"
  frRes + 127, "Sem bordas"
  frRes + 128, "Cor do fundo"
  frRes + 129, "Cor da borda"
  frRes + 130, "Espessura da borda"
  frRes + 131, "Espessura da borda"
  frRes + 132, "Selecionar objeto"
  frRes + 133, "Inserir campo/texto"
  frRes + 134, "Inserir banda"
  frRes + 135, "Inserir figura"
  frRes + 136, "Inserir sub-relatório"
  frRes + 137, "Desenhar linhas"
  frRes + 138, "Alinhar à extremidade esquerda"
  frRes + 139, "Alinhar ao centro horizontal"
  frRes + 140, "Centralizar horizontalmente na janela"
  frRes + 141, "Espaço igual na horizontal"
  frRes + 142, "Alinhar à extremidade direita"
  frRes + 143, "Alinhar acima"
  frRes + 144, "Alinhar ao centro vertical"
  frRes + 145, "Centralizar verticalmente na janela"
  frRes + 146, "Espaço igual na vertical"
  frRes + 147, "Alinhar abaixo"
  frRes + 148, "Rec&ortar"
  frRes + 149, "&Copiar"
  frRes + 150, "Co&lar"
  frRes + 151, "Apa&gar"
  frRes + 152, "Selecionar &tudo"
  frRes + 153, "&Editar..."
  frRes + 154, "&Arquivo"
  frRes + 155, "&Novo..."
  frRes + 156, "A&brir..."
  frRes + 157, "&Salvar"
  frRes + 158, "&Dicionário de Dados..."
  frRes + 159, "Opções do &Relatório..."
  frRes + 160, "Opções da &Página..."
  frRes + 161, "&Visualizar"
  frRes + 162, "&Sair"
  frRes + 163, "&Editar"
  frRes + 164, "&Desfazer ação"
  frRes + 165, "&Refazer ação desfeita"
  frRes + 166, "Rec&ortar"
  frRes + 167, "&Copiar"
  frRes + 168, "Co&lar"
  frRes + 169, "Apa&gar"
  frRes + 170, "Selecionar &tudo"
  frRes + 171, "&Editar..."
  frRes + 172, "&Inserir página"
  frRes + 173, "&Remover página"
  frRes + 174, "Trazer para a &frente"
  frRes + 175, "Enviar para trá&s"
  frRes + 176, "&Ferramentas"
  frRes + 177, "&Barra de Ferramentas"
  frRes + 178, "Ferra&mentas"
  frRes + 179, "&Opções..."
  frRes + 180, "&Retângulo"
  frRes + 181, "Pa&drão"
  frRes + 182, "&Texto"
  frRes + 183, "&Objeto"
  frRes + 184, "&Inspetor de Objetos"
  frRes + 185, "Paleta de &alinhamento"
  frRes + 186, "Ferra&mentas"
  frRes + 187, "&Sobre..."
  frRes + 188, "Salvar &como..."
  frRes + 189, "Conteúdo da Aj&uda"
  frRes + 190, "O &que é isto?"
  frRes + 191, "Estilo de linha"
  frRes + 192, "Inserir diálogo"
  frRes + 193, "Inserir diálogo"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Restrição do Objeto"
  frRes + 261, "Não editar &memo"
  frRes + 262, "Não editar &script"
  frRes + 263, "Não editar &contexto"
  frRes + 264, "Não mo&dificar"
  frRes + 265, "Não alterar tama&nho"
  frRes + 266, "Não mo&ver"
  frRes + 267, "Não ap&agar"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Opções"
  frRes + 281, "Designer"
  frRes + 282, "Grade"
  frRes + 283, "Arrastar objetos"
  frRes + 284, "Medida da página"
  frRes + 285, "Grade tamanho"
  frRes + 286, "&Mostra grade"
  frRes + 287, "Alinhamento para &grade"
  frRes + 288, "&Botões coloridos"
  frRes + 289, "&4 pixels"
  frRes + 290, "&8 pixels"
  frRes + 291, "&18 pixels (5mm)"
  frRes + 293, "&Mostrar objeto quando mover ou altera tamanho"
  frRes + 294, "&Pixels"
  frRes + 295, "&MM"
  frRes + 296, "P&olegadas"
  frRes + 297, "Outro"
  frRes + 298, "&Editar depois de inserir"
  frRes + 299, "Mostrar &título das bandas"
  frRes + 300, "Posição da página"
  frRes + 301, "Cent&ralizar"
  frRes + 302, "Es&querda"
  frRes + 303, "Direi&ta"
  frRes + 304, "Editor"
  frRes + 305, "Editor de texto"
  frRes + 306, "&Usar fonte do objeto"
  frRes + 307, "Usar sempre como &fonte padrão:"
  frRes + 308, "Nome da fonte:"
  frRes + 309, "Tamanho:"
  frRes + 310, "Editor de Script"
  frRes + 311, "Traduz os nomes das propriedades"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Novo relatório"
  frRes + 319, "Descrição"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Novo modelo de relatório"
  frRes + 321, "&Comentário"
  frRes + 322, "Ícone"
  frRes + 323, "&Arquivo..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Dicionário de Dados"
  frRes + 341, "Variáveis"
  frRes + 342, "Campos"
  frRes + 343, "Datasources da Banda"
  frRes + 344, "Va&riáveis"
  frRes + 345, "Va&lores"
  frRes + 346, "E&xpressão"
  frRes + 347, "Nova categoria"
  frRes + 348, "Nova variável"
  frRes + 349, "Editar"
  frRes + 350, "Apagar"
  frRes + 351, "Editar lista"
  frRes + 352, "Tabelas e campos"
  frRes + 353, "Todas tabelas"
  frRes + 354, "&Mostrar"
  frRes + 355, "A&pelido"
  frRes + 356, "E&xcluir campo da lista"
  frRes + 357, "Datasources"
  frRes + 358, "Todos os datasources"
  frRes + 359, "&Salvar..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Lista de Variáveis"
  frRes + 361, "&Categoria e variáveis"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Opções de ralatório"
  frRes + 371, "Impressora"
  frRes + 372, "&Selecionar quando carregar relatório"
  frRes + 373, "Outro"
  frRes + 374, "Relatório em &dois passos"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Opção da página"
  frRes + 391, "Papel"
  frRes + 392, "Orientação"
  frRes + 393, "&Retrato"
  frRes + 394, "&Paisagem"
  frRes + 395, "Tamanho"
  frRes + 396, "&Largura, mm"
  frRes + 397, "&Altura, mm"
  frRes + 398, "Margens"
  frRes + 399, "Margens da página"
  frRes + 400, "&Esquerda, mm"
  frRes + 401, "&Superior, mm"
  frRes + 402, "&Direita, mm"
  frRes + 403, "&Inferior, mm"
  frRes + 404, "&Disponibilizar toda área"
  frRes + 405, "Opções"
  frRes + 406, "Opções"
  frRes + 407, "&Visualizar impressão"
  frRes + 408, "Colunas"
  frRes + 409, "&Número"
  frRes + 410, "Entre &colunas, mm"
  frRes + 411, "Fonte"
  frRes + 412, "Origem do papel"
  frRes + 413, "&Altura ilimitada"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Formatar variável"
  frRes + 421, "Formatar variável"
  frRes + 422, "Digitos &decimais"
  frRes + 423, "&Separador decimal"
  frRes + 424, "&Formato personalizado"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Variáveis"
  frRes + 441, "&Categoria:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Inserir campo"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Figura"
  frRes + 461, "&Auto redimensionar altura"
  frRes + 462, "&Ler..."
  frRes + 463, "Lim&par"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Banda de dados"
  frRes + 481, "&Dados"
  frRes + 482, "Contar &egistros"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Banda de dados"
  frRes + 486, "Bandas"
  frRes + 487, "Dados"
  frRes + 488, "Contar &registros"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Grupo"
  frRes + 491, "&Condição"
  frRes + 492, "Inserir campo"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Inserir nova banda"
  frRes + 511, "Tipo de Banda"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Característica condicional"
  frRes + 521, "&Condição"
  frRes + 522, "Fonte"
  frRes + 523, "C&or..."
  frRes + 524, "&Negrito"
  frRes + 525, "&Itálico"
  frRes + 526, "&Sublinhado"
  frRes + 527, "Fundo"
  frRes + 528, "Co&r..."
  frRes + 529, "&Transparente"
  frRes + 530, "Out&ro"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "Sobre FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "Objeto OLE"
  frRes + 551, "&Inserir..."
  frRes + 552, "&Editar..."
  frRes + 553, "&Fechar"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Editor de RichText"
  frRes + 561, "Abrir..."
  frRes + 562, "Salvar..."
  frRes + 563, "Desfazer"
  frRes + 564, "Negrito"
  frRes + 565, "Itálico"
  frRes + 566, "Alinhar à esquerda"
  frRes + 567, "Alinhar ao centro"
  frRes + 568, "Alinhar à direita"
  frRes + 569, "Normal"
  frRes + 570, "Lista"
  frRes + 571, "Fonte"
  frRes + 572, "Cancelar"
  frRes + 573, "Salvar e sair"
  frRes + 574, "Var"
  frRes + 575, "Inserir expressão"
  frRes + 576, "Fonte"
  frRes + 577, "Tamanho da fonte"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Objeto Chart"
  frRes + 591, "Tipo"
  frRes + 592, "Dados"
  frRes + 593, "Tipo"
  frRes + 594, "Nome do objeto"
  frRes + 595, "Opções"
  frRes + 596, "&3D"
  frRes + 597, "&Simples"
  frRes + 598, "Mostrar &legenda"
  frRes + 599, "Mostrar &eixo"
  frRes + 600, "Mostrar &marcas"
  frRes + 601, "Multi-co&r"
  frRes + 602, "Para &legenda"
  frRes + 603, "Para &valores"
  frRes + 604, "Marcas"
  frRes + 605, "Estilo"
  frRes + 606, "Valor"
  frRes + 607, "Percentual"
  frRes + 608, "Título"
  frRes + 609, "Título e Percentual"
  frRes + 610, "Título e Valor"
  frRes + 611, "Grupo Top10"
  frRes + 612, "&Mostrar topo"
  frRes + 613, "Tí&tulo"
  frRes + 614, "Valores"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Inserir campos"
  frRes + 631, "Tabelas &Disponíveis"
  frRes + 632, "Ordem"
  frRes + 633, "&Horizontal"
  frRes + 634, "&Vertical"
  frRes + 635, "&Inclua cabeçalhos"
  frRes + 636, "Inclua &banda"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Editor de código de barras"
  frRes + 651, "&Código"
  frRes + 652, "&Tipo do código de barras"
  frRes + 653, "Opções"
  frRes + 654, "Check&sum"
  frRes + 655, "&Número legível"
  frRes + 656, "Inserir expressão"
  frRes + 657, "Inserir variável"
  frRes + 658, "Rotação"
  frRes + 659, "&Zoom:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Editor de Propriedades"
  frRes + 671, "Simples:"
  frRes + 672, "&Expressão..."
  frRes + 673, "Campo &DB..."
  frRes + 674, "Sombra"
  frRes + 675, "Largura da &sombra"
  frRes + 676, "Cor"
  frRes + 677, "&Curva"
  frRes + 678, "&Moldura"
  frRes + 679, "Cor final"
  frRes + 680, "Cor começo"
  frRes + 681, "E&stilo"
  frRes + 682, "Vertical,Horizontal,Ellíptico,Retângulo,Horiz._Centro,Vert._Centro"
  frRes + 683, "Clique aqui para definir cores da sombra e moldura"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Executar expressão"
  frRes + 701, "Expressão"
  frRes + 702, "Inserir"
  frRes + 703, "&Campo..."
  frRes + 704, "&Variável..."
  frRes + 705, "&Função..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Funções disponíveis"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Argumentos de funções"
  frRes + 731, "Argumento"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Nome do objeto"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Visualiza cross-tab"
  frRes + 751, "Dataset do Cross-tab"
  frRes + 752, "Subtotais"
  frRes + 753, "Função"
  frRes + 754, "Editor de Cross-tab"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Remover esta página?"
  SConfirm, "Confirma"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Custom"
  SSystemVariables, "System variables"
  SVar1, "Page#"
  SVar2, "Expression"
  SVar3, "Date"
  SVar4, "Time"
  SVar5, "Line#"
  SVar6, "Line through#"
  SVar7, "Column#"
  SVar8, "Current line#"
  SVar9, "TotalPages"
  SStretched, "Auto redimensionar altura"
  SVarFormat, "Formatar variável..."
  SWordWrap, "Quebrar linha automaticamente"
  SWordBreak, "Quebrar palavra"
  SFormNewPage, "Forçar nova página"
  SPrintIfSubsetEmpty, "Imprimir quando dados em branco"
  SBreaked, "Quebrar"
  SPictureCenter, "Centralizar figura"
  SKeepAspectRatio, "Manter aspecto"
  SFormFile, "Para FastReport"
  SForm3File, "Para FastReport3"
  STemplFile, "Modelo FastReport"
  SDictFile, "Dicionário FastReport"
  SPictFile, "Arquivo de figura"
  SBMPFile, "Arquivo de imagem"
  SAllFiles, "Todos os arquivos"
  SInsOLEObject, "Inserir objeto OLE"
  SInsRichObject, "Inserir objeto RichText"
  SInsRich2Object, "Inserir objeto RX RichText"
  SInsCheckBox, "Inserir objeto CheckBox"
  SInsChart, "Inserir objeto Chart"
  SInsShape, "Inserir objeto Shape"
  SInsBarcode, "Inserir objetoBarcode"
  SInsRoundRect, "Inserir RoundRect com sombra"
  SSubReportOnPage, "Sub-Relatório na página"
  SPicture, "[Figura]"
  STransparent, "Transparente"
  SOther, "Outro..."
  SOnFirstPage, "Na primeira página"
  SOnLastPage, "Na última página"
  SRepeatHeader, "Mostra em todas as páginas"
  SDesignReport, "Desenhar relatório"
  SInsertFields, "Inserir campos DB"
  SSaveChanges, "Salvar alterações"
  STo, "para"
  SPixels, "Pixels"
  SMM, "MM"
  SInches, "Polegadas"
  SVirtualDataset, "Tabela Virtual"
  SAutoSize, "Auto ajustar tamanho"
  SFRVariables, "Variáveis FR"
  SClearContents, "Limpar conteúdo"

  SAllCategories, "Todas as funções"
  SAggregateCategory, "Estatísticas"
  SDateTimeCategory, "Data e hora"
  SStringCategory, "String"
  SOtherCategory, "Outras"
  SMathCategory, "Matemática"
  SBoolCategory, "Lógica"
  SIntrpCategory, "Diversas"

  SDescriptionAVG, "AVG(<Expression> [,BandName [,1]])/"
    "Calcula a média da <Expression> para [BandName] visível. "
    "se [1] parâmetro for usado, calcula média para bandas não-visiveis também."

  SDescriptionCOUNT, "COUNT(<BandName>)/"
    "Retorna a contagem de registros processados na <BandName>. "

  SDescriptionDAYOF, "DAYOF(<Date>)/"
    "Retorna o número do dia (1..31) de determinada <Data>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DateTime>)/"
    "Converte o valor <DateTime> para string usando máscara <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numeric>)/"
    "Converte o valor <Numeric> para string usando máscara <Fmt>."

  SDescriptionINPUT, "INPUT(<Caption> [,Default])/"
    "Mostra caixa de diálogo com título <Caption> e caixa de edição. "
    "se [Default] parâmetro for passado colocar na caixa de edição. "
    "Depois use OK, para retornar a string digitada."

  SDescriptionLENGTH, "LENGTH(<String>)/"
    "Retorna quantidade de caracteres de <String>."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "Converte <String> para minúscula."

  SDescriptionMAX, "MAX(<Expression> [,BandName [,1]])/"
    "Calcula o máximo da <Expression> para [BandName] visível. "
    "se [1] parâmetro for usado calcula máximo para bandas não-visíveis também."

  SDescriptionMIN, "MIN(<Expression> [,BandName [,1]])/"
    "Calcula o mínimo da <Expression> para [BandName] visível. "
    "se [1] parâmetro for usado calcula mínimo para bandas não-visíveis também."

  SDescriptionMONTHOF, "MONTHOF(<Date>)/"
    "Retorna o mês (1..12) de determinada <Date>."

  SDescriptionNAMECASE, "NAMECASE(<String>)/"
    "Converte <String> em minúscula e a primeira letra"
    "em maiúscula."

  SDescriptionSTRTODATE, "STRTODATE(<String>)/"
    "Converte <String> para data."

  SDescriptionSTRTOTIME, "STRTOTIME(<String>)/"
    "Converte <String> para hora."

  SDescriptionSUM, "SUM(<Expression> [,BandName [,1]])/"
    "Calcula a soma da <Expression> para [BandName] visível. "
    "se [1] parâmetro for usado calcula soma para bandas não-visíveis também."

  SDescriptionTRIM, "TRIM(<String>)/"
    "Retira todos os espaços em branco na <String> e retorna "
    "a string sem espaços."

  SDescriptionUPPERCASE, "UPPERCASE(<String>)/"
    "Converte <String> em maiúscula."

  SDescriptionYEAROF, "YEAROF(<Date>)/"
    "Retorna o ano da determinada <Date>."

  SDescriptionIF, "IF(<Expression>, <Value1>, <Value2>)/"
    "Retorna <Value1>, se expressão <Expression> for verdadeira; "
    "caso contrário retorna <Value2>. O valor de retorno pode não ser só string."

  SDescriptionCOPY, "COPY(<String>, <From>, <Count>)/"
    "Retorna a partir da posição <From> a quantidade de <Count> da string."

  SDescriptionMOD, "<Value1> MOD <Value2>/"
    "Retorna o restante da divisão do <Value1> por <Value2>."

  SDescriptionSTR, "STR(<Value>)/"
    "Converte número fornecido em <Value> para string."

  SDescriptionNOT, "NOT <Value>/"
    "'NOT' lógico."

  SDescriptionAND, "<Value1> AND <Value2>/"
    "'AND' lógico."

  SDescriptionOR, "<Value1> OR <Value2>/"
    "'OR' lógico."

  SDescriptionROUND, "ROUND(<Value>)/"
    "Retorna o arredondamento de <Value>."

  SDescriptionFRAC, "FRAC(<Value>)/"
    "Retorna a parte fracionária de <Value>."

  SDescriptionINT, "INT(<Value>)/"
    "Retorna a parte inteira de <Value>."

  SDescriptionTRUE, "TRUE/"
    "'TRUE' lógico."

  SDescriptionFALSE, "FALSE/"
    "'FALSE' lógico."

  SDescriptionPAGE, "PAGE#/"
    "Retorna o número da página atual."

  SDescriptionDATE, "DATE/"
    "Retorna a data atual."

  SDescriptionTIME, "TIME/"
    "Retorna a hora atual."

  SDescriptionLINE, "LINE#/ (desde o inicio de cada página)"
    "Retorna o número da linha atual."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Retorna o número da linha atual (desde o inicio do relátorio)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Retorna o número da coluna atual."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Retorna o total de páginas do relatório."

  SDescriptionMROK, "MROK/"
    "Constante de resultado modal."

  SDescriptionMRCancel, "MRCANCEL/"
    "Constante de resultado modal."

  SDescriptionCurY, "CURY/"
    "Retorna 'Y' posição (em pixels) da banda corrente "
    "quando for mostrada. Você também pode mudar o valor de CURY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Retorna espaços da página em pixels."

  SDescriptionFinalPass, "FINALPASS/"
    "Retorna verdadeiro se processou até o final."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Retorna a altura da página em pixels."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Retorna largura da página em pixels."

  SDescriptionProgress, "PROGRESS/"
    "Mostrar janela do progresso de processamente do relatório."

  SDescriptionModalResult, "MODALRESULT/"
    "Acessar o modalresult da janela de diálogo."

  SDescriptionStopReport, "STOPREPORT/"
    "Cancelar processamento do relatório."

  SDescriptionNewPage, "NEWPAGE/"
    "Começar nova página."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Começar nova coluna."

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "Mostrar banda com nome <BandName> dado."

  SDescriptionINC, "INC(<Value>)/"
    "Incrementar <Value>."

  SDescriptionDEC, "DEC(<Value>)/"
    "Decrementar <Value>."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "Retorna o maior dos dois valores."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "Retorna o menor dos dois valores."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Retorna a posição da <substring> na <string> se existir."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "Mostrar janela de diálogo padrão do windows."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "Aplica <Mask> em <String> retornando a string formatada."


  SInformation, "Informação"
  SExpressionOK, "Expressão OK!"
  STextOnly, "Só texto"
  SSuppressRepeated, "Omitir valores repetidos"
  SDefaultBin, "Padrão"
  SDeleteObjects, "Deletar todos os objetos."
  SWarning, "Aguarde..."
  SHideZeros, "Omitir se for zero"
  SPrintChild, "Imprimir banda filha se visível"
  SUnderlines, "Sublinhado"
  SOnePerPage, "Não é possivel pôr dois ou mais objetos %s em uma página."
  SInsertCrosstab, "Inserir objeto Cross-tab"
}
