#include "FR_Const.pas"

; Object Inspector localization
; Just add desired property name after '=' sign, for instance:
; 58092, "Suppress=Suppress repeated values"
; and you'll see "Suppress repeated values" string in the Object Inspector
; instead of "Suppress".


STRINGTABLE
{
  frRes + 5001, "Active=Aktiv"
  frRes + 5002, "AliasName=Aliasnavn"
  frRes + 5003, "Alignment=Justering"
  frRes + 5004, "AutoSize=Auto størrelse"
  frRes + 5005, "AutoWidth=Auto bredde"
  frRes + 5006, "BandAlign=Bånd justering"
  frRes + 5007, "Barcode=Stregkode"
  frRes + 5008, "BeginColor=Startfarve"
  frRes + 5009, "BlobType=Blobtype"
  frRes + 5010, "BorderStyle=Rammestil"
  frRes + 5011, "BottomMargin=Bund margin"
  frRes + 5012, "Breaked=Brudt"
  frRes + 5013, "Caption=Titel"
  frRes + 5014, "Center=Centrer"
  frRes + 5015, "CharSpacing=Tegnmellemrum"
  frRes + 5016, "CheckColor=Valgt farve"
  frRes + 5017, "Checked=Valgt"
  frRes + 5018, "CheckStyle=Valg stil"
  frRes + 5019, "ChildBand=Detail bånd"
  frRes + 5020, "Color=Farve"
  frRes + 5021, "ColumnGap=Kolonne mellemrum"
  frRes + 5022, "Columns=Kolonner"
  frRes + 5023, "ColumnWidth=Kolonne bredde"
  frRes + 5024, "Connected=Opkoblet"
  frRes + 5025, "Condition=Betingelse"
  frRes + 5026, "DatabaseName=Database navn"
  frRes + 5027, "DataField=Datafelt"
  frRes + 5028, "DataSource=Datakilde"
  frRes + 5029, "DisplayFormat=Visningsformat"
  frRes + 5030, "DriverName=Drivernavn"
  frRes + 5031, "Enabled=Aktiv"
  frRes + 5032, "EndColor=Slut farve"
  frRes + 5033, "Fields=Felter"
  frRes + 5034, "FillColor=Fyld farve"
  frRes + 5035, "Filter=Filter"
  frRes + 5036, "Font=Font"
  frRes + 5037, "FormNewPage=Skift til ny side"
  frRes + 5038, "FrameColor=Rammefarve"
  frRes + 5039, "FrameStyle=Rammestil"
  frRes + 5040, "FrameTyp=Rammetype"
  frRes + 5041, "FrameWidth=Ramme bredde"
  frRes + 5042, "GapX=X-mellemrum"
  frRes + 5043, "GapY=Y-mellemrum"
  frRes + 5044, "Gradient=Flydende skift"
  frRes + 5045, "Height=Højde"
  frRes + 5046, "HideZeros=Skjul nuller"
  frRes + 5047, "Highlight=Marker"
  frRes + 5048, "IndexName=Indeksnavn"
  frRes + 5049, "Items=Værdier"
  frRes + 5050, "KeepAspect=Behold størrelsesforhold"
  frRes + 5051, "KeyField=Nøglefelt"
  frRes + 5052, "Left=Venstre"
  frRes + 5053, "LeftMargin=Venstremargin"
  frRes + 5054, "Lines=Linier"
  frRes + 5055, "LineSpacing=Linie mellemrum"
  frRes + 5056, "ListField=Visningsfelt"
  frRes + 5057, "ListSource=Visningskilde"
  frRes + 5058, "LoginPrompt=Login spørg"
  frRes + 5059, "Master=Master"
  frRes + 5060, "MasterFields=Masterfelter"
  frRes + 5061, "MasterSource=Masterkilde"
  frRes + 5062, "Memo=Memo"
  frRes + 5063, "ModalResult=Modal resultat"
  frRes + 5064, "Name=Navn"
  frRes + 5065, "OLE=OLE"
  frRes + 5066, "OnActivate=Udfør ved aktivering"
  frRes + 5067, "OnBeforePrint=Udfør før udskrift"
  frRes + 5068, "OnClick=Udfør ved klik"
  frRes + 5069, "OnFirstPage=Udfør på første side"
  frRes + 5070, "OnLastPage=Udfør på sidste side"
  frRes + 5071, "Orientation=Sideretning"
  frRes + 5072, "Params=Parametre"
  frRes + 5073, "Picture=Billede"
  frRes + 5074, "Position=Position"
  frRes + 5075, "PrintChildIfInvisible=Udskriv detail hvis usynlig"
  frRes + 5076, "PrintIfSubsetEmpty=Udskriv hvis underbånd er tomt"
  frRes + 5077, "PrintToPrevPage=Udskriv til forrige side"
  frRes + 5078, "ReadOnly=Kun læs"
  frRes + 5079, "RepeatHeader=Gentag hoved"
  frRes + 5080, "Restrictions=Restriktioner"
  frRes + 5081, "RightMargin=Højremargin"
  frRes + 5082, "RoundRect=Rundtet rektangel"
  frRes + 5083, "RoundSize=Rund størrelse"
  frRes + 5084, "ShadowColor=Skygge farve"
  frRes + 5085, "ShadowWidth=Skygge bredde"
  frRes + 5086, "Shape=Form"
  frRes + 5087, "Size=Størrelse"
  frRes + 5088, "SQL=SQL"
  frRes + 5089, "Stretched=Strækket"
  frRes + 5090, "StretchToPrintable=Stræk til udskriftsområde"
  frRes + 5091, "Style=Stil"
  frRes + 5092, "Suppress=Undertryk"
  frRes + 5093, "TableName=Tabelnavn"
  frRes + 5094, "Tag=Kode"
  frRes + 5095, "Text=Tekst"
  frRes + 5096, "TextOnly=Kun tekst"
  frRes + 5097, "Top=Top"
  frRes + 5098, "TopMargin=Topmargin"
  frRes + 5099, "Type=Type"
  frRes + 5100, "Underlines=Understreg"
  frRes + 5101, "Visible=Synlig"
  frRes + 5102, "Width=Bredde"
  frRes + 5103, "WordBreak=Ombryd ord"
  frRes + 5104, "WordWrap=Tekstombrydning"
}
