#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Objekt viser"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Tekst editor"
  frRes + 61, "Indsæt udtryk"
  frRes + 62, "Indsæt data felt"
  frRes + 63, "Ombryd ord"
  frRes + 64, "Vis/skjul script"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Designer"
  frRes + 81, "Rektangel"
  frRes + 82, "Standard"
  frRes + 83, "Tekst"
  frRes + 84, "Objekter"
  frRes + 85, "Justering"
  frRes + 86, "Tools"
  frRes + 87, "Ny rapport"
  frRes + 88, "Åbn rapport"
  frRes + 89, "Gem rapport"
  frRes + 90, "Vis rapport"
  frRes + 91, "Klip"
  frRes + 92, "Kopier"
  frRes + 93, "Sæt ind"
  frRes + 94, "Fortryd sidste handling"
  frRes + 95, "Gendan fortrudt handling"
  frRes + 96, "Sæt foran"
  frRes + 97, "Sæt bagved"
  frRes + 98, "Vælg alle"
  frRes + 99, "Tilføj side"
  frRes + 100, "Fjern side"
  frRes + 101, "Side indstillinger"
  frRes + 102, "Gitter"
  frRes + 103, "Gitter juster"
  frRes + 104, "Tilpas til gitter"
  frRes + 105, "Luk"
  frRes + 106, "Luk designer"
  frRes + 107, "Venstre juster"
  frRes + 108, "Højre juster"
  frRes + 109, "Centrer"
  frRes + 110, "Normal tekst / 90 grader"
  frRes + 111, "Vertical center"
  frRes + 112, "Top juster"
  frRes + 113, "Bund juster"
  frRes + 114, "Bredde juster"
  frRes + 115, "Fed"
  frRes + 116, "Kursiv"
  frRes + 117, "Understreg"
  frRes + 118, "Font farve"
  frRes + 119, "Betinget fremhævning"
  frRes + 120, "Font størrelse"
  frRes + 121, "Font navn"
  frRes + 122, "Top ramme linie"
  frRes + 123, "Venstre ramme linie"
  frRes + 124, "Bund ramme linie"
  frRes + 125, "Højre ramme linie"
  frRes + 126, "Alle ramme linier"
  frRes + 127, "Ingen ramme"
  frRes + 128, "Baggrunds farve"
  frRes + 129, "Ramme farve"
  frRes + 130, "Ramme bredde"
  frRes + 131, "Ramme højde"
  frRes + 132, "Vælg objekt"
  frRes + 133, "Indsæt rektangel objekt"
  frRes + 134, "Indsæt bånd"
  frRes + 135, "Indsæt billede"
  frRes + 136, "Indsæt underrapport"
  frRes + 137, "Tegn linier"
  frRes + 138, "Juster venstre hjørner"
  frRes + 139, "Juster horisontale midtpunkt"
  frRes + 140, "Centrer horisontalt i vindue"
  frRes + 141, "Fordel lige, horisontalt"
  frRes + 142, "Juster venstre hjørner"
  frRes + 143, "Juster top"
  frRes + 144, "Juster vertikale midtpunkt"
  frRes + 145, "Centrer vertikalt i vindue"
  frRes + 146, "Fordel lige, vertikalt"
  frRes + 147, "Juster bund"
  frRes + 148, "&Klip"
  frRes + 149, "K&opier"
  frRes + 150, "&Sæt ind"
  frRes + 151, "&Ryd"
  frRes + 152, "Vælg &alt"
  frRes + 153, "&Editer..."
  frRes + 154, "&Fil"
  frRes + 155, "&Ny..."
  frRes + 156, "&Åbn..."
  frRes + 157, "&Gem"
  frRes + 158, "&Data bibliotek..."
  frRes + 159, "&Rapport indstillinger..."
  frRes + 160, "&Side indstillinger..."
  frRes + 161, "&Vis udskrift"
  frRes + 162, "&Afslut"
  frRes + 163, "&Editer"
  frRes + 164, "&Fortryd"
  frRes + 165, "&Gendan"
  frRes + 166, "&Klip"
  frRes + 167, "K&opier"
  frRes + 168, "&Sæt ind"
  frRes + 169, "&Ryd"
  frRes + 170, "&Vælg alt"
  frRes + 171, "&Editer..."
  frRes + 172, "&Tilføj side"
  frRes + 173, "&Slet side"
  frRes + 174, "Sæt &foran"
  frRes + 175, "Sæt &bagved"
  frRes + 176, "&Værktøjer"
  frRes + 177, "&Værktøjslinie"
  frRes + 178, "Værktø&jer"
  frRes + 179, "&Indstillinger..."
  frRes + 180, "&Rektangel"
  frRes + 181, "&Standard"
  frRes + 182, "&Tekst"
  frRes + 183, "&Objekter"
  frRes + 184, "Objekt &Viser"
  frRes + 185, "&Justerings palette"
  frRes + 186, "Værktø&jer"
  frRes + 187, "&Om..."
  frRes + 188, "Gem &som..."
  frRes + 189, "&Hjælp indhold"
  frRes + 190, "Hvad er &det?"
  frRes + 191, "Linie stil"
  frRes + 192, "Tilføj dialog &formular"
  frRes + 193, "Tilføj dialog formular"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Objekters restriktioner"
  frRes + 261, "Må ikke editere &memo"
  frRes + 262, "Må ikke editere &script"
  frRes + 263, "Må ikke editere &indhold"
  frRes + 264, "Må ikke &ændre"
  frRes + 265, "Må ikke ændre stø&rrelse"
  frRes + 266, "Må ikke &flytte"
  frRes + 267, "Må ikke s&lette"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Indstillinger"
  frRes + 281, "Designer"
  frRes + 282, "Gitter"
  frRes + 283, "Tegne objekter"
  frRes + 284, "Rapport enheder"
  frRes + 285, "Gitter størrelse"
  frRes + 286, "&Vis gitter"
  frRes + 287, "Juster til &gitter"
  frRes + 288, "Farvede &knapper"
  frRes + 289, "&4 pixels"
  frRes + 290, "&8 pixels"
  frRes + 291, "&18 pixels (5mm)"
  frRes + 293, "Vis objekt &indhold ved flyt eller redigering"
  frRes + 294, "&Pixels"
  frRes + 295, "&MM"
  frRes + 296, "&Tommer"
  frRes + 297, "Andet"
  frRes + 298, "&Editer efter indsæt"
  frRes + 299, "Vis bånd &titler"
  frRes + 300, "Side position"
  frRes + 301, "Cent&rer"
  frRes + 302, "&Venstre"
  frRes + 303, "&Højre"
  frRes + 304, "Editor"
  frRes + 305, "Tekst editor"
  frRes + 306, "&Benyt objektets font indstillinger"
  frRes + 307, "Benyt &faste indstillinger:"
  frRes + 308, "Font navn:"
  frRes + 309, "Størrelse:"
  frRes + 310, "Script editor"
  frRes + 311, "Lokale egenskabs navne"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Ny rapport"
  frRes + 319, "Beskrivelse"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Ny rapport skabelon"
  frRes + 321, "&Kommentar"
  frRes + 322, "Ikon"
  frRes + 323, "&Fil..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Data bibliotek"
  frRes + 341, "Variabler"
  frRes + 342, "Felt aliaser"
  frRes + 343, "Bånd datakilder"
  frRes + 344, "Va&riabler"
  frRes + 345, "Vær&dier"
  frRes + 346, "&Udtryk"
  frRes + 347, "Ny kategori"
  frRes + 348, "Ny variabel"
  frRes + 349, "Editer"
  frRes + 350, "Slet"
  frRes + 351, "Editer liste"
  frRes + 352, "Datasæt og felter"
  frRes + 353, "Alle datasæt"
  frRes + 354, "&Visning"
  frRes + 355, "A&lias"
  frRes + 356, "E&kskluderfelter fra liste"
  frRes + 357, "Datakilder"
  frRes + 358, "Alle datakilder"
  frRes + 359, "&Gem..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Variabel liste"
  frRes + 361, "&Kategorier og variabler"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Rapport indstillinger"
  frRes + 371, "Printer"
  frRes + 372, "&Vælg når rapport er indlæst"
  frRes + 373, "Andet"
  frRes + 374, "&To-gennemløbs rapport"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Side indstillinger"
  frRes + 391, "Papir"
  frRes + 392, "Papirretning"
  frRes + 393, "&Portræt"
  frRes + 394, "&Landskab"
  frRes + 395, "Størrelse"
  frRes + 396, "&Bredde, mm"
  frRes + 397, "&Højde, mm"
  frRes + 398, "Marginer"
  frRes + 399, "Side marginer"
  frRes + 400, "&Venstre, mm"
  frRes + 401, "&Top, mm"
  frRes + 402, "&Højre, mm"
  frRes + 403, "&Bund, mm"
  frRes + 404, "&Stræk til udskrifts område"
  frRes + 405, "Indstillinger"
  frRes + 406, "Indstillinger"
  frRes + 407, "&Udskriv til foregående side"
  frRes + 408, "Kolonner"
  frRes + 409, "&Tal"
  frRes + 410, "&Kolonne mellemrum, mm"
  frRes + 411, "Kilde"
  frRes + 412, "Papir kilde"
  frRes + 413, "&Uendelig højde"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Variabel formattering"
  frRes + 421, "Variabel format"
  frRes + 422, "&Decimal tal"
  frRes + 423, "Decimal &tegn"
  frRes + 424, "Brugerdefineret &format"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Variabler"
  frRes + 441, "&Kategori:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Indsæt data felt"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Billede"
  frRes + 461, "&Stræk"
  frRes + 462, "&Hent..."
  frRes + 463, "&Tøm"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Bånd datakilde"
  frRes + 481, "&Datakilde"
  frRes + 482, "&Record tæller"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Bånd datakilder"
  frRes + 486, "Bånd"
  frRes + 487, "Datakilde"
  frRes + 488, "&Record tæller"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Gruppe"
  frRes + 491, "&Betingelse"
  frRes + 492, "Indsæt data felt"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Indsæt nyt bånd"
  frRes + 511, "Bånd type"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Betinget fremhævning"
  frRes + 521, "&Betingelse"
  frRes + 522, "Font"
  frRes + 523, "F&arve..."
  frRes + 524, "&Fed"
  frRes + 525, "&Kursiv"
  frRes + 526, "&Understreg"
  frRes + 527, "Baggrund"
  frRes + 528, "Fa&rve..."
  frRes + 529, "&Gennemsigtig"
  frRes + 530, "An&det"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "Om FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE objekt"
  frRes + 551, "&Indsæt..."
  frRes + 552, "&Editer..."
  frRes + 553, "&Luk"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "Åbn..."
  frRes + 562, "Gem..."
  frRes + 563, "Fortryd"
  frRes + 564, "Fed"
  frRes + 565, "Kursiv"
  frRes + 566, "Venstrejuster"
  frRes + 567, "Centreret"
  frRes + 568, "Højrejuster"
  frRes + 569, "Understreg"
  frRes + 570, "Liste"
  frRes + 571, "Font"
  frRes + 572, "Annuller"
  frRes + 573, "Gem og afslut"
  frRes + 574, "Var"
  frRes + 575, "Indsæt udtryk"
  frRes + 576, "Font"
  frRes + 577, "Font størrelse"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Diagram objekt"
  frRes + 591, "Type"
  frRes + 592, "Data"
  frRes + 593, "Type"
  frRes + 594, "Objekt navn"
  frRes + 595, "Indstillinger"
  frRes + 596, "&3D"
  frRes + 597, "&Enkelt"
  frRes + 598, "Vis &forklaring"
  frRes + 599, "Vis &akse"
  frRes + 600, "Vis &mærker"
  frRes + 601, "Fler-far&vet"
  frRes + 602, "For &forklaring"
  frRes + 603, "For &værdier"
  frRes + 604, "Mærker"
  frRes + 605, "Stil"
  frRes + 606, "Værdi"
  frRes + 607, "Procent"
  frRes + 608, "Label"
  frRes + 609, "Label og procent"
  frRes + 610, "Label og værdi"
  frRes + 611, "Top10 gruppe"
  frRes + 612, "&Vis top"
  frRes + 613, "La&bel"
  frRes + 614, "værdier"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Indsæt felter"
  frRes + 631, "&Tilgængelige tabeller"
  frRes + 632, "Placering"
  frRes + 633, "&Horisontal"
  frRes + 634, "&Vertikal"
  frRes + 635, "&Inkluder overskrifter"
  frRes + 636, "Inkluder &bånd"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Stregkode editor"
  frRes + 651, "&Kode"
  frRes + 652, "Stregkode &type"
  frRes + 653, "Indstillinger"
  frRes + 654, "Check&sum"
  frRes + 655, "&Direkte læsbar"
  frRes + 656, "Indsæt udtryk"
  frRes + 657, "Indsæt variabel"
  frRes + 658, "Rotation"
  frRes + 659, "&Zoom:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Egenskabs editor"
  frRes + 671, "Eksempel :"
  frRes + 672, "&Udtryk..."
  frRes + 673, "&DB felt..."
  frRes + 674, "&Udfyldelse"
  frRes + 675, "&Skygge bredde"
  frRes + 676, "Farve"
  frRes + 677, "&Kurve"
  frRes + 678, "&Indrammet zone"
  frRes + 679, "Slut farve"
  frRes + 680, "Start color"
  frRes + 681, "&Stil"
  frRes + 682, "Vertikal,Horisontal,Ellipse,Rektangel,Horis._Center,Vert._Center"
  frRes + 683, "Klik her for at definere skygge eller fyld farver"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Udtryks opbygger"
  frRes + 701, "Udtryk"
  frRes + 702, "Indsæt"
  frRes + 703, "&Data felt..."
  frRes + 704, "&Variabel..."
  frRes + 705, "&Funktion..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Tilgængelige funktioner"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Funktion argumenter"
  frRes + 731, "Argument"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Objekt tag"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Cross-tab view"
  frRes + 751, "Cross-tab dataset"
  frRes + 752, "Subtotals"
  frRes + 753, "Function"
  frRes + 754, "Cross-tab editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Fjern denne side?"
  SConfirm, "Godkend"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Konvolut, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Konvolut, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Konvolut, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Konvolut, 4 3/4 x 11"""
  SPaper23, "#14 Konvolut, 5 x 11 1/2"""
  SPaper24, "C Ark, 17 x 22"""
  SPaper25, "D Ark, 22 x 34"""
  SPaper26, "E Ark, 34 x 44"""
  SPaper27, "DL Konvolut, 110 x 220 mm"
  SPaper28, "C5 Konvolut, 162 x 229 mm"
  SPaper29, "C3 Konvolut,  324 x 458 mm"
  SPaper30, "C4 Konvolut,  229 x 324 mm"
  SPaper31, "C6 Konvolut,  114 x 162 mm"
  SPaper32, "C65 Konvolut, 114 x 229 mm"
  SPaper33, "B4 Konvolut,  250 x 353 mm"
  SPaper34, "B5 Konvolut,  176 x 250 mm"
  SPaper35, "B6 Konvolut,  176 x 125 mm"
  SPaper36, "Italy Konvolut, 110 x 230 mm"
  SPaper37, "Monarch Konvolut, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Konvolut, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "Tysk Std Fanfold, 8 1/2 x 12"""
  SPaper41, "Tysk Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japansk Postkort 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Konvolut Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Brugerdefineret"
  SSystemVariables, "System variabler"
  SVar1, "Side#"
  SVar2, "Udtryk"
  SVar3, "Dato"
  SVar4, "Tid"
  SVar5, "Linie#"
  SVar6, "Linie indtil#"
  SVar7, "Kolonne#"
  SVar8, "Denne linie#"
  SVar9, "TotalSider"
  SStretched, "Strækket"
  SVarFormat, "Variabel format..."
  SWordWrap, "Ombryd ord"
  SWordBreak, ""
  SFormNewPage, "Tving til ny side"
  SPrintIfSubsetEmpty, "Udskriv hvis detail tom"
  SBreaked, "Brudt"
  SPictureCenter, "Centrer billede"
  SKeepAspectRatio, "Behold størrelsesforhold"
  SFormFile, "FastReport formular"
  SForm3File, "FastReport3 formular"
  STemplFile, "FastReport skabelon"
  SDictFile, "FastReport bibliotek"
  SPictFile, "Billed fil"
  SBMPFile, "Bitmap fil"
  SAllFiles, "Alle filer"
  SInsOLEObject, "Indsæt OLE objekt"
  SInsRichObject, "Indsæt RichText objekt"
  SInsRich2Object, "Indsæt RX RichText objekt"
  SInsCheckBox, "Indsæt CheckBox objekt"
  SInsChart, "Indsæt Diagram objekt"
  SInsShape, "Indsæt Figur objekt"
  SInsBarcode, "Indsæt Stregkode objekt"
  SInsRoundRect, "Indsæt et rundrekt. med skygge område"
  SSubReportOnPage, "UnderRapport på side"
  SPicture, "[Billede]"
  STransparent, "Gennemsigtig"
  SOther, "Andet..."
  SOnFirstPage, "På første side"
  SOnLastPage, "På sidste side"
  SRepeatHeader, "Vis på alle sider"
  SDesignReport, "Design rapport"
  SInsertFields, "Indsæt DB felter"
  SSaveChanges, "Gem ændringer"
  STo, "til"
  SPixels, "Pixels"
  SMM, "MM"
  SInches, "Tommer"
  SVirtualDataset, "Standard Datasæt"
  SAutoSize, "Auto størrelse"
  SFRVariables, "FR variabler"
  SClearContents, "Tøm indhold"

  SAllCategories, "Alle funktioner"
  SAggregateCategory, "Optæl"
  SDateTimeCategory, "Dato og tid"
  SStringCategory, "Streng"
  SOtherCategory, "Andet"
  SMathCategory, "Matematisk"
  SBoolCategory, "Logisk"
  SIntrpCategory, "Oversætter"

  SDescriptionAVG, "AVG(<Udtryk> [,BåndNavn [,1]])/"
    "Udregner gennemsnittet af <Udtryk> for [BåndNavn] givet en kolonne. "
    "Hvis [1] parameter er benyttet, udregnes gennemsnit for ikke synlige rækker også."

  SDescriptionCOUNT, "COUNT(<BåndNavn>)/"
    "Returnerer antallet af data-kolonner i <BåndNavn>. "

  SDescriptionDAYOF, "DAYOF(<Dato>)/"
    "Returnerer dag nummeret (1..31) af en given <dato>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DatoTiid>)/"
    "Konverterer en <DatoTid> værdi til streng ved masken i <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numerisk>)/"
    "Konverterer en <Numeric> værdi til en streng ved masken i <Fmt>."

  SDescriptionINPUT, "INPUT(<Overskrift> [,Standard])/"
    "Viser et dialog vindue dialog window med overskriften <Caption> og en edit boks. "
    "Hvis [Standard] parameter er sat, vises denne streng i edit boksen. "
    "Efter bruger klikker OK, returneres input strengen."

  SDescriptionLENGTH, "LENGTH(<Streng>)/"
    "Returnerer længden af <Streng>."

  SDescriptionLOWERCASE, "LOWERCASE(<Streng>)/"
    "Konverterer <Streng> symboler til små bogstaver."

  SDescriptionMAX, "MAX(<Udtryk> [,BåndNavn [,1]])/"
    "Udregner den største værdi af <Udtryk> for [BåndNavn] i given række. "
    "Hvis [1] parameter er benyttet, udregnes maksimumværdi for ikke synlige rækker også."

  SDescriptionMIN, "MIN(<Udtryk> [,BåndNavn [,1]])/"
    "Udregner den mindste værdi af <Udtryk> for [BåndNavn] i given række. "
    "Hvis [1] parameter er benyttet, udregnes minimumsværdi for ikke synlige rækker også."

  SDescriptionMONTHOF, "MONTHOF(<Dato>)/"
    "Returnerer måneds nummer (1..12) for en given <Dato>."

  SDescriptionNAMECASE, "NAMECASE(<Streng>)/"
    "Konverterer <Streng> symboler til små bogstaver med stort begyndelsesbogstav."

  SDescriptionSTRTODATE, "STRTODATE(<Streng>)/"
    "Konverterer <Streng> til dato."

  SDescriptionSTRTOTIME, "STRTOTIME(<Streng>)/"
    "Konverterer <Streng> tl tid."

  SDescriptionSUM, "SUM(<Udtryk> [,BåndNavn [,1]])/"
    "Udregner summen af <Udtryk> for [BåndNavn] givet række. "
    "Hvis [1] parameter er benyttet, udregnes summen for ikke synlige rækker også."

  SDescriptionTRIM, "TRIM(<Streng>)/"
    "Fjerner alle begyndende og efterfølgende blanke i <Streng> og returnerer "
    "resulterende streng."

  SDescriptionUPPERCASE, "UPPERCASE(<Streng>)/"
    "Konverterer <Streng> symboler til store bogstaver."

  SDescriptionYEAROF, "YEAROF(<Dato>)/"
    "Returnerer året af given <Dato>."

  SDescriptionIF, "IF(<Udtryk>, <Værdi1>, <Værdi2>)/"
    "Returnerer <Værdi1>, hvis udtrykket <Udtryk> er sand; "
    "ellers returneres <Værdi2>. Retur værdien kan være ikke kun streng."

  SDescriptionCOPY, "COPY(<Streng>, <Fra>, <Tæller>)/"
    "Returnerer en delstreng af given streng."

  SDescriptionMOD, "<Værdi1> MOD <Værdi2>/"
    "Returnerer resten ved division <Værdi1> med <Værdi2>."

  SDescriptionSTR, "STR(<Værdi>)/"
    "Konverterer tal givet i <Værdi> til en streng."

  SDescriptionNOT, "NOT <Værdi>/"
    "Logisk 'NOT'."

  SDescriptionAND, "<Værdi1> AND <Værdi2>/"
    "Logisk 'OG'."

  SDescriptionOR, "<Værdi1> OR <Værdi2>/"
    "Logisk 'ELLER'."

  SDescriptionROUND, "ROUND(<Værdi>)/"
    "Returnerer afrundet <Værdi>."

  SDescriptionFRAC, "FRAC(<Værdi>)/"
    "Returnerer decimalværdien af <Værdi>."

  SDescriptionINT, "INT(<Værdi>)/"
    "Returnerer heltalsværdien af <Værdi>."

  SDescriptionTRUE, "TRUE/"
    "Logisk 'SAND'."

  SDescriptionFALSE, "FALSE/"
    "Logisk 'FALSK'."

  SDescriptionPAGE, "PAGE#/"
    "Returnerer aktuelt side nummer."

  SDescriptionDATE, "DATE/"
    "Returnerer aktuel dato."

  SDescriptionTIME, "TIME/"
    "Returnerer aktuel tid."

  SDescriptionLINE, "LINE#/"
    "Returnerer aktuel data-række nummer (begyndende med gruppe start)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Returnerer aktuel data-række nummer (begyndende med rapport start)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Returnerer aktuel kolonne nummer."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Returnerer antal totale sider i rapporten."

  SDescriptionMROK, "MROK/"
    "Modal resultat konstant."

  SDescriptionMRCancel, "MRCANCEL/"
    "Modal resultat konstant."

  SDescriptionCurY, "CURY/"
    "Returnerer 'Y' positionen (in pixels) hvor aktuel bånd vil "
    "blive vist. Du kan også tildele en værdi til CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Returnerer resterende plads på siden i pixels."

  SDescriptionFinalPass, "FINALPASS/"
    "Returnerer Sand hvis rapport motoren udfører sidste gennemløb."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Returnerer side højden i pixels."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Returnerer side bredden i pixels."

  SDescriptionProgress, "PROGRESS/"
    "Værdi tildelt status vil blive vist i et status vindue."

  SDescriptionModalResult, "MODALRESULT/"
    "Tildeler en værdi forskellig fra nul til ModalResultat vil lukke dialog formular."

  SDescriptionStopReport, "STOPREPORT/"
    "Standser rapport opbygning."

  SDescriptionNewPage, "NEWPAGE/"
    "Påbegynder ny side."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Påbegynder ny kolonne."

  SDescriptionShowBand, "SHOWBAND(<BåndNavn>)/"
    "Viser båndet med navnet <BåndNavn> givet."

  SDescriptionINC, "INC(<Værdi>)/"
    "Adderer 1 til <Værdi>."

  SDescriptionDEC, "DEC(<Værdi>)/"
    "Fratrækker 1 fra <Værdi>."

  SDescriptionMAXNUM, "MAXNUM(<Værdi1>, <Værdi2>)/"
    "Returnerer den største af givne værdier."

  SDescriptionMINNUM, "MINNUM(<Værdi1>, <Værdi2>)/"
    "Returnerer den mindste af givne værdier."

  SDescriptionPOS, "POS(<DelStreng>, <Streng>)/"
    "Returnerer positionen af delstreng i given streng."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Tekst>, <Titel>, <Knapper>)/"
    "Viser standard dailog vindue med titel, tekst and knapper."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Maske>, <Streng>)/"
    "Tildeler <Maske> til given <Streng> og returnerer den formatterede streng."


  SInformation, "Information"
  SExpressionOK, "Udtryk er OK!"
  STextOnly, "Kun tekst"
  SSuppressRepeated, "Undertryk gentagne værdier"
  SDefaultBin, "Standard"
  SDeleteObjects, "Dette vil slette alle objekter på denne side."
  SWarning, "Advarsel"
  SHideZeros, "Skjul nuller"
  SPrintChild, "Udskriv underbånd hvis usynlige"
  SUnderlines, "Understregninger"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "Insert Cross-tab object"
}
