#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Rapport &datasæt"
  frRes + 3001, "&Egenskaber..."
  frRes + 3002, "Ny &tabel..."
  frRes + 3003, "Ny fore&spørgsel..."
  frRes + 3004, "&Fjern"
  frRes + 3005, "&Luk"
  frRes + 3006, "Ny data&base..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "Generelt"
  frRes + 3021, "&Navn"
  frRes + 3022, "&Felter"
  frRes + 3023, "Felt &editor..."
  frRes + 3024, "Andet"
  frRes + 3025, "&Indeks"
  frRes + 3026, "Filter &udtryk"
  frRes + 3027, "&Master"
  frRes + 3028, "Ma&ster felter"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "&Tilføj felter..."
  frRes + 3041, "Tilføj &opslag..."
  frRes + 3042, "&Vælg alt"
  frRes + 3043, "&Slet"
  frRes + 3044, "&Luk"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Tilgængelige felter"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Nyt opslags felt"
  frRes + 3071, "Felt"
  frRes + 3072, "&Navn"
  frRes + 3073, "&Type"
  frRes + 3074, "&Størrelse"
  frRes + 3075, "Opslags definition"
  frRes + 3076, "N&øgle felt"
  frRes + 3077, "&Datasæt"
  frRes + 3078, "&Opslags nøgle"
  frRes + 3079, "&Retur felt"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Forespørgsels egenskaber"
  frRes + 3091, "Andet"
  frRes + 3092, "&Master datasæt"
  frRes + 3093, "Generelt"
  frRes + 3094, "&Navn"
  frRes + 3095, "&Alias eller sti"
  frRes + 3096, "&SQL"
  frRes + 3097, "&Felt editor..."
  frRes + 3098, "&Parameter editor..."
  frRes + 3099, "Hent SQL fra fil"
  frRes + 3100, "Gem SQL til fil"
  frRes + 3101, "SQL opbygger..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Parametre"
  frRes + 3111, "&Data type"
  frRes + 3112, "&Navn"
  frRes + 3113, "&Værdi:"
  frRes + 3114, "&Spørg efter værdi før udskrift"
  frRes + 3115, "Hent værdi fra &master datasæt"
  frRes + 3116, "Va&riabel:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "&Detail felter"
  frRes + 3131, "&Master felter"
  frRes + 3132, "&Knyttede felter"
  frRes + 3133, "&Tilføj"
  frRes + 3134, "T&øm"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Parametre"
  frRes + 3151, "4 punkter"
  frRes + 3152, "8 punkter"
  frRes + 3153, "Gitter justering"
  frRes + 3154, "Luk"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Egenskaber"
  frRes + 3171, "&Tekst"
  frRes + 3172, "&Font..."
  frRes + 3173, "Opslag"
  frRes + 3174, "&Datasæt"
  frRes + 3175, "&Nøgle felter"
  frRes + 3176, "&Liste felter"
  frRes + 3177, "Type"
  frRes + 3178, "&Edit"
  frRes + 3179, "&Kombo"
  frRes + 3180, "&Opslag"
  frRes + 3181, "Kombo"
  frRes + 3182, "&Autostørrelse"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Database egenskaber"
  frRes + 3201, "Generelt"
  frRes + 3202, "Parametre"
  frRes + 3203, "&Navn"
  frRes + 3204, "&Forbindelses streng"  ; for ADO
  frRes + 3205, "&Filnavn"          ; for IBX
  frRes + 3206, "&Alias navn"         ; for BDE
  frRes + 3207, "&Driver navn"
  frRes + 3208, "&Login prompt"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Vælg tabel"
  frRes + 3221, "Vælg fra database"
  frRes + 3222, "Vælg fra fil"
  frRes + 3223, "&Database"
  frRes + 3224, "&Tabel"
  frRes + 3225, "&Gennemsøg..."
;--- Strings resources -------------------------------------------------------
  SFields, "felter"
  SPath, "Sti"
  SRemoveDS, "Slet denne komponent?"
  STables, "Tabeller"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Dato"
  SFieldType9, "Tid"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Dato"
  SParamType5, "DatoTid"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Tid"
  SParamType11, "Word"
  SDataManager, "Data manager"
  SParams, "parametre"
  SQueryError, "Ugyldig SQL linie eller parameter"
  STableProps, "Tabel egenskaber"
  SParamDialog, "Parameter dialog"
  SInvalidParamValue, "Ugyldig parameter værdi"
  SDatabase, "Databaser"
  SFieldSizeError, "Ugyldig felt størrelse"
}
