#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Rapor veritabaný"
  frRes + 3001, "&Özellikler..."
  frRes + 3002, "Yeni &table..."
  frRes + 3003, "Yeni &query..."
  frRes + 3004, "&Sil"
  frRes + 3005, "&Kapat"
  frRes + 3006, "Yeni &veritabaný..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "Genel"
  frRes + 3021, "&Ýsim"
  frRes + 3022, "&Alanlar"
  frRes + 3023, "&Alan editörü..."
  frRes + 3024, "Diðerleri"
  frRes + 3025, "&Ýndeks"
  frRes + 3026, "Filtre &ifadesi"
  frRes + 3027, "&Master"
  frRes + 3028, "Ma&ster alan"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "&Alan ekleme..."
  frRes + 3041, "&Lookup ekle..."
  frRes + 3042, "&Hepsini seç"
  frRes + 3043, "&Sil"
  frRes + 3044, "&Çýkýþ"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Baglantý alaný"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Yeni lookup alan"
  frRes + 3071, "Alan"
  frRes + 3072, "&Ýsim"
  frRes + 3073, "&Tip"
  frRes + 3074, "&Büyüklük"
  frRes + 3075, "Lookup tanýmlama"
  frRes + 3076, "&Anahtar alan"
  frRes + 3077, "&Dataset"
  frRes + 3078, "&Lookup anahtar"
  frRes + 3079, "&Sonuç alan"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Query özellikleri"
  frRes + 3091, "Diðerleri"
  frRes + 3092, "&Master veri"
  frRes + 3093, "Genel"
  frRes + 3094, "&Ýsim"
  frRes + 3095, "&Takma ad veya yol"
  frRes + 3096, "&SQL"
  frRes + 3097, "&Alan editörü..."
  frRes + 3098, "&Parametre editörü..."
  frRes + 3099, "SQL dosyadan oku"
  frRes + 3100, "SQL dosyaya yaz"
  frRes + 3101, "SQL inþaatý..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Parametreler"
  frRes + 3111, "&Data tipi"
  frRes + 3112, "&Ýsim"
  frRes + 3113, "&Deger:"
  frRes + 3114, "&Ask for value before printing"
  frRes + 3115, "Assign value from &master dataset"
  frRes + 3116, "Deg&iþken:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "&Detay alan"
  frRes + 3131, "&Master alan"
  frRes + 3132, "&Birleþtirilen alan"
  frRes + 3133, "&Ekle"
  frRes + 3134, "&Temizle"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Parametreler"
  frRes + 3151, "4 nokta"
  frRes + 3152, "8 nokta"
  frRes + 3153, "Noktalara hizala"
  frRes + 3154, "Kapat"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Özellikler"
  frRes + 3171, "&Text"
  frRes + 3172, "&Yazý tipi..."
  frRes + 3173, "Lookup"
  frRes + 3174, "&Dataset"
  frRes + 3175, "&Anahtar alan"
  frRes + 3176, "&Alan listesi"
  frRes + 3177, "Cins"
  frRes + 3178, "&Degiþtir"
  frRes + 3179, "&Combo"
  frRes + 3180, "Look&up"
  frRes + 3181, "Combo"
  frRes + 3182, "&Otomatik büyüklük"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Veri tabaný özellikleri"
  frRes + 3201, "Genel"
  frRes + 3202, "Parametreler"
  frRes + 3203, "&Ýsim"
  frRes + 3204, "&Connection string"  ; for ADO
  frRes + 3205, "&Dosya ismi"          ; for IBX
  frRes + 3206, "&Takma isim"         ; for BDE
  frRes + 3207, "&Sürücü ismi"
  frRes + 3208, "&Login prompt"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Tablo seç"
  frRes + 3221, "Veri tabanýndan seç"
  frRes + 3222, "Dosyadan seç"
  frRes + 3223, "&Veri tabaný"
  frRes + 3224, "&Tablo"
  frRes + 3225, "&Arama..."
;--- Strings resources -------------------------------------------------------
  SFields, "Alanlar"
  SPath, "Yol"
  SRemoveDS, "Bu bileþeni sil?"
  STables, "Tablolar"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Veri menejeri"
  SParams, "Parametreler"
  SQueryError, "Geçersiz SQL veya parametre"
  STableProps, "Table özellikleri"
  SParamDialog, "Parametre penceresi"
  SInvalidParamValue, "Geçersiz parametre deðeri"
  SDatabase, "Veri tabanlarý"
  SFieldSizeError, "Geçersiz alan büyüklüðü"
}
