#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Nesne bilgileri"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Metin editörü"
  frRes + 61, "Ýfade ekleme"
  frRes + 62, "Veri alaný ekleme"
  frRes + 63, "Kelimeyi kes"
  frRes + 64, "Scripti (Senaryo) göster/gizle"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Rapor düzenleyici"
  frRes + 81, "Dikdörtgen"
  frRes + 82, "Standart"
  frRes + 83, "Metin"
  frRes + 84, "Nesneler"
  frRes + 85, "Hizalama"
  frRes + 86, "Araçlar"
  frRes + 87, "Yeni rapor"
  frRes + 88, "Rapor aç"
  frRes + 89, "Rapor kaydet"
  frRes + 90, "Rapor ön izleme"
  frRes + 91, "Kes"
  frRes + 92, "Kopyala"
  frRes + 93, "Yapýþtýr"
  frRes + 94, "Son yapýlan iþlemi geri al"
  frRes + 95, "Yapýlan geri iþlemini ileri al"
  frRes + 96, "Üste al"
  frRes + 97, "Geriye al"
  frRes + 98, "Hepsini iþaretle"
  frRes + 99, "Sayfa ekle"
  frRes + 100, "Sayfa sil"
  frRes + 101, "Sayfa ayarlarý"
  frRes + 102, "Nokta"
  frRes + 103, "Noktalara hizala"
  frRes + 104, "Noktalara göre yüksekligi ayarla"
  frRes + 105, "Kapat"
  frRes + 106, "Metin editörünü kapat"
  frRes + 107, "Sola dayalý"
  frRes + 108, "Saga dayalý"
  frRes + 109, "Ortaya dayalý"
  frRes + 110, "Normal metin / 90 derece (dik)"
  frRes + 111, "Dikey ortala"
  frRes + 112, "Yukarýya dayalý"
  frRes + 113, "Aþaðýya dayalý"
  frRes + 114, "Geniþliðe göre hizalama"
  frRes + 115, "Koyu"
  frRes + 116, "Eðik"
  frRes + 117, "Altý çizgili"
  frRes + 118, "Font rengi"
  frRes + 119, "Belirti durumu"
  frRes + 120, "Font büyüklügü"
  frRes + 121, "Font ismi"
  frRes + 122, "Yukarý çerçeve çizgisi"
  frRes + 123, "Sol çerçeve çizgisi"
  frRes + 124, "Aþaðý çerçeve çizgisi"
  frRes + 125, "Sag çerçeve çizgisi"
  frRes + 126, "Tüm çerçeve çizgileri"
  frRes + 127, "Çerçeve yok"
  frRes + 128, "Arka fon rengi"
  frRes + 129, "Çerçeve rengi"
  frRes + 130, "Çerçeve kalýnlýðý"
  frRes + 131, "Çerçeve kalýnlýðý"
  frRes + 132, "Nesne seçimi"
  frRes + 133, "Metin ekle"
  frRes + 134, "Band ekle"
  frRes + 135, "Resim ekle"
  frRes + 136, "Alt rapor ekle"
  frRes + 137, "Çizgi çizme"
  frRes + 138, "Sol kenara göre hizalama"
  frRes + 139, "Yatay merkeze göre hizalama"
  frRes + 140, "Yatay sayfaya ortalý"
  frRes + 141, "Yatay ara boþluklarý eþitle"
  frRes + 142, "Sag kenara göre hizalama"
  frRes + 143, "Yukarý kenara göre hizalama"
  frRes + 144, "Dikey merkeze göre hizalama"
  frRes + 145, "Dikey sayfaya ortalý"
  frRes + 146, "Dikey ara boþluklarý eþitle"
  frRes + 147, "Aþaðý kenara göre hizalama"
  frRes + 148, "K&es"
  frRes + 149, "&Kopyala"
  frRes + 150, "&Yapýþtýr"
  frRes + 151, "&Sil"
  frRes + 152, "Hepsini &iþaretle"
  frRes + 153, "&Degiþtir..."
  frRes + 154, "&Dosya"
  frRes + 155, "&Yeni..."
  frRes + 156, "&Aç..."
  frRes + 157, "&Kaydet"
  frRes + 158, "&Veri sözlüðü..."
  frRes + 159, "&Rapor ayarlarý..."
  frRes + 160, "&Sayfa ayarlarý..."
  frRes + 161, "&Ön izleme"
  frRes + 162, "&Çýkýþ"
  frRes + 163, "&Degiþtir"
  frRes + 164, "&Geri"
  frRes + 165, "&Ýleri"
  frRes + 166, "K&es"
  frRes + 167, "&Kopyala"
  frRes + 168, "&Yapýþtýr"
  frRes + 169, "&Sil"
  frRes + 170, "&Hepsini iþaretle"
  frRes + 171, "&Degiþtir..."
  frRes + 172, "&Sayfa ekle"
  frRes + 173, "&Sayfa sil"
  frRes + 174, "Üste &al"
  frRes + 175, "Geri&ye al"
  frRes + 176, "&Araçlar"
  frRes + 177, "A&raç çubuklarý"
  frRes + 178, "Araç&lar"
  frRes + 179, "&Ayarlar..."
  frRes + 180, "&Dikdörtgen"
  frRes + 181, "&Standart"
  frRes + 182, "&Metin"
  frRes + 183, "&Nesne"
  frRes + 184, "Nesne &Bilgileri"
  frRes + 185, "&Hizalama paleti"
  frRes + 186, "Araç&lar"
  frRes + 187, "&Hakkinda..."
  frRes + 188, "Farklý &kaydet..."
  frRes + 189, "&Yardým"
  frRes + 190, "Yardim &aracý"
  frRes + 191, "Çerçeve sitili"
  frRes + 192, "Pencere formu &ekle"
  frRes + 193, "Pencere formu ekle"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Nesne kýsýtlamalarý"
  frRes + 261, "Mem&o degiþtirilemez"
  frRes + 262, "S&cript (Senaryo) degiþtirilemez"
  frRes + 263, "&Ýçerik deðiþtirilemez"
  frRes + 264, "&Degiþtirilemez"
  frRes + 265, "&Büyüklük deðiþtirilemez"
  frRes + 266, "&Taþýnamaz"
  frRes + 267, "&Silinemez"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Ayarlar"
  frRes + 281, "Rapor düzenleyici"
  frRes + 282, "Izgara"
  frRes + 283, "Nesne çizimi"
  frRes + 284, "Rapor ölçü birimi"
  frRes + 285, "Izgara ölçüleri"
  frRes + 286, "&Nokta birim miktarý"
  frRes + 287, "Noktalara &hizala"
  frRes + 288, "Butonlar &renkli"
  frRes + 289, "&4 nokta"
  frRes + 290, "&8 nokta"
  frRes + 291, "&18 nokta (5mm)"
  frRes + 293, "Nesneler taþýnýrken &veya ölçüleri degiþirken göster"
  frRes + 294, "&noktalar"
  frRes + 295, "&Milimetre"
  frRes + 296, "&Ýnç"
  frRes + 297, "Digerleri"
  frRes + 298, "&Nesne eklendikten sonra degiþtir"
  frRes + 299, "Band baþlýðýný &göster"
  frRes + 300, "Sayfa pozisyonu"
  frRes + 301, "Or&tada"
  frRes + 302, "So&lda"
  frRes + 303, "Sa&gda"
  frRes + 304, "Editör"
  frRes + 305, "Metin editörü"
  frRes + 306, "&ÝNesnelerin font ayarlarýný kullan"
  frRes + 307, "&Özel font ayarý :"
  frRes + 308, "Font adý :"
  frRes + 309, "Büyüklük :"
  frRes + 310, "Script (Senaryo) editörü"
  frRes + 311, "Localized property names"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Yeni rapor"
  frRes + 319, "Açýklama"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Yeni rapor þablonu"
  frRes + 321, "&Yorum"
  frRes + 322, "Ýkon"
  frRes + 323, "&Dosya..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Veri sözlüðü"
  frRes + 341, "Degiþkenler"
  frRes + 342, "Takma ad alanlarý"
  frRes + 343, "Band veri kaynagý"
  frRes + 344, "De&giþkenler"
  frRes + 345, "De&gerler"
  frRes + 346, "&Ýfade"
  frRes + 347, "Yeni katagori"
  frRes + 348, "Yeni degiþken"
  frRes + 349, "Degiþtir"
  frRes + 350, "Sil"
  frRes + 351, "Degiþken listesi editörü"
  frRes + 352, "Veri tabanlarý ve alanlar"
  frRes + 353, "Tüm veritabanlarý"
  frRes + 354, "&Operasyon"
  frRes + 355, "Takma &ad"
  frRes + 356, "Al&aný listeye dahil etme durumu"
  frRes + 357, "Veri kaynaklarý"
  frRes + 358, "Tüm Veri kaynaklarý"
  frRes + 359, "&Kaydet..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Degiþken listesi"
  frRes + 361, "&Katagori ve degiþkenler"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Rapor ayarlarý"
  frRes + 371, "Yazici"
  frRes + 372, "&Rapor açma seçimi"
  frRes + 373, "Digerleri"
  frRes + 374, "&Ýki geçiþ yapmak"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Sayfa ayarlari"
  frRes + 391, "Sayfalar"
  frRes + 392, "Sayfa þekli"
  frRes + 393, "&Dikey"
  frRes + 394, "&Yatay"
  frRes + 395, "Büyüklük"
  frRes + 396, "&Geniþlik, mm"
  frRes + 397, "&Yükseklik, mm"
  frRes + 398, "Boþluklar"
  frRes + 399, "Sayfa boþluklarý"
  frRes + 400, "&Sol boþluk, mm"
  frRes + 401, "&Yukarý boþluk, mm"
  frRes + 402, "&Sag boþluk, mm"
  frRes + 403, "&Aþaðý boþluk, mm"
  frRes + 404, "&Yazým alanýna göre sýkýþtýr"
  frRes + 405, "Ayarlar"
  frRes + 406, "Ayarlar"
  frRes + 407, "&Daha önceki sayfalara yaz"
  frRes + 408, "Kolonlar"
  frRes + 409, "&Kolon miktarý"
  frRes + 410, "&Kolonlar arasý boþluk, mm"
  frRes + 411, "Kaynak"
  frRes + 412, "Kagýt kaynagý"
  frRes + 413, "&Unlimited height"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Degiþken formatlarý"
  frRes + 421, "Degiþken formatý"
  frRes + 422, "&Ondalýk hane sayýsý"
  frRes + 423, "Ondalýk &ayraç"
  frRes + 424, "Özel &format"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Degiþkenler"
  frRes + 441, "&Katagori :"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Veri alaný ekle"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Resim"
  frRes + 461, "&Sýkýþtýr"
  frRes + 462, "&Çaðýr..."
  frRes + 463, "&Temizle"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Band veri kaynaðý"
  frRes + 481, "&Veri kaynaðý"
  frRes + 482, "&Kayýt sayýsý"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Band veri kaynaðý"
  frRes + 486, "Bandlar"
  frRes + 487, "Veri kaynaðý"
  frRes + 488, "&Kayýt sayýsý"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Grup"
  frRes + 491, "&Þart"
  frRes + 492, "Veri alaný ekle"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Yeni band ekle"
  frRes + 511, "Band tipi"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Belirti durumu"
  frRes + 521, "&Belirti"
  frRes + 522, "Font"
  frRes + 523, "R&enk..."
  frRes + 524, "&Koyu"
  frRes + 525, "&Eðik"
  frRes + 526, "&Altý çizgili"
  frRes + 527, "Arka fon"
  frRes + 528, "R&enk..."
  frRes + 529, "&Þeffaf"
  frRes + 530, "&Diðerleri"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "FastReport hakkinda"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE nesnesi"
  frRes + 551, "&Ekle..."
  frRes + 552, "&Degiþtir..."
  frRes + 553, "&Kapat"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "Aç..."
  frRes + 562, "Kaydet..."
  frRes + 563, "Geri"
  frRes + 564, "Koyu"
  frRes + 565, "Eðik"
  frRes + 566, "Sola dayalý"
  frRes + 567, "Ortala"
  frRes + 568, "Saga dayalý"
  frRes + 569, "Altý çizgili"
  frRes + 570, "Liste"
  frRes + 571, "Font"
  frRes + 572, "Vazgeç"
  frRes + 573, "Kaydet ve çýk"
  frRes + 574, "Var"
  frRes + 575, "Ýfade ekle"
  frRes + 576, "Font"
  frRes + 577, "Font büyüklüðü"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Grafik nesnesi"
  frRes + 591, "Tip"
  frRes + 592, "Veri"
  frRes + 593, "Tip"
  frRes + 594, "Nesne adý"
  frRes + 595, "Ayarlar"
  frRes + 596, "&3 boyut"
  frRes + 597, "&Tek"
  frRes + 598, "&Ýþaretleri göster"
  frRes + 599, "&Noktalarý göster"
  frRes + 600, "&Baþlýklarý göster"
  frRes + 601, "&Çoklu renk"
  frRes + 602, "&Ýþaret için"
  frRes + 603, "&Deger için"
  frRes + 604, "Baþlýklar"
  frRes + 605, "Sitil"
  frRes + 606, "Deger"
  frRes + 607, "Yüzde"
  frRes + 608, "Baþlýk"
  frRes + 609, "Baþlýk ve yüzde"
  frRes + 610, "Baþlýk ve deger"
  frRes + 611, "En yüksek 10 grup"
  frRes + 612, "&En yüksekleri göster"
  frRes + 613, "Baþ&lýk"
  frRes + 614, "Deðerler"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Alan ekle"
  frRes + 631, "&Aktif tablolar"
  frRes + 632, "Yerleþtirme"
  frRes + 633, "&Yatay"
  frRes + 634, "&Dikey"
  frRes + 635, "&Baþlýðý dahil et"
  frRes + 636, "Band&larý dahil et"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Barkod editörü"
  frRes + 651, "&Kod"
  frRes + 652, "&Barkod tipi"
  frRes + 653, "Ayarlar"
  frRes + 654, "Barkod s&onu kontrolu"
  frRes + 655, "&Ýmza"
  frRes + 656, "Ýfade ekle"
  frRes + 657, "Degiþken ekle"
  frRes + 658, "Dönüþ"
  frRes + 659, "&Büyüklük :"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Nesne bilgileri"
  frRes + 671, "Örnek :"
  frRes + 672, "&Ýfade..."
  frRes + 673, "&DB Alani..."
  frRes + 674, "&Gradyan (Renk akýþý)"
  frRes + 675, "&Gölge geniþligi"
  frRes + 676, "Renk"
  frRes + 677, "&Kavis"
  frRes + 678, "&Alan çerçevesi"
  frRes + 679, "Bitiþ rengi"
  frRes + 680, "Baþlangýç rengi"
  frRes + 681, "&Stil"
  frRes + 682, "Dikey,Yatay,Elips,Dikdörtgen,Yatay_ortalý,Dikey_ortalý"
  frRes + 683, "Gölge veya akýþ rengi için týklayýnýz..."
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Ýfade inþaatçýsý"
  frRes + 701, "Ýfade"
  frRes + 702, "Ekle"
  frRes + 703, "&Veri alaný..."
  frRes + 704, "&Degiþken..."
  frRes + 705, "&Fonksiyon..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Aktif fonksiyonlar"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Fonksiyon sonuçlarý"
  frRes + 731, "Sonuçlar"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Nesne etiketi"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Cross-tab view"
  frRes + 751, "Cross-tab dataset"
  frRes + 752, "Subtotals"
  frRes + 753, "Function"
  frRes + 754, "Cross-tab editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Bu sayfayý sil?"
  SConfirm, "Onaylama"
  SPaper1, "Mektup, 8 1/2 x 11"""
  SPaper2, "Mektup küçük, 8 1/2 x 11"""
  SPaper3, "Tablet, 11 x 17"""
  SPaper4, "Defter, 17 x 11"""
  SPaper5, "Yasal, 8 1/2 x 14"""
  SPaper6, "Ýfade, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Çeyrek sayfa, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Not, 8 1/2 x 11"""
  SPaper19, "9 Zarf, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Zarf, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Zarf, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Zarf, 4 3/4 x 11"""
  SPaper23, "#14 Zarf, 5 x 11 1/2"""
  SPaper24, "C sayfa, 17 x 22"""
  SPaper25, "D sayfa, 22 x 34"""
  SPaper26, "E sayfa, 34 x 44"""
  SPaper27, "DL Zarf, 110 x 220 mm"
  SPaper28, "C5 Zarf, 162 x 229 mm"
  SPaper29, "C3 Zarf,  324 x 458 mm"
  SPaper30, "C4 Zarf,  229 x 324 mm"
  SPaper31, "C6 Zarf,  114 x 162 mm"
  SPaper32, "C65 Zarf, 114 x 229 mm"
  SPaper33, "B4 Zarf,  250 x 353 mm"
  SPaper34, "B5 Zarf,  176 x 250 mm"
  SPaper35, "B6 Zarf,  176 x 125 mm"
  SPaper36, "Ýtalyan Zarf, 110 x 230 mm"
  SPaper37, "Monarch Zarf, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Zarf, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japonya posta kartý 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Davetiye zarfý 220 x 220 mm"
  SPaper50, "Mektup Ekstra 9/275 x 12"""
  SPaper51, "Yasal ekstra 9/275 x 15"""
  SPaper52, "Tablet ekstra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Mektup Transverse 8/275 x 11"""
  SPaper55, "A4 enine 210 x 297 mm"
  SPaper56, "Mektup Ekstra enine 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Mektup Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 enine 148 x 210 mm"
  SPaper62, "B5 (JIS) enine 182 x 257 mm"
  SPaper63, "A3 Ekstra 322 x 445 mm"
  SPaper64, "A5 Ekstra 174 x 235 mm"
  SPaper65, "B5 (ISO) Ekstra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 enine 297 x 420 mm"
  SPaper68, "A3 Ekstra enine 322 x 445 mm"
  SPaper256, "Özel"
  SSystemVariables, "Sistem deðiþkenleri"
  SVar1, "Sayfa#"
  SVar2, "Ýfade"
  SVar3, "Tarih"
  SVar4, "Saat"
  SVar5, "Satýr#"
  SVar6, "Aktif satýr no#"
  SVar7, "Kolon#"
  SVar8, "Þimdiki satýr no#"
  SVar9, "Toplam sayfa"
  SStretched, "Sýkýþtýr"
  SVarFormat, "Degiþken formatý..."
  SWordWrap, "Kelimeyi böl"
  SWordBreak, "Kesilen kelimeyi taþý"
  SFormNewPage, "Yeni sayfa þekli"
  SPrintIfSubsetEmpty, "Eger detay boþ ise yaz"
  SBreaked, "Koparmak"
  SPictureCenter, "Resmi ortala"
  SKeepAspectRatio, "Oraný kaydet"
  SFormFile, "FastReport formu"
  SForm3File, "FastReport3 formu"
  STemplFile, "FastReport þablonu"
  SDictFile, "FastReport sözlüðü"
  SPictFile, "Resim dosyasý"
  SBMPFile, "Bitmap dosyasý"
  SAllFiles, "Tüm dosyalar"
  SInsOLEObject, "OLE nesnesi ekle"
  SInsRichObject, "RichText nesnesi ekle"
  SInsRich2Object, "RX RichText nesnesi ekle"
  SInsCheckBox, "CheckBox nesnesi ekle"
  SInsChart, "Grafik nesnesi ekle"
  SInsShape, "Geometrik þekil nesnesi ekle"
  SInsBarcode, "Barkod nesnesi ekle"
  SInsRoundRect, "Gölgeli ve çerçevli metin nesnesi ekle"
  SSubReportOnPage, "Alt rapor alýnan sayfa"
  SPicture, "[Resim]"
  STransparent, "Þeffaf"
  SOther, "Diðerleri..."
  SOnFirstPage, "Ýlk sayfa üzerinde"
  SOnLastPage, "Son sayfa üzerinde"
  SRepeatHeader, "Tüm sayfalarda göster"
  SDesignReport, "Rapor düzenleyici"
  SInsertFields, "Tablodan rapora alan ekleme (sihirbaz)"
  SSaveChanges, "Degiþiklikleri kaydet"
  STo, "ya"
  SPixels, "Nokta"
  SMM, "Milimetre"
  SInches, "Ýnç"
  SVirtualDataset, "Görsel veritabaný"
  SAutoSize, "Otomatik büyüklük"
  SFRVariables, "FR Degiþkenler"
  SClearContents, "Ýerigi temizle"

  SAllCategories, "Tüm fonksiyonlar"
  SAggregateCategory, "Ünite"
  SDateTimeCategory, "Tarih ve Saat"
  SStringCategory, "Metin"
  SOtherCategory, "Digerleri"
  SMathCategory, "Matemetiksel"
  SBoolCategory, "Mantýksal"
  SIntrpCategory, "Yorumlamalar"

  SDescriptionAVG, "AVG(<Ýfade> [,BandÝsmi [,1]])/"
    "Satýlarýn ortalama hesaplamasý <Ýfade> için [BandÝsmi]. "
    "Eger verilen parametre [1], hesaba görünmeyen bandlarda dahil edilir."

  SDescriptionCOUNT, "COUNT(<BandÝsmi>)/"
    "Bandlarda oluþan satýrdaki verilerin sayýsýný geri getirir <BandÝsmi>. "

  SDescriptionDAYOF, "DAYOF(<Tarih>)/"
    "Tarih gününü (1..31) geri getirir <Tarih>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Þekil>, <TarihSaat>)/"
    "Tarih saat degerinin <TarihSaat> formatlý olarak geri getirir <Þekil>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Þekil>, <Numara>)/"
    "Numara degerini <Numara> þekile göre geri çevirir <Þekil>."

  SDescriptionINPUT, "INPUT(<Baþlýk> [,Varsayýlan])/"
    "Baþlýklý olan diyalog penceresini ekrana çýkarmak, ve satýr sonucunu <Baþlýk>. "
    "eger [Varsayýlan] parametre veriliyorsa o satýr sonucunda çýkar."
    "Kullanýcý tamam butonuna basýnca sonuçlarý geri getirir."

  SDescriptionLENGTH, "LENGTH(<Metin>)/"
    "Metnin kaç harf oldugunu hesaplama <Metin>."

  SDescriptionLOWERCASE, "LOWERCASE(<Metin>)/"
    "Çevirme <Metin> küçük harfe."

  SDescriptionMAX, "MAX(<Ýfade> [,BandÝsmi [,1]])/"
    "En büyük degeri <Ýfade> için [BandÝsmi] deki degeri getirir. "
    "Eger parametre veriliyorsa iþleme görünmeyen bandlarda dahil edilir."

  SDescriptionMIN, "MIN(<Ýfade> [,Bandismi [,1]])/"
    "En küçük degeri <Ýfade> için [BandÝsmi] deki degeri getirir. "
    "Eger parametre veriliyorsa iþleme görünmeyen bandlarda dahil edilir.."

  SDescriptionMONTHOF, "MONTHOF(<Tarih>)/"
    "Aylarý geri getirir (1..12) tarih <Tarih>."

  SDescriptionNAMECASE, "NAMECASE(<Metin>)/"
    "Çevir <Metin> küçük harfe, ve ilk harfi"
    "büyük yapar."

  SDescriptionSTRTODATE, "STRTODATE(<Metin>)/"
    "Çevir <Metin> i tarihe."

  SDescriptionSTRTOTIME, "STRTOTIME(<Metin>)/"
    "Çevir <Metin> i saate."

  SDescriptionSUM, "SUM(<Ýfade> [,BandÝsmi [,1]])/"
    "Belirtilen <Ýfade> toplamýný [BandÝsmi] belirtilen banda atar."
    "Eger parametre veriliyorsa iþleme görünmeyen bandlarda dahil edilir.."

  SDescriptionTRIM, "TRIM(<Metin>)/"
    "Metin içerisindeki boþluklarý siler <MEtin> ve sonucu"
    "metin olarak geri döndürür."

  SDescriptionUPPERCASE, "UPPERCASE(<Metin>)/"
    "Çevirme <Metin> büyük harfe."

  SDescriptionYEAROF, "YEAROF(<Tarih>)/"
    "Tarih sonucunu geri getirir <Tarih>."

  SDescriptionIF, "IF(<Ýfade>, <Deger1>, <Deger2>)/"
    "Sonuç <Deger1>, if ifade <Ýfade> olumlu ise dogru; "
    "Olumsuz ise <Deger2>. Sonuç metin olarak geri dönmez."

  SDescriptionCOPY, "COPY(<String>, <From>, <Count>)/"
    "Belirtilen metnin içerisinden belirtilen noktadan belirtilen kadar kopyalar."

  SDescriptionMOD, "<Value1> MOD <Value2>/"
    "Bölüm iþleminden kalaný verir <Deger1> <Deger2>."

  SDescriptionSTR, "STR(<Deger>)/"
    "Rakam degeri <Deger> metine çevir."

  SDescriptionNOT, "NOT <Deger>/"
    "Mantýksal 'DEGÝL'."

  SDescriptionAND, "<Deger1> AND <Deger2>/"
    "Mantýksal 'VE'."

  SDescriptionOR, "<Deger1> OR <Deger2>/"
    "Mantýksal 'VEYA'."

  SDescriptionROUND, "ROUND(<Value>)/"
    "Küsüratlý sayýyý yuvarlama <Value>."

  SDescriptionFRAC, "FRAC(<Deger>)/"
    "Sayýnýn kesiri almak <Deger>."

  SDescriptionINT, "INT(<Deger>)/"
    "Küsüratlý sayýyý yuvarlama (aþagýya) <Deger>."

  SDescriptionTRUE, "TRUE/"
    "Mantýksal 'DOGRU'."

  SDescriptionFALSE, "FALSE/"
    "Mantýksal 'YANLIÞ'."

  SDescriptionPAGE, "PAGE#/"
    "Þu anki sayfa numarasý."

  SDescriptionDATE, "DATE/"
    "Þu anki tarih."

  SDescriptionTIME, "TIME/"
    "Þu anki saat."

  SDescriptionLINE, "LINE#/"
    "Þu anki veri satýr numrasý (Grubun baþýndan beri)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Þu anki veri satýr numrasý (Raporun baþýndan beri)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Þu anki kolon numarasý."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Toplam sayfa sayisi."

  SDescriptionMROK, "MROK/"
    "Aralýksýz."

  SDescriptionMRCancel, "MRCANCEL/"
    "Aralýksýz."

  SDescriptionCurY, "CURY/"
    "Mevkiyi geri getirir 'Y' pikselde çýkarýlmýþ"
    "olan devamlý band CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Sayfada boþ olan yeri piksel olarak getirir."

  SDescriptionFinalPass, "FINALPASS/"
    "Eger rapor sonu ise gerçegi getirir."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Sayafnýn yüksekligini piksel olarak getirir."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Sayfanýn geniþligini piksel olarak getirir."

  SDescriptionProgress, "PROGRESS/"
    "Bu özellige verilen degeri ilerleme penceresinde gösterir."

  SDescriptionModalResult, "MODALRESULT/"
    "Bu özellige verilen sýfýr olmayan degeri dialoglu pencere kapatýr."

  SDescriptionStopReport, "STOPREPORT/"
    "Raporun hazýrlanmasýný durdurur."

  SDescriptionNewPage, "NEWPAGE/"
    "Sayfa bölünmesini oluþturur."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Kolon bölünmesinin oluþturur."

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "Bandý ismi ile göstermek <BandName> given."

  SDescriptionINC, "INC(<Deger>)/"
    "Arttýrmak <Deger>."

  SDescriptionDEC, "DEC(<Deger>)/"
    "Azaltmak <Deger>."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "Returns max of given values."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "Returns min of given values."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Returns position of substring in given string."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "Shows standard dialog window with title, text and buttons."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "Applies <Mask> to given <String> and returns formatted string."


  SInformation, "Bilgi"
  SExpressionOK, "Ýfade dogru!"
  STextOnly, "Sadece metin"
  SSuppressRepeated, "Tekrarlanan degerleri gizle"
  SDefaultBin, "Varsayýlan"
  SDeleteObjects, "Sayfada bulunan tüm nesneleri siler."
  SWarning, "Dikkat"
  SHideZeros, "Sýfýrlarý gizle"
  SPrintChild, "Eger çocuk rapor gizli ise çýkar"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "Insert Cross-tab object"
}
