#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Objektum jellemzõi"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Szövegszerkesztõ"
  frRes + 61, "Beszúr kifejezést"
  frRes + 62, "Beszúr adatmezõt"
  frRes + 63, "Szótörés"
  frRes + 64, "Mutat/rejt scriptet"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Tervezõ"
  frRes + 81, "Téglalap"
  frRes + 82, "Standard"
  frRes + 83, "Szöveg"
  frRes + 84, "Objektumok"
  frRes + 85, "Igazítás"
  frRes + 86, "Eszközök"
  frRes + 87, "Uj riport"
  frRes + 88, "Nyit riportot"
  frRes + 89, "Ment riportot"
  frRes + 90, "Megtekint riportot"
  frRes + 91, "Kivág"
  frRes + 92, "Másol"
  frRes + 93, "Beilleszt"
  frRes + 94, "Utolsó akció vissza"
  frRes + 95, "Mégis utolsó akció"
  frRes + 96, "Elõrehoz"
  frRes + 97, "Hátratesz"
  frRes + 98, "Választ mindent"
  frRes + 99, "Ad lapot"
  frRes + 100, "Eltávolít lapot"
  frRes + 101, "Lap opciók"
  frRes + 102, "Rács"
  frRes + 103, "Rácsigazítás"
  frRes + 104, "Igazít rácshoz"
  frRes + 105, "Bezár"
  frRes + 106, "Bezár tervezõt"
  frRes + 107, "Balra igazít"
  frRes + 108, "Jobbra igazít"
  frRes + 109, "Középre igazít"
  frRes + 110, "Normal szöveg / 90 fok"
  frRes + 111, "Függõlegesen középre"
  frRes + 112, "Tetõre igazít"
  frRes + 113, "Aljra igazít"
  frRes + 114, "Szélességre igazít"
  frRes + 115, "Kövér"
  frRes + 116, "Dõlt"
  frRes + 117, "Aláhúzott"
  frRes + 118, "Font színe"
  frRes + 119, "Kiemelt attribútumok"
  frRes + 120, "Font mérete"
  frRes + 121, "Font neve"
  frRes + 122, "Felsõ keret"
  frRes + 123, "Bal keret"
  frRes + 124, "Alj keret"
  frRes + 125, "Jobb keret"
  frRes + 126, "Minden keret"
  frRes + 127, "Nincs keret"
  frRes + 128, "Háttérszín"
  frRes + 129, "Keretszín"
  frRes + 130, "Keret szélesség"
  frRes + 131, "Keret szélesség"
  frRes + 132, "Választ objektumot"
  frRes + 133, "Beszúr téglalap objektumot"
  frRes + 134, "Beszúr sávot"
  frRes + 135, "Beszúr képet"
  frRes + 136, "Beszúr alriportot"
  frRes + 137, "Húz vonalat"
  frRes + 138, "Igazít bal széleket"
  frRes + 139, "Igazít vizszintesen középre"
  frRes + 140, "Középre vizszintesen ablakban"
  frRes + 141, "Egyenlõ távolságra, vizszintesen"
  frRes + 142, "Igazít jobb széleket"
  frRes + 143, "Igazít tetõket"
  frRes + 144, "Igazít függõlegesen középre"
  frRes + 145, "Középre függõlegesen ablakban"
  frRes + 146, "Egyenlõ távolságra, függõlegesen"
  frRes + 147, "Igazít aljakat"
  frRes + 148, "&Kivág"
  frRes + 149, "&Másol"
  frRes + 150, "&Beilleszt"
  frRes + 151, "&Töröl"
  frRes + 152, "Választ &mindent"
  frRes + 153, "&Szerkeszt..."
  frRes + 154, "&File"
  frRes + 155, "&Új..."
  frRes + 156, "&Nyit..."
  frRes + 157, "&Ment"
  frRes + 158, "Változók &listája..."
  frRes + 159, "&Riport opciók..."
  frRes + 160, "&Lap opciók..."
  frRes + 161, "&Megtekint"
  frRes + 162, "&Kilép"
  frRes + 163, "&Szerkeszt"
  frRes + 164, "&Mégsem"
  frRes + 165, "Még&is"
  frRes + 166, "&Kivág"
  frRes + 167, "Más&ol"
  frRes + 168, "&Beilleszt"
  frRes + 169, "&Töröl"
  frRes + 170, "&Választ mindent"
  frRes + 171, "&Szerkeszt..."
  frRes + 172, "&Ad lapot"
  frRes + 173, "&Távolít lapot"
  frRes + 174, "&Elõre hoz"
  frRes + 175, "&Hátratesz"
  frRes + 176, "&Eszközök"
  frRes + 177, "&Eszközök"
  frRes + 178, "Eszkö&zök"
  frRes + 179, "&Opciók..."
  frRes + 180, "&Téglalap"
  frRes + 181, "&Standard"
  frRes + 182, "&Szöveg"
  frRes + 183, "&Objektumok"
  frRes + 184, "Objektum &jellemzõi"
  frRes + 185, "&Igazítási paletta"
  frRes + 186, "&Eszközök"
  frRes + 187, "&Szerzõ..."
  frRes + 188, "Mentés &mint..."
  frRes + 189, "&Help tartalom"
  frRes + 190, "Help &eszköz"
  frRes + 191, "Vonal stilus"
  frRes + 192, "Ad dialógus &formot"
  frRes + 193, "Ad dialógus formot"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Objektum korlátozásai"
  frRes + 261, "Nem szerkeszt &memot"
  frRes + 262, "Nem szerkeszt &scriptet"
  frRes + 263, "Nem szerkeszt &tartalmat"
  frRes + 264, "Nem mó&dosít"
  frRes + 265, "Nem változtat mé&retet"
  frRes + 266, "Nem mo&zgat"
  frRes + 267, "Nem tö&röl"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Opciók"
  frRes + 281, "Tervezõ"
  frRes + 282, "Rács"
  frRes + 283, "Objektum mozgatás"
  frRes + 284, "Riport egység"
  frRes + 285, "Rács méret"
  frRes + 286, "&Mutat rácsot"
  frRes + 287, "&Igazít rácshoz"
  frRes + 288, "Szines &gombok"
  frRes + 289, "&4 pixel"
  frRes + 290, "&8 pixel"
  frRes + 291, "&18 pixel (5mm)"
  frRes + 293, "Mutat objektum &tartalmat mozgatás, méretváltoztatás során"
  frRes + 294, "&Pixelek"
  frRes + 295, "&MM"
  frRes + 296, "&Col"
  frRes + 297, "Egyéb"
  frRes + 298, "&Szerkeszt beszúrás után"
  frRes + 299, "Mutat &sáv-cimet"
  frRes + 300, "Lap pozició"
  frRes + 301, "Kö&zép"
  frRes + 302, "&Bal"
  frRes + 303, "&Jobb"
  frRes + 304, "Szerkesztõ"
  frRes + 305, "Szöveg Szerkesztõ"
  frRes + 306, "&Használja objektum font-beállításait"
  frRes + 307, "Használ &fix beállítást:"
  frRes + 308, "Font név:"
  frRes + 309, "Méret:"
  frRes + 310, "Script Szerkesztõ"
  frRes + 311, "Lokális property nevek"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Uj riport"
  frRes + 319, "Leirás"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Uj riport minta"
  frRes + 321, "&Megjegyzés"
  frRes + 322, "Icon"
  frRes + 323, "&File..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Adat szótár"
  frRes + 341, "Változók"
  frRes + 342, "Mezõ alias"
  frRes + 343, "Sáv adatforrások"
  frRes + 344, "&Változók"
  frRes + 345, "&Értékek"
  frRes + 346, "&Kifejezés"
  frRes + 347, "Új kategória"
  frRes + 348, "Új változó"
  frRes + 349, "Szerkeszt"
  frRes + 350, "Töröl"
  frRes + 351, "Szerkeszt listát"
  frRes + 352, "Adatset-ek és mezõk"
  frRes + 353, "Minden adatset"
  frRes + 354, "&Megjelenés"
  frRes + 355, "A&lias"
  frRes + 356, "&Kizár mezõt listából"
  frRes + 357, "Adatforrások"
  frRes + 358, "Miden adatforrás"
  frRes + 359, "&Ment..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Változó lista"
  frRes + 361, "&Kategóriák és változók"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Riport opciók"
  frRes + 371, "Printer"
  frRes + 372, "&Választódjon riportbetöltéskor"
  frRes + 373, "Egyéb"
  frRes + 374, "&Kétmenetû riport"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Lap opciók"
  frRes + 391, "Papir"
  frRes + 392, "Irány"
  frRes + 393, "&Álló"
  frRes + 394, "&Fekvõ"
  frRes + 395, "Méret"
  frRes + 396, "&Szélesség, mm"
  frRes + 397, "&Magasság, mm"
  frRes + 398, "Margók"
  frRes + 399, "Lap margók"
  frRes + 400, "&Bal, mm"
  frRes + 401, "&Tetõ, mm"
  frRes + 402, "&Jobb, mm"
  frRes + 403, "&Alj, mm"
  frRes + 404, "&Nyújtás nyomtató területre"
  frRes + 405, "Opciók"
  frRes + 406, "Opciók"
  frRes + 407, "&Nyomtat elõzõ lapra"
  frRes + 408, "Oszlopok"
  frRes + 409, "&Szám"
  frRes + 410, "&Oszlop rés, mm"
  frRes + 411, "Forrás"
  frRes + 412, "Papir forrás"
  frRes + 413, "&Korlátlan magasság"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Változó formátum"
  frRes + 421, "Változó formátum"
  frRes + 422, "&Decimális jegyek"
  frRes + 423, "Decimális &szeparátor"
  frRes + 424, "Egyéni &formátum"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Változók"
  frRes + 441, "&Kategória:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Beszúr adat mezõt"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Kép"
  frRes + 461, "&Nyújtás"
  frRes + 462, "&Betölt..."
  frRes + 463, "&Tisztít"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Sáv adatforrása"
  frRes + 481, "&Adatforrás"
  frRes + 482, "&Rekord számláló"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Sáv adatforrások"
  frRes + 486, "Sávok"
  frRes + 487, "Adatforrás"
  frRes + 488, "&Rekord számláló"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Csoport"
  frRes + 491, "&Feltétel"
  frRes + 492, "Beszúr adat mezõt"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Beszúr új sávot"
  frRes + 511, "Sáv tipus"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Kiemelt attribútumok"
  frRes + 521, "&Feltétel"
  frRes + 522, "Font"
  frRes + 523, "&Szin..."
  frRes + 524, "&Kövér"
  frRes + 525, "&Dõlt"
  frRes + 526, "&Aláhúzás"
  frRes + 527, "Háttér"
  frRes + 528, "&Szin..."
  frRes + 529, "&Átlátszó"
  frRes + 530, "&Egyéb"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "FastReport-ról"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE objektum"
  frRes + 551, "&Beszúr..."
  frRes + 552, "&Szerkeszt..."
  frRes + 553, "&Bezár"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Szerkesztõ"
  frRes + 561, "Nyit..."
  frRes + 562, "Ment..."
  frRes + 563, "Mégsem"
  frRes + 564, "Kövér"
  frRes + 565, "Dõlt"
  frRes + 566, "Balra igazít"
  frRes + 567, "Középre igazít"
  frRes + 568, "Jobbra igazít"
  frRes + 569, "Aláhúzás"
  frRes + 570, "Lista"
  frRes + 571, "Font"
  frRes + 572, "Mégsem"
  frRes + 573, "Ment és kilép"
  frRes + 574, "Var"
  frRes + 575, "Beszúr kifejezést"
  frRes + 576, "Font"
  frRes + 577, "Font mérete"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Chart objektum"
  frRes + 591, "Tipus"
  frRes + 592, "Adat"
  frRes + 593, "Tipus"
  frRes + 594, "Objetum neve"
  frRes + 595, "Opciók"
  frRes + 596, "&3D"
  frRes + 597, "&Egyszerû"
  frRes + 598, "Mutat &feliratot"
  frRes + 599, "Mutat &tengelyt"
  frRes + 600, "Mutat &jeleket"
  frRes + 601, "&Többszin"
  frRes + 602, "&Felirat"
  frRes + 603, "&Értékek"
  frRes + 604, "Jelek"
  frRes + 605, "Stilus"
  frRes + 606, "Érték"
  frRes + 607, "Százalék"
  frRes + 608, "Cimke"
  frRes + 609, "Cimke és százalék"
  frRes + 610, "Cimke és érték"
  frRes + 611, "Top10 csoport"
  frRes + 612, "&Mutat top-ot"
  frRes + 613, "&Cimke"
  frRes + 614, "Értékek"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Beszúr mezõket"
  frRes + 631, "&Hozzáférhetõ táblák"
  frRes + 632, "Elhelyezés"
  frRes + 633, "&Horizontális"
  frRes + 634, "&Vertikális"
  frRes + 635, "&Tartalmaz fejléceket"
  frRes + 636, "Tartalmaz &sávokat"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Bar-kód szerkesztõ"
  frRes + 651, "&Kód"
  frRes + 652, "&Bar-kód tipusa"
  frRes + 653, "Opciók"
  frRes + 654, "&Ellenõrzõösszeg"
  frRes + 655, "&Ember-olvasható"
  frRes + 656, "Beszúr kifejezést"
  frRes + 657, "Beszúr változót"
  frRes + 658, "Rotáció"
  frRes + 659, "&Zoom:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Jellemzõ-szerkesztõ"
  frRes + 671, "Minta :"
  frRes + 672, "&Kifejezés ..."
  frRes + 673, "&DB mezõ..."
  frRes + 674, "&Gradian"
  frRes + 675, "&Árnyék szélesség"
  frRes + 676, "Szin"
  frRes + 677, "&Iv"
  frRes + 678, "&Keretes zóna"
  frRes + 679, "Végszin"
  frRes + 680, "Kezdõszin"
  frRes + 681, "Stilus"
  frRes + 682, "Vertikális,Horizontális,Ellipszis,Téglalap,Horiz._közép,Vert._közép"
  frRes + 683, "Ide kattintson az árnyék szin vagy gradian szinek definiálásához"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Kifejezés építõ"
  frRes + 701, "Kifejezés"
  frRes + 702, "Beszúr"
  frRes + 703, "&Adatmezõ..."
  frRes + 704, "&Változó..."
  frRes + 705, "&Függvény..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Elérhetõ függvények"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Függvény argumentumok"
  frRes + 731, "Argumentum"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Objektum tag"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Cross-tab view"
  frRes + 751, "Cross-tab dataset"
  frRes + 752, "Subtotals"
  frRes + 753, "Function"
  frRes + 754, "Cross-tab editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Eltávolítja ezen lapot?"
  SConfirm, "Megerõsít"
  SPaper1, "Levél, 8 1/2 x 11"""
  SPaper2, "Levél kicsi, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 kicsi lap, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto lap, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 boríték, 3 7/8 x 8 7/8"""
  SPaper20, "#10 boríték, 4 1/8  x 9 1/2"""
  SPaper21, "#11 boríték, 4 1/2 x 10 3/8"""
  SPaper22, "#12 boríték, 4 3/4 x 11"""
  SPaper23, "#14 boríték, 5 x 11 1/2"""
  SPaper24, "C lap, 17 x 22"""
  SPaper25, "D lap, 22 x 34"""
  SPaper26, "E lap, 34 x 44"""
  SPaper27, "DL lap, 110 x 220 mm"
  SPaper28, "C5 lap, 162 x 229 mm"
  SPaper29, "C3 lap,  324 x 458 mm"
  SPaper30, "C4 lap,  229 x 324 mm"
  SPaper31, "C6 lap,  114 x 162 mm"
  SPaper32, "C65 lap, 114 x 229 mm"
  SPaper33, "B4 lap,  250 x 353 mm"
  SPaper34, "B5 lap,  176 x 250 mm"
  SPaper35, "B6 lap,  176 x 125 mm"
  SPaper36, "Olasz lap, 110 x 230 mm"
  SPaper37, "Monarch lap, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 lap, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "Német Std Fanfold, 8 1/2 x 12"""
  SPaper41, "Német Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japán képeslap 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Boríték Invite 220 x 220 mm"
  SPaper50, "Levél Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Levél Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Levél Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Levél Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Egyéni"
  SSystemVariables, "Rendszer változók"
  SVar1, "Lap#"
  SVar2, "Kifejezés"
  SVar3, "Dátum"
  SVar4, "Idõ"
  SVar5, "Sor#"
  SVar6, "Sor riportban#"
  SVar7, "Oszlop#"
  SVar8, "Jelenlegi sor#"
  SVar9, "Összes lap"
  SStretched, "Nyújtott"
  SVarFormat, "Változó formátum..."
  SWordWrap, "Szótörés"
  SWordBreak, ""
  SFormNewPage, "Legyen új lap"
  SPrintIfSubsetEmpty, "Nyomtat ha a részlet üres"
  SBreaked, "Tört"
  SPictureCenter, "Kép középre"
  SKeepAspectRatio, "Arányok megtartása"
  SFormFile, "FastReport formátum"
  SForm3File, "FastReport3 formátum"
  STemplFile, "FastReport minta"
  SDictFile, "FastReport szótár"
  SPictFile, "Kép file"
  SBMPFile, "Bitmap file"
  SAllFiles, "Minden file"
  SInsOLEObject, "Beszúr OLE objektumot"
  SInsRichObject, "Beszúr RichText objektumot"
  SInsRich2Object, "Beszúr RX RichText objektumot"
  SInsCheckBox, "Beszúr CheckBox objektumot"
  SInsChart, "Beszúr Chart objektumot"
  SInsShape, "Beszúr Shape objektumot"
  SInsBarcode, "Beszúr Barcode objektumot"
  SInsRoundRect, "Beszúr kerekített árnyékos téglalapot"
  SSubReportOnPage, "AlRiport a lapon"
  SPicture, "[Kép]"
  STransparent, "Átlátszó"
  SOther, "Egyéb..."
  SOnFirstPage, "Az elsõ lapon"
  SOnLastPage, "Az utolsó lapon"
  SRepeatHeader, "Mutat minden lapot"
  SDesignReport, "Tervez riportot"
  SInsertFields, "Beszúr DB mezõket"
  SSaveChanges, "Menti a változásokat"
  STo, ":"
  SPixels, "Pixelek"
  SMM, "MM"
  SInches, "Col"
  SVirtualDataset, "Virtuális Adatkészlet"
  SAutoSize, "Auto.méret"
  SFRVariables, "FR változók"
  SClearContents, "Töröl tartalmat"

  SAllCategories, "Minden függvény"
  SAggregateCategory, "Aggregátum"
  SDateTimeCategory, "Dátum és idõ"
  SStringCategory, "String"
  SOtherCategory, "Egyéb"
  SMathCategory, "Matek"
  SBoolCategory, "Logika"
  SIntrpCategory, "Értelmezõ"

  SDescriptionAVG, "AVG(<kifejezés> [,Sávnév [,1]])/"
    "Kiszámítja  a <kifejezés> átlagát a [Sávnév] adott sorai alapján. "
    "Ha [1] paramétert használunk , a nem-látható sorokból is kiszámítja az átlagot."

  SDescriptionCOUNT, "COUNT(<Sávnév>)/"
    "Visszadja a <Sávnév> adott sorainak számát."

  SDescriptionDAYOF, "DAYOF(<Dátum>)/"
    "Visszaadja a <Dátum> napját(1..31)."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DateTime>)/"
    "Konvertálja a <DateTime> értékét stringre az <Fmt> formátum alapján."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numeric>)/"
    "Konvertálja a <Numeric> értéket stringre az <Fmt> formátum alapján."

  SDescriptionINPUT, "INPUT(<Szöveg> [,Alap])/"
    "Mutat dialógus ablakot <szöveg> címmel és egy edit boxot. "
    "Ha [Alap] paramétert beállítunk, azt teszi az edit boxba. "
    "OK-ra kattintva, visszaadja a bevitt stringet."

  SDescriptionLENGTH, "LENGTH(<String>)/"
    "Visszaadja a <String> hosszát."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "Konvertálja a <String>-et alacsony betûsre."

  SDescriptionMAX, "MAX(<Kifejezés> [,Sávnév [,1]])/"
    "Megadja a <Kifejezés> maximumát a [Sávnév] soraiból. "
    "Ha [1] paramétert használunk, a nem-látható sorokat is vizsgálja. "

  SDescriptionMIN, "MIN(<Kifejezés> [,Sávnév [,1]])/"
    "Megadja a <Kifejezés> minimumát a [Sávnév] soraiból. "
    "Ha [1] paramétert használunk, a nem-látható sorokat is vizsgálja. "

  SDescriptionMONTHOF, "MONTHOF(<Dátum>)/"
    "Visszaadja a <Dátum> hónapját (1..12)."

  SDescriptionNAMECASE, "NAMECASE(<String>)/"
    "Konvertálja a <String>-et alacsony betûsre, miközben az elsõ betût "
    "nagyra."

  SDescriptionSTRTODATE, "STRTODATE(<String>)/"
    "Konvertálja <String>-et dátummá."

  SDescriptionSTRTOTIME, "STRTOTIME(<String>)/"
    "Konvertálja <String>-et idõre."

  SDescriptionSUM, "SUM(<Kifejezés> [,Sávnév [,1]])/"
    "Kiszámítja a <Kifejezés> összegét a [Sávnév ] sorai alapján. "
    "Ha [1] paramétert használunk, a nem-látható sorokat is vizsgálja ."

  SDescriptionTRIM, "TRIM(<String>)/"
    "Levágja az összes üres szóközt a <String> elejérõl, illetve végérõl és visszaadja "
    "a kapott stringet."

  SDescriptionUPPERCASE, "UPPERCASE(<String>)/"
    "Konvertálja a <String>-et nagy betûsre."

  SDescriptionYEAROF, "YEAROF(<Dátum>)/"
    "Visszaadja a <Dátum> évét."

  SDescriptionIF, "IF(<Kifejezés>, <Érték1>, <Érték2>)/"
    " Visszaadja <Érték1>-et, ha a Kifejezés <Kifejezés> igaz; "
    "egyébként visszaadja <Érték2>-t. A visszaadott érték nem csak string lehet ."

  SDescriptionCOPY, "COPY(<String>, <Tól>, <Hossz>)/"
    "Visszaadja a string rész-stringjét."

  SDescriptionMOD, "<Value1> MOD <Value2>/"
    "Visszaadja a <Value1> / <Value2> osztás maradékát."

  SDescriptionSTR, "STR(<Value>)/"
    "Konvertálja az adott <Value> értéket stringre."

  SDescriptionNOT, "NOT <Value>/"
    "Logikai 'NEM'."

  SDescriptionAND, "<Value1> AND <Value2>/"
    "Logikai 'ÉS'."

  SDescriptionOR, "<Value1> OR <Value2>/"
    "Logikai 'VAGY'."

  SDescriptionROUND, "ROUND(<Value>)/"
    "Visszaadja <Value> kerekített értékét."

  SDescriptionFRAC, "FRAC(<Value>)/"
    "Visszaadja <Value> tört-részét."

  SDescriptionINT, "INT(<Value>)/"
    "Visszaadja <Value> egész-részét."

  SDescriptionTRUE, "TRUE/"
    "Logikai 'IGAZ'."

  SDescriptionFALSE, "FALSE/"
    "Logikai 'HAMIS'."

  SDescriptionPAGE, "PAGE#/"
    "Visszaadja a jelenlegi lap számát."

  SDescriptionDATE, "DATE/"
    "Visszaadja a jelenlegi dátumot."

  SDescriptionTIME, "TIME/"
    "Visszaadja a jelenlegi idõt."

  SDescriptionLINE, "LINE#/"
    "Visszaadja a jelenlegi adatsor számát (a csoport elejétõl kezdve)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Visszaadja a jelenlegi adatsor számát (a riport elejétõl kezdve)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Visszaadja a jelenlegi oszlop számát."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Visszaadja a riport összes lapjainak számát."

  SDescriptionMROK, "MROK/"
    "Modális eredmény konstans."

  SDescriptionMRCancel, "MRCANCEL/"
    "Modális eredmény konstans."

  SDescriptionCurY, "CURY/"
    "Visszaadja 'Y' pozicióját (pixelben), ahol a jelenlegi sáv meg fog "
    "jelenni . A CurY számára érték is adható."

  SDescriptionFreeSpace, "FREESPACE/"
    "Visszaadja a lap megmaradó részét pixelben."

  SDescriptionFinalPass, "FINALPASS/"
    "IGAZ, ha a riport-motor a végsõ menetet hajtja végre."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Visszaadja a lap magasságát pixelben."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Visszaadja a lap szélességét pixelben."

  SDescriptionProgress, "PROGRESS/"
    "A Folyamathoz adott értéket mutatja a Folyamat ablakban."

  SDescriptionModalResult, "MODALRESULT/"
    "Ha nem nulla-érték hozzárendelõdik a ModalResult-hoz, bezárja a dialógus formot."

  SDescriptionStopReport, "STOPREPORT/"
    "Megállítja a riport elkészítését."

  SDescriptionNewPage, "NEWPAGE/"
    "Kezd új lapot."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Kezd új oszlopot."

  SDescriptionShowBand, "SHOWBAND(<Sávnév>)/"
    "Mutatja a <Sávnév> nevét."

  SDescriptionINC, "INC(<Value>)/"
    "Növel <Value>-t."

  SDescriptionDEC, "DEC(<Value>)/"
    "Csökkent <Value>-t."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "Visszaadja a maximumot."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "Visszaadja a minimumot."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Visszaadja a Stringben található Alstring pozicióját."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "Megjelenít egy standard dialógus ablakot címmel, üzenettel, gombokkal."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "A <Mask> alapján a <String>-et formatálja és azt visszaadja."


  SInformation, "Információ"
  SExpressionOK, "Kifejezés Rendben!"
  STextOnly, "Csak szöveg"
  SSuppressRepeated, "Elnyom ismételt értékeket"
  SDefaultBin, "Alap"
  SDeleteObjects, "Ez törli a lapon lévõ összes objektumot."
  SWarning, "Figyelmeztetés"
  SHideZeros, "Elrejt nullákat"
  SPrintChild, "Nyomtat gyereket, ha láthatatlan"
  SUnderlines, "Aláhúzás"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "Insert Cross-tab object"
}
