#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Riport adatforrások"
  frRes + 3001, "&Jellemzõk..."
  frRes + 3002, "Uj &tábla..."
  frRes + 3003, "Uj &lekérdezés..."
  frRes + 3004, "&Eltávolít"
  frRes + 3005, "&Bezár"
  frRes + 3006, "Uj &adatbázis..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "Általános"
  frRes + 3021, "&Név"
  frRes + 3022, "&Mezõk"
  frRes + 3023, "&Mezõszerkesztõ..."
  frRes + 3024, "Egyéb"
  frRes + 3025, "&Index"
  frRes + 3026, "Szûrõ &kifejezés"
  frRes + 3027, "&Mester"
  frRes + 3028, "Me&ster mezõk"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "&Ad mezõket..."
  frRes + 3041, "Ad &keresõmezõt..."
  frRes + 3042, "&Kiválaszt mindet"
  frRes + 3043, "&Töröl"
  frRes + 3044, "&Kilép"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Elérhetõ mezõk"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Uj keresõ mezõ"
  frRes + 3071, "Mezõ"
  frRes + 3072, "&Név"
  frRes + 3073, "&Tipus"
  frRes + 3074, "&Méret"
  frRes + 3075, "Keresés definició"
  frRes + 3076, "&Kulcs mezõ"
  frRes + 3077, "&Adatforrás"
  frRes + 3078, "&Keresõ kulcs"
  frRes + 3079, "&Eredmény mezõ"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Lekérdezés jellemzõi"
  frRes + 3091, "Egyéb"
  frRes + 3092, "&Mester adatforrás"
  frRes + 3093, "Általános"
  frRes + 3094, "&Név"
  frRes + 3095, "&Alias vagy path"
  frRes + 3096, "&SQL"
  frRes + 3097, "&Mezõ szerkesztõ..."
  frRes + 3098, "&Paraméter szerkesztõ..."
  frRes + 3099, "&Betölt SQL-t fileból"
  frRes + 3100, "Me&nt SQL-t fileba"
  frRes + 3101, "SQL készítõ..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Paraméterek"
  frRes + 3111, "&Adat tipus"
  frRes + 3112, "&Név"
  frRes + 3113, "&Érték:"
  frRes + 3114, "&Adatot bekér nyomtatás elõtt"
  frRes + 3115, "Adatkijelölés &mester adatforrásból"
  frRes + 3116, "Vá&ltozók:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "&Részletezõ mezõk"
  frRes + 3131, "&Mester mezõk"
  frRes + 3132, "&Kapcsolt mezõk"
  frRes + 3133, "&Ad"
  frRes + 3134, "&Tisztít"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Paraméterek"
  frRes + 3151, "4 pont"
  frRes + 3152, "8 pont"
  frRes + 3153, "Rács igazítás"
  frRes + 3154, "Bezár"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Jellemzõk"
  frRes + 3171, "&Szöveg"
  frRes + 3172, "&Font..."
  frRes + 3173, "Keresõ"
  frRes + 3174, "&Adatforrás"
  frRes + 3175, "&Kulcs mezõ"
  frRes + 3176, "&Lista mezõ"
  frRes + 3177, "Kind"
  frRes + 3178, "&Szerkeszt"
  frRes + 3179, "&Combo"
  frRes + 3180, "Ke&resõ"
  frRes + 3181, "Combo"
  frRes + 3182, "&Auto.méret"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Adatbázis jellemzõi"
  frRes + 3201, "Általános"
  frRes + 3202, "Paraméterek"
  frRes + 3203, "&Név"
  frRes + 3204, "&Kapcsolat string"  ; for ADO
  frRes + 3205, "&File név"          ; for IBX
  frRes + 3206, "&Alias név"         ; for BDE
  frRes + 3207, "&Driver név"
  frRes + 3208, "&Login prompt"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Választ táblát"
  frRes + 3221, "Választ adatbázisból"
  frRes + 3222, "Választ fileból"
  frRes + 3223, "&Adatbázis"
  frRes + 3224, "&Tábla"
  frRes + 3225, "&Megtekint..."
;--- Strings resources -------------------------------------------------------
  SFields, "Mezõk"
  SPath, "Path"
  SRemoveDS, "A komponens törlése?"
  STables, "Táblák"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Adat menedzser"
  SParams, "Paraméterek"
  SQueryError, "Érvénytelen SQL vagy paraméter"
  STableProps, "Tábla jellemzõi"
  SParamDialog, "Paraméter dialógus"
  SInvalidParamValue, "Érvénytelen paraméter érték"
  SDatabase, "Adatbázisok"
  SFieldSizeError, "Érvénytelen mezõméret"
}
