#include "FR_Const.pas"

; Object Inspector localization
; Just add desired property name after '=' sign, for instance:
; 58092, "Suppress=Suppress repeated values"
; and you'll see "Suppress repeated values" string in the Object Inspector
; instead of "Suppress".


STRINGTABLE
{
  frRes + 5001, "Active=Aktív"
  frRes + 5002, "AliasName=Alias-név"
  frRes + 5003, "Alignment=Igazítás"
  frRes + 5004, "AutoSize=Auto. méret"
  frRes + 5005, "AutoWidth=Auto. szélesség"
  frRes + 5006, "BandAlign=Sávigazítás"
  frRes + 5007, "Barcode=Bar-kód"
  frRes + 5008, "BeginColor=Kezdõ szín"
  frRes + 5009, "BlobType=Blob típus"
  frRes + 5010, "BorderStyle=Határ stílus"
  frRes + 5011, "BottomMargin=Alj margó"
  frRes + 5012, "Breaked=Tört"
  frRes + 5013, "Caption=Felirat"
  frRes + 5014, "Center=Közép"
  frRes + 5015, "CharSpacing=Karakterköz"
  frRes + 5016, "CheckColor=Pipa színe"
  frRes + 5017, "Checked=Pipált"
  frRes + 5018, "CheckStyle=Pipa stílusa"
  frRes + 5019, "ChildBand=Gyerek-sáv"
  frRes + 5020, "Color=Szín"
  frRes + 5021, "ColumnGap=Oszloprés"
  frRes + 5022, "Columns=Oszlopok"
  frRes + 5023, "ColumnWidth=Oszlop-szélesség"
  frRes + 5024, "Connected=Kapcsolt"
  frRes + 5025, "Condition=Feltétel"
  frRes + 5026, "DatabaseName=Adatbázis-név"
  frRes + 5027, "DataField=Mezõnév"
  frRes + 5028, "DataSource=Adatforrás"
  frRes + 5029, "DisplayFormat=Megjelenítési formátum"
  frRes + 5030, "DriverName=Driver-név"
  frRes + 5031, "Enabled=Engedélyezett"
  frRes + 5032, "EndColor=Végszín"
  frRes + 5033, "Fields=Mezõk"
  frRes + 5034, "FillColor=Töltõ szín"
  frRes + 5035, "Filter=Szûrõ"
  frRes + 5036, "Font=Font"
  frRes + 5037, "FormNewPage=Form_új_lap"
  frRes + 5038, "FrameColor=Keretszín"
  frRes + 5039, "FrameStyle=Keretstílus"
  frRes + 5040, "FrameTyp=Kerettípus"
  frRes + 5041, "FrameWidth=Keret-szélesség"
  frRes + 5042, "GapX=X-rés"
  frRes + 5043, "GapY=Y-rés"
  frRes + 5044, "Gradient=Gradiens"
  frRes + 5045, "Height=Magasság"
  frRes + 5046, "HideZeros=Elrejt Nullákat"
  frRes + 5047, "Highlight=Kiemelt"
  frRes + 5048, "IndexName=Indexnév"
  frRes + 5049, "Items=Tételek"
  frRes + 5050, "KeepAspect=Arány-tartás"
  frRes + 5051, "KeyField=Kulcs-mezõ"
  frRes + 5052, "Left=Bal"
  frRes + 5053, "LeftMargin=Bal margó"
  frRes + 5054, "Lines=Sorok"
  frRes + 5055, "LineSpacing=Sorköz"
  frRes + 5056, "ListField=Lista mezõ"
  frRes + 5057, "ListSource=Lista forrása"
  frRes + 5058, "LoginPrompt=Bejelentkezés"
  frRes + 5059, "Master=Mester"
  frRes + 5060, "MasterFields=Mester mezõk"
  frRes + 5061, "MasterSource=Mester forrás"
  frRes + 5062, "Memo=Memo"
  frRes + 5063, "ModalResult=Modális eredmény"
  frRes + 5064, "Name=Név"
  frRes + 5065, "OLE=OLE"
  frRes + 5066, "OnActivate=Aktíválódáskor"
  frRes + 5067, "OnBeforePrint=Nyomtatáskor"
  frRes + 5068, "OnClick=Kattintásra"
  frRes + 5069, "OnFirstPage=Elsõ lapon"
  frRes + 5070, "OnLastPage=Utolsó lapon"
  frRes + 5071, "Orientation=Irány"
  frRes + 5072, "Params=Paraméterek"
  frRes + 5073, "Picture=Kép"
  frRes + 5074, "Position=Pozíció"
  frRes + 5075, "PrintChildIfInvisible=Nyomtat gyereket, ha láthatatlan"
  frRes + 5076, "PrintIfSubsetEmpty=Nyomtatás, ha az alriport üres"
  frRes + 5077, "PrintToPrevPage=Nyomtat elõzõ lapra"
  frRes + 5078, "ReadOnly=Csak olvasható"
  frRes + 5079, "RepeatHeader=Ismétel fejlécet"
  frRes + 5080, "Restrictions=Korlátozások"
  frRes + 5081, "RightMargin=Jobb margó"
  frRes + 5082, "RoundRect=Kerekített"
  frRes + 5083, "RoundSize=Kereítési méret"
  frRes + 5084, "ShadowColor=Árnyék-szín"
  frRes + 5085, "ShadowWidth=Árnyék-szélesség"
  frRes + 5086, "Shape=Forma"
  frRes + 5087, "Size=Méret"
  frRes + 5088, "SQL=SQL parancs"
  frRes + 5089, "Stretched=Nyújtott"
  frRes + 5090, "StretchToPrintable=Nyújtás nyomtatható területen"
  frRes + 5091, "Style=Stílus"
  frRes + 5092, "Suppress=Elnyom"
  frRes + 5093, "TableName=Tábla neve"
  frRes + 5094, "Tag=Tag"
  frRes + 5095, "Text=Szöveg"
  frRes + 5096, "TextOnly=Csak szöveg"
  frRes + 5097, "Top=Tetõ"
  frRes + 5098, "TopMargin=Tetõ margó"
  frRes + 5099, "Type=Típus"
  frRes + 5100, "Underlines=Aláhúzás"
  frRes + 5101, "Visible=Látható"
  frRes + 5102, "Width=Szélesség"
  frRes + 5103, "WordBreak=Szótörés"
  frRes + 5104, "WordWrap=Szó-elválasztás"
}
