#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "查找文本"
  frRes + 1, "待查文本(&F)"
  frRes + 2, "选项"
  frRes + 3, "大小写敏感(&C)"
  frRes + 4, "起点"
  frRes + 5, "首页(&1)"
  frRes + 6, "当前页(&P)"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "页宽(&P)"
  frRes + 21, "全页(&W)"
  frRes + 22, "双页(&T)"
  frRes + 23, "关闭预览"
  frRes + 24, "放缩"
  frRes + 25, "打开报表"
  frRes + 26, "保存报表"
  frRes + 27, "打印报表"
  frRes + 28, "查找文本"
  frRes + 29, "编辑页"
  frRes + 30, "增加页"
  frRes + 31, "删除页"
  frRes + 32, "显示帮助"
;--- PrintForm resources -----------------------------------------------------
  frRes + 40, "打印"
  frRes + 41, "打印机"
  frRes + 42, "属性"
  frRes + 43, "打印份数"
  frRes + 44, "页范围"
  frRes + 45, "全部(&A)"
  frRes + 46, "当前页(&g)"
  frRes + 47, "页(&P):"
  frRes + 48, "输入页号或页范围,逗号分隔.例如: 1,3,5-12"
  frRes + 49, "名称(&N):"
  frRes + 50, "打印份数(&c):"
  frRes + 51, "对齐(&l)"
  frRes + 52, "打印(&r)"
  frRes + 53, "全部页"
  frRes + 54, "奇数页"
  frRes + 55, "偶数页"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "文本导出选项"
  frRes + 1801, "压缩空行(&K)"
  frRes + 1802, "转换到DOS(&D)"
  frRes + 1803, "导出框线(&)"
  frRes + 1804, "使用DOS伪图形(&p)"
  frRes + 1805, "插入页分隔(&b)"
  frRes + 1806, "放缩比例"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "CSV 导出选项"
  frRes + 1811, "&CSV 分隔"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "RTF 导出选项"
  frRes + 1821, "导出图片(&p)"
  frRes + 1822, "转换表格(&t)"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "HTML 导出选项"
;--- EXCELExportForm resources
  frRes + 1840, "Excel file OLE (*.xls)"
  frRes + 1841, "Objects: "
  frRes + 1842, " - Remained time: "
  frRes + 1843, "Please wait ..."
  frRes + 1844, "Export to Excel"
  frRes + 1845, " Page properties "
  frRes + 1846, "Top margin"
  frRes + 1847, "Left margin"
  frRes + 1848, "Scale on X"
  frRes + 1849, "Scale on Y"
  frRes + 1850, " Quality settings "
  frRes + 1851, "Merged"
  frRes + 1852, "Align"
  frRes + 1853, "Fill color"
  frRes + 1854, "Borders"
  frRes + 1855, "Words wrap"
  frRes + 1856, "Font name"
  frRes + 1857, "Font size"
  frRes + 1858, "Font style"
  frRes + 1859, "Font color"
  frRes + 1860, "Page breaks"
  frRes + 1861, "Better"
  frRes + 1862, "Faster"
  frRes + 1863, "Pictures"
  frRes + 1864, "Open Excel after export"
  frRes + 1865, "Prepare Y pos: "
  frRes + 1866, "Prepare X pos: "
;--- RTFExportForm resources
  frRes + 1870, "Rich text file advanced (*.rtf)"
  frRes + 1871, "Export to RTF"
;--- IMGExportForm resources
  frRes + 1875, "BMP file (*.bmp)"
  frRes + 1876, "TIFF file (*.tif)"
  frRes + 1877, "JPEG file (*.jpg)"
  frRes + 1878, "Export to picture"
  frRes + 1879, "Image settings"
  frRes + 1880, "Quality (for JPEG)"
  frRes + 1881, "Crop pages"
  frRes + 1882, "Monochrome"
;--- Advanced CROSS
  frRes + 2600, "Grand total"
  frRes + 2601, "Total"      
  frRes + 2602, "Total of "   
  frRes + 2603, "Cell"
  frRes + 2604, "Header" 
  frRes + 2605, "Repeat captions"
  frRes + 2606, "Internal frame"
  frRes + 2607, "Show header"
;--- Functions in 2.50
  frRes + 2620, "Database"
  frRes + 2621, "FIELDISNULL(<FieldName>)/Returns 'true' if DB-field is null"
  frRes + 2622, "Report info"
  frRes + 2623, "REPORTCOMMENT/Returns report comment"
  frRes + 2624, "REPORTNAME/Returns report name"
  frRes + 2625, "REPORTAUTOR/Returns report author"
  frRes + 2626, "VMAJOR/Returns version major"
  frRes + 2627, "VMINOR/Returns version minor"
  frRes + 2628, "VRELEASE/Returns version release"
  frRes + 2629, "VBUILD/Returns version build"
  frRes + 2630, "REPORTDATE/Returns report create date"
  frRes + 2631, "REPORTLASTCHANGE/Returns report modification date"
;--- Designer 2.50
  frRes + 2650, "Syntax highlight"
  frRes + 2651, "Syntax highlight enabled"
  frRes + 2652, "Disable undo"
  frRes + 2653, "Password"
  frRes + 2654, "Enter password for opening report"
  frRes + 2655, "Retype password for validate"
  frRes + 2656, "General"
  frRes + 2657, "Password protected"
  frRes + 2658, "Document"
  frRes + 2659, "Attribute"
  frRes + 2660, "Name"
  frRes + 2661, "Author"
  frRes + 2662, "Version"
  frRes + 2663, "Major"
  frRes + 2664, "Minor"
  frRes + 2665, "Release"
  frRes + 2666, "Build"
  frRes + 2667, "Description"
  frRes + 2668, "Comment"
  frRes + 2669, "Modified"
  frRes + 2670, "Created"

;-- Additions in 2.52
;-- OLE Excel export
  frRes + 2700, "Styles"
;-- XML Excel export
  frRes + 2710, "Excel table (XML) file (*.xls)"
  frRes + 2711, "XML table file (*.xml)"
  frRes + 2712, "Export to XML"
  frRes + 2713, "Export to Excel (XML)"
  frRes + 2714, "Numbers"
;-- HTML Table export
  frRes + 2720, "HTML table file (*.html)"
  frRes + 2721, "Export to HTML"
  frRes + 2722, "Pictures"
  frRes + 2723, "All in one folder"
  frRes + 2724, "Open in default browser after export"
  frRes + 2725, "Fixed width"
  frRes + 2726, "Page navigator"
  frRes + 2727, "Multipage"
  frRes + 2728, "Mozilla frames"
  frRes + 2729, "Pages"
  frRes + 2730, "Advanced"
;-- Text advanced export
  frRes + 2740, "Text (dot-matrix printer) (*.prn)"
  frRes + 2741, "Export to text (dot-matrix printer)"
  frRes + 2742, "Preview on/off"
  frRes + 2743, "Printer init setup"
  frRes + 2744, " Export properties "
  frRes + 2745, "Page breaks"
  frRes + 2746, "OEM codepage"
  frRes + 2747, "Empty lines"
  frRes + 2748, "Lead spaces"
  frRes + 2749, " Scaling "
  frRes + 2750, "Width"
  frRes + 2751, "Height"
  frRes + 2752, " Frames "
  frRes + 2753, "None"
  frRes + 2754, "Simple"
  frRes + 2755, "Only with OEM codepage"
  frRes + 2756, "Graphic"
  frRes + 2757, "Print after export"
  frRes + 2758, "Save settings"
  frRes + 2759, " Preview "
  frRes + 2760, "Width:"
  frRes + 2761, "Height:"
  frRes + 2762, "Page"
  frRes + 2763, "Enlarge preview"
  frRes + 2764, "Reduce preview"
  frRes + 2765, "Printer init setup"
  frRes + 2766, "Printer type"
  frRes + 2767, "Load"
  frRes + 2768, "Save"
  frRes + 2769, "Printer init template (*.fpi)|*.fpi"

;--- Strings resources -------------------------------------------------------
  SOk, "确认"
  SCancel, "取消"
  SYes, "是"
  SNo, "否"
  SPg, "页"
  SNotAssigned, "[无]"
  SDefaultPrinter, "虚拟打印机"
  SBand1, "报表标题"
  SBand2, "报表合计"
  SBand3, "页头"
  SBand4, "页脚"
  SBand5, "主项头"
  SBand6, "主项数据"
  SBand7, "主项脚"
  SBand8, "细项头"
  SBand9, "细项数据"
  SBand10, "细项脚"
  SBand11, "子细项头"
  SBand12, "子细项数据"
  SBand13, "子细项脚"
  SBand14, "覆盖"
  SBand15, "栏目头"
  SBand16, "栏目脚"
  SBand17, "分组头"
  SBand18, "分组脚"
  SBand19, "交叉表头"
  SBand20, "交叉表数据"
  SBand21, "交叉表脚"
  SBand22, "子"
  SBand23, "无"
  SCateg1, "文本"
  SCateg2, "数字"
  SCateg3, "日期"
  SCateg4, "时间"
  SCateg5, "布尔"
  SFormat11, "[无]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "自定义"
  SFormat31, "98.11.15"
  SFormat32, "1998.11.15"
  SFormat33, "1998年11月15日"
  SFormat34, "1998年11月15日"
  SFormat35, "自定义"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "自定义"
  SFormat51, "0;1"
  SFormat52, "否;是"
  SFormat53, "_;x"
  SFormat54, "假;真"
  SFormat55, "自定义"
  SDateFormat1, "yy.mm.dd"
  SDateFormat2, "yyyy.mm.dd"
  SDateFormat3, "yyyy''年''mm''月''dd''日''"
  SDateFormat4, "yyyy''年''mm''月''dd''日''"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "从"
  SErrorOccured, "计算时发生错误"
  SDoc, "报表:"
  SObject, "对象:"
  SReportPreparing, "正在准备报表"
  SFirstPass, "进行第一次处理:"
  SPagePreparing, "正在处理页:"
  SError, "错误"
  SPreview, "预览"
  SPagePrinting, "正在打印页:"
  SUntitled, "Untitled"
  SPrinterError, "所选打印机错误"
  SRepFile, "Report 文件"
  STextFile, "ASCII Text 文件"
  SRTFFile, "Rich Text 文件"
  SCSVFile, "CSV 文件"
  SHTMFile, "HTML 文件"
  SFont, "字体..."
  SCharset, "1"
  SBarcodeError, "条码错误"
  SFRFError, "不支持的FRF格式"
  SUndefinedSymbol, "符号没定义"
}
