#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "对象查看器"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "文本编辑器"
  frRes + 61, "插入表达式"
  frRes + 62, "插入数据字段"
  frRes + 63, "自动折行"
  frRes + 64, "显示/隐藏 script"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "设计器"
  frRes + 81, "矩形"
  frRes + 82, "标准"
  frRes + 83, "文本"
  frRes + 84, "对象"
  frRes + 85, "对齐方式"
  frRes + 86, "工具"
  frRes + 87, "新建报表"
  frRes + 88, "打开报表"
  frRes + 89, "保存报表"
  frRes + 90, "预览报表"
  frRes + 91, "剪切"
  frRes + 92, "复制"
  frRes + 93, "粘贴"
  frRes + 94, "取消最后一次操作"
  frRes + 95, "重做取消的操作"
  frRes + 96, "放在最前面"
  frRes + 97, "放到最后面"
  frRes + 98, "全选"
  frRes + 99, "添加页"
  frRes + 100, "删除页"
  frRes + 101, "页选项"
  frRes + 102, "栅格"
  frRes + 103, "栅格对齐"
  frRes + 104, "匹配栅格"
  frRes + 105, "关闭"
  frRes + 106, "关闭设计器"
  frRes + 107, "左对齐"
  frRes + 108, "右对齐"
  frRes + 109, "中间对齐"
  frRes + 110, "转90度"
  frRes + 111, "垂向中间对齐"
  frRes + 112, "顶端对齐"
  frRes + 113, "底端对齐"
  frRes + 114, "宽度对齐"
  frRes + 115, "粗体"
  frRes + 116, "斜体"
  frRes + 117, "下划线"
  frRes + 118, "字体颜色"
  frRes + 119, "条件高亮度"
  frRes + 120, "字体大小"
  frRes + 121, "字体名称"
  frRes + 122, "顶框线"
  frRes + 123, "左框线"
  frRes + 124, "底框线"
  frRes + 125, "右框线"
  frRes + 126, "有框线"
  frRes + 127, "无框线"
  frRes + 128, "背景色"
  frRes + 129, "框线色"
  frRes + 130, "框线宽"
  frRes + 131, "框线宽"
  frRes + 132, "选择对象"
  frRes + 133, "插入矩形对象"
  frRes + 134, "插入 band"
  frRes + 135, "插入图片"
  frRes + 136, "插入子报表"
  frRes + 137, "画线"
  frRes + 138, "左边缘对齐"
  frRes + 139, "水平中心对齐"
  frRes + 140, "窗口水平中心对齐"
  frRes + 141, "水平均匀分布"
  frRes + 142, "右边缘对齐"
  frRes + 143, "顶端对齐"
  frRes + 144, "垂向中心对齐"
  frRes + 145, "窗口垂向中心对齐"
  frRes + 146, "垂向均匀分布"
  frRes + 147, "底端对齐"
  frRes + 148, "剪切(&U)"
  frRes + 149, "复制(&C)"
  frRes + 150, "粘贴(&P)"
  frRes + 151, "删除(&D)"
  frRes + 152, "全选(&a)"
  frRes + 153, "编辑(&E)..."
  frRes + 154, "文件(&F)"
  frRes + 155, "新建(&N)..."
  frRes + 156, "打开(&O)..."
  frRes + 157, "保存(&S)"
  frRes + 158, "数据字典(&D)..."
  frRes + 159, "报表设置(&R)..."
  frRes + 160, "页面设置(&P)..."
  frRes + 161, "预览(&V)"
  frRes + 162, "退出(&x)"
  frRes + 163, "编辑(&E)"
  frRes + 164, "取消(&Undo)"
  frRes + 165, "重做(&Redo)"
  frRes + 166, "剪切(&U)"
  frRes + 167, "复制(&C)"
  frRes + 168, "粘贴(&P)"
  frRes + 169, "删除(&D)"
  frRes + 170, "全选(&a)"
  frRes + 171, "编辑(&E)..."
  frRes + 172, "添加页(&A)"
  frRes + 173, "删除页(&R)"
  frRes + 174, "放到最前面(&f)"
  frRes + 175, "放到最后面(&b)"
  frRes + 176, "工具(&T)"
  frRes + 177, "工具栏(&T)"
  frRes + 178, "工具箱(&l)"
  frRes + 179, "选项(&O)..."
  frRes + 180, "矩形(&R)"
  frRes + 181, "标准(&S)"
  frRes + 182, "文本(&T)"
  frRes + 183, "对象(&O)"
  frRes + 184, "对象查看器(&I)"
  frRes + 185, "对齐工具栏(&A)"
  frRes + 186, "工具箱(&l)"
  frRes + 187, "关于(&A)..."
  frRes + 188, "保存(&a)..."
  frRes + 189, "帮助内容(&H)"
  frRes + 190, "帮助工具(&t)"
  frRes + 191, "线型"
  frRes + 192, "添加对话框(&f)"
  frRes + 193, "添加对话框"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "对象限定"
  frRes + 261, "不能编辑 &memo"
  frRes + 262, "不能编辑 &script"
  frRes + 263, "不能编辑内容 &contents"
  frRes + 264, "不能修改(&d)"
  frRes + 265, "不能改变大小(&z)"
  frRes + 266, "不能移动(&v)"
  frRes + 267, "不能删除(&l)"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "选项"
  frRes + 281, "设计器"
  frRes + 282, "栅格"
  frRes + 283, "画对象"
  frRes + 284, "报表单位"
  frRes + 285, "栅格大小"
  frRes + 286, "显示栅格(&S)"
  frRes + 287, "栅格对齐(&g)"
  frRes + 288, "彩色按钮（&b）"
  frRes + 289, "&4 象素"
  frRes + 290, "&8 象素"
  frRes + 291, "&18 象素 (5mm)"
  frRes + 293, "移动或改变对象大小时,显示内容"
  frRes + 294, "象素(&P)"
  frRes + 295, "毫米(&MM)"
  frRes + 296, "英寸(&Inches)"
  frRes + 297, "其它"
  frRes + 298, "插入后编辑(&E)"
  frRes + 299, "显示band标题(&t)"
  frRes + 300, "页位置"
  frRes + 301, "中心(&r)"
  frRes + 302, "左(&f)"
  frRes + 303, "右(&h)"
  frRes + 304, "编辑器"
  frRes + 305, "文本编辑器"
  frRes + 306, "使用对象的字体设置(&U)"
  frRes + 307, "使用固定设置(&f):"
  frRes + 308, "字体名称:"
  frRes + 309, "字体大小:"
  frRes + 310, "Script 编辑器"
  frRes + 311, "Localized property names"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "新建报表"
  frRes + 319, "描述"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "新建报表模板"
  frRes + 321, "注释(&C)"
  frRes + 322, "图标"
  frRes + 323, "文件(&F)..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "数据字典"
  frRes + 341, "变量"
  frRes + 342, "字段别名"
  frRes + 343, "Band 数据源"
  frRes + 344, "变量(&r)"
  frRes + 345, "值(&l)"
  frRes + 346, "表达式(&x)"
  frRes + 347, "新建目录"
  frRes + 348, "新建变量"
  frRes + 349, "编辑"
  frRes + 350, "删除"
  frRes + 351, "编辑列表"
  frRes + 352, "数据集及字段"
  frRes + 353, "所有数据集"
  frRes + 354, "外观(&A)"
  frRes + 355, "别名(&l)"
  frRes + 356, "从列表中排除字段(&x)"
  frRes + 357, "数据源"
  frRes + 358, "所有数据源"
  frRes + 359, "保存(&S)..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "变量列表"
  frRes + 361, "目录及变量(&C)"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "报表设置"
  frRes + 371, "打印机"
  frRes + 372, "装入报表时选择(&S)"
  frRes + 373, "其它"
  frRes + 374, "两遍报表(&T)"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "页面设置"
  frRes + 391, "纸张"
  frRes + 392, "打印方向"
  frRes + 393, "纵向(&P)"
  frRes + 394, "横向(&L)"
  frRes + 395, "大小"
  frRes + 396, "宽度(&W), mm"
  frRes + 397, "高度(&H), mm"
  frRes + 398, "边界"
  frRes + 399, "页边界"
  frRes + 400, "左(&L), mm"
  frRes + 401, "顶(&T), mm"
  frRes + 402, "右(&R), mm"
  frRes + 403, "底(&B), mm"
  frRes + 404, "伸展至打印区(&S)"
  frRes + 405, "选项"
  frRes + 406, "选项"
  frRes + 407, "打印到前一页(&P)"
  frRes + 408, "分栏"
  frRes + 409, "栏数(&N)"
  frRes + 410, "栏间隔(&C), mm"
  frRes + 411, "源"
  frRes + 412, "进纸源"
  frRes + 413, "&Unlimited height"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "变量格式"
  frRes + 421, "变量格式"
  frRes + 422, "小数位(&D)"
  frRes + 423, "小数位分隔符(&s)"
  frRes + 424, "自定义格式(&f)"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "变量"
  frRes + 441, "目录(&C):"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "插入数据字段"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "图片"
  frRes + 461, "伸展(&S)"
  frRes + 462, "装入(&L)..."
  frRes + 463, "清除(&C)"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Band 数据源"
  frRes + 481, "数据源(&D)"
  frRes + 482, "记录数(&R)"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Band 数据源"
  frRes + 486, "Bands"
  frRes + 487, "数据源"
  frRes + 488, "记录数(&R)"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "分组"
  frRes + 491, "条件(&C)"
  frRes + 492, "插入数据字段"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "插入新 band"
  frRes + 511, "Band 类型"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "条件高亮度"
  frRes + 521, "条件(&C)"
  frRes + 522, "字体"
  frRes + 523, "颜色(&o)..."
  frRes + 524, "粗体(&B)"
  frRes + 525, "斜体(&I)"
  frRes + 526, "下划线(&U)"
  frRes + 527, "背景"
  frRes + 528, "颜色(&l)..."
  frRes + 529, "透明(&T)"
  frRes + 530, "其它(&h)"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "关于FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE 对象"
  frRes + 551, "插入(&I)..."
  frRes + 552, "编辑(&E)..."
  frRes + 553, "关闭(&C)"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "打开..."
  frRes + 562, "保存..."
  frRes + 563, "取消"
  frRes + 564, "粗体"
  frRes + 565, "斜体"
  frRes + 566, "左对齐"
  frRes + 567, "中间对齐"
  frRes + 568, "右对齐"
  frRes + 569, "下划线"
  frRes + 570, "列表"
  frRes + 571, "字体"
  frRes + 572, "取消"
  frRes + 573, "保存退出"
  frRes + 574, "Var"
  frRes + 575, "插入表达式"
  frRes + 576, "字体"
  frRes + 577, "字体大小"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Chart 对象"
  frRes + 591, "类型"
  frRes + 592, "数据"
  frRes + 593, "类型"
  frRes + 594, "对象名称"
  frRes + 595, "选项"
  frRes + 596, "&3D"
  frRes + 597, "单线(&S)"
  frRes + 598, "显示图例(&l)"
  frRes + 599, "显示轴(&a)"
  frRes + 600, "显示标记(&m)"
  frRes + 601, "多色显示(&r)"
  frRes + 602, "图例(&l)"
  frRes + 603, "值(&v)"
  frRes + 604, "标记"
  frRes + 605, "风格"
  frRes + 606, "值"
  frRes + 607, "百分率"
  frRes + 608, "标号"
  frRes + 609, "标号及百分率"
  frRes + 610, "标号及值"
  frRes + 611, "前十个分组"
  frRes + 612, "顶端显示(&S)"
  frRes + 613, "标号(&b)"
  frRes + 614, "值"
;--- 插入FieldsForm resources ----------------------------------------------
  frRes + 630, "插入字段"
  frRes + 631, "可用表(&A)"
  frRes + 632, "放置"
  frRes + 633, "水平(&H)"
  frRes + 634, "垂向(&V)"
  frRes + 635, "包含头(&I)"
  frRes + 636, "包含(&bands)"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "条码编辑器"
  frRes + 651, "代码(&C)"
  frRes + 652, "条码类型(&T)"
  frRes + 653, "选项"
  frRes + 654, "校验和"
  frRes + 655, "目读数字(&H)"
  frRes + 656, "插入表达式"
  frRes + 657, "插入变量"
  frRes + 658, "旋转"
  frRes + 659, "&放大:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "属性编辑器"
  frRes + 671, "例:"
  frRes + 672, "表达式(&E)..."
  frRes + 673, "数据库字段(&D)..."
  frRes + 674, "倾斜颜色(&G)"
  frRes + 675, "阴影宽度(&S)"
  frRes + 676, "颜色"
  frRes + 677, "曲线(&C)"
  frRes + 678, "框区域(&F)"
  frRes + 679, "终止颜色"
  frRes + 680, "起始颜色"
  frRes + 681, "风格(&S)"
  frRes + 682, "垂向,水平,椭圆,矩形,水平_中心,垂向_中心"
  frRes + 683, "点这里定义阴影色及倾斜颜色"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "表达式编辑器"
  frRes + 701, "表达式"
  frRes + 702, "插入"
  frRes + 703, "字段(&D)..."
  frRes + 704, "变量(&V)..."
  frRes + 705, "函数(&F)..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "可用函数"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "函数参数"
  frRes + 731, "参数"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "对象tag"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Cross-tab view"
  frRes + 751, "Cross-tab dataset"
  frRes + 752, "Subtotals"
  frRes + 753, "Function"
  frRes + 754, "Cross-tab editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "删除该页吗?"
  SConfirm, "确认"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "自定义"
  SSystemVariables, "系统变量"
  SVar1, "页#"
  SVar2, "表达式"
  SVar3, "日期"
  SVar4, "时间"
  SVar5, "行#"
  SVar6, "行 through#"
  SVar7, "列#"
  SVar8, "当前行#"
  SVar9, "总页数"
  SStretched, "伸展"
  SVarFormat, "变量格式..."
  SWordWrap, "自动折行"
  SWordBreak, ""
  SFormNewPage, "强迫换页"
  SPrintIfSubsetEmpty, "为空时打印"
  SBreaked, "分隔"
  SPictureCenter, "图片中心化"
  SKeepAspectRatio, "保持纵横比"
  SFormFile, "FastReport 表单"
  SForm3File, "FastReport3 表单"
  STemplFile, "FastReport 模版"
  SDictFile, "FastReport 字典"
  SPictFile, "图片文件"
  SBMPFile, "位图文件"
  SAllFiles, "所有文件"
  SInsOLEObject, "插入 OLE 对象"
  SInsRichObject, "插入 RichText 对象"
  SInsRich2Object, "插入 RX RichText 对象"
  SInsCheckBox, "插入 CheckBox 对象"
  SInsChart, "插入 Chart 对象"
  SInsShape, "插入 Shape 对象"
  SInsBarcode, "插入 Barcode 对象"
  SInsRoundRect, "插入带阴影的RoundRect"
  SSubReportOnPage, "在页面打印子报表"
  SPicture, "[图片]"
  STransparent, "透明"
  SOther, "其它..."
  SOnFirstPage, "在第一页"
  SOnLastPage, "在最后一页"
  SRepeatHeader, "显示所有页"
  SDesignReport, "设计报表"
  SInsertFields, "插入数据库字段"
  SSaveChanges, "保存变动"
  STo, "到"
  SPixels, "象素"
  SMM, "MM"
  SInches, "英寸"
  SVirtualDataset, "虚拟数据集"
  SAutoSize, "自动大小"
  SFRVariables, "FR 变量"
  SClearContents, "清除内容"

  SAllCategories, "所有函数"
  SAggregateCategory, "求整"
  SDateTimeCategory, "日期/时间"
  SStringCategory, "字符串"
  SOtherCategory, "其它"
  SMathCategory, "数学"
  SBoolCategory, "逻辑"
  SIntrpCategory, "解释器"

  SDescriptionAVG, "AVG(<Expression> [,BandName [,1]])/"
    "计算给定行的[BandName]上 <Expression>的平均值. "
    "如果用[1]参数,则计算亦包含非可见行的."

  SDescriptionCOUNT, "COUNT(<BandName>)/"
    "返回给定<BandName>上的数据行数. "

  SDescriptionDAYOF, "DAYOF(<Date>)/"
    "返回<Date>的日期数(1..31)."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DateTime>)/"
    "按<Fmt>转换 <DateTime> 值为字符串."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numeric>)/"
    "按<Fmt>转换<Numeric>值为字符串."

  SDescriptionINPUT, "INPUT(<Caption> [,Default])/"
    "显示带编辑的对话框，标题为 <Caption>. "
    "如设置了[Default],则把该值放入编辑框里. "
    "当用户按[确认]按钮，则返回输入字符串."

  SDescriptionLENGTH, "LENGTH(<String>)/"
    "返回<String>的长度."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "转换<String>为小写."

  SDescriptionMAX, "MAX(<Expression> [,BandName [,1]])/"
    "计算[BandName]上<Expression>最大值. "
    "若使用[1]参数,则计算包括非可见行."

  SDescriptionMIN, "MIN(<Expression> [,BandName [,1]])/"
     "计算[BandName]上<Expression>最小值. "
     "若使用[1]参数,则计算包括非可见行."

  SDescriptionMONTHOF, "MONTHOF(<Date>)/"
    "返回<Date>月值(1..12)."

  SDescriptionNAMECASE, "NAMECASE(<String>)/"
    "转换<String>符号为小写,""首字符大写."

  SDescriptionSTRTODATE, "STRTODATE(<String>)/"
    "转换<String>为日期型."

  SDescriptionSTRTOTIME, "STRTOTIME(<String>)/"
    "转换<String>为时间型."

  SDescriptionSUM, "SUM(<Expression> [,BandName [,1]])/"
    "计算[BandName]上<Expression>的和. "
    "若使用[1]参数,则计算包括非可见行."

  SDescriptionTRIM, "TRIM(<String>)/"
    "返回去掉<String>前后空格的字符串 "
    
  SDescriptionUPPERCASE, "UPPERCASE(<String>)/"
    "转换<String> 为大写."

  SDescriptionYEAROF, "YEAROF(<Date>)/"
    "返回<Date>年部分."

  SDescriptionIF, "IF(<Expression>, <Value1>, <Value2>)/"
    "如表达式<Expression> 为真，返回 <Value1>; "
    "否则，返回 <Value1>"

  SDescriptionCOPY, "COPY(<String>, <From>, <Count>)/"
    "返回<string>的子串."

  SDescriptionMOD, "<Value1> MOD <Value2>/"
    "返回模运算."

  SDescriptionSTR, "STR(<Value>)/"
    "转换数值<Value>为字符串."

  SDescriptionNOT, "NOT <Value>/"
    "逻辑 'NOT'."

  SDescriptionAND, "<Value1> AND <Value2>/"
    "逻辑 'AND'."

  SDescriptionOR, "<Value1> OR <Value2>/"
    "逻辑 'OR'."

  SDescriptionROUND, "ROUND(<Value>)/"
    "返回 <Value>取整舍入."

  SDescriptionFRAC, "FRAC(<Value>)/"
    "返回<Value>小数部分."

  SDescriptionINT, "INT(<Value>)/"
    "返回<Value>整数部分."

  SDescriptionTRUE, "TRUE/"
    "逻辑 'TRUE'."

  SDescriptionFALSE, "FALSE/"
    "逻辑 'FALSE'."

  SDescriptionPAGE, "PAGE#/"
    "返回当前页数."

  SDescriptionDATE, "DATE/"
    "返回当前日期."

  SDescriptionTIME, "TIME/"
    "返回当前时间."

  SDescriptionLINE, "LINE#/"
    "返回数据行数(从分组起始位置起)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "返回数据行数(从报表起始位置起)."

  SDescriptionCOLUMN, "COLUMN#/"
    "返回当前栏目数."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "报表总页数."

  SDescriptionMROK, "MROK/"
    "对话框常量."

  SDescriptionMRCancel, "MRCANCEL/"
    "对话框常量."

  SDescriptionCurY, "CURY/"
    "返回当前Band显示的'Y'向(象素)坐标 "
    
  SDescriptionFreeSpace, "FREESPACE/"
    "返回剩余页面空象素."

  SDescriptionFinalPass, "FINALPASS/"
    "若是最后扫描返回True."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "页高度象素."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "页宽度象素."

  SDescriptionProgress, "PROGRESS/"
    "显示在进程窗口的进程值."

  SDescriptionModalResult, "MODALRESULT/"
    "赋非零值导致关闭对话框."

  SDescriptionStopReport, "STOPREPORT/"
    "停止报表处理."

  SDescriptionNewPage, "NEWPAGE/"
    "开始新页."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "开始新栏目."

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "显示<BandName>."

  SDescriptionINC, "INC(<Value>)/"
    "递增 <Value>."

  SDescriptionDEC, "DEC(<Value>)/"
    "递减 <Value>."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "返回最大值."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "返回最小值."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "返回子字符串在给定字符串中的位置."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "显示以<Text>,<Title>标准对话框,按钮<Buttons>."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "以<Mask>格式化给定字符串<String>."


  SInformation, "信息"
  SExpressionOK, "表达式通过!"
  STextOnly, "只能是文本"
  SSuppressRepeated, "压缩重复值"
  SDefaultBin, "缺省"
  SDeleteObjects, "这将删除该页所有对象."
  SWarning, "警告"
  SHideZeros, "隐藏零值"
  SPrintChild, "打印子Band不可见"
  SUnderlines, "下划线"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "Insert Cross-tab object"
}
