#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "报表数据集"
  frRes + 3001, "属性(&P)..."
  frRes + 3002, "新建表(&table)..."
  frRes + 3003, "新建查询(&query)..."
  frRes + 3004, "删除(&R)"
  frRes + 3005, "关闭(&C)"
  frRes + 3006, "新建数据库(&database)..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "一般"
  frRes + 3021, "名(&N)"
  frRes + 3022, "字段(&Fields)"
  frRes + 3023, "字段编辑器(&F)..."
  frRes + 3024, "其它"
  frRes + 3025, "索引(&I)"
  frRes + 3026, "过滤表达式(&e)"
  frRes + 3027, "主表(&M)"
  frRes + 3028, "主表字段(&s)"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "添加字段(&A)..."
  frRes + 3041, "添加查找字段（&l）..."
  frRes + 3042, "全选(&S)"
  frRes + 3043, "删除(&D)"
  frRes + 3044, "退出(&E)"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, " 可用字段"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "新建查找字段"
  frRes + 3071, "字段"
  frRes + 3072, "名称(&N)"
  frRes + 3073, "类型(&T)"
  frRes + 3074, "长度(&S)"
  frRes + 3075, "查找定义"
  frRes + 3076, "关键字段(&Key)"
  frRes + 3077, "数据表(&D)"
  frRes + 3078, "查找关键字段(&L)"
  frRes + 3079, "结果字段(&R)"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Query 属性"
  frRes + 3091, "其它"
  frRes + 3092, "主数据集(&M)"
  frRes + 3093, "一般"
  frRes + 3094, "&名称"
  frRes + 3095, "&别名或路径"
  frRes + 3096, "&SQL"
  frRes + 3097, "字段编辑器(&F)..."
  frRes + 3098, "参数编辑器(&P)..."
  frRes + 3099, "从文件装入SQL"
  frRes + 3100, "保存SQL到文件"
  frRes + 3101, "SQL 编辑器..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "参数"
  frRes + 3111, "数据类型(&D)"
  frRes + 3112, "名称(&N)"
  frRes + 3113, "值(&V):"
  frRes + 3114, "打印前请求输入参数值(&A)"
  frRes + 3115, "从主数据集赋值(&m)"
  frRes + 3116, "变量(&r):"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "明细字段(&D)"
  frRes + 3131, "主字段(&M)"
  frRes + 3132, "连接字段(&J)"
  frRes + 3133, "添加(&A)"
  frRes + 3134, "清除(&C)"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "参数"
  frRes + 3151, "4 点"
  frRes + 3152, "8 点"
  frRes + 3153, "栅格对齐"
  frRes + 3154, "关闭"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "属性"
  frRes + 3171, "文本(&T)"
  frRes + 3172, "字体(&F)..."
  frRes + 3173, "查找"
  frRes + 3174, "数据集(&D)"
  frRes + 3175, "关键字段(&K)"
  frRes + 3176, "列表字段(&L)"
  frRes + 3177, "类型"
  frRes + 3178, "&Edit"
  frRes + 3179, "&Combo"
  frRes + 3180, "Look&up"
  frRes + 3181, "Combo"
  frRes + 3182, "自动大小(&A)"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "数据库属性"
  frRes + 3201, "一般"
  frRes + 3202, "参数"
  frRes + 3203, "名称(&N)"
  frRes + 3204, "连接字符串(&C)"  ; for ADO
  frRes + 3205, "文件名(&F)"          ; for IBX
  frRes + 3206, "别名(&A)"         ; for BDE
  frRes + 3207, "驱动器名(&D)"
  frRes + 3208, "登录提示(&L)"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "选择表"
  frRes + 3221, "从数据库(database)中选"
  frRes + 3222, "从文件中选Select from file"
  frRes + 3223, "数据库(&D)"
  frRes + 3224, "表(&T)"
  frRes + 3225, "浏览(&B)..."
;--- Strings resources -------------------------------------------------------
  SFields, "字段"
  SPath, "路径"
  SRemoveDS, "确认删除部件吗?"
  STables, "表格"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "数据管理"
  SParams, "参数"
  SQueryError, "非法SQL语句或参数"
  STableProps, "表属性"
  SParamDialog, "参数对话框"
  SInvalidParamValue, "非法参数值"
  SDatabase, "数据库"
  SFieldSizeError, "非法字段长度"
}
