
; Object Inspector localization
; Just add desired property name after '=' sign, for instance:
; 58092, "Suppress=Suppress repeated values"
; and you'll see "Suppress repeated values" string in the Object Inspector
; instead of "Suppress".


#include "FR_Const.pas"

STRINGTABLE
{
  frRes + 5001, "Active=Aktiv"
  frRes + 5002, "AliasName=Aliasnamn"
  frRes + 5003, "Alignment=Justering"
  frRes + 5004, "AutoSize=Automatisk storlek"
  frRes + 5005, "AutoWidth=Automatisk bredd"
  frRes + 5006, "BandAlign=Bandjustering"
  frRes + 5007, "Barcode=Streckkod"
  frRes + 5008, "BeginColor=Startfärg"
  frRes + 5009, "BlobType=Blobtyp"
  frRes + 5010, "BorderStyle=Ramstil"
  frRes + 5011, "BottomMargin=Bottenmarginal"
  frRes + 5012, "Breaked=Bruten"
  frRes + 5013, "Caption=Titel"
  frRes + 5014, "Center=Centrera"
  frRes + 5015, "CharSpacing=Teckenmellanrum"
  frRes + 5016, "CheckColor=Vald färg"
  frRes + 5017, "Checked=Vald"
  frRes + 5018, "CheckStyle=Vald stil"
  frRes + 5019, "ChildBand=Detaljband"
  frRes + 5020, "Color=Färg"
  frRes + 5021, "ColumnGap=Kolumnmellanrum"
  frRes + 5022, "Columns=Kolumner"
  frRes + 5023, "ColumnWidth=Kolumnbredd"
  frRes + 5024, "Connected=Kopplad"
  frRes + 5025, "Condition=Villkor"
  frRes + 5026, "DatabaseName=Databasnamn"
  frRes + 5027, "DataField=Datafält"
  frRes + 5028, "DataSource=Datakälla"
  frRes + 5029, "DisplayFormat=Visinigsformat"
  frRes + 5030, "DriverName=Drivrutinens namn"
  frRes + 5031, "Enabled=Aktiv"
  frRes + 5032, "EndColor=Slutfärg"
  frRes + 5033, "Fields=Fält"
  frRes + 5034, "FillColor=Fyllnadsfärg"
  frRes + 5035, "Filter=Filter"
  frRes + 5036, "Font=Font"
  frRes + 5037, "FormNewPage=Starta ny sida"
  frRes + 5038, "FrameColor=Ramfärg"
  frRes + 5039, "FrameStyle=Ramstil"
  frRes + 5040, "FrameTyp=Ramtyp"
  frRes + 5041, "FrameWidth=Rambredd"
  frRes + 5042, "GapX=X-Mellanrum"
  frRes + 5043, "GapY=Y-Mellanrum"
  frRes + 5044, "Gradient=Utfyllnad"
  frRes + 5045, "Height=Höjd"
  frRes + 5046, "HideZeros=Göm nollor"
  frRes + 5047, "Highlight=Markera"
  frRes + 5048, "IndexName=Indexnamn"
  frRes + 5049, "Items=Värden"
  frRes + 5050, "KeepAspect=Behåll storleksförhållandet"
  frRes + 5051, "KeyField=Nyckelfält"
  frRes + 5052, "Left=Vänster"
  frRes + 5053, "LeftMargin=Vänstermarginal"
  frRes + 5054, "Lines=Rader"
  frRes + 5055, "LineSpacing=Radmellanrum"
  frRes + 5056, "ListField=Visa fält"
  frRes + 5057, "ListSource=Visa källa"
  frRes + 5058, "LoginPrompt=Inloggningsprompt"
  frRes + 5059, "Master=Master"
  frRes + 5060, "MasterFields=Masterfält"
  frRes + 5061, "MasterSource=Masterkälla"
  frRes + 5062, "Memo=Memo"
  frRes + 5063, "ModalResult=Modal resultat"
  frRes + 5064, "Name=Namn"
  frRes + 5065, "OLE=OLE"
  frRes + 5066, "OnActivate=Utför vid aktivering"
  frRes + 5067, "OnBeforePrint=Utför vid utskrift"
  frRes + 5068, "OnClick=Utför vid klick"
  frRes + 5069, "OnFirstPage=Utför på första sidan"
  frRes + 5070, "OnLastPage=Utför på sista sidan"
  frRes + 5071, "Orientation=Orientering"
  frRes + 5072, "Params=Parametrar"
  frRes + 5073, "Picture=Bild"
  frRes + 5074, "Position=Position"
  frRes + 5075, "PrintChildIfInvisible=Skriv ut onsynlig detalj"
  frRes + 5076, "PrintIfSubsetEmpty=Skriv ut om underbandet är tomt"
  frRes + 5077, "PrintToPrevPage=Skriv ut till föregående sida"
  frRes + 5078, "ReadOnly=Enbart läsning"
  frRes + 5079, "RepeatHeader=Repetera huvud"
  frRes + 5080, "Restrictions=Begränsningar"
  frRes + 5081, "RightMargin=Högermarginal"
  frRes + 5082, "RoundRect=Rund rektangel"
  frRes + 5083, "RoundSize=Rundningens storlek"
  frRes + 5084, "ShadowColor=Skuggfärg"
  frRes + 5085, "ShadowWidth=Skuggbredd"
  frRes + 5086, "Shape=Figur"
  frRes + 5087, "Size=Storlek"
  frRes + 5088, "SQL=SQL"
  frRes + 5089, "Stretched=Utdragen"
  frRes + 5090, "StretchToPrintable=Dra ut till utskriftsområde"
  frRes + 5091, "Style=Stil"
  frRes + 5092, "Suppress=Undertryck"
  frRes + 5093, "TableName=Tabellnamn"
  frRes + 5094, "Tag=Markering"
  frRes + 5095, "Text=Text"
  frRes + 5096, "TextOnly=Enbart text"
  frRes + 5097, "Top=Topp"
  frRes + 5098, "TopMargin=Toppmarginal"
  frRes + 5099, "Type=Typ"
  frRes + 5100, "Underlines=Understrykning"
  frRes + 5101, "Visible=Synlig"
  frRes + 5102, "Width=Bredd"
  frRes + 5103, "WordBreak=Ordbrytning"
  frRes + 5104, "WordWrap=Ordsammanhållning"
}
