#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Rapportens dataset"
  frRes + 3001, "&Egenskaper..."
  frRes + 3002, "Ny &tabell..."
  frRes + 3003, "Ny &fråga..."
  frRes + 3004, "&Radera"
  frRes + 3005, "&Stäng"
  frRes + 3006, "Ny &databas..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "Generellt"
  frRes + 3021, "&Namn"
  frRes + 3022, "&Fält"
  frRes + 3023, "&Fälteditor..."
  frRes + 3024, "Annat"
  frRes + 3025, "&Index"
  frRes + 3026, "Filter &uttryck"
  frRes + 3027, "&Master"
  frRes + 3028, "Ma&ster fält"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "Lägg till &fält..."
  frRes + 3041, "Lägg till &uppslag..."
  frRes + 3042, "&Välj alla"
  frRes + 3043, "&Ta bort"
  frRes + 3044, "&Avsluta"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Tillgängliga fält"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Nytt uppslagsfält"
  frRes + 3071, "Fält"
  frRes + 3072, "N&amn"
  frRes + 3073, "&Typ"
  frRes + 3074, "&Storlek"
  frRes + 3075, "Uppslagsdefinitioner"
  frRes + 3076, "&Nyckelfält"
  frRes + 3077, "&Dataset"
  frRes + 3078, "&Uppslagsnyckel"
  frRes + 3079, "&Resultatfält"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Fråga inställningar"
  frRes + 3091, "Annat"
  frRes + 3092, "&Master dataset"
  frRes + 3093, "Generellt"
  frRes + 3094, "&Namn"
  frRes + 3095, "&Alias eller sökväg"
  frRes + 3096, "&SQL"
  frRes + 3097, "&Fälteditor..."
  frRes + 3098, "&Parametereditor..."
  frRes + 3099, "Ladda SQL från fil"
  frRes + 3100, "Spara SQL till fil"
  frRes + 3101, "SQL byggare..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Parametrar"
  frRes + 3111, "&Datatyp"
  frRes + 3112, "&Namn"
  frRes + 3113, "&Värde:"
  frRes + 3114, "&Fråga efter värde innan utskrift"
  frRes + 3115, "Ange värde från master dataset"
  frRes + 3116, "Va&riabel:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "&Detaljfält"
  frRes + 3131, "&Masterfält"
  frRes + 3132, "&Kopplade fält"
  frRes + 3133, "&Lägg till"
  frRes + 3134, "&Töm"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Parametrar"
  frRes + 3151, "4 punkter"
  frRes + 3152, "8 punkter"
  frRes + 3153, "Koppla mot rutnät"
  frRes + 3154, "Stäng"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Egenskaper"
  frRes + 3171, "&Text"
  frRes + 3172, "&Font..."
  frRes + 3173, "Uppslag"
  frRes + 3174, "&Dataset"
  frRes + 3175, "&Nyckelfält"
  frRes + 3176, "&Listfält"
  frRes + 3177, "Typ"
  frRes + 3178, "&Edit"
  frRes + 3179, "&Kombo"
  frRes + 3180, "Upp&slag"
  frRes + 3181, "Kombo"
  frRes + 3182, "&Automatisk storlek"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Databasegenskaper"
  frRes + 3201, "Generella"
  frRes + 3202, "Parametrar"
  frRes + 3203, "&Namn"
  frRes + 3204, "&Kopplingssträng"    ; for ADO
  frRes + 3205, "&Filnamn"            ; for IBX
  frRes + 3206, "&Alias"              ; for BDE
  frRes + 3207, "&Drivrutinsnamn"
  frRes + 3208, "&Inloggningsprompt"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Välj tabell"
  frRes + 3221, "Välj från databas"
  frRes + 3222, "Välj från fil"
  frRes + 3223, "&Databas"
  frRes + 3224, "&Tabell"
  frRes + 3225, "&Sök..."
;--- Strings resources -------------------------------------------------------
  SFields, "fält"
  SPath, "Sökväg"
  SRemoveDS, "Ta bort den här komponenten?"
  STables, "Tabeller"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Data manager"
  SParams, "parametrar"
  SQueryError, "Felaktigt SQL uttryck eller parametrar"
  STableProps, "Tabellegenskaper"
  SParamDialog, "Parameterdialog"
  SInvalidParamValue, "Felaktigt parametervärde"
  SDatabase, "Databaser"
  SFieldSizeError, "Felaktig fältstorlek"
}
