#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Objektvisare"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Texteditor"
  frRes + 61, "Infoga uttryck"
  frRes + 62, "Infoga datafält"
  frRes + 63, "Ordsammanhållning"
  frRes + 64, "Visa/dölj skript"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Designer"
  frRes + 81, "Rektangel"
  frRes + 82, "Standard"
  frRes + 83, "Text"
  frRes + 84, "Objekt"
  frRes + 85, "Justering"
  frRes + 86, "Verktyg"
  frRes + 87, "Ny rapport"
  frRes + 88, "Öppna rapport"
  frRes + 89, "Spara rapport"
  frRes + 90, "Förhandsgranska rapport"
  frRes + 91, "Klipp ut"
  frRes + 92, "Kopiera"
  frRes + 93, "Klistra in"
  frRes + 94, "Ångra sista åtgärden"
  frRes + 95, "Gör om sista åtgärden"
  frRes + 96, "Lägg framför"
  frRes + 97, "Lägg bakom"
  frRes + 98, "Välj alla"
  frRes + 99, "Lägg till sida"
  frRes + 100, "Radera sida"
  frRes + 101, "Sidinställning"
  frRes + 102, "Rutnät"
  frRes + 103, "Justering av rutnät"
  frRes + 104, "Passa in mot rutnät"
  frRes + 105, "Stäng"
  frRes + 106, "Stäng designer"
  frRes + 107, "Vänsterjustering"
  frRes + 108, "Hägerjustering"
  frRes + 109, "Centrera"
  frRes + 110, "Normal text / 90 grader"
  frRes + 111, "Vertikal centrering"
  frRes + 112, "Toppjustering"
  frRes + 113, "Bottenjustering"
  frRes + 114, "Breddjustering"
  frRes + 115, "Fet"
  frRes + 116, "Kursiv"
  frRes + 117, "Understryk"
  frRes + 118, "Fontfärg"
  frRes + 119, "Villkorlig framhävning"
  frRes + 120, "Fontstorlek"
  frRes + 121, "Fontnamn"
  frRes + 122, "Översta ramlinjen"
  frRes + 123, "Vänstra ramlinjen"
  frRes + 124, "Nedersta ramlinjen"
  frRes + 125, "Högra ramlinjen"
  frRes + 126, "Alla ramlinjer"
  frRes + 127, "Ingen ram"
  frRes + 128, "Bakgrundsfärg"
  frRes + 129, "Ramfärg"
  frRes + 130, "Rambredd"
  frRes + 131, "Rambredd"
  frRes + 132, "Välj objekt"
  frRes + 133, "Infoga rektangulärt objekt"
  frRes + 134, "Infoga band"
  frRes + 135, "Infoga bild"
  frRes + 136, "Infoga underrapport"
  frRes + 137, "Rita linjer"
  frRes + 138, "Vänsterjustera"
  frRes + 139, "Centrera horisontellt mot mittpunkt"
  frRes + 140, "Centrera horisontellt i fönstret"
  frRes + 141, "Fördela lika, horisontellt"
  frRes + 142, "Högerjustera"
  frRes + 143, "Justera topp"
  frRes + 144, "Centrera verikalt mot mittpunkt"
  frRes + 145, "Center vertikalt i fönstret"
  frRes + 146, "Fördela lika, vertikalt"
  frRes + 147, "Justera botten"
  frRes + 148, "&Klipp ut"
  frRes + 149, "K&opiera"
  frRes + 150, "K&listra in"
  frRes + 151, "&Radera"
  frRes + 152, "&Markera allt"
  frRes + 153, "&Redigera..."
  frRes + 154, "&Arkiv"
  frRes + 155, "&Nytt..."
  frRes + 156, "&Öppna..."
  frRes + 157, "&Stäng"
  frRes + 158, "&Databibliotek..."
  frRes + 159, "&Rapportinställningar..."
  frRes + 160, "S&idinställningar..."
  frRes + 161, "&Förhandsgranska"
  frRes + 162, "Avslu&ta"
  frRes + 163, "&Redigera"
  frRes + 164, "&Ångra"
  frRes + 165, "Gör &om"
  frRes + 166, "&Klipp ut"
  frRes + 167, "K&opiera"
  frRes + 168, "K&listra in"
  frRes + 169, "&Radera"
  frRes + 170, "&Markera allt"
  frRes + 171, "&Redigera..."
  frRes + 172, "&Lägg till sida"
  frRes + 173, "&Radera sida"
  frRes + 174, "Lägg &framför"
  frRes + 175, "Lägg &bakom"
  frRes + 176, "Verk&yg"
  frRes + 177, "Verktygs&fält"
  frRes + 178, "&Verktyg"
  frRes + 179, "&Inställningar..."
  frRes + 180, "&Rektangel"
  frRes + 181, "&Standard"
  frRes + 182, "&Text"
  frRes + 183, "&Objekt"
  frRes + 184, "Objekt&visare"
  frRes + 185, "&justeringspalett"
  frRes + 186, "&Verktyg"
  frRes + 187, "&Om..."
  frRes + 188, "Spara so&m..."
  frRes + 189, "&Hjälp innehåll"
  frRes + 190, "Hjäl&pverktyg"
  frRes + 191, "Linjestil"
  frRes + 192, "Infoga dialog&formulär"
  frRes + 193, "Infoga dialogformulär"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Objektets begränsningar"
  frRes + 261, "Kan inte redigera &memo"
  frRes + 262, "Kan inte redigera &skript"
  frRes + 263, "Kan inte redigera &innehåll"
  frRes + 264, "Kan inte &ändra"
  frRes + 265, "Kan inte ändra storle&k"
  frRes + 266, "Kan inte &flytta"
  frRes + 267, "Kan inte &radera"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Inställningar"
  frRes + 281, "Designer"
  frRes + 282, "Rutnät"
  frRes + 283, "Ritobjekt"
  frRes + 284, "Rapportens enheter"
  frRes + 285, "Rutnätets storlek"
  frRes + 286, "&Visa rutnät"
  frRes + 287, "Fäst mot &rutnät"
  frRes + 288, "Färgade &knappar"
  frRes + 289, "&4 pixels"
  frRes + 290, "&8 pixels"
  frRes + 291, "&18 pixels (5mm)"
  frRes + 293, "Visa objektes &innehåll vid flytt eller storleksändring"
  frRes + 294, "&Pixels"
  frRes + 295, "&MM"
  frRes + 296, "&Tum"
  frRes + 297, "Annat"
  frRes + 298, "&Ändring efter infoga"
  frRes + 299, "Visa &titlar på band"
  frRes + 300, "Sidposition"
  frRes + 301, "Centre&ra"
  frRes + 302, "&Vänster"
  frRes + 303, "&Höger"
  frRes + 304, "Editor"
  frRes + 305, "Text editor"
  frRes + 306, "&Använd objektets fontinställningar"
  frRes + 307, "And &fast inställning:"
  frRes + 308, "Fontnamn:"
  frRes + 309, "Storlek:"
  frRes + 310, "Skripteditor"
  frRes + 311, "Lokala egenskapsnamn"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Ny rapport"
  frRes + 319, "Beskrivning"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Ny rapportmall"
  frRes + 321, "&Kommentar"
  frRes + 322, "Ikon"
  frRes + 323, "&Fil..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Databibliotek"
  frRes + 341, "Variabler"
  frRes + 342, "Fält alias"
  frRes + 343, "Band datakällor"
  frRes + 344, "Va&riabler"
  frRes + 345, "&Värden"
  frRes + 346, "&Uttryck"
  frRes + 347, "Ny kategori"
  frRes + 348, "Ny variabel"
  frRes + 349, "Redigera"
  frRes + 350, "Radera"
  frRes + 351, "Redigera lista"
  frRes + 352, "Dataset och fält"
  frRes + 353, "Alla dataset"
  frRes + 354, "&Utseende"
  frRes + 355, "A&lias"
  frRes + 356, "&Ta bort fält från listan"
  frRes + 357, "Datakällor"
  frRes + 358, "Alla datakällor"
  frRes + 359, "&Spara..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Variabellista"
  frRes + 361, "&Kategorier och variabler"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Rapportinställningar"
  frRes + 371, "Skrivare"
  frRes + 372, "&Välj när rapporten laddas"
  frRes + 373, "Annant"
  frRes + 374, "&Två-pass rapport"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Sidinställningar"
  frRes + 391, "Papper"
  frRes + 392, "Orientering"
  frRes + 393, "&Porträtt"
  frRes + 394, "&Landskap"
  frRes + 395, "Storlek"
  frRes + 396, "&Bredd, mm"
  frRes + 397, "&Höjd, mm"
  frRes + 398, "Marginaler"
  frRes + 399, "Sidmarginaler"
  frRes + 400, "&Vänster, mm"
  frRes + 401, "&Topp, mm"
  frRes + 402, "&Höger, mm"
  frRes + 403, "&Botten, mm"
  frRes + 404, "&Dra ut till utskriftsområde"
  frRes + 405, "Inställningar"
  frRes + 406, "Inställningar"
  frRes + 407, "&Skriv till föregående sida"
  frRes + 408, "Kolumner"
  frRes + 409, "&Tal"
  frRes + 410, "&Kolumnmellanrum, mm"
  frRes + 411, "Källa"
  frRes + 412, "Papperskälla"
  frRes + 413, "&Obegränsad höjd"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Variabel formatering"
  frRes + 421, "Variabelt format"
  frRes + 422, "&Decimaltal"
  frRes + 423, "Decimal&tecken"
  frRes + 424, "Eget &format"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Variabler"
  frRes + 441, "&Kategori:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Infoga datafält"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Bild"
  frRes + 461, "&Sträck"
  frRes + 462, "&Ladda..."
  frRes + 463, "&Töm"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Band datakälla"
  frRes + 481, "&Datakälla"
  frRes + 482, "&Posträknare"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Band datakällor"
  frRes + 486, "Band"
  frRes + 487, "Datakälla"
  frRes + 488, "&Posträknare"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Grupp"
  frRes + 491, "&Villkor"
  frRes + 492, "Infoga datafält"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Infoga nytt band"
  frRes + 511, "Bandtyp"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Villkorlig framhävning"
  frRes + 521, "&Villkor"
  frRes + 522, "Font"
  frRes + 523, "F&ärg..."
  frRes + 524, "&Fet"
  frRes + 525, "&Kursiv"
  frRes + 526, "&Understrykning"
  frRes + 527, "Bakgrund"
  frRes + 528, "Fär&g..."
  frRes + 529, "&Genomskinlig"
  frRes + 530, "&Annat"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "Om FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE objekt"
  frRes + 551, "&Infoga..."
  frRes + 552, "&Redigera..."
  frRes + 553, "&Stäng"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "Öppna..."
  frRes + 562, "Spara..."
  frRes + 563, "Ångra"
  frRes + 564, "Fet"
  frRes + 565, "Kursiv"
  frRes + 566, "Vänsterjustera"
  frRes + 567, "Centrera"
  frRes + 568, "Högerjustera"
  frRes + 569, "Understrykning"
  frRes + 570, "Lista"
  frRes + 571, "Font"
  frRes + 572, "Avbryt"
  frRes + 573, "Spara och avsluta"
  frRes + 574, "Var"
  frRes + 575, "Infoga uttryck"
  frRes + 576, "Font"
  frRes + 577, "Fontstorlek"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Diagram objekt"
  frRes + 591, "Typ"
  frRes + 592, "Data"
  frRes + 593, "Typ"
  frRes + 594, "Objekt namn"
  frRes + 595, "Inställningar"
  frRes + 596, "&3D"
  frRes + 597, "&Enkelt"
  frRes + 598, "Visa &förklaring"
  frRes + 599, "Visa &axlar"
  frRes + 600, "Visa &märken"
  frRes + 601, "Fle&rfärgad"
  frRes + 602, "För förk&laring"
  frRes + 603, "För &värden"
  frRes + 604, "Märken"
  frRes + 605, "Stil"
  frRes + 606, "Värde"
  frRes + 607, "Procent"
  frRes + 608, "Etiektt"
  frRes + 609, "Etiektt och Procent"
  frRes + 610, "Etikett och värde"
  frRes + 611, "Top10 grupp"
  frRes + 612, "V&isa topp"
  frRes + 613, "Vär&de"
  frRes + 614, "values"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Infoga fält"
  frRes + 631, "&Tillgängliga tabeller"
  frRes + 632, "Placering"
  frRes + 633, "&Horisontellt"
  frRes + 634, "&Vertikalt"
  frRes + 635, "&Inkludera överskrift"
  frRes + 636, "Includera &band"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Streckkodseditor"
  frRes + 651, "&Kod"
  frRes + 652, "&Streckkodstyp"
  frRes + 653, "Instaällningar"
  frRes + 654, "Check&summa"
  frRes + 655, "&Direkt läsbar"
  frRes + 656, "Infoga uttryck"
  frRes + 657, "Infoga variabel"
  frRes + 658, "Rotering"
  frRes + 659, "&Zoom:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Egenskapseditor"
  frRes + 671, "Exempel :"
  frRes + 672, "&Uttryck..."
  frRes + 673, "&DB fält..."
  frRes + 674, "Ut&fyllnad"
  frRes + 675, "&Skuggbredd"
  frRes + 676, "Färg"
  frRes + 677, "&Böj"
  frRes + 678, "&Inramad zone"
  frRes + 679, "Slutfärg"
  frRes + 680, "Startfärg"
  frRes + 681, "&Stil"
  frRes + 682, "Vertikalt,Horisontellt,Elliptisk,Rektangel,Horis._Center,Vert._Center"
  frRes + 683, "Klicka här för att definiera skugg och utfyllnadsfärger"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Uttrycksbyggare"
  frRes + 701, "Uttryck"
  frRes + 702, "Infoga"
  frRes + 703, "&Data fält..."
  frRes + 704, "&Variabel..."
  frRes + 705, "&Funktion..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Tillgängliga funktioner"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Funktionsargument"
  frRes + 731, "Argument"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Objekt tag"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Cross-tab view"
  frRes + 751, "Cross-tab dataset"
  frRes + 752, "Subtotals"
  frRes + 753, "Function"
  frRes + 754, "Cross-tab editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Ta bort den här sidan?"
  SConfirm, "Bekräfta"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Användardefinierad"
  SSystemVariables, "Systemvariabler"
  SVar1, "Sid#"
  SVar2, "Uttryck"
  SVar3, "Datum"
  SVar4, "Tid"
  SVar5, "Rad#"
  SVar6, "Rad till#"
  SVar7, "Kolumn#"
  SVar8, "Aktuell rad#"
  SVar9, "AntalSidor"
  SStretched, "Sträckt"
  SVarFormat, "Variabelformat..."
  SWordWrap, "Ordsammanhållning"
  SWordBreak, ""
  SFormNewPage, "Starta ny sida"
  SPrintIfSubsetEmpty, "Skriv ut om detaljen är tom"
  SBreaked, "Bruten"
  SPictureCenter, "Centrera bild"
  SKeepAspectRatio, "Behåll storleksförhållandet"
  SFormFile, "FastReport formulär"
  SForm3File, "FastReport3 formulär"
  STemplFile, "FastReport mall"
  SDictFile, "FastReport bibliotek"
  SPictFile, "Bildfil"
  SBMPFile, "Bitmapfil"
  SAllFiles, "Alla filer"
  SInsOLEObject, "Infoga OLE objekt"
  SInsRichObject, "Infoga RichText objekt"
  SInsRich2Object, "Infoga RX RichText objekt"
  SInsCheckBox, "Infoga CheckBoxobjekt"
  SInsChart, "Infoga Diagramobjekt"
  SInsShape, "Infoga Figurobjekt"
  SInsBarcode, "Infoga Streckkodsobjekt"
  SInsRoundRect, "Infoga en rund rektangel med skugga"
  SSubReportOnPage, "Underrapport på sida"
  SPicture, "[Bild]"
  STransparent, "Genomskinlig"
  SOther, "Annan..."
  SOnFirstPage, "På första sidan"
  SOnLastPage, "På sista sidan"
  SRepeatHeader, "Visa på alla sidor"
  SDesignReport, "Design rapport"
  SInsertFields, "Infoga DB fält"
  SSaveChanges, "Spara ändringarna"
  STo, "till"
  SPixels, "Pixels"
  SMM, "MM"
  SInches, "Tum"
  SVirtualDataset, "Virtuellt Dataset"
  SAutoSize, "Automatisk storlek"
  SFRVariables, "FR variabler"
  SClearContents, "Töm innehåll"

  SAllCategories, "Alla funktioner"
  SAggregateCategory, "Summering"
  SDateTimeCategory, "Datum och tid"
  SStringCategory, "Sträng"
  SOtherCategory, "Annat"
  SMathCategory, "Matematisk"
  SBoolCategory, "Logisk"
  SIntrpCategory, "Översättare"

  SDescriptionAVG, "AVG(<Uttryck> [,BandNamn [,1]])/"
    "Räknar ut genomsnittet av <Uttryck> för [BandNamn] givet en rad. "
    "Om parameter [1] används, räknas genomsnittet även på osynliga rader."

  SDescriptionCOUNT, "COUNT(<BandNamn>)/"
    "Returnerar antal data-rader i ett <BandNamn>. "

  SDescriptionDAYOF, "DAYOF(<Date>)/"
    "Returnerar dagnummer (1..31) för ett givet <Datum>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DatumTid>)/"
    "Konverterar <DateTime> värde till en datumsträng med hjälp av masken i <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numerisk>)/"
    "Konverterar <Numerisk> värde till en sträng med hjälp av masken i <Fmt>."

  SDescriptionINPUT, "INPUT(<Överskrift> [,Standard])/"
    "Visar en dialogruta <Överskrift> i namnfältet och ett inmatningsfält. "
    "Om [Standard] parametern är satt, skrivs den texten i inmatningsfältet. "
    "När användaren sedan trycker på OK, returneras strängen."

  SDescriptionLENGTH, "LENGTH(<Sträng>)/"
    "Returnerar längden på <Sträng>."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "Konverterar <Sträng> till gemener."

  SDescriptionMAX, "MAX(<Uttryck> [,BandNamn [,1]])/"
    "Räknar ut det största värdet i <Uttryck> för [BandNamn] i given rad. "
    "Om parameter [1] används, görs beräkningen även på osynliga rader."

  SDescriptionMIN, "MIN(<Uttryck> [,BandName [,1]])/"
    "Räknar ut det minsta värdet i <Uttryck> för [BandNamn] i given rad. "
    "Om parameter [1] används, görs beräkningen även på osynliga rader."

  SDescriptionMONTHOF, "MONTHOF(<Datum>)/"
    "Returnerar månadsnummer (1..12) i ett givet <Datum>."

  SDescriptionNAMECASE, "NAMECASE(<Sträng>)/"
    "Konverterar <Sträng> till att första tecknet är versalt "
    "övriga är gemener."

  SDescriptionSTRTODATE, "STRTODATE(<Sträng>)/"
    "Konverterar <Sträng> till Datum."

  SDescriptionSTRTOTIME, "STRTOTIME(<Sträng>)/"
    "Konverterar <Sträng> till tid."

  SDescriptionSUM, "SUM(<Uttryck> [,BandNamn [,1]])/"
    "Räknar ut summan av <Uttryck> för [BandNamn] i given rad. "
    "Om parameter [1] används, görs beräkningen även på osynliga rader."

  SDescriptionTRIM, "TRIM(<Sträng>)/"
    "Tar bort alla inledande och avslutande blanktecken från <Sträng> och returnerar "
    "strängen."

  SDescriptionUPPERCASE, "UPPERCASE(<Sträng>)/"
    "Konverterar <Sträng> till versaler."

  SDescriptionYEAROF, "YEAROF(<Datum>)/"
    "Returns year of given <Date>."

  SDescriptionIF, "IF(<Uttryck>, <Värde1>, <Värde2>)/"
    "Returnerar <Värde1>, Om uttrycket <Expression> är sant; "
    "annars returneras <Värde2>. Returnerad typ kan bara vara sträng."

  SDescriptionCOPY, "COPY(<Sträng>, <Från>, <Antal>)/"
    "Returnerar en delmängd av <Sträng>."

  SDescriptionMOD, "<Värde1> MOD <Värde2>/"
    "Returnerar resten av divisionen <Värde1> genom <Värde2>."

  SDescriptionSTR, "STR(<Värde>)/"
    "Konverterar <Värde> till en sträng."

  SDescriptionNOT, "NOT <Värde>/"
    "Logisk 'INTE'."

  SDescriptionAND, "<Värde1> AND <Värde2>/"
    "Logisk 'OCH'."

  SDescriptionOR, "<Värde1> OR <Värde2>/"
    "Logisk 'ELLER'."

  SDescriptionROUND, "ROUND(<Värde>)/"
    "Returnerar <Värde> avrundat."

  SDescriptionFRAC, "FRAC(<Värde>)/"
    "Returnerar decimaldelen av <Värde>."

  SDescriptionINT, "INT(<Värde>)/"
    "Returnerar heltalsdelen av <Värde>."

  SDescriptionTRUE, "TRUE/"
    "Logisk 'SANT'."

  SDescriptionFALSE, "FALSE/"
    "Logisk 'FALSKT'."

  SDescriptionPAGE, "PAGE#/"
    "Returnerar aktuellt sidnummer."

  SDescriptionDATE, "DATE/"
    "Returnerar aktuellt datum."

  SDescriptionTIME, "TIME/"
    "Returnerar aktuell tid."

  SDescriptionLINE, "LINE#/"
    "Returnerar aktuell data-rad (med start från gruppbörjan)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Returnerar aktuell data-rad (med start från rapportens början)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Returnerar aktuell kolumn."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Returnerar antal sidor i rapporten."

  SDescriptionMROK, "MROK/"
    "Modal resultat konstant."

  SDescriptionMRCancel, "MRCANCEL/"
    "Modal resultat konstant."

  SDescriptionCurY, "CURY/"
    "Returnerar 'Y' position (i pixels) var aktuellt band kommer at visas. "
    "Du kan också ange ett värde för CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Returnerar fritt utrymme på sidan i pixel."

  SDescriptionFinalPass, "FINALPASS/"
    "Returnerar True om rapporten arbetar med sista passet."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Returnerar sidans höjd i pixels."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Returnerar sidans bredd i pixels."

  SDescriptionProgress, "PROGRESS/"
    "Värdet som angetts i Progress kommer att visas i det avsedda fönstret."

  SDescriptionModalResult, "MODALRESULT/"
    "Ange ett värde <> 0 stänger dialogfönstret."

  SDescriptionStopReport, "STOPREPORT/"
    "Stoppa rapportbyggandet."

  SDescriptionNewPage, "NEWPAGE/"
    "Starta ny sida."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Starts ney kolumn."

  SDescriptionShowBand, "SHOWBAND(<BandNamn>)/"
    "Visa band med namnet <BandNamn>."

  SDescriptionINC, "INC(<Värde>)/"
    "Öka <Värdet> med 1."

  SDescriptionDEC, "DEC(<Värde>)/"
    "Minska <Värdet>. med 1"

  SDescriptionMAXNUM, "MAXNUM(<Värde1>, <Värde2>)/"
    "Returnerar max av givna värden."

  SDescriptionMINNUM, "MINNUM(<Värde1>, <Värde2>)/"
    "Returnerar min av givna värden."

  SDescriptionPOS, "POS(<DelSTräng>, <Sträng>)/"
    "Returnerar positionen för delsträng i sträng."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Titel>, <Knappar>)/"
    "Visar ett dialogfönster med titel, text och knappar."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <Sträng>)/"
    "Applicerar <Mask> på <Sträng> och returnerar den formatterade strängen."


  SInformation, "Information"
  SExpressionOK, "Uttrycket är OK!"
  STextOnly, "Endast text"
  SSuppressRepeated, "Visa inte upprepade värden"
  SDefaultBin, "Standard"
  SDeleteObjects, "Det här kommer att ta bort alla objekt på sidan."
  SWarning, "Varning"
  SHideZeros, "Göm nollor"
  SPrintChild, "Skriv ut osynliga underband"
  SUnderlines, "Understrykning"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "Insert Cross-tab object"
}
