#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Επιθεωρητής Αντικειμένων"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Επεξεργαστής Κειμένου"
  frRes + 61, "Εισαγωγή έκφρασης"
  frRes + 62, "Εισαγωγή πεδίου δεδομένων"
  frRes + 63, "Αναδίπλωση Κειμένου"
  frRes + 64, "Εμφάνιση/Εξαφάνιση προγράμματος"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Σχεδιαστής"
  frRes + 81, "Ορθογώνιο"
  frRes + 82, "Standard"
  frRes + 83, "Κείμενο"
  frRes + 84, "Αντικείμενα"
  frRes + 85, "Ευθυγράμμιση"
  frRes + 86, "Εργαλεία"
  frRes + 87, "Νέα αναφορά"
  frRes + 88, "’νοιγμα αναφοράς"
  frRes + 89, "Αποθήκευση αναφοράς"
  frRes + 90, "Προεπισκόπηση αναφοράς"
  frRes + 91, "Αποκοπή"
  frRes + 92, "Αντιγραφή"
  frRes + 93, "Επικόλληση"
  frRes + 94, "Αναίρεση τελευταίας ενέργειας"
  frRes + 95, "Επανεκτέλεση ακυρωμένης ενάργειας"
  frRes + 96, "Φέρε εμπρός"
  frRes + 97, "Στείλε πίσω"
  frRes + 98, "Επιλογή όλων"
  frRes + 99, "Προσθήκη σελίδας"
  frRes + 100, "Αφαίρεση σελίδας"
  frRes + 101, "Επιλογές σελίδας"
  frRes + 102, "Πλέγμα"
  frRes + 103, "Ευθυγράμμιση πλέγματος"
  frRes + 104, "Προσαρμογή στο πλέγμα"
  frRes + 105, "Κλείσιμο"
  frRes + 106, "Κλείσιμο σχεδιαστή"
  frRes + 107, "Ευθυγράμμιση αριστερά"
  frRes + 108, "Ευθυγράμμιση δεξιά"
  frRes + 109, "Ευθυγράμμιση στο κέντρο"
  frRes + 110, "Κανονικό κείμενο / 90 μοίρες"
  frRes + 111, "Κάθετο κέντρο"
  frRes + 112, "Ευθυγράμμιση πάνω"
  frRes + 113, "Ευθυγράμμιση κάτω"
  frRes + 114, "Ευθυγράμμιση εύρους"
  frRes + 115, "Έντονη γραφή"
  frRes + 116, "Πλάγια γραφή"
  frRes + 117, "Υπογράμμιση"
  frRes + 118, "Χρώμα γραφής"
  frRes + 119, "Επιλογή υπο συνθήκη"
  frRes + 120, "Μέγεθος γραμματοσειράς"
  frRes + 121, "Όνομα γραμματοσειράς"
  frRes + 122, "Πάνω γραμμή πλαισίου"
  frRes + 123, "Αριστερή γραμμή πλαισίου"
  frRes + 124, "Κάτω γραμμή πλαισίου"
  frRes + 125, "Δεξιά γραμμή πλαισίου"
  frRes + 126, "Όλες οι γραμμές πλαισίου"
  frRes + 127, "Χωρίς πλαίσιο"
  frRes + 128, "Χρώμα παρασκηνίου"
  frRes + 129, "Χρώμα πλαισίου"
  frRes + 130, "Εύρος πλαισίου"
  frRes + 131, "Εύρος πλαισίου"
  frRes + 132, "Επιλογή αντικειμένου"
  frRes + 133, "Εισαγωγή ορθογωνίου αντικειμένου"
  frRes + 134, "Εισαγωγή ζώνης"
  frRes + 135, "Εισαγωγή εικόνας"
  frRes + 136, "Εισαγωγή υποαναφοράς"
  frRes + 137, "Σχεδίαση γραμμών"
  frRes + 138, "Ευθυγράμμιση αριστερών άκρων"
  frRes + 139, "Ευθυγράμμιση κέντρων στον οριζόντιο άξονα"
  frRes + 140, "Τοποθέτηση στο κέντρο του παραθύρου (οριζόντιος άξονας)"
  frRes + 141, "Τοποθέτηση σε ίσα διαστάματα (οριζόντιος άξονας)"
  frRes + 142, "Ευθυγράμμιση δεξιών άκρων"
  frRes + 143, "Ευθυγράμμιση επάνω μέρους"
  frRes + 144, "Ευθυγράμμιση κέντρων στον κάθετο άξονα"
  frRes + 145, "Τοποθέτηση στο κέντρο του παραθύρου (κάθετος άξονας)"
  frRes + 146, "Τοποθέτηση σε ίσα διαστάματα (κάθετος άξονας)"
  frRes + 147, "Ευθυγράμμιση κάτω μέρους"
  frRes + 148, "Απ&οκοπή"
  frRes + 149, "Αντι&γραφή"
  frRes + 150, "&Επικόλληση"
  frRes + 151, "Απαλοι&φή"
  frRes + 152, "Ε&πιλογή όλων"
  frRes + 153, "&Επεξεργασία..."
  frRes + 154, "&Αρχεία"
  frRes + 155, "&Δημιουργία..."
  frRes + 156, "’ν&οιγμα..."
  frRes + 157, "&Αποθήκευση"
  frRes + 158, "Ε&υρετήριο δεδομένων..."
  frRes + 159, "Επιλογές α&ναφοράς..."
  frRes + 160, "Επιλογές &σελίδας..."
  frRes + 161, "&Προεπισκόπηση"
  frRes + 162, "Έ&ξοδος"
  frRes + 163, "&Επεξεργασία"
  frRes + 164, "Αναίρεσ&η"
  frRes + 165, "Ακύρ&ωση αναίρεσης"
  frRes + 166, "Απ&οκοπή"
  frRes + 167, "Αντι&γραφή"
  frRes + 168, "&Επικόλληση"
  frRes + 169, "Απαλοι&φή"
  frRes + 170, "Ε&πιλογή όλων"
  frRes + 171, "&Επεξεργασία..."
  frRes + 172, "Προσθήκη σελίδας"
  frRes + 173, "Αφαίρεση σελίδας"
  frRes + 174, "Φέρε μπροστά"
  frRes + 175, "Στείλε πίσω"
  frRes + 176, "&Εργαλεία"
  frRes + 177, "Εργαλειο&θήκες"
  frRes + 178, "&Εργαλεία"
  frRes + 179, "&Επιλογές..."
  frRes + 180, "&Ορθογώνιο"
  frRes + 181, "&Standard"
  frRes + 182, "&Κείμενο"
  frRes + 183, "&Αντικείμενο"
  frRes + 184, "&Επιθεωρητής Αντικειμένων"
  frRes + 185, "Εργαλειοθήκη ευθυ&γραμμίσεων"
  frRes + 186, "&Εργαλεία"
  frRes + 187, "&Σχετικά..."
  frRes + 188, "Αποθήκευση &ως..."
  frRes + 189, "&Περιεχόμενα βοήθειας"
  frRes + 190, "Εργαλείο βοήθειας"
  frRes + 191, "Στυλ γραμμής"
  frRes + 192, "Προσθήκη φόρμας διαλόγου"
  frRes + 193, "Προσθήκη φόρμας διαλόγου"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Περιορισμοί αντικεμένων"
  frRes + 261, "Μην μεταβάλεις &memo"
  frRes + 262, "Μην μεταβάλεις &script"
  frRes + 263, "Μην μεταβάλεις &contents"
  frRes + 264, "Μην &μεταβάλεις "
  frRes + 265, "Μην μεταβάλεις το μέ&γεθος"
  frRes + 266, "Μην μετα&κινείς"
  frRes + 267, "Μην απαλοί&φεις"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Επιλογές"
  frRes + 281, "Σχεδιαστής"
  frRes + 282, "Πλέγμα"
  frRes + 283, "Σχεδίαση αντικειμένων"
  frRes + 284, "Μονάδες μέτρησης αναφοράς"
  frRes + 285, "Διαστάσεις πλέγματος"
  frRes + 286, "Εμφάνιση &πλέγματος"
  frRes + 287, "Ευ&θυγράμμιση με το πλέγμα"
  frRes + 288, "Έγχρωμα πλήκτρα"
  frRes + 289, "&4 εικονοστοιχεία"
  frRes + 290, "&8 εικονοστοιχεία"
  frRes + 291, "&18 εικονοστοιχεία (5mm)"
  frRes + 293, "Προβολή περιεχομένων αντικειμένων κατά την μετακίνηση"
  frRes + 294, "&Εικονοστοιχεία"
  frRes + 295, "&MM"
  frRes + 296, "Ί&ντσες"
  frRes + 297, "’λλο"
  frRes + 298, "&Επεξεργασία μετά την εισαγωγή"
  frRes + 299, "Προβολή τίτλων ζωνών"
  frRes + 300, "Θέση σελίδας"
  frRes + 301, "&Κέντρο"
  frRes + 302, "&Αριστερά"
  frRes + 303, "&Δεξιά"
  frRes + 304, "Επεξεργασία"
  frRes + 305, "Επεξεργασία κειμένου"
  frRes + 306, "Χρήση ρυθμίσεων γραμματοσειρών αντικειμένου"
  frRes + 307, "Χρήση σταθερής ρύθμισης:"
  frRes + 308, "Γραμματοσειρά:"
  frRes + 309, "Μέγεθος:"
  frRes + 310, "Επεξεργαστής Script"
  frRes + 311, "Ελληνικά ονόματα ιδιοτήτων"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Δημιουργία αναφοράς"
  frRes + 319, "Περιγραφή"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Νεο πρότυπο αναφοράς"
  frRes + 321, "Σχόλια"
  frRes + 322, "Εικονίδιο"
  frRes + 323, "&Αρχείο..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Ευρετήριο δεδομένων"
  frRes + 341, "Μεταβλητές"
  frRes + 342, "Ψευδώνυμα πεδίων"
  frRes + 343, "Πηγές δεδομένων ζωνών"
  frRes + 344, "&Μεταβλητές"
  frRes + 345, "&Τιμές"
  frRes + 346, "Έκ&φραση"
  frRes + 347, "Νέα κατηγορία"
  frRes + 348, "Νέα μεταβλητή"
  frRes + 349, "Επεξεργασία"
  frRes + 350, "Απαλοιφή"
  frRes + 351, "Επεξεργασία λίστας"
  frRes + 352, "Σύνολα δεδομένων και πεδία"
  frRes + 353, "Όλα τα σύνολα δεδομένων"
  frRes + 354, "&Τρόπος εμφάνισης"
  frRes + 355, "&Ψευδώνυμο"
  frRes + 356, "&Αφαίρεση πεδίου απο λίστα"
  frRes + 357, "Πηγές δεδομένων"
  frRes + 358, "Όλες οι πηγές δεδομένων"
  frRes + 359, "&Αποθήκευση..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Λίστα μεταβλητών"
  frRes + 361, "&Κατηγορίες και μεταβλητές"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Επιλογές αναφοράς"
  frRes + 371, "Εκτυπωτής"
  frRes + 372, "&Επιλογή με το άνοιγμα της αναφοράς"
  frRes + 373, "’λλο"
  frRes + 374, "Αναφορά &δυο περασμάτων"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Επιλογές σελίδας"
  frRes + 391, "Χαρτί"
  frRes + 392, "Προσανατολισμός"
  frRes + 393, "&Κατακόρυφος"
  frRes + 394, "&Οριζόντιος"
  frRes + 395, "Μέγεθος"
  frRes + 396, "&Εύρος, mm"
  frRes + 397, "Ύ&ψος, mm"
  frRes + 398, "Περιθώρια"
  frRes + 399, "Περιθώρια σελίδας"
  frRes + 400, "&Αριστερά, mm"
  frRes + 401, "&Επάνω, mm"
  frRes + 402, "&Δεξιά, mm"
  frRes + 403, "&Κάτω, mm"
  frRes + 404, "&Εκτύπωση σε όλο τον διαθέσιμο χώρο"
  frRes + 405, "Επιλογές"
  frRes + 406, "Επιλογές"
  frRes + 407, "&Εκτύπωση στην προηγούμενη σελίδα"
  frRes + 408, "Στήλες"
  frRes + 409, "&Αρίθμηση"
  frRes + 410, "&Διάκενο στηλών, mm"
  frRes + 411, "Πηγή"
  frRes + 412, "Τροφοδοσία χαρτιού"
  frRes + 413, "Α&περιόριστο ύψος"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Μορφοποίηση μεταβλητών"
  frRes + 421, "Μορφη μεταβλητής"
  frRes + 422, "&Δεκαδ. ψηφία"
  frRes + 423, "Δια&χωριστικό"
  frRes + 424, "Ελεύθερη &Mορφή"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Μεταβλητές"
  frRes + 441, "&Κατηγορία:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Εισαγωγή πεδίου δεδομένων"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Εικόνα"
  frRes + 461, "&Μεγένθυση"
  frRes + 462, "’ν&οιγμα..."
  frRes + 463, "&Καθαρισμός"
  frRes + 464, "&Κείμενο"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Πηγή δεδομένων ζώνης"
  frRes + 481, "&Πηγή δεδομένων"
  frRes + 482, "&Αριθμός εγγραφών"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Πηγή δεδομένων ζώνης"
  frRes + 486, "Ζώνες"
  frRes + 487, "Πηγή δεδομένων"
  frRes + 488, "&Αριθμός εγγραφών"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Ομαδοποίηση"
  frRes + 491, "&Συνθήκη"
  frRes + 492, "Εισαγωγή πεδίου δεδομένων"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Εισαγωγή νέας ζώνης"
  frRes + 511, "Τύπος ζώνης"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Επιλογή υπο συνθήκη"
  frRes + 521, "&Συνθήκη"
  frRes + 522, "Γραμματοσειρά"
  frRes + 523, "&Χρώμα"
  frRes + 524, "Έ&ντονα"
  frRes + 525, "&Πλάγια"
  frRes + 526, "&Υπογραμμισμένα"
  frRes + 527, "Παρασκήνιο"
  frRes + 528, "Χρώμα..."
  frRes + 529, "&Διαφανές"
  frRes + 530, "’&λλο"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "Σχετικά με το FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "Αντικείμενο OLE"
  frRes + 551, "&Εισαγωγή..."
  frRes + 552, "Επε&ξεργασία..."
  frRes + 553, "&Κλείσιμο"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Ενισχυμένη Επεξεργασία Κειμένου"
  frRes + 561, "’νοιγμα..."
  frRes + 562, "Αποθήκευση..."
  frRes + 563, "Αναίρεση ενέργειας"
  frRes + 564, "Έντονα"
  frRes + 565, "Πλάγια"
  frRes + 566, "Ευθυγραμμιση αριστερά"
  frRes + 567, "Ευθυγραμμιση στο κέντρο"
  frRes + 568, "Ευθυγραμμιση δεξιά"
  frRes + 569, "Υπογράμμιση"
  frRes + 570, "Λίστα"
  frRes + 571, "Γραμματοσειρά"
  frRes + 572, "’κυρο"
  frRes + 573, "Αποθήκευση και Έξοδος"
  frRes + 574, "Μεταβλητή"
  frRes + 575, "Εισαγωγή έκφρασης"
  frRes + 576, "Γραμματοσειρά"
  frRes + 577, "Μέγεθος γραμματοσειράς"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Αντικείμενο γραφήματος"
  frRes + 591, "Τύπος"
  frRes + 592, "Δεδομένα"
  frRes + 593, "Τύπος"
  frRes + 594, "Όνομα αντικειμένου"
  frRes + 595, "Επιλογές"
  frRes + 596, "&3D"
  frRes + 597, "&Μονό"
  frRes + 598, "Προβολή &υπομνήματος"
  frRes + 599, "Προβολή &άξονα"
  frRes + 600, "Προβολή &σημαδιών"
  frRes + 601, "Πολ&λά χρώματα"
  frRes + 602, "Για &υπόμνημα"
  frRes + 603, "Για &τιμές"
  frRes + 604, "Σημάδια"
  frRes + 605, "Στυλ"
  frRes + 606, "Τιμή"
  frRes + 607, "Ποσοστό"
  frRes + 608, "Ετικέτα"
  frRes + 609, "Ετικέτα και Ποσοστό"
  frRes + 610, "Ετικέτα και Τιμή"
  frRes + 611, "Καλύτερα 10"
  frRes + 612, "&Προβολή καλυτέρων"
  frRes + 613, "&Ετικέτα"
  frRes + 614, "τιμές"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Εισαγωγή πεδίων"
  frRes + 631, "&Διαθέσιμοι πίνακες"
  frRes + 632, "Τοποθέτηση"
  frRes + 633, "&Οριζόντια"
  frRes + 634, "&Κάθετα"
  frRes + 635, "&Εισαγωγή επικεφαλίδων"
  frRes + 636, "Περιέλαβε &ζώνες"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Επεξεργασία Κώδικα Γραμμών (Barcode)"
  frRes + 651, "&Κωδικός"
  frRes + 652, "&Τύπος barcode"
  frRes + 653, "Επιλογές"
  frRes + 654, "Σύνολο &ελέγχου"
  frRes + 655, "&Αναγνώσιμο απο άνθρωπο"
  frRes + 656, "Εισαγωγή έκφρασης"
  frRes + 657, "Εισαγωγή μεταβλητής"
  frRes + 658, "Περιστροφή"
  frRes + 659, "&Zoom:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Επεξεργαστής Ιδιοτήτων"
  frRes + 671, "Δείγμα :"
  frRes + 672, "Έκ&φραση..."
  frRes + 673, "&Πεδίο ΒΔ..."
  frRes + 674, "&Βαθμιδωτό"
  frRes + 675, "&Εύρος σκιάς"
  frRes + 676, "Χρώμα"
  frRes + 677, "&Καμπύλη"
  frRes + 678, "&Περιοχή σε πλαίσιο"
  frRes + 679, "Χρώμα τέλους"
  frRes + 680, "Χρώμα αρχής"
  frRes + 681, "&Στυλ"
  frRes + 682, "Κάθετα,Οριζόντια,Ελλιπτικά,Ορθογώνια, Οριζ.Κέντρο,Καθετ.Κέντρο"
  frRes + 683, "Κάντε κλικ εδώ για να ορίσετε το χρώμα της σκιάς ή του βαθμιδωτού"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Κατασκευαστής Εκφράσεων"
  frRes + 701, "Έκφραση"
  frRes + 702, "Εισαγωγή"
  frRes + 703, "&Πεδίο δεδομένων..."
  frRes + 704, "&Μεταβλητή..."
  frRes + 705, "&Συνάρτηση..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Διαθέσιμες συναρτήσεις"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Τελεστές συνάρτησης"
  frRes + 731, "Τελεστής"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Ετικέτα αντικειμένου"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Cross-tab view"
  frRes + 751, "Cross-tab dataset"
  frRes + 752, "Υποσύνολα"
  frRes + 753, "Συνάρτηση"
  frRes + 754, "Cross-tab editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Διαγραφή αυτής της σελίδας;"
  SConfirm, "Επιβεβαίωση"
  SPaper1, "Γράμμα, 8 1/2 x 11"""
  SPaper2, "Γράμμα μικρό, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Σημείωμα, 8 1/2 x 11"""
  SPaper19, "9 Φάκελος, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Φάκελος, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Φάκελος, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Φάκελος, 4 3/4 x 11"""
  SPaper23, "#14 Φάκελος, 5 x 11 1/2"""
  SPaper24, "C Φύλλο, 17 x 22"""
  SPaper25, "D Φύλλο, 22 x 34"""
  SPaper26, "E Φύλλο, 34 x 44"""
  SPaper27, "DL Φάκελος, 110 x 220 mm"
  SPaper28, "C5 Φάκελος, 162 x 229 mm"
  SPaper29, "C3 Φάκελος,  324 x 458 mm"
  SPaper30, "C4 Φάκελος,  229 x 324 mm"
  SPaper31, "C6 Φάκελος,  114 x 162 mm"
  SPaper32, "C65 Φάκελος, 114 x 229 mm"
  SPaper33, "B4 Φάκελος,  250 x 353 mm"
  SPaper34, "B5 Φάκελος,  176 x 250 mm"
  SPaper35, "B6 Φάκελος,  176 x 125 mm"
  SPaper36, "Italy Φάκελος, 110 x 230 mm"
  SPaper37, "Monarch Φάκελος, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Φάκελος, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Φάκελος Προσκλήσεως 220 x 220 mm"
  SPaper50, "Γράμμα Extra 9/275 x 12"""
  SPaper51, "Γράμμα Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Γράμμα Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Γράμμα Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Γράμμα Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Ελεύθερο"
  SSystemVariables, "Μεταβλητές συστήματος"
  SVar1, "Σελίδα#"
  SVar2, "Έκφραση"
  SVar3, "Ημερομηνία"
  SVar4, "Ώρα"
  SVar5, "Γραμμή#"
  SVar6, "Γραμμή έως#"
  SVar7, "Στήλη#"
  SVar8, "Τρέχουσα γραμμή#"
  SVar9, "ΣύνολοΣελίδων"
  SStretched, "Τεντωμένο"
  SVarFormat, "Μορφή μεταβλητών..."
  SWordWrap, "Αναδίπλωση κειμένου"
  SWordBreak, ""
  SFormNewPage, "Υποχρεωτικά νέα σελίδα"
  SPrintIfSubsetEmpty, "Εκτύπωση αν η λεπτομέρεια είναι κενή"
  SBreaked, "Σπασμένο"
  SPictureCenter, "Εικόνα στο κέντρο"
  SKeepAspectRatio, "Διατήρηση συσχέτισης απεικόνισης"
  SFormFile, "Φόρμα FastReport"
  SForm3File, "Φόρμα FastReport3"
  STemplFile, "Πρότυπο FastReport"
  SDictFile, "Ευρετήριο FastReport"
  SPictFile, "Αρχείο εικόνας"
  SBMPFile, "Αρχείο Bitmap"
  SAllFiles, "Όλα τα αρχεία"
  SInsOLEObject, "Εισαγωγή αντικειμένου OLE"
  SInsRichObject, "Εισαγωγή αντικειμένου Rich Text"
  SInsRich2Object, "Εισαγωγή αντικειμένου Rich Text RX"
  SInsCheckBox, "Εισαγωγή αντικειμένου CheckBox"
  SInsChart, "Εισαγωγή αντικειμένου Chart"
  SInsShape, "Εισαγωγή αντικειμένου Shape"
  SInsBarcode, "Εισαγωγή αντικειμένου Barcode"
  SInsRoundRect, "Εισαγωγή RoundRect με σκιά"
  SSubReportOnPage, "Υποαναφορά σε σελίδα"
  SPicture, "[Εικόνα]"
  STransparent, "Διαφανές"
  SOther, "’λλο..."
  SOnFirstPage, "Στην πρώτη σελίδα"
  SOnLastPage, "Στην τελευταία σελίδα"
  SRepeatHeader, "Προβολή όλων των σελίδων"
  SDesignReport, "Σχεδίαση Αναφοράς"
  SInsertFields, "Εισαγωγή πεδίων ΒΔ"
  SSaveChanges, "Αποθήκευση αλλαγών"
  STo, "σε"
  SPixels, "Εικονοστοιχεία"
  SMM, "MM"
  SInches, "Ίντσες"
  SVirtualDataset, "Ιδεατό Σύνολο Δεδομένων"
  SAutoSize, "Αυτόματο μέγεθος"
  SFRVariables, "Μεταβλητές FR"
  SClearContents, "Καθαρισμός περιεχομένων"

  SAllCategories, "Όλες οι συναρτήσεις"
  SAggregateCategory, "Aggregate"
  SDateTimeCategory, "Ημερομηνία και ώρα"
  SStringCategory, "Συμβολοσειρά"
  SOtherCategory, "’λλο"
  SMathCategory, "Μαθηματικά"
  SBoolCategory, "Boolean"
  SIntrpCategory, "Μεταφραστής"

  SDescriptionAVG, "AVG(<έκφραση> [,ΌνομαΖώνης [,1]])/"
    "Υπολογίζει τον μέσο όρο της <έκφρασης> για το [ΌνομαΖώνης] που δόθηκε. "
    "Αν χρησιμοποιηθεί η μεταβλητη [1], υπολογίζει τον μέσο όρο και για τις γραμμές που δεν εμφανίζονται."

  SDescriptionCOUNT, "COUNT(<ΌνομαΖώνης>)/"
    "Μετράει την γραμμές δεδομένων μέσα στην ζώνη <ΌνομαΖώνης>. "

  SDescriptionDAYOF, "DAYOF(<Ημερομηνία>)/"
    "Επιστρέφει την ημέρα (1..31) της δεδομένης ημερομηνίας <Ημερομηνία>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <ΗμερομηνίαΏρα>)/"
    "Μετατρέπει μια τιμή τύπου <ΗμερομηνίαΏρα> σε συμβολοσειρά χρησιμοποιόντας την μάσκα <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Αριθμός>)/"
    "Μετατρέπει μια αριθμιτική τιμή <Αριθμός> σε συμβολοσειρά χρησιμοποιόντας την μάσκα <Fmt>."

  SDescriptionINPUT, "INPUT(<Ετικέτα> [,ΑρχικήΤιμή])/"
    "Εμφανίζει ενα παράθυρο διαλόγου με επικεφαλίδα <Ετικέτα> και ένα σημείο εισαγωγής κειμένου. "
    "Αν η [ΑρχικήΤιμή] εχει ορισθεί η τιμή αυτή τοποθετειται στο σημείο εισαγωγής κειμένου. "
    "Αφού ο χειριστής πιέσει OK, επιστρέφει την συμβολοσειρά που εισήχθει."

  SDescriptionLENGTH, "LENGTH(<συμβολοσειρά>)/"
    "Επιστρέφει το μήκος της <συμβολοσειρά>."

  SDescriptionLOWERCASE, "LOWERCASE(<συμβολοσειρά>)/"
    "Μετατρέπει την <συμβολοσειρά> σε πεζά σύμβολα."

  SDescriptionMAX, "MAX(<Έκφραση> [,Ζώνη [,1]])/"
    "Υπολογίζει την μέγιστη τιμή της έκφρασης <Έκφραση> για την [Ζώνη] που δόθηκε. "
    "Αν χρησιμοποιηθεί η μεταβλητη [1], υπολογίζει τη μέγιστη τιμή και για τις γραμμές που δεν εμφανίζονται."

  SDescriptionMIN, "MIN(<Έκφραση> [,Ζώνη [,1]])/"
    "Υπολογίζει την ελάχιστη τιμή της έκφρασης <Έκφραση> για την [Ζώνη] που δόθηκε. "
    "Αν χρησιμοποιηθεί η μεταβλητη [1], υπολογίζει την ελάχιστη τιμή και για τις γραμμές που δεν εμφανίζονται."

  SDescriptionMONTHOF, "MONTHOF(<Ημερομηνία>)/"
    "Επιστρέφει το μήνα (1..12) για τη δεδομένη <Ημερομηνία>."

  SDescriptionNAMECASE, "NAMECASE(<συμβολοσειρά>)/"
    "Μετατρέπει την <συμβολοσειρά> σε πεζά σύμβολα εκτός του πρώτου"
    "που το μετατρέπει σε κεφαλαίο."

  SDescriptionSTRTODATE, "STRTODATE(<συμβολοσειρά>)/"
    "Μετατρέπει την <συμβολοσειρά> σε ημερομηνία."

  SDescriptionSTRTOTIME, "STRTOTIME(<συμβολοσειρά>)/"
    "Μετατρέπει την <συμβολοσειρά> σε ώρα."

  SDescriptionSUM, "SUM(<Έκφραση> [,Ζώνη [,1]])/"
    "Υπολογίζει το άθροισμα της έκφρασης <Έκφραση> για την [Ζώνη] που δόθηκε. "
    "Αν χρησιμοποιηθεί η μεταβλητη [1], υπολογίζει το άθροισμα και για τις γραμμές που δεν εμφανίζονται."

  SDescriptionTRIM, "TRIM(<συμβολοσειρά>)/"
    "Αφαιρεί τα κενά που βρίσκονται στην αρχή και το τέλος της <συμβολοσειρά> και επιστράφει "
    "το αποτέλεσμα."

  SDescriptionUPPERCASE, "UPPERCASE(<συμβολοσειρά>)/"
    "Μετατρέπει την <συμβολοσειρά> σε κεφαλαία σύμβολα."

  SDescriptionYEAROF, "YEAROF(<Ημερομηνία>)/"
    "Επιστρέφει το έτος της ημερομηνίας <Ημερομηνία>."

  SDescriptionIF, "IF(<Έκφραση>, <Τιμή1>, <Τιμή2>)/"
    "Επιστρέφει <Τιμή1>, αν η έκφραση <Έκφραση> είναι αληθής; "
    "διαφορετικά επιστρέφει την <Τιμή2>. Η επιστρεφομενη τιμή δεν μπορεί να είναι μόνο συμβολοσειρά."

  SDescriptionCOPY, "COPY(<συμβολοσειρά>, <Από>, <ΑριθμόςΧαρακτήρων>)/"
    "Επιστρέφει μια υπο-συμβολοσειρά της <συμβολοσειρά>."

  SDescriptionMOD, "<Τιμή1> MOD <Τιμή2>/"
    "Επιστρέφει το υπόλοιπο απο το αποτέλεσμα της διαίρεσης <Τιμή1> διά <Τιμή2>."

  SDescriptionSTR, "STR(<Τιμή>)/"
    "Μετατρέπει την αριθμιτική τιμή <Τιμή> σε συμβολοσειρά."

  SDescriptionNOT, "NOT <Τιμή>/"
    "Λογική 'αναστροφή'."

  SDescriptionAND, "<Τιμή1> AND <Τιμή2>/"
    "Λογικό 'ΚΑΙ'."

  SDescriptionOR, "<Τιμή1> OR <Τιμή2>/"
    "Λογικό 'Ή'."

  SDescriptionROUND, "ROUND(<Τιμή>)/"
    "Επιστρέφει στρογγυλοποίημένη την <Τιμή>."

  SDescriptionFRAC, "FRAC(<Τιμή>)/"
    "Επιστρέφει το δεκαδικό μέρος της <Τιμή>."

  SDescriptionINT, "INT(<Τιμή>)/"
    "Επιστρέφει το ακέραιο μέρος της <Τιμή>."

  SDescriptionTRUE, "TRUE/"
    "Λογική 'ΑΛΗΘΕΙΑ'."

  SDescriptionFALSE, "FALSE/"
    "Λογικό 'ΨΕΜΑ'."

  SDescriptionPAGE, "PAGE#/"
    "Επιστρέφει τον τρέχοντα αριθμό σελίδας."

  SDescriptionDATE, "DATE/"
    "Επιστρέφει την τρέχουσα ημερομηνία."

  SDescriptionTIME, "TIME/"
    "Επιστρέφει την τρέχουσα ώρα."

  SDescriptionLINE, "LINE#/"
    "Επιστρέφει τον αριθμό της τρέχουσας γραμμής δεδομένων (αρχίζοντας απο την αρχή της ομάδος)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Επιστρέφει τον αριθμό της τρέχουσας γραμμής δεδομένων (αρχίζοντας απο την αρχή της αναφοράς)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Επιστρέφει τον αριθμό της τρέχουσας στήλης."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Επιστρέφει τον συνολικό αριθμό των σελίδων της αναφοράς."

  SDescriptionMROK, "MROK/"
    "Σταθερό αποτέλεσμα."

  SDescriptionMRCancel, "MRCANCEL/"
    "Σταθερό αποτέλεσμα."

  SDescriptionCurY, "CURY/"
    "Επιστρέφει την θεση στον 'Y' άξονα (σε εικονοστοιχεία) όπου η τρέχουσα ζώνη θα "
    "προβληθεί. Μπορείτε να θέσετε την τιμή του CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Επιστρέφει τον εναπομείναντα χώρο στην σελίδα σε εικονοστοιχεία."

  SDescriptionFinalPass, "FINALPASS/"
    "Επιστρέφει ΑΛΗΘΕΙΑ αν η μηχανή αναφορών εκτελεί το τελευταίο πέρασμα."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Επιστρέφει το ύψος της σελίδας σε εικονοστοιχεία."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Επιστρέφει το εύρος της σελίδας σε εικονοστοιχεία."

  SDescriptionProgress, "PROGRESS/"
    "Η τιμή που ανατίθεται στο Progress θα προβάλλεται στο παράθυρο προόδου."

  SDescriptionModalResult, "MODALRESULT/"
    "Θέτοντας μη μηδενική τιμή στο ModalResult θα έχει σαν σύνεπεια να κλείσει η φόρμα διαλόγου."

  SDescriptionStopReport, "STOPREPORT/"
    "Διακοπή της παραγωγής αναφοράς."

  SDescriptionNewPage, "NEWPAGE/"
    "Αρχίζει νέα σελίδα."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Αρχίζει νέα στήλη."

  SDescriptionShowBand, "SHOWBAND(<Ζώνη>)/"
    "Προβολή της ζώνης με ονομα <Ζώνη>."

  SDescriptionINC, "INC(<Τιμή>)/"
    "Αύξηση κατά ένα της τιμής <Τιμή>."

  SDescriptionDEC, "DEC(<Τιμή>)/"
    "Μείωση κατά ένα της τιμής <Τιμή>."

  SDescriptionMAXNUM, "MAXNUM(<Τιμή1>, <Τιμή2>)/"
    "Επιστρέφει τη μεγαλύτερη απο τις δύο τιμές."

  SDescriptionMINNUM, "MINNUM(<Τιμή1>, <Τιμή2>)/"
    "Επιστρέφει τη μικρότερη απο τις δύο τιμές."

  SDescriptionPOS, "POS(<Υπο-συμβολοσειρά>, <συμβολοσειρά>)/"
    "Επιστρέφει την θέση της <Υπο-συμβολοσειρά> στην <συμβολοσειρά>."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Κείμενο>, <Τίτλος>, <Πλήκτρα>)/"
    "Προβολή τυπικού διαλόγου μηνύματος με τίτλο, κείμενο και πλήκτρα."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Μάσκα>, <συμβολοσειρά>)/"
    "Εφαρμόζει την <Μάσκα> στην δεδομένη <συμβολοσειρά> και επιστρέφει τη μορφοποιημένη συμβολοσειρά."


  SInformation, "Πληροφορίες"
  SExpressionOK, "Η έκφραση είναι εντάξει"
  STextOnly, "Μόνο κείμενο"
  SSuppressRepeated, "Αφαίρεση επαναλαμβανόμεων τιμών"
  SDefaultBin, "Προεπιλεγμένη τιμή"
  SDeleteObjects, "Αυτή η ενέργεια θα διαγράψει όλα τα αντικείμενα της σελίδας."
  SWarning, "Προειδοποίηση"
  SHideZeros, "Εξαφάνιση μηδενικών"
  SPrintChild, "Εκτύπωση παιδιών αν είναι αόρατα"
  SUnderlines, "Υπογραμμίσεις"
  SOnePerPage, "Δεν επιτρέπεται η τοποθετηση δυο ή περισσοτέρων αντικειμένων %s σε μια σελίδα."
  SInsertCrosstab, "Εισαγωγή αντικειμένου Cross-tab"
}
