#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Σύνολα δεδομένων αναφοράς"
  frRes + 3001, "&Ιδιότητες..."
  frRes + 3002, "Νέος &πίνακας..."
  frRes + 3003, "Νέα &ερώτηση..."
  frRes + 3004, "&Απαλοιφή"
  frRes + 3005, "&Κλείσιμο"
  frRes + 3006, "Νεα βάση &δεδομένων..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "Γενικά"
  frRes + 3021, "&Όνομα"
  frRes + 3022, "&Πεδία"
  frRes + 3023, "&Επεξεργαστής πεδίων..."
  frRes + 3024, "’λλα"
  frRes + 3025, "&Δείκτης"
  frRes + 3026, "Έκφραση &φίλτρου"
  frRes + 3027, "&Ηγέτης"
  frRes + 3028, "Πεδία η&γέτη"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "&Προσθήκη πεδίων..."
  frRes + 3041, "Προσθήκη α&νεύρεσης..."
  frRes + 3042, "&Επιλογή όλων"
  frRes + 3043, "&Απαλοιφή"
  frRes + 3044, "Έ&ξοδος"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Διαθέσιμα πεδία"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Νέο πεδίο ανεύρεσης"
  frRes + 3071, "Πεδίο"
  frRes + 3072, "Ό&νομα"
  frRes + 3073, "&Τύπος"
  frRes + 3074, "&Μέγεθος"
  frRes + 3075, "Ορισμός ανεύρεσης"
  frRes + 3076, "&Πεδίο κλειδί"
  frRes + 3077, "&Σύνολο δεδομένων"
  frRes + 3078, "&Κλειδί ανεύρεσης"
  frRes + 3079, "Πεδίο &αποτελέσματος"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Ιδιότητες ερώτησης"
  frRes + 3091, "’λλα"
  frRes + 3092, "&Σύνολο δεδομένων ηγέτη"
  frRes + 3093, "Γενικά"
  frRes + 3094, "&Όνομα"
  frRes + 3095, "&Ψευδώνυμο ή διαδρομή"
  frRes + 3096, "&SQL"
  frRes + 3097, "&Επεξεργαστής πεδίων..."
  frRes + 3098, "Επεξεργαστής &παραμέτρων"
  frRes + 3099, "Ανάκτηση SQL από αρχείο"
  frRes + 3100, "Αποθήκευση SQL σε αρχείο"
  frRes + 3101, "Κατασκευαστής SQL..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Παράμετροι"
  frRes + 3111, "&Τύπος δεδομένων"
  frRes + 3112, "Ό&νομα"
  frRes + 3113, "&Τιμή:"
  frRes + 3114, "&Ζήτηση τιμής πριν την εκτύπωση"
  frRes + 3115, "Ανάθεση της τιμής από το σύνολο δεδομένων ηγέτη"
  frRes + 3116, "&Μεταβλητή:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "&Πεδία ακολούθου"
  frRes + 3131, "Πεδία &ηγέτη"
  frRes + 3132, "&Συνδεδεμένα πεδία"
  frRes + 3133, "Προσ&θήκη"
  frRes + 3134, "&Καθαρισμός"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Παράμετροι"
  frRes + 3151, "4 σημεία"
  frRes + 3152, "8 σημεία"
  frRes + 3153, "Ευθυγράμμιση με πλέγμα"
  frRes + 3154, "Κλείσιμο"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Ιδιότητες"
  frRes + 3171, "&Κείμενο"
  frRes + 3172, "&Γραμματοσειρά..."
  frRes + 3173, "Ανεύρεση"
  frRes + 3174, "&Σύνολο δεδομένων"
  frRes + 3175, "&Πεδίο κλειδί"
  frRes + 3176, "Πεδίο &λίστας"
  frRes + 3177, "Είδος"
  frRes + 3178, "&Επεξεργασία"
  frRes + 3179, "Συν&δυασμός"
  frRes + 3180, "Αν&εύρεση"
  frRes + 3181, "Συνδυασμός"
  frRes + 3182, "Αυτόματο &μέγεθος"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Ιδιότητες βάσης δεδομένων"
  frRes + 3201, "Γενικά"
  frRes + 3202, "Παράμετροι"
  frRes + 3203, "Ό&νομα"
  frRes + 3204, "&Συμβολοσειρά σύνδεσης"  ; for ADO
  frRes + 3205, "Όνομα &αρχείου"          ; for IBX
  frRes + 3206, "Όνομα &ψευδωνύμου"       ; for BDE
  frRes + 3207, "Όνομα οδηγού"
  frRes + 3208, "&Διάλογος σύνδεσης"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Επιλογή πίνακα"
  frRes + 3221, "Επιλογή απο βάση δεδομένων"
  frRes + 3222, "Επιλογή απο αρχείο"
  frRes + 3223, "&Βάση δεδομένων"
  frRes + 3224, "&Πίνακας"
  frRes + 3225, "&Διερεύνηση..."
;--- Strings resources -------------------------------------------------------
  SFields, "πεδία"
  SPath, "Διαδρομή"
  SRemoveDS, "Απαλοιφή αυτού του εξαρτήματος;"
  STables, "Πίνακες"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Διαχειριστής δεδομένων"
  SParams, "παράμετροι"
  SQueryError, "Εσφαλμένη ερώτηση SQL ή παράμετροι"
  STableProps, "Ιδιότητες πίνακα"
  SParamDialog, "Διάλογος παραμέτρων"
  SInvalidParamValue, "Εσφαλμένη τιμή παραμέτρου"
  SDatabase, "Βάσεις δεδομένων"
  SFieldSizeError, "Εσφαλμένο μέγεθος πεδίου"
}
