#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Datasets del report"
  frRes + 3001, "&Proprietà..."
  frRes + 3002, "Nuova &tabella..."
  frRes + 3003, "Nuova &query..."
  frRes + 3004, "&Elimina"
  frRes + 3005, "&Chiudi"
  frRes + 3006, "Nuovo &database..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "Generale"
  frRes + 3021, "&Nome"
  frRes + 3022, "&Campi"
  frRes + 3023, "Editor dei &campi..."
  frRes + 3024, "Altro"
  frRes + 3025, "&Indice"
  frRes + 3026, "&Espressione filtro"
  frRes + 3027, "&Principale"
  frRes + 3028, "&Campi principali"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "&Aggiungi campi..."
  frRes + 3041, "Aggiungi &lookup..."
  frRes + 3042, "&Seleziona tutto"
  frRes + 3043, "&Elimina"
  frRes + 3044, "Es&ci"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Campi disponibili"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Nuovo campo lookup"
  frRes + 3071, "Campo"
  frRes + 3072, "&Nome"
  frRes + 3073, "&Tipo"
  frRes + 3074, "&Dimensione"
  frRes + 3075, "Definizione lookup"
  frRes + 3076, "&Campo chiave"
  frRes + 3077, "&Dataset"
  frRes + 3078, "&Chiave lookup"
  frRes + 3079, "&Campo risultato"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Proprietà query"
  frRes + 3091, "Altro"
  frRes + 3092, "&Dataset principale"
  frRes + 3093, "Generale"
  frRes + 3094, "&Nome"
  frRes + 3095, "&Alias o percorso"
  frRes + 3096, "&SQL"
  frRes + 3097, "&Editor dei campi..."
  frRes + 3098, "&Editor dei parametri..."
  frRes + 3099, "Carica SQL da file"
  frRes + 3100, "Salva SQL su file"
  frRes + 3101, "Interrogazione SQL..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Parametri"
  frRes + 3111, "&Tipo dati"
  frRes + 3112, "&Nome"
  frRes + 3113, "&Valore:"
  frRes + 3114, "&Chiedi valore prima di stampare"
  frRes + 3115, "Assegna valore dal dataset principale"
  frRes + 3116, "Va&riabile:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "&Campi dettaglio"
  frRes + 3131, "&Campi principali"
  frRes + 3132, "&Campi collegati"
  frRes + 3133, "&Aggiungi"
  frRes + 3134, "&Pulisci"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Parametri"
  frRes + 3151, "4 punti"
  frRes + 3152, "8 punti"
  frRes + 3153, "Allinea alla griglia"
  frRes + 3154, "Chiudi"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Proprietà"
  frRes + 3171, "&Testo"
  frRes + 3172, "&Carattere..."
  frRes + 3173, "Lookup"
  frRes + 3174, "&Dataset"
  frRes + 3175, "Campo c&hiave"
  frRes + 3176, "&Elenco campi"
  frRes + 3177, "Tipo"
  frRes + 3178, "&Modifica"
  frRes + 3179, "&Combo"
  frRes + 3180, "Look&up"
  frRes + 3181, "Combo"
  frRes + 3182, "&Autodimensionamento"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Proprietà database"
  frRes + 3201, "Generale"
  frRes + 3202, "Parametri"
  frRes + 3203, "&Nome"
  frRes + 3204, "&Stringa connessione"  ; for ADO
  frRes + 3205, "Nome &file"            ; for IBX
  frRes + 3206, "Nome &alias"           ; for BDE
  frRes + 3207, "Nome &driver"
  frRes + 3208, "&Richiesta login"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Seleziona tabella"
  frRes + 3221, "Seleziona da database"
  frRes + 3222, "Seleziona da file"
  frRes + 3223, "&Database"
  frRes + 3224, "&Tabella"
  frRes + 3225, "&Visualizza..."
;--- Strings resources -------------------------------------------------------
  SFields, "campi"
  SPath, "Percorso"
  SRemoveDS, "Elimino questo componente?"
  STables, "Tabelle"
  SFieldType1, "Carattere"
  SFieldType2, "Intero piccolo"
  SFieldType3, "Intero"
  SFieldType4, "Word"
  SFieldType5, "Logico"
  SFieldType6, "Virgola mobile"
  SFieldType7, "Valuta"
  SFieldType8, "Data"
  SFieldType9, "Ora"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Logico"
  SParamType3, "Valuta"
  SParamType4, "Data"
  SParamType5, "Data/ora"
  SParamType6, "Intero"
  SParamType7, "Virgola mobile"
  SParamType8, "Intero piccolo"
  SParamType9, "Carattere"
  SParamType10, "Ora"
  SParamType11, "Word"
  SDataManager, "Gestore dati"
  SParams, ": parametri"
  SQueryError, "Comando o paramentri SQL errati"
  STableProps, "Proprietà tabella"
  SParamDialog, "Finestra parametri"
  SInvalidParamValue, "Valore parametro errato"
  SDatabase, "Databases"
  SFieldSizeError, "Dimensione campo errata"
}
