#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Trova testo"
  frRes + 1, "Testo da &trovare"
  frRes + 2, "Opzioni"
  frRes + 3, "&Maiuscole/minuscole"
  frRes + 4, "Origine"
  frRes + 5, "&Prima pagina"
  frRes + 6, "Pag. &corrente"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "&Larghezza pagina"
  frRes + 21, "Pagina &intera"
  frRes + 22, "&Due pagine"
  frRes + 23, "Chiudi anteprima"
  frRes + 24, "Scala"
  frRes + 25, "Apri report"
  frRes + 26, "Salva report"
  frRes + 27, "Stampa report"
  frRes + 28, "Trova testo"
  frRes + 29, "Modifica pagina"
  frRes + 30, "Aggiungi pagina"
  frRes + 31, "Elimina pagina"
  frRes + 32, "Guida"
;--- PrintForm resources ---------------------------------------------------
  frRes + 40, "Stampa"
  frRes + 41, "Stampante"
  frRes + 42, "Proprietà"
  frRes + 43, "Copie"
  frRes + 44, "Pagine da stampare"
  frRes + 45, "&Tutte"
  frRes + 46, "Pa&gina corrente"
  frRes + 47, "&Pagine:"
  frRes + 48, "Immettere i numeri di pagina e/o gli intervalli di pagina separati da virgole. Es.:1,3,5-12"
  frRes + 49, "&Nome:"
  frRes + 50, "Numero di &copie:"
  frRes + 51, "Fascico&la"
  frRes + 52, "&Stampa"
  frRes + 53, "Tutte le pagine"
  frRes + 54, "Pagine dispari"
  frRes + 55, "Pagine pari"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Opzioni esportazioni TXT"
  frRes + 1801, "&Elimina linee vuote"
  frRes + 1802, "Converti in formato &DOS"
  frRes + 1803, "Espota &riquadri"
  frRes + 1804, "Usa &pseudo-grafica DOS"
  frRes + 1805, "Inserisci &interruzioni pagine"
  frRes + 1806, "Fattore di scala"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Opzioni esportazioni CSV"
  frRes + 1811, "Delimitatore &CSV"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Opzioni esportazioni RTF"
  frRes + 1821, "Esporta &immagini"
  frRes + 1822, "Converti in &tabelle"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Opzioni esportazione HTML"
;--- EXCELExportForm resources
  frRes + 1840, "Archivio Excel OLE (*.xls)"
  frRes + 1841, "Oggetti: "
  frRes + 1842, " - Tempo rimanente: "
  frRes + 1843, "Attendere prego ..."
  frRes + 1844, "Esporta in Excel"
  frRes + 1845, " Proprietà pagina "
  frRes + 1846, "Margine superiore"
  frRes + 1847, "Margine sinistro"
  frRes + 1848, "Scala su X"
  frRes + 1849, "Scala su Y"
  frRes + 1850, " Parametri Qualità "
  frRes + 1851, "Unite"
  frRes + 1852, "Allinea"
  frRes + 1853, "Colore riempimento"
  frRes + 1854, "Bordi"
  frRes + 1855, "Words wrap"
  frRes + 1856, "Nome Font"
  frRes + 1857, "Simensione Font"
  frRes + 1858, "Stile Font"
  frRes + 1859, "Colore Font"
  frRes + 1860, "Interruzioni di pagina"
  frRes + 1861, "Migliore"
  frRes + 1862, "Più veloce"
  frRes + 1863, "Immagini"
  frRes + 1864, "Apri Excel dopo l'esportazione"
  frRes + 1865, "Prepara Y pos: "
  frRes + 1866, "Prepara X pos: "
;--- RTFExportForm resources
  frRes + 1870, "Archivio Rich text advanced (*.rtf)"
  frRes + 1871, "Esporta in RTF"
;--- IMGExportForm resources
  frRes + 1875, "Archivio BMP (*.bmp)"
  frRes + 1876, "Archivio TIFF (*.tif)"
  frRes + 1877, "Archivio JPEG (*.jpg)"
  frRes + 1878, "Esporta come immagine"
  frRes + 1879, "Parametri immagine"
  frRes + 1880, "Qualità (per JPEG)"
  frRes + 1881, "Crop pagine"
  frRes + 1882, "Monocromatica"
;--- Advanced CROSS
  frRes + 2600, "Gran totale"
  frRes + 2601, "Totale"
  frRes + 2602, "Totale di "
  frRes + 2603, "Cella"
  frRes + 2604, "Testata"
  frRes + 2605, "Ripeti etichette"
  frRes + 2606, "Frame interno"
  frRes + 2607, "Mostra testata"
;--- Functions in 2.50
  frRes + 2620, "Database"
  frRes + 2621, "FIELDISNULL(<FieldName>)/Restituisce 'true' se il campo DB è null"
  frRes + 2622, "Info Report"
  frRes + 2623, "REPORTCOMMENT/Restituisce il commento del report"
  frRes + 2624, "REPORTNAME/Restituisce il nome del report"
  frRes + 2625, "REPORTAUTOR/Restituisce l'autore del report"
  frRes + 2626, "VMAJOR/Restituisce la major version"
  frRes + 2627, "VMINOR/Restituisce la minor version"
  frRes + 2628, "VRELEASE/Restituisce la release version"
  frRes + 2629, "VBUILD/Restituisce la build version"
  frRes + 2630, "REPORTDATE/Restituisce la data creazione del report"
  frRes + 2631, "REPORTLASTCHANGE/Restituisce la data di modifica del report"
;--- Designer 2.50
  frRes + 2650, "Syntax highlight"
  frRes + 2651, "Syntax highlight abilitata"
  frRes + 2652, "Disabilita annulla azione"
  frRes + 2653, "Password"
  frRes + 2654, "Inserire la password per l'apertura del report"
  frRes + 2655, "Ridigita la password per controllo"
  frRes + 2656, "Generale"
  frRes + 2657, "Protetto da Password"
  frRes + 2658, "Documento"
  frRes + 2659, "Attributo"
  frRes + 2660, "Nome"
  frRes + 2661, "Autore"
  frRes + 2662, "Version"
  frRes + 2663, "Major"
  frRes + 2664, "Minor"
  frRes + 2665, "Release"
  frRes + 2666, "Build"
  frRes + 2667, "Descrizione"
  frRes + 2668, "Commento"
  frRes + 2669, "Modificato"
  frRes + 2670, "Creato"

;-- Additions in 2.52
;-- OLE Excel export
  frRes + 2700, "Styles"
;-- XML Excel export
  frRes + 2710, "Excel table (XML) file (*.xls)"
  frRes + 2711, "XML table file (*.xml)"
  frRes + 2712, "Export to XML"
  frRes + 2713, "Export to Excel (XML)"
  frRes + 2714, "Numbers"
;-- HTML Table export
  frRes + 2720, "HTML table file (*.html)"
  frRes + 2721, "Export to HTML"
  frRes + 2722, "Pictures"
  frRes + 2723, "All in one folder"
  frRes + 2724, "Open in default browser after export"
  frRes + 2725, "Fixed width"
  frRes + 2726, "Page navigator"
  frRes + 2727, "Multipage"
  frRes + 2728, "Mozilla frames"
  frRes + 2729, "Pages"
  frRes + 2730, "Advanced"
;-- Text advanced export
  frRes + 2740, "Text (dot-matrix printer) (*.prn)"
  frRes + 2741, "Export to text (dot-matrix printer)"
  frRes + 2742, "Preview on/off"
  frRes + 2743, "Printer init setup"
  frRes + 2744, " Export properties "
  frRes + 2745, "Page breaks"
  frRes + 2746, "OEM codepage"
  frRes + 2747, "Empty lines"
  frRes + 2748, "Lead spaces"
  frRes + 2749, " Scaling "
  frRes + 2750, "Width"
  frRes + 2751, "Height"
  frRes + 2752, " Frames "
  frRes + 2753, "None"
  frRes + 2754, "Simple"
  frRes + 2755, "Only with OEM codepage"
  frRes + 2756, "Graphic"
  frRes + 2757, "Print after export"
  frRes + 2758, "Save settings"
  frRes + 2759, " Preview "
  frRes + 2760, "Width:"
  frRes + 2761, "Height:"
  frRes + 2762, "Page"
  frRes + 2763, "Enlarge preview"
  frRes + 2764, "Reduce preview"
  frRes + 2765, "Printer init setup"
  frRes + 2766, "Printer type"
  frRes + 2767, "Load"
  frRes + 2768, "Save"
  frRes + 2769, "Printer init template (*.fpi)|*.fpi"

;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Annulla"
  SYes, "Sì"
  SNo, "No"
  SPg, "Pagina"
  SNotAssigned, "[Nessuno]"
  SDefaultPrinter, "Stampante virtuale"
  SBand1, "Titolo report"
  SBand2, "Sommario report"
  SBand3, "Intestaz. pagina"
  SBand4, "Piede pagina"
  SBand5, "Intestaz. master"
  SBand6, "Dati master"
  SBand7, "Piede master"
  SBand8, "Intestaz. dettaglio"
  SBand9, "Dati dettaglio"
  SBand10, "Piede dettaglio"
  SBand11, "Intestaz. sotto-dettaglio"
  SBand12, "Dati sotto-dettaglio"
  SBand13, "Piede sotto-dettaglio"
  SBand14, "Pagina"
  SBand15, "Intestaz. colonna"
  SBand16, "Piede colonna"
  SBand17, "Intestaz. gruppo"
  SBand18, "Piede gruppo"
  SBand19, "Intestaz. crosstab"
  SBand20, "Dati crosstab"
  SBand21, "Piede crosstab"
  SBand22, "Figlio"
  SBand23, "Nessuno"
  SCateg1, "Testo"
  SCateg2, "Numero"
  SCateg3, "Data"
  SCateg4, "Ora"
  SCateg5, "Logico"
  SFormat11, "[Nessuno]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1.234,5"
  SFormat24, "1.234,50"
  SFormat25, "Personalizzato"
  SFormat31, "15/11/98"
  SFormat32, "15/11/1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 novembre 1998"
  SFormat35, "Personalizzato"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Personalizzato"
  SFormat51, "0;1"
  SFormat52, "No;Si"
  SFormat53, "_;x"
  SFormat54, "Falso;Vero"
  SFormat55, "Personalizzato"
  SDateFormat1, "dd/mm/yy"
  SDateFormat2, "dd/mm/yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "da"
  SErrorOccured, "Si è verificato un errore durante i calcoli"
  SDoc, "Report:"
  SObject, "Oggetto:"
  SReportPreparing, "Preparazione report"
  SFirstPass, "Esecuzione primo passaggio:"
  SPagePreparing, "Elaborazione pagina:"
  SError, "Errore"
  SPreview, "Anteprima"
  SPagePrinting, "Stampa pagina:"
  SUntitled, "Senza titolo"
  SPrinterError, "La stampante selezionata non è valida"
  SRepFile, "Archivio report"
  STextFile, "Archivio di testo"
  SRTFFile, "Archivio RTF (Rich Text Format)"
  SCSVFile, "Archivio CSV (delimitato dal separatore di elenco)"
  SHTMFile, "Archivio HTML"
  SFont, "Carattere..."
  SCharset, "1"
  SBarcodeError, "Errore nel codice a barre"
  SFRFError, "Formato FRF non supportato"
  SUndefinedSymbol, "Simbolo non definito"
}
