#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Proprietà oggetto"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Editor di testo"
  frRes + 61, "Inserisci espressione"
  frRes + 62, "Inserisci campo DB"
  frRes + 63, "A capo automatico"
  frRes + 64, "Mostra/nascondi script"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Designer"
  frRes + 81, "Rettangolo"
  frRes + 82, "Standard"
  frRes + 83, "Testo"
  frRes + 84, "Oggetti"
  frRes + 85, "Allineamento"
  frRes + 86, "Strumenti"
  frRes + 87, "Nuovo report"
  frRes + 88, "Apri report"
  frRes + 89, "Salva report"
  frRes + 90, "Anteprima report"
  frRes + 91, "Taglia"
  frRes + 92, "Copia"
  frRes + 93, "Incolla"
  frRes + 94, "Annulla azione"
  frRes + 95, "Ripeti azione"
  frRes + 96, "Porta in primo piano"
  frRes + 97, "Porta in secondo piano"
  frRes + 98, "Seleziona tutto"
  frRes + 99, "Aggiungi pagina"
  frRes + 100, "Elimina pagina"
  frRes + 101, "Opzioni pagina"
  frRes + 102, "Mostra griglia"
  frRes + 103, "Allinea alla griglia"
  frRes + 104, "Ridimensiona alla griglia"
  frRes + 105, "Chiudi"
  frRes + 106, "Chiudi designer"
  frRes + 107, "Allinea a sinistra"
  frRes + 108, "Allinea a destra"
  frRes + 109, "Centra"
  frRes + 110, "Testo normale / 90 gradi"
  frRes + 111, "Centra verticalmente"
  frRes + 112, "Allinea in alto"
  frRes + 113, "Allinea in basso"
  frRes + 114, "Giustifica"
  frRes + 115, "Grassetto"
  frRes + 116, "Corsivo"
  frRes + 117, "Sottolineato"
  frRes + 118, "Colore carattere"
  frRes + 119, "Attributi evidenziazione"
  frRes + 120, "Dimensione carattere"
  frRes + 121, "Nome carattere"
  frRes + 122, "Bordo superiore"
  frRes + 123, "Bordo sinistro"
  frRes + 124, "Bordo inferiore"
  frRes + 125, "Bordo destro"
  frRes + 126, "Bordo completo"
  frRes + 127, "Nessun bordo"
  frRes + 128, "Colore sfondo"
  frRes + 129, "Colore bordo"
  frRes + 130, "Spessore bordo"
  frRes + 131, "Spessore bordo"
  frRes + 132, "Seleziona oggetto"
  frRes + 133, "Inserisci oggetto testo"
  frRes + 134, "Inserisci banda"
  frRes + 135, "Inserisci immagine"
  frRes + 136, "Inserisci sotto-report"
  frRes + 137, "Disegna linee"
  frRes + 138, "Allinea i lati sinistri"
  frRes + 139, "Allinea i centri orizzontalmente"
  frRes + 140, "Centra orizzontalmente nella finestra"
  frRes + 141, "Spazia uniformemente in orizzontale"
  frRes + 142, "Allinea i lati destri"
  frRes + 143, "Allinea i lati superiori"
  frRes + 144, "Allinea i centri verticalmente"
  frRes + 145, "Centra verticalmente nella finestra"
  frRes + 146, "Spazia uniformemente in verticale"
  frRes + 147, "Allinea i lati inferiori"
  frRes + 148, "&Taglia"
  frRes + 149, "&Copia"
  frRes + 150, "&Incolla"
  frRes + 151, "&Elimina"
  frRes + 152, "Seleziona t&utto"
  frRes + 153, "&Modifica..."
  frRes + 154, "&File"
  frRes + 155, "&Nuovo..."
  frRes + 156, "&Apri..."
  frRes + 157, "&Salva"
  frRes + 158, "&Dizionario dati..."
  frRes + 159, "Opzioni &report..."
  frRes + 160, "Opzioni &pagina..."
  frRes + 161, "A&nteprima"
  frRes + 162, "&Esci"
  frRes + 163, "&Modifica"
  frRes + 164, "&Annulla azione"
  frRes + 165, "&Ripeti azione"
  frRes + 166, "&Taglia"
  frRes + 167, "&Copia"
  frRes + 168, "&Incolla"
  frRes + 169, "&Elimina"
  frRes + 170, "Seleziona t&utto"
  frRes + 171, "&Modifica..."
  frRes + 172, "Aggiungi &pagina"
  frRes + 173, "E&limina pagina"
  frRes + 174, "Porta in prim&o piano"
  frRes + 175, "Porta in seco&ndo piano"
  frRes + 176, "&Strumenti"
  frRes + 177, "&Barre degli strumenti"
  frRes + 178, "&Strumenti"
  frRes + 179, "&Opzioni..."
  frRes + 180, "&Bordo"
  frRes + 181, "&Standard"
  frRes + 182, "&Testo"
  frRes + 183, "&Oggetti"
  frRes + 184, "Propr&ietà oggetto"
  frRes + 185, "&Allineamento"
  frRes + 186, "&Strumenti"
  frRes + 187, "&Informazioni su..."
  frRes + 188, "Salva &come..."
  frRes + 189, "&Guida"
  frRes + 190, "&Strumento &guida"
  frRes + 191, "Stile linea"
  frRes + 192, "Aggiungi finestra di &dialogo"
  frRes + 193, "Aggiungi finestra di dialogo"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Restrizioni oggetto"
  frRes + 261, "Non modificare il &memo"
  frRes + 262, "Non modificare lo &script"
  frRes + 263, "Non modificare i &contenuti"
  frRes + 264, "Non mo&dificare"
  frRes + 265, "Non &cambiare le dimensi&oni"
  frRes + 266, "Non muo&vere"
  frRes + 267, "Non e&liminare"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Opzioni"
  frRes + 281, "Designer"
  frRes + 282, "Griglia"
  frRes + 283, "Oggetti di disegno"
  frRes + 284, "Unità di misura report"
  frRes + 285, "Dimensione griglia"
  frRes + 286, "Mostra &griglia"
  frRes + 287, "&Allinea alla griglia"
  frRes + 288, "Bottoni a &colori"
  frRes + 289, "&4 punti"
  frRes + 290, "&8 punti"
  frRes + 291, "&18 punti (5mm)"
  frRes + 293, "Mostra il contenuto dell'oggetto durante il movimento"
  frRes + 294, "&Punti"
  frRes + 295, "&MM"
  frRes + 296, "P&ollici"
  frRes + 297, "Altro"
  frRes + 298, "Modifica &dopo inserimento"
  frRes + 299, "Mostra i &titoli banda"
  frRes + 300, "Posizione pagina"
  frRes + 301, "Cent&ro"
  frRes + 302, "&Sinistra"
  frRes + 303, "&Destra"
  frRes + 304, "Editor"
  frRes + 305, "Editor del testo"
  frRes + 306, "&Usa il formato carattere dell'oggetto"
  frRes + 307, "Use il formato &fisso:"
  frRes + 308, "Nome carattere:"
  frRes + 309, "Dimens.:"
  frRes + 310, "Editor dello script"
  frRes + 311, "Nomi proprietà localizzati"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Nuovo report"
  frRes + 319, "Descrizione"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Nuovo modello report"
  frRes + 321, "&Commento"
  frRes + 322, "Icona"
  frRes + 323, "&File..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Dizionario dati"
  frRes + 341, "Variabili"
  frRes + 342, "Aliases dei campi"
  frRes + 343, "Origini dati delle bande"
  frRes + 344, "Va&riabili"
  frRes + 345, "Va&lori"
  frRes + 346, "E&spressione"
  frRes + 347, "Nuova categoria"
  frRes + 348, "Nuova variabile"
  frRes + 349, "Modifica"
  frRes + 350, "Elimina"
  frRes + 351, "Modifica elenco"
  frRes + 352, "Datasets e campi"
  frRes + 353, "Tutti i datasets"
  frRes + 354, "&Visualizzazione"
  frRes + 355, "A&lias"
  frRes + 356, "Escl&udi il campo dall'elenco"
  frRes + 357, "Origini dati"
  frRes + 358, "Tutte le origini dati"
  frRes + 359, "&Salva..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Elenco variabili"
  frRes + 361, "&Categorie e variabili"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Opzioni report"
  frRes + 371, "Stampante"
  frRes + 372, "&Seleziona su caricamento report"
  frRes + 373, "Altro"
  frRes + 374, "&Report a doppio passaggio"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Opzioni pagina"
  frRes + 391, "Carta"
  frRes + 392, "Orientamento"
  frRes + 393, "&Verticale"
  frRes + 394, "&Orizzontale"
  frRes + 395, "Dimensione"
  frRes + 396, "&Larghezza mm"
  frRes + 397, "&Altezza mm"
  frRes + 398, "Margini"
  frRes + 399, "Margini pagina"
  frRes + 400, "&Sinistra mm"
  frRes + 401, "&Superiore mm"
  frRes + 402, "&Destra mm"
  frRes + 403, "&Inferiore mm"
  frRes + 404, "&Ridimensiona all'area di stampa"
  frRes + 405, "Opzioni"
  frRes + 406, "Opzioni"
  frRes + 407, "&Stampa nella pagina precedente"
  frRes + 408, "Colonne"
  frRes + 409, "&Numero"
  frRes + 410, "&Spazio tra colonne, mm"
  frRes + 411, "Alimentazione"
  frRes + 412, "Alimentazione carta"
  frRes + 413, "&Unlimited height"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Formato variabile"
  frRes + 421, "Formato"
  frRes + 422, "&Cifre decimali"
  frRes + 423, "&Separatore decimale"
  frRes + 424, "&Formato"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Variabili"
  frRes + 441, "&Categoria:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Inserisci campo DB"
  frRes + 451, "&DB disponibili"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Immagine"
  frRes + 461, "&Deforma"
  frRes + 462, "&Carica..."
  frRes + 463, "&Svuota"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Origine dati della banda"
  frRes + 481, "&Origine dati"
  frRes + 482, "&Numero record"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Origini dati della banda"
  frRes + 486, "Bande"
  frRes + 487, "Origine dati"
  frRes + 488, "&Conteggio record"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Grupo"
  frRes + 491, "&Condizione"
  frRes + 492, "Inserisci campo DB"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Inserisci nuova banda"
  frRes + 511, "Tipo banda"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Evidenziazione condizionale"
  frRes + 521, "&Condizione"
  frRes + 522, "Carattere"
  frRes + 523, "C&olore..."
  frRes + 524, "&Grassetto"
  frRes + 525, "&Corsivo"
  frRes + 526, "&Sottolineato"
  frRes + 527, "Sfondo"
  frRes + 528, "Co&lore..."
  frRes + 529, "&Trasparente"
  frRes + 530, "&Altro"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "Informazioni su FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "Oggetto OLE"
  frRes + 551, "&Inserisci..."
  frRes + 552, "&Modifica..."
  frRes + 553, "&Chiudi"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "Apri..."
  frRes + 562, "Salva..."
  frRes + 563, "Annulla azione"
  frRes + 564, "Grassetto"
  frRes + 565, "Corsivo"
  frRes + 566, "Allinea a sinistra"
  frRes + 567, "Centra"
  frRes + 568, "Allinea a destra"
  frRes + 569, "Sottolineato"
  frRes + 570, "Elenco puntato"
  frRes + 571, "Carattere"
  frRes + 572, "Annulla"
  frRes + 573, "Salva ed esci"
  frRes + 574, "Var"
  frRes + 575, "Inserisci espressione"
  frRes + 576, "Carattere"
  frRes + 577, "Dimensione carattere"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Oggetto Chart"
  frRes + 591, "Tipo"
  frRes + 592, "Data"
  frRes + 593, "Tipo"
  frRes + 594, "Nome oggetto"
  frRes + 595, "Opzioni"
  frRes + 596, "&3D"
  frRes + 597, "&Singolo"
  frRes + 598, "Mostra &legenda"
  frRes + 599, "Mostra &assi"
  frRes + 600, "Mostra &indicatori"
  frRes + 601, "Multi-colo&re"
  frRes + 602, "Per &legenda"
  frRes + 603, "Per &valori"
  frRes + 604, "Indicatori"
  frRes + 605, "Stile"
  frRes + 606, "Valore"
  frRes + 607, "Percentuale"
  frRes + 608, "Etichetta"
  frRes + 609, "Etichetta e percentuale"
  frRes + 610, "Etichetta e valore"
  frRes + 611, "Gruppo Top 10"
  frRes + 612, "&Mostra top"
  frRes + 613, "&Etichetta"
  frRes + 614, "valori"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Inserisci campo"
  frRes + 631, "&Datasets disponibili"
  frRes + 632, "Posizione"
  frRes + 633, "&Orizzontale"
  frRes + 634, "&Verticale"
  frRes + 635, "&Includi intestazioni"
  frRes + 636, "Includi &bande"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Editor del codice a barre"
  frRes + 651, "&Codice"
  frRes + 652, "&Tipo di codice a barre"
  frRes + 653, "Opzioni"
  frRes + 654, "Check&sum"
  frRes + 655, "&Leggibile direttamente"
  frRes + 656, "Inserisci espressione"
  frRes + 657, "Inserisci variabile"
  frRes + 658, "Rotazione"
  frRes + 659, "&Zoom:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Editor delle proprietà"
  frRes + 671, "Esempio :"
  frRes + 672, "&Espessione..."
  frRes + 673, "Campo &DB..."
  frRes + 674, "&Gradazione"
  frRes + 675, "Dimens. &ombreggiatura"
  frRes + 676, "Colore"
  frRes + 677, "&Curvatura"
  frRes + 678, "&Zona incorniciata"
  frRes + 679, "Colore finale"
  frRes + 680, "Colore iniziale"
  frRes + 681, "&Stile"
  frRes + 682, "Verticale,Orizzontale,Ellittico,Rettangolo,Centra_orizz.,Centra_vert"
  frRes + 683, "Clicca qui per definire il colore dell'ombreggiatura"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Inserisci espressione"
  frRes + 701, "Espressione"
  frRes + 702, "Inserisci"
  frRes + 703, "Campo &DB..."
  frRes + 704, "&Variabile..."
  frRes + 705, "&Funzione..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Funzioni disponibili"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Argomenti della funzione"
  frRes + 731, "Argumento"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Tag dell'oggetto"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Vista Cross-tab"
  frRes + 751, "Dataset Cross-tab"
  frRes + 752, "Subtotali"
  frRes + 753, "Funzione"
  frRes + 754, "Editor Cross-tab"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Elimino questa pagina?"
  SConfirm, "Conferma"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Personalizzata"
  SSystemVariables, "Variabili di sistema"
        SVar1, "Pagina#"
  SVar2, "Espressione"
  SVar3, "Data"
  SVar4, "Ora"
  SVar5, "Linea#"
  SVar6, "Linea assoluta#"
  SVar7, "Colonna#"
  SVar8, "Linea corrente#"
  SVar9, "PagineTotali"
  SStretched, "Estensione automatica"
  SVarFormat, "Formato..."
  SWordWrap, "A capo automatico"
  SWordBreak, ""
  SFormNewPage, "Inizia su nuova pagina"
  SPrintIfSubsetEmpty, "Stampa anche se il dettaglio è vuoto"
  SBreaked, "Interrompibile"
  SPictureCenter, "Centra immagine"
  SKeepAspectRatio, "Mantieni proporzioni"
  SFormFile, "File FastReport"
  SForm3File, "File FastReport3"
  STemplFile, "Modello FastReport"
  SDictFile, "FastReport dictionary"
  SPictFile, "File immagine"
  SBMPFile, "File bitmap"
  SAllFiles, "Tutti i files"
  SInsOLEObject, "Inserisci oggetto OLE"
  SInsRichObject, "Inserisci oggetto RichText"
  SInsRich2Object, "Inserisci oggetto RX RichText"
  SInsCheckBox, "Inserisci CheckBox"
  SInsChart, "Inserisci Chart"
  SInsShape, "Inserisci poligono"
  SInsBarcode, "Inserisci codice a barre"
  SInsRoundRect, "Inserisci rettangolo arrotondato"
  SSubReportOnPage, "Sotto-report su pagina"
  SPicture, "[Immagine]"
  STransparent, "Trasparente"
  SOther, "Altro..."
  SOnFirstPage, "Sulla prima pagina"
  SOnLastPage, "Sull'ultima pagina"
  SRepeatHeader, "Mostra su tutte le pagine"
  SDesignReport, "Modifica report"
  SInsertFields, "Inserisci campo DB"
  SSaveChanges, "Salva modifiche"
  STo, "a"
  SPixels, "Punti"
  SMM, "MM"
  SInches, "Pollici"
  SVirtualDataset, "Dataset virtuale"
  SAutoSize, "Auto-dimensionamento"
  SFRVariables, "Variabili FR"
  SClearContents, "Svuota"

  SAllCategories, "Tutte le funzioni"
  SAggregateCategory, "Aggregazione"
  SDateTimeCategory, "Data e ora"
  SStringCategory, "Carattere"
  SOtherCategory, "Altre"
  SMathCategory, "Matematiche"
  SBoolCategory, "Logiche"
  SIntrpCategory, "Interprete"

  SDescriptionAVG, "AVG(<Espressione> [,NomeBanda [,1]])/"
    "Calcola la media di <Espressione> per le righe della banda [NomeBanda]. "
    "Se si indica [1] come parametro, calcola la media anche per le righe non visibili."

  SDescriptionCOUNT, "COUNT(<NomeBanda>)/"
    "Restituisce il conteggio delle righe dati della banda <NomeBanda>. "

  SDescriptionDAYOF, "DAYOF(<Data>)/"
    "Restituisce il numero giorni (1..31) della data <Data>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Formato>, <DataOra>)/"
    "Converte il valore <DataOra> in testo usando il formato <Formato>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Formato>, <Numero>)/"
    "Converte il valore <Numero> in testo usando il formato <Formato>."

  SDescriptionINPUT, "INPUT(<Intestazione> [,Predefinito])/"
    "Mostra la finestra con l'intestazione <Intestazione> e una casella di testo. "
    "Se è definito il parametro [Predefinito], mette questo testo nella casella. "
    "Dopo che l'utente ha cliccato su OK, restituisce il testo inserito."

  SDescriptionLENGTH, "LENGTH(<Stringa>)/"
    "Restituisce la lunghezza del testo <Stringa>."

  SDescriptionLOWERCASE, "LOWERCASE(<Stringa>)/"
    "Converte il testo <Stringa> in minuscolo."

  SDescriptionMAX, "MAX(<Espressione> [,NomeBanda [,1]])/"
    "Calcola il valore massimo di <Espressione> per le righe della banda [NomeBanda]. "
    "Se si indica [1] come parametro, calcola il valore massimo anche per le righe non visibili."

  SDescriptionMIN, "MIN(<Espressione> [,NomeBanda [,1]])/"
    "Calcola il valore minimo di <Espressione> per le righe della banda [NomeBanda]. "
    "Se si indica [1] come parametro, calcola il valore minimo anche per le righe non visibili."

  SDescriptionMONTHOF, "MONTHOF(<Data>)/"
    "Restituisce il numero del mese (1..12) per la data <Data>."

  SDescriptionNAMECASE, "NAMECASE(<Stringa>)/"
    "Converte il testo <Stringa> in minuscolo con la prima lettere in maiuscolo."

  SDescriptionSTRTODATE, "STRTODATE(<Stringa>)/"
    "Converte il testo <Stringa> in valore data."

  SDescriptionSTRTOTIME, "STRTOTIME(<Stringa>)/"
    "Converte il testo <Stringa> in valore ora."

  SDescriptionSUM, "SUM(<Espressione> [,NomeBanda [,1]])/"
    "Calcola la somma di <Espressione> per le righe della banda [NomeBanda]. "
    "Se si indica [1] come parametro, calcola la somma anche per le righe non visibili."

  SDescriptionTRIM, "TRIM(<Stringa>)/"
    "Toglie gli spazi in testa e gli spazi in coda del testo <Stringa> e restituisce "
    "il testo risultante."

  SDescriptionUPPERCASE, "UPPERCASE(<Stringa>)/"
    "Converte il testo <Stringa> in maiuscolo."

  SDescriptionYEAROF, "YEAROF(<Data>)/"
    "Restituisce l'anno del valore data <Data>."

  SDescriptionIF, "IF(<Espressione>, <Valore1>, <Valore2>)/"
    "Restituisce il valore <Valore1> se l'espressione <Espressione> è vera; "
    "altrimenti restituisce il valore <Valore2>."

  SDescriptionCOPY, "COPY(<Stringa>, <Da>, <Lunghezza>)/"
    "Restituisce una parte del testo <Stringa>, a partire dal carattere <Da> per <Lunghezza> caratteri."

  SDescriptionMOD, "<Valore1> MOD <Valore2>/"
    "Restituisce il resto di <Valore1> diviso <Valore2>."

  SDescriptionSTR, "STR(<Valore>)/"
    "Converte il numero <Valore> in testo."

  SDescriptionNOT, "NOT <Valore>/"
    "'NOT' logico."

  SDescriptionAND, "<Valore1> AND <Valore2>/"
    "'AND' logico."

  SDescriptionOR, "<Valore1> OR <Valore2>/"
    "'OR' logico."

  SDescriptionROUND, "ROUND(<Valore>)/"
    "Restituisce il numero <Valore> arrotondato."

  SDescriptionFRAC, "FRAC(<Valore>)/"
    "Restituisce la parte frazionaria di <Valore>."

  SDescriptionINT, "INT(<Valore>)/"
    "Restituisce la parte intera di <Valore>."

  SDescriptionTRUE, "TRUE/"
    "'TRUE' logico."

  SDescriptionFALSE, "FALSE/"
    "'FALSE' logico."

  SDescriptionPAGE, "PAGE#/"
    "Restituisce il numero pagina corrente."

  SDescriptionDATE, "DATE/"
    "Restituisce la data corrente."

  SDescriptionTIME, "TIME/"
    "Restituisce l'ora corrente."

  SDescriptionLINE, "LINE#/"
    "Restituisce il numero della riga dati corrente (partendo dall'inizio del gruppo)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Restituisce il numero della riga dati corrente (partendo dall'inizio del report)"

  SDescriptionCOLUMN, "COLUMN#/"
    "Restituisce il numero della colonna corrente."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Restituisce il numero totale di pagine del report."

  SDescriptionMROK, "MROK/"
    "Riposta OK alla funzione INPUT."

  SDescriptionMRCancel, "MRCANCEL/"
    "Riposta Annulla alla funzione INPUT."

  SDescriptionCurY, "CURY/"
    "Restituisce la posizione 'Y' (in punti) dove la banda corrente  "
    "sarà visualizzata. Si può anche assegnare un valore a CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Restituisce lo spazio rimanente nella pagina in punti."

  SDescriptionFinalPass, "FINALPASS/"
    "Restituisce True se il report sta eseguendo il secondo passaggio."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Restituisce l'altezza della pagina in punti."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Restituisce la larghezza della pagina in punti."

  SDescriptionProgress, "PROGRESS/"
    "Il valore che verrà visualizzato nella finestra di avanzamento."

  SDescriptionModalResult, "MODALRESULT/"
    "Se si assegna un valore non-zero a MODALRESULT la finestra verrà chiusa."

  SDescriptionStopReport, "STOPREPORT/"
    "Termina l'elaborazione del report."

  SDescriptionNewPage, "NEWPAGE/"
    "Inizia una nuova pagina."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Inizia una nuova colonna."

  SDescriptionShowBand, "SHOWBAND(<NomeBanda>)/"
    "Visualizza la banda di nome <NomeBanda>."

  SDescriptionINC, "INC(<Valore>)/"
    "Incrementa il numero <Valore>."

  SDescriptionDEC, "DEC(<Valore>)/"
    "Decrementa il numero <Valore>."

 SDescriptionMAXNUM, "MAXNUM(<Valore1>, <Valore2>)/"
    "Restituisce il valore massimo tra <Valore1> e <Valore2>."

  SDescriptionMINNUM, "MINNUM(<Valore1>, <Valore2>)/"
    "Restituisce il valore minimo tra <Valore1> e <Valore2>."

  SDescriptionPOS, "POS(<SubString>, <Stringa>)/"
    "Restituisce la posizione di <SottoStringa> nella striga <Stringa>."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Testo>, <Titolo>, <Bottoni>)/"
    "Visualizza una finestra standard con titolo, testo e bottoni."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "Applica <Mask> alla stringa <String> e restituisce una stringa formattata."


  SInformation, "Informazioni"
  SExpressionOK, "L'espressione è corretta!"
  STextOnly, "Solo testo"
  SSuppressRepeated, "Elimina i valori ripetuti"
  SDefaultBin, "Default"
  SDeleteObjects, "Tutti gli oggetti di questa pagina verranno eliminati."
  SWarning, "Attenzione"
  SHideZeros, "Nascondi lo zero"
  SPrintChild, "Stampa i figli se invisible"
  SUnderlines, "Sottolineatura"
  SOnePerPage, "Non puoi inserire due o più oggetti %s in una pagina."
  SInsertCrosstab, "Inserisci un oggetto Cross-tab"
}
