;{******************************************}
;{                                          }
;{             FastReport v2.52             }
;{              Resource File               }
;{                                          }
;{Copyright(c) 1998-2004 by FastReports Inc.}
;{                                          }
;{ Translated by: Sorin Pohontu             }
;{      http://www.frontline.ro             }
;{                                          }
;{******************************************}

#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Cauta text"
  frRes + 1, "Text de &cautat"
  frRes + 2, "Optiuni"
  frRes + 3, "&Senzitiv MAJUSCULE"
  frRes + 4, "Origine"
  frRes + 5, "&Prima pagina"
  frRes + 6, "Pagina &curenta"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "&Latime pagina"
  frRes + 21, "&Intreaga pagina"
  frRes + 22, "&Doua pagini"
  frRes + 23, "Inchide previzualizare"
  frRes + 24, "Scalare"
  frRes + 25, "Deschide raport"
  frRes + 26, "Salveaza raportul"
  frRes + 27, "Listeaza raportul"
  frRes + 28, "Cauta text"
  frRes + 29, "Modifica pagina"
  frRes + 30, "Adauga pagina"
  frRes + 31, "Sterge pagina"
  frRes + 32, "Unealta ajutor"
;--- PrintForm resources -----------------------------------------------------
  frRes + 40, "Listare"
  frRes + 41, "Imprimanta"
  frRes + 42, "Prop&rietati"
  frRes + 43, "Numar copii"
  frRes + 44, "Interval pagini"
  frRes + 45, "&Toate"
  frRes + 46, "Pa&gina curenta"
  frRes + 47, "&Paginile:"
  frRes + 48, "Introduceti numarul de pagini si/sau intervalul de pagini, separate de virgula. De exemplu: 1,3,5-12"
  frRes + 49, "&Nume:"
  frRes + 50, "Numar de &copii:"
  frRes + 51, "&Ordonate"
  frRes + 52, "&Listeaza"
  frRes + 53, "Toate paginile"
  frRes + 54, "Paginile impare"
  frRes + 55, "Paginile pare"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Optiuni export TXT"
  frRes + 1801, "&Elimina liniile goale"
  frRes + 1802, "Converteste in format &DOS"
  frRes + 1803, "Exporta &frame-urile"
  frRes + 1804, "Foloseste DOS &pseudographic"
  frRes + 1805, "Insereaza p&aginare"
  frRes + 1806, "Factor de scalare"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Optiuni export CSV"
  frRes + 1811, "Delimitator &CSV"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Optiuni export RTF"
  frRes + 1821, "Exporta &imaginile"
  frRes + 1822, "Converteste la &tabel"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Optiuni export HTML"
;--- EXCELExportForm resources
  frRes + 1840, "Excel file OLE (*.xls)"
  frRes + 1841, "Obiecte: "
  frRes + 1842, " - Timp ramas: "
  frRes + 1843, "Va rugam asteptati ..."
  frRes + 1844, "Export in format Excel"
  frRes + 1845, " Proprietati pagina "
  frRes + 1846, "Margine sus"
  frRes + 1847, "Margine stanga"
  frRes + 1848, "Scala pe axa X"
  frRes + 1849, "Scala pe axa Y"
  frRes + 1850, " Setari calitate "
  frRes + 1851, "Alaturare"
  frRes + 1852, "Aliniere"
  frRes + 1853, "Culoare de fond"
  frRes + 1854, "Margini"
  frRes + 1855, "Word wrap"
  frRes + 1856, "Nume font"
  frRes + 1857, "Dimensiune font"
  frRes + 1858, "Stil font"
  frRes + 1859, "Culoare font"
  frRes + 1860, "Page breaks"
  frRes + 1861, "Mai buna"
  frRes + 1862, "Mai rapida"
  frRes + 1863, "Imagini"
  frRes + 1864, "Porneste Excel dupa exportare"
  frRes + 1865, "Prepare Y pos: "
  frRes + 1866, "Prepare X pos: "
;--- RTFExportForm resources
  frRes + 1870, "Rich text file advanced (*.rtf)"
  frRes + 1871, "Export in format RTF"
;--- IMGExportForm resources
  frRes + 1875, "Fisier BMP (*.bmp)"
  frRes + 1876, "Fisier TIFF (*.tif)"
  frRes + 1877, "Fisier JPEG (*.jpg)"
  frRes + 1878, "Export in fisier imagine"
  frRes + 1879, "Setari imagine"
  frRes + 1880, "Calitate (pentru JPEG)"
  frRes + 1881, "Crop pages"
  frRes + 1882, "Monocrom"
;--- Advanced CROSS
  frRes + 2600, "Total general"
  frRes + 2601, "Total"      
  frRes + 2602, "Totalul "   
  frRes + 2603, "Celula"
  frRes + 2604, "Cap de tabel" 
  frRes + 2605, "Repeta subtitlu"
  frRes + 2606, "Cadru intern"
  frRes + 2607, "Arata header"
;--- Functions in 2.50
  frRes + 2620, "Database"
  frRes + 2621, "FIELDISNULL(<FieldName>)/Returneaza 'true' daca DB-field este null"
  frRes + 2622, "Informatii raport"
  frRes + 2623, "REPORTCOMMENT/Returneaza comentariile din raport"
  frRes + 2624, "REPORTNAME/Returneaza numele raportului"
  frRes + 2625, "REPORTAUTOR/Returneaza autorul raportului"
  frRes + 2626, "VMAJOR/Returneaza versiunea majora"
  frRes + 2627, "VMINOR/Returneaza versiunea minora"
  frRes + 2628, "VRELEASE/Returneaza versiunea release"
  frRes + 2629, "VBUILD/Returneaza versiunea build"
  frRes + 2630, "REPORTDATE/Returneaza data creearii raportului"
  frRes + 2631, "REPORTLASTCHANGE/Returneaza data modificarii raportului"
;--- Designer 2.50
  frRes + 2650, "Evidentierea sintaxei"
  frRes + 2651, "Evidentierea sintaxei activata"
  frRes + 2652, "Dezactiveaza undo"
  frRes + 2653, "Parola"
  frRes + 2654, "Parola pentru deschiderea raportului"
  frRes + 2655, "Introduceti parola inca o data pentru validare"
  frRes + 2656, "General"
  frRes + 2657, "Protejat de parola"
  frRes + 2658, "Document"
  frRes + 2659, "Atribut"
  frRes + 2660, "Nume"
  frRes + 2661, "Autor"
  frRes + 2662, "Versiune"
  frRes + 2663, "Major"
  frRes + 2664, "Minor"
  frRes + 2665, "Release"
  frRes + 2666, "Build"
  frRes + 2667, "Descriere"
  frRes + 2668, "Comentariu"
  frRes + 2669, "Modificat"
  frRes + 2670, "Creat"


;-- Additions in 2.52
;-- OLE Excel export
  frRes + 2700, "Stiluri"
;-- XML Excel export
  frRes + 2710, "Tabela Excel (XML) fisier (*.xls)"
  frRes + 2711, "Fisier tabela XML (*.xml)"
  frRes + 2712, "Export in XML"
  frRes + 2713, "Export in Excel (XML)"
  frRes + 2714, "Numere"
;-- HTML Table export
  frRes + 2720, "Fisier tabela HTML (*.html)"
  frRes + 2721, "Export in HTML"
  frRes + 2722, "Imagini"
  frRes + 2723, "Toate intr-un singur director"
  frRes + 2724, "Deschide in browser-ul implicit dupa export"
  frRes + 2725, "Dimensiune fixa"
  frRes + 2726, "Navigator pagina"
  frRes + 2727, "Multipagina"
  frRes + 2728, "Mozilla frames"
  frRes + 2729, "Pagini"
  frRes + 2730, "Avansat"
;-- Text advanced export
  frRes + 2740, "Text (imprimante matriciale) (*.prn)"
  frRes + 2741, "Export in text (imprimante matriciale)"
  frRes + 2742, "Previzualizare on/off"
  frRes + 2743, "Setare initializare imprimanta"
  frRes + 2744, " Proprietati export "
  frRes + 2745, "Impartire pagini"
  frRes + 2746, "Cod pagina OEM"
  frRes + 2747, "Linii goale"
  frRes + 2748, "Spatii de inceput"
  frRes + 2749, " Scalare "
  frRes + 2750, "Latime"
  frRes + 2751, "Inaltime"
  frRes + 2752, " Cadre "
  frRes + 2753, "Nici una"
  frRes + 2754, "Simplu"
  frRes + 2755, "Doar cu pagina de cod OEM"
  frRes + 2756, "Grafic"
  frRes + 2757, "Listare dupa export"
  frRes + 2758, "Salvare setari"
  frRes + 2759, " Previzualizare "
  frRes + 2760, "Latime:"
  frRes + 2761, "Inaltime:"
  frRes + 2762, "Pagina"
  frRes + 2763, "Mareste previzualizarea"
  frRes + 2764, "Micsoreaza previzualizarea"
  frRes + 2765, "Setare initializare imprimanta"
  frRes + 2766, "Tip imprimanta"
  frRes + 2767, "Incarca"
  frRes + 2768, "Salveaza"
  frRes + 2769, "Sablon initializare imprimanta (*.fpi)|*.fpi"


;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Renunta"
  SYes, "Da"
  SNo, "Nu"
  SPg, "Pagina"
  SNotAssigned, "[Nici una]"
  SDefaultPrinter, "Imprimanta virtuala"
  SBand1, "Report title"
  SBand2, "Report summary"
  SBand3, "Page header"
  SBand4, "Page footer"
  SBand5, "Master header"
  SBand6, "Master data"
  SBand7, "Master footer"
  SBand8, "Detail header"
  SBand9, "Detail data"
  SBand10, "Detail footer"
  SBand11, "Subdetail header"
  SBand12, "Subdetail data"
  SBand13, "Subdetail footer"
  SBand14, "Overlay"
  SBand15, "Column header"
  SBand16, "Column footer"
  SBand17, "Group header"
  SBand18, "Group footer"
  SBand19, "Cross header"
  SBand20, "Cross data"
  SBand21, "Cross footer"
  SBand22, "Child"
  SBand23, "None"
  SCateg1, "Text"
  SCateg2, "Numar"
  SCateg3, "Data"
  SCateg4, "Timp"
  SCateg5, "Boolean"
  SFormat11, "[Nici unul]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Particularizat"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 november 1998"
  SFormat35, "Particularizat"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Particularizat"
  SFormat51, "0;1"
  SFormat52, "No;Yes"
  SFormat53, "_;x"
  SFormat54, "False;True"
  SFormat55, "Particularizat"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "din"
  SErrorOccured, "A aparut o eroare in timpul calcularii"
  SDoc, "Raport:"
  SObject, "Obiect:"
  SReportPreparing, "Pregatire raport"
  SFirstPass, "Executa prima trecere:"
  SPagePreparing, "Procesare pagina:"
  SError, "Eroare"
  SPreview, "Previzualizare"
  SPagePrinting, "Listare pagina:"
  SUntitled, "Untitled"
  SPrinterError, "Imprimanta selectata nu este valida"
  SRepFile, "Fisier raport"
  STextFile, "ASCII Text file"
  SRTFFile, "Rich Text file"
  SCSVFile, "CSV File"
  SHTMFile, "HTML file"
  SFont, "Font..."
  SCharset, "1"
  SBarcodeError, "Eroare in codul de bare"
  SFRFError, "Format FRF incompatibil"
  SUndefinedSymbol, "Simbol nedefinit"
}
