;{******************************************}
;{                                          }
;{             FastReport v2.52             }
;{              Resource File               }
;{                                          }
;{Copyright(c) 1998-2004 by FastReports Inc.}
;{                                          }
;{ Translated by: Sorin Pohontu             }
;{      http://www.frontline.ro             }
;{                                          }
;{******************************************}

#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Inspector de obiecte"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Editor text "
  frRes + 61, "Insereaza expresie"
  frRes + 62, "Insereaza camp de date"
  frRes + 63, "Incadrare in pagina"
  frRes + 64, "Arata/ascunde scriptul"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Designer"
  frRes + 81, "Dreptunghi"
  frRes + 82, "Standard"
  frRes + 83, "Text"
  frRes + 84, "Obiecte"
  frRes + 85, "Aliniere"
  frRes + 86, "Unelte"
  frRes + 87, "Raport nou"
  frRes + 88, "Deschide raport"
  frRes + 89, "Salveaza report"
  frRes + 90, "Previzualizare raport"
  frRes + 91, "Decupeaza"
  frRes + 92, "Copie"
  frRes + 93, "Lipeste"
  frRes + 94, "Anuleaza ultima actiune"
  frRes + 95, "Refacere operatiune anulata"
  frRes + 96, "Aducere in fata"
  frRes + 97, "Trimite in spate"
  frRes + 98, "Selecteaza tot"
  frRes + 99, "Adauga pagina"
  frRes + 100, "Sterge pagina"
  frRes + 101, "Optiuni pagina"
  frRes + 102, "Grid"
  frRes + 103, "Aliniere la grid"
  frRes + 104, "Aliniere la grid"
  frRes + 105, "Inchide"
  frRes + 106, "Inchide designer"
  frRes + 107, "Aliniere stanga"
  frRes + 108, "Aliniere dreapta"
  frRes + 109, "Aliniere la centru"
  frRes + 110, "Text normal / la 90 grade"
  frRes + 111, "Vertical centru"
  frRes + 112, "Aliniere in partea de sus"
  frRes + 113, "Aliniere in partea de jos"
  frRes + 114, "Aliniere latime"
  frRes + 115, "Bold"
  frRes + 116, "Italic"
  frRes + 117, "Underline"
  frRes + 118, "Culoare font"
  frRes + 119, "Evidentiere conditionala"
  frRes + 120, "Marime font"
  frRes + 121, "Denumire font"
  frRes + 122, "Linie cadru sus"
  frRes + 123, "Linie cadru stanga"
  frRes + 124, "Linie cadru jos"
  frRes + 125, "Linie cadru dreapta"
  frRes + 126, "Toate liniile cadru"
  frRes + 127, "Fara cadru"
  frRes + 128, "Culoare fond"
  frRes + 129, "Culoare cadru"
  frRes + 130, "Latime cadru"
  frRes + 131, "Latime cadru"
  frRes + 132, "Selectie obiect"
  frRes + 133, "Insereaza obiect dreptunghi"
  frRes + 134, "Insereaza banda"
  frRes + 135, "Insereaza imagine"
  frRes + 136, "Insereaza subraport"
  frRes + 137, "Deseneaza linii"
  frRes + 138, "Aliniere la marginile din stanga"
  frRes + 139, "Aliniere la centru pe orizontala"
  frRes + 140, "Centreaza orizontal in fereastra"
  frRes + 141, "Spatiu egal, orizontal"
  frRes + 142, "Aliniere la marginile din dreapta"
  frRes + 143, "Aliniere la marginile de sus"
  frRes + 144, "Aliniere la centru pe verticala"
  frRes + 145, "Centreaza vertical in fereastra"
  frRes + 146, "Spatiu egal, vertical"
  frRes + 147, "Aliniere la marginile de jos"
  frRes + 148, "Dec&upare"
  frRes + 149, "&Copiere"
  frRes + 150, "Li&peste"
  frRes + 151, "&Sterge"
  frRes + 152, "Selecteaz&a tot"
  frRes + 153, "&Editare..."
  frRes + 154, "&Fisier"
  frRes + 155, "&Nou..."
  frRes + 156, "&Deschide..."
  frRes + 157, "&Salveaza"
  frRes + 158, "&Dictionar de date..."
  frRes + 159, "Optiuni &raport..."
  frRes + 160, "Optiuni &pagina..."
  frRes + 161, "Pre&vizualizare"
  frRes + 162, "&Iesire"
  frRes + 163, "&Editare"
  frRes + 164, "&Anuleaza ultima actiune"
  frRes + 165, "&Refacere ultima actiune"
  frRes + 166, "Dec&upare"
  frRes + 167, "&Copiere"
  frRes + 168, "Li&peste"
  frRes + 169, "&Sterge"
  frRes + 170, "Selecteaz&a tot"
  frRes + 171, "&Editare..."
  frRes + 172, "&Adauga pagina"
  frRes + 173, "Ste&rge pagina"
  frRes + 174, "Aducere in fata"
  frRes + 175, "Trimite in spate"
  frRes + 176, "Unel&te"
  frRes + 177, "Bara de unel&te"
  frRes + 178, "Une&lte"
  frRes + 179, "&Optiuni..."
  frRes + 180, "D&reptunghi"
  frRes + 181, "&Standard"
  frRes + 182, "&Text"
  frRes + 183, "&Obiecte"
  frRes + 184, "&Inspector obiecte"
  frRes + 185, "Paleta de &aliniere"
  frRes + 186, "Une&lte"
  frRes + 187, "&Despre..."
  frRes + 188, "Salveaza c&a..."
  frRes + 189, "Continut &ajutor"
  frRes + 190, "Unealta aju&tor"
  frRes + 191, "Stil linie"
  frRes + 192, "Adauga &forma dialog"
  frRes + 193, "Adauga forma dialog"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Restrictiile obiectului"
  frRes + 261, "Nu edita &memo"
  frRes + 262, "Nu edita &scriptul"
  frRes + 263, "Nu edita &continutul"
  frRes + 264, "Nu mo&difica"
  frRes + 265, "Nu schimba &dimensiunea"
  frRes + 266, "Nu mu&ta"
  frRes + 267, "Nu &sterge"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Optiuni"
  frRes + 281, "Designer"
  frRes + 282, "Grid"
  frRes + 283, "Obiecte de desenare"
  frRes + 284, "Unitate de masura raport"
  frRes + 285, "Dimensiune grid"
  frRes + 286, "Ara&ta grid"
  frRes + 287, "Alinieaza la &grid"
  frRes + 288, "&Butoane colorate"
  frRes + 289, "&4 pixeli"
  frRes + 290, "&8 pixeli"
  frRes + 291, "&18 pixeli (5mm)"
  frRes + 293, "Arata &continutul obiectului la mutare sau redimensionare"
  frRes + 294, "&Pixeli"
  frRes + 295, "&MM"
  frRes + 296, "&Inchi"
  frRes + 297, "Altele"
  frRes + 298, "&Editare dupa inserare"
  frRes + 299, "Arata &titlurile benzilor"
  frRes + 300, "Pozitia paginii"
  frRes + 301, "Cent&rat"
  frRes + 302, "&Stanga"
  frRes + 303, "&Dreapta"
  frRes + 304, "Editor"
  frRes + 305, "Editor text"
  frRes + 306, "Foloseste setarile de font ale obiect&ului"
  frRes + 307, "Foloseste setari &fixe:"
  frRes + 308, "Denumire font:"
  frRes + 309, "Marime:"
  frRes + 310, "Editor scripturi"
  frRes + 311, "Nume localizate ale proprietatilor"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Raport nou"
  frRes + 319, "Descriere"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Nou tip de raport model"
  frRes + 321, "&Comentariu"
  frRes + 322, "Iconita"
  frRes + 323, "&Fisier..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Dictionar de date"
  frRes + 341, "Variabile"
  frRes + 342, "Aliasuri camp"
  frRes + 343, "Surse de date benzi"
  frRes + 344, "Va&riabile"
  frRes + 345, "Va&lori"
  frRes + 346, "E&xpresie"
  frRes + 347, "Categorie noua"
  frRes + 348, "Variabila noua"
  frRes + 349, "Editare"
  frRes + 350, "Stergere"
  frRes + 351, "Editare lista"
  frRes + 352, "Dataset-uri si campuri"
  frRes + 353, "Toate dataseturile"
  frRes + 354, "&Afisare"
  frRes + 355, "A&lias"
  frRes + 356, "E&xclude camp din lista"
  frRes + 357, "Surse de date"
  frRes + 358, "Toate sursele de date"
  frRes + 359, "&Salveaza..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Lista de variabile"
  frRes + 361, "&Categories and variables"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Optiuni raport"
  frRes + 371, "Imprimanta"
  frRes + 372, "&Selecteaza la incarcarea raportului"
  frRes + 373, "Altele"
  frRes + 374, "Raport in &doua treceri"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Page options"
  frRes + 391, "Hartie"
  frRes + 392, "Orientare"
  frRes + 393, "&Portret"
  frRes + 394, "P&eisaj"
  frRes + 395, "Dimensiune"
  frRes + 396, "&Latime, mm"
  frRes + 397, "&Inaltime, mm"
  frRes + 398, "Margini"
  frRes + 399, "Margini pagina"
  frRes + 400, "S&tanga, mm"
  frRes + 401, "&Sus, mm"
  frRes + 402, "&Dreapta, mm"
  frRes + 403, "&Jos, mm"
  frRes + 404, "&Redimensionare la zona de listare"
  frRes + 405, "Optiuni"
  frRes + 406, "Optiuni"
  frRes + 407, "Listeaza &fata-verso"
  frRes + 408, "Coloane"
  frRes + 409, "&Numar"
  frRes + 410, "Spatiu intre &coloane, mm"
  frRes + 411, "Sursa"
  frRes + 412, "Sursa hartie"
  frRes + 413, "Hartie contin&ua"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Formatare variabile"
  frRes + 421, "Format variabile"
  frRes + 422, "&Zecimale"
  frRes + 423, "&Separator zecimal"
  frRes + 424, "&Format particularizat"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Variabile"
  frRes + 441, "&Categorie:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Insereaza camp de date"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Imagine"
  frRes + 461, "&Redimensionare"
  frRes + 462, "&Incarca..."
  frRes + 463, "I&nitializare"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Sursa de date a benzii"
  frRes + 481, "Sursa de &date"
  frRes + 482, "Numar de in&registrari"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Sursele de date ale benzii"
  frRes + 486, "Benzi"
  frRes + 487, "Sursa de date"
  frRes + 488, "Numar de in&registrari"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Grup"
  frRes + 491, "&Conditie"
  frRes + 492, "Insereaza camp de date"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Insereaza o noua banda"
  frRes + 511, "Tip banda"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Evidentiere conditionala"
  frRes + 521, "&Conditie"
  frRes + 522, "Font"
  frRes + 523, "C&uloare..."
  frRes + 524, "&Bold"
  frRes + 525, "&Italic"
  frRes + 526, "&Underline"
  frRes + 527, "Fundal"
  frRes + 528, "Cu&loare..."
  frRes + 529, "&Transparent"
  frRes + 530, "Alte&le"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "Despre FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "Obiect OLE"
  frRes + 551, "&Inserare..."
  frRes + 552, "&Editare..."
  frRes + 553, "In&chide"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "Deschide..."
  frRes + 562, "Salveaza..."
  frRes + 563, "Anuleaza ultima actiune"
  frRes + 564, "Bold"
  frRes + 565, "Italic"
  frRes + 566, "Aliniere stanga"
  frRes + 567, "Aliniere centru"
  frRes + 568, "Aliniere dreapta"
  frRes + 569, "Underline"
  frRes + 570, "Lista"
  frRes + 571, "Font"
  frRes + 572, "Anuleaza"
  frRes + 573, "Salveaza si inchide"
  frRes + 574, "Var"
  frRes + 575, "Insereaza expresie"
  frRes + 576, "Font"
  frRes + 577, "Marime font"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Obiect Chart"
  frRes + 591, "Tip"
  frRes + 592, "Date"
  frRes + 593, "Tip"
  frRes + 594, "Nume obiect"
  frRes + 595, "Optiuni"
  frRes + 596, "&3D"
  frRes + 597, "&Single"
  frRes + 598, "Afiseaza &legenda"
  frRes + 599, "Afiseaza &axele"
  frRes + 600, "Afiseaza &marcaj"
  frRes + 601, "Multi-colo&r"
  frRes + 602, "Pentru &legenda"
  frRes + 603, "For &valori"
  frRes + 604, "Semne de marcaj"
  frRes + 605, "Stil"
  frRes + 606, "Valoare"
  frRes + 607, "Procent"
  frRes + 608, "Eticheta"
  frRes + 609, "Eticheta si procent"
  frRes + 610, "Eticheta si valoare"
  frRes + 611, "Grup Top10"
  frRes + 612, "Arata &primele"
  frRes + 613, "Etic&heta"
  frRes + 614, "valori"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Insereaza campuri"
  frRes + 631, "&Tabele disponibile"
  frRes + 632, "Asezare"
  frRes + 633, "&Orizontal"
  frRes + 634, "&Vertical"
  frRes + 635, "&Include cap tabel"
  frRes + 636, "Include &benzi"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Editor coduri de bare"
  frRes + 651, "&Cod"
  frRes + 652, "&Tipul codului de bare"
  frRes + 653, "Optiuni"
  frRes + 654, "&Suma de control"
  frRes + 655, "Citi&bil"
  frRes + 656, "Insereaza expresie"
  frRes + 657, "Insereaza variabila"
  frRes + 658, "Rotire"
  frRes + 659, "&Scalare:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Editor proprietati"
  frRes + 671, "Exemplu :"
  frRes + 672, "&Expresie..."
  frRes + 673, "Camp &DB..."
  frRes + 674, "&Gradient"
  frRes + 675, "Latime &umbra"
  frRes + 676, "Culoare"
  frRes + 677, "&Curba"
  frRes + 678, "&Zona cu cadru"
  frRes + 679, "Culoare sfarsit"
  frRes + 680, "Culoare inceput"
  frRes + 681, "&Stil"
  frRes + 682, "Vertical,Orizontal,Eliptic,Dreptunghi,Orizontal_centrat,Vertical_centrat"
  frRes + 683, "Apasati aici pentru definirea culorii umbra sau a culorilor gradientului"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Constructor expresii"
  frRes + 701, "Expresie"
  frRes + 702, "Insereaza"
  frRes + 703, "Camp &date..."
  frRes + 704, "&Variabila..."
  frRes + 705, "&Functie..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Functii disponibile"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Argumente functie"
  frRes + 731, "Argument"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Eticheta obiect"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Vizualizare Cross-tab"
  frRes + 751, "Set de date Cross-tab"
  frRes + 752, "Subtotaluri"
  frRes + 753, "Functii"
  frRes + 754, "Editor Cross-tab"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Sterg aceasta pagina?"
  SConfirm, "Confirmare"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Personalizat"
  SSystemVariables, "Variabile system"
  SVar1, "Pagina#"
  SVar2, "Expresie"
  SVar3, "Data"
  SVar4, "Timpul"
  SVar5, "Linia#"
  SVar6, "Linia pana la#"
  SVar7, "Coloana#"
  SVar8, "Linia curenta#"
  SVar9, "TotalPagini"
  SStretched, "Stretched"
  SVarFormat, "Format variabila..."
  SWordWrap, "Word wrap"
  SWordBreak, ""
  SFormNewPage, "Forteaza pagina noua"
  SPrintIfSubsetEmpty, "Listeaza daca nu exista detalii"
  SBreaked, "Intrerupt"
  SPictureCenter, "Centreaza imaginea"
  SKeepAspectRatio, "Pastreaza proportiile de aspect"
  SFormFile, "Forma FastReport"
  SForm3File, "Forma FastReport3"
  STemplFile, "Model FastReport"
  SDictFile, "Dictionar FastReport"
  SPictFile, "Fisier imagine"
  SBMPFile, "Fisier bitmap"
  SAllFiles, "Toate fisierele"
  SInsOLEObject, "Insereaza obiect OLE"
  SInsRichObject, "Insereaza obiect RichText"
  SInsRich2Object, "Insereaza obiect RX RichText"
  SInsCheckBox, "Insereaza obiect CheckBox"
  SInsChart, "Insereaza obiect Chart"
  SInsShape, "Insereaza obiect Shape"
  SInsBarcode, "Insereaza obiect cod de bare"
  SInsRoundRect, "Insereaza un DreptunghiRotunjit cu umbra"
  SSubReportOnPage, "SubReport pe o pagina"
  SPicture, "[Imagine]"
  STransparent, "Transparent"
  SOther, "Altele..."
  SOnFirstPage, "Pe prima pagina"
  SOnLastPage, "Pe ultima pagina"
  SRepeatHeader, "Pe toate paginile"
  SDesignReport, "Construieste raport"
  SInsertFields, "Insereaza campuri DB"
  SSaveChanges, "Salveaza modificarile"
  STo, "in"
  SPixels, "Pixeli"
  SMM, "MM"
  SInches, "Inchi"
  SVirtualDataset, "Dataset virtual"
  SAutoSize, "Auto dimensionare"
  SFRVariables, "Variabile FR"
  SClearContents, "Goleste continutul"

  SAllCategories, "Toate functiile"
  SAggregateCategory, "Totalizatoare"
  SDateTimeCategory, "Data si ora"
  SStringCategory, "Siruri"
  SOtherCategory, "Altele"
  SMathCategory, "Matematice"
  SBoolCategory, "Logice"
  SIntrpCategory, "Interpretor"

  SDescriptionAVG, "AVG(<Expression> [,BandName [,1]])/"
    "Calculeaza media expresiei <Expression> pentru randul dat al benzii [BandName]. "
    "Daca parametrul [1] este utilizat, calculeaza media si pentru randurile invizibile."

  SDescriptionCOUNT, "COUNT(<BandName>)/"
    "Returneaza numarul de randuri din banda <BandName>. "

  SDescriptionDAYOF, "DAYOF(<Date>)/"
    "Returneaza numarul zilei (1..31) obtinuta din data <Date>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DateTime>)/"
    "Converteste valoarea <DateTime> la un string definit de formatul <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numeric>)/"
    "Converteste valoarea <Numeric> la un string definit de formatul <Fmt>."

  SDescriptionINPUT, "INPUT(<Caption> [,Default])/"
    "Afiseaza o fereastra de dialog avand titlul <Caption>, pentru editarea unei valori."
    "Daca parametrul [Default] este setat, sirul este afisat in caseta de editare."
    "Dupa ce utilizatorul apasa OK, va fi returnat sirul introdus."

  SDescriptionLENGTH, "LENGTH(<String>)/"
    "Returneaza lungimea sirului <String>."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "Covesteste caracterele sirului <String> in litere mici."

  SDescriptionMAX, "MAX(<Expression> [,BandName [,1]])/"
    "Calculeaza maximul expresiei <Expression> pentru randul dat al benzii [BandName]. "
    "Daca parametrul [1] este utilizat, calculeaza maximul si pentru randurile invizibile."

  SDescriptionMIN, "MIN(<Expression> [,BandName [,1]])/"
    "Calculeaza minimul expresiei <Expression> pentru randul data al benzii [BandName]. "
    "Daca parametrul [1] este utilizat, calculeaza minimul si pentru randurile invizibile."

  SDescriptionMONTHOF, "MONTHOF(<Date>)/"
    "Returneaza numarul lunii (1..12) obtinuta din data <Date>."

  SDescriptionNAMECASE, "NAMECASE(<String>)/"
    "Converteste caracterele sirului <String> in litere mici, primul simbol "
    "find cu litera mare."

  SDescriptionSTRTODATE, "STRTODATE(<String>)/"
    "Converteste sirul <String> la o variabila de tip data."

  SDescriptionSTRTOTIME, "STRTOTIME(<String>)/"
    "Converteste sirul <String> la o variabila de tip ora."

  SDescriptionSUM, "SUM(<Expression> [,BandName [,1]])/"
    "Calculeaza suma expresiei <Expression> pentru randul dat al benzii [BandName]. "
    "Daca parametrul [1] este utilizat, calculeaza suma si pentru randurile invizibile."

  SDescriptionTRIM, "TRIM(<String>)/"
    "Elimina spatiile de la inceputul si sfarsitul sirului <String>"
    "si returneaza sirul rezultat."

  SDescriptionUPPERCASE, "UPPERCASE(<String>)/"
    "Covesteste caracterele sirului <String> in litere mari."

  SDescriptionYEAROF, "YEAROF(<Date>)/"
    "Returneaza anul corespunzator datei <Date>."

  SDescriptionIF, "IF(<Expression>, <Value1>, <Value2>)/"
    "Returneaza <Value1>, daca expresia <Expression> este adevarata; "
    "daca nu, returneaza <Value2>. Valoarea returnata poate fi si altceva decat un sir."

  SDescriptionCOPY, "COPY(<String>, <From>, <Count>)/"
    "Returneaza un subsir al sirului <String>, pornind de la <From>, avand lungimea <Count>."

  SDescriptionMOD, "<Value1> MOD <Value2>/"
    "Returneaza restul impartirii <Value1> la <Value2>."

  SDescriptionSTR, "STR(<Value>)/"
    "Converteste numarul dat <Value> intr-un sir."

  SDescriptionNOT, "NOT <Value>/"
    "Operator logic 'NOT'."

  SDescriptionAND, "<Value1> AND <Value2>/"
    "Operator logic 'AND'."

  SDescriptionOR, "<Value1> OR <Value2>/"
    "Operator logic 'OR'."

  SDescriptionROUND, "ROUND(<Value>)/"
    "Returneaza valoarea rotunjita a valorii <Value>."

  SDescriptionFRAC, "FRAC(<Value>)/"
    "Returneaza partea fractionara a valorii <Value>."

  SDescriptionINT, "INT(<Value>)/"
    "Returneaza partea intreaga a valorii <Value>."

  SDescriptionTRUE, "TRUE/"
    "Operator logic 'TRUE'."

  SDescriptionFALSE, "FALSE/"
    "Operator logic 'FALSE'."

  SDescriptionPAGE, "PAGE#/"
    "Returneaza numarul paginii curente."

  SDescriptionDATE, "DATE/"
    "Returneaza data curenta."

  SDescriptionTIME, "TIME/"
    "Returneaza ora curenta."

  SDescriptionLINE, "LINE#/"
    "Returneaza numarul randului de date curent (pornind de la inceputul grupului)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Returneaza numarul randului de date curent (pornind de la inceputul raportului)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Returneaza numarul coloanei curente."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Returneaza numarul total de pagini al raportului."

  SDescriptionMROK, "MROK/"
    "Constanta Modal result OK."

  SDescriptionMRCancel, "MRCANCEL/"
    "Constanta Modal result Cancel."

  SDescriptionCurY, "CURY/"
    "Returneaza pozitia 'Y' (in pixeli) la care va fi afisata "
    "banda curenta. Puteti modifica valoare lui CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Returneaza spatiul ramas liber in raport, in pixeli."

  SDescriptionFinalPass, "FINALPASS/"
    "Returneaza True daca raportul se afla la pasul final."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Returneaza inaltimea paginii, in pixeli."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Returneaza latimea paginii, in pixeli."

  SDescriptionProgress, "PROGRESS/"
    "Valoarea atribuita acestei variabile va fi afisata in fereastra status."

  SDescriptionModalResult, "MODALRESULT/"
    "Atribuirea unei valoari diferita de zero acestei variabile va inchide forma de dialog."

  SDescriptionStopReport, "STOPREPORT/"
    "Opreste construirea raportului."

  SDescriptionNewPage, "NEWPAGE/"
    "Incepe o pagina noua."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Incepe o coloana noua."

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "Afiseaza banda avand numele <BandName>."

  SDescriptionINC, "INC(<Value>)/"
    "Incrementeaza valoarea <Value>."

  SDescriptionDEC, "DEC(<Value>)/"
    "Decrementeaza valoarea <Value>."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "Returneaza maximul valorilor date."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "Returneaza minimul valorilor date."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Returneaza pozitia subsirului <Substring> in sirul <String>."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "Afiseaza o fereastra de dialog standard avand parametrii specificati."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "Aplica masca <Mask> sirului <String> si returneaza sirul formatat."


  SInformation, "Informatie"
  SExpressionOK, "Expresia este corecta!"
  STextOnly, "Doar text"
  SSuppressRepeated, "Elimina valorile repetate"
  SDefaultBin, "Implicit"
  SDeleteObjects, "Aceasta va sterge toate obiectele din aceasta pagina."
  SWarning, "Avertisment"
  SHideZeros, "Ascunde valorile 0"
  SPrintChild, "Listeaza obiectele child daca sunt invizibile"
  SUnderlines, "Underlines"
  SOnePerPage, "Nu se pot plasa doua sau mai mult obiecte %s in aceeasi pagina."
  SInsertCrosstab, "Insereaza obiect de tip Cross-tab"
}
