#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Inspektor obiektÛw"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Edytor tekstu"
  frRes + 61, "Wyraøenie"
  frRes + 62, "Pole DB"
  frRes + 63, "Zawijanie wyrazÛw"
  frRes + 64, "Skrypt"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Projektant"
  frRes + 81, "Prostokπt"
  frRes + 82, "Standard"
  frRes + 83, "Tekst"
  frRes + 84, "Obiekty"
  frRes + 85, "Ustawienie"
  frRes + 86, "NarzÍdzia"
  frRes + 87, "Nowy raport"
  frRes + 88, "OtwÛrz raport"
  frRes + 89, "Zapisz raport"
  frRes + 90, "Podglπd raportu"
  frRes + 91, "Wytnij"
  frRes + 92, "Kopiuj"
  frRes + 93, "Wklej"
  frRes + 94, "Cofnij ostatnie polecenie"
  frRes + 95, "PonÛw anulowane polecenie"
  frRes + 96, "PrzesuÒ na wierzch"
  frRes + 97, "PrzesuÒ pod spÛd"
  frRes + 98, "Zaznacz wszystko"
  frRes + 99, "Dodaj stronÍ"
  frRes + 100, "UsuÒ stronÍ"
  frRes + 101, "Ustawienia strony"
  frRes + 102, "Siatka"
  frRes + 103, "Ustaw na siatce"
  frRes + 104, "Dopasuj do siatki"
  frRes + 105, "Zamknij"
  frRes + 106, "Zamknij projektanta"
  frRes + 107, "WyrÛwnaj do lewej"
  frRes + 108, "WyrÛwnaj do prawej"
  frRes + 109, "Wyúrodkuj"
  frRes + 110, "Normalny tekst / 90 stopni"
  frRes + 111, "årodek pionu"
  frRes + 112, "WyrÛwnaj do gÛry"
  frRes + 113, "WyrÛwnaj do do≥u"
  frRes + 114, "WyrÛwnaj do szerokoúci"
  frRes + 115, "Pogrubiony"
  frRes + 116, "Kursywa"
  frRes + 117, "Podkreúlony"
  frRes + 118, "Kolor czcionki"
  frRes + 119, "Atrybuty zaznaczenia"
  frRes + 120, "Rozmiar czcionki"
  frRes + 121, "Nazwa czcionki"
  frRes + 122, "GÛrna krawÍdü ramki"
  frRes + 123, "Lewa krawÍdü ramki"
  frRes + 124, "Dolna krawÍdü ramki"
  frRes + 125, "Prawa krawÍdü ramki"
  frRes + 126, "Wszystkie krawÍdzi ramki"
  frRes + 127, "Brak ramki"
  frRes + 128, "Kolor t≥a"
  frRes + 129, "Kolor ramki"
  frRes + 130, "SzerokoúÊ ramki"
  frRes + 131, "SzerokoúÊ ramki"
  frRes + 132, "Zaznacz obiekt"
  frRes + 133, "Dodaj ramkÍ tekstowπ"
  frRes + 134, "Dodaj grupÍ"
  frRes + 135, "Dodaj rysunek"
  frRes + 136, "Dodaj podraport"
  frRes + 137, "Rysuj liniÍ"
  frRes + 138, "WyrÛwnaj lewe krawÍdzie"
  frRes + 139, "WyrÛwnaj úrodki poziomych krawÍdzi"
  frRes + 140, "WyrÛwnaj poziomo w oknie"
  frRes + 141, "WyrÛwnaj przestrzeÒ poziomo"
  frRes + 142, "WyrÛwnaj prawe krawÍdzie"
  frRes + 143, "WyrÛwnaj gÛrne krawÍdzie"
  frRes + 144, "WyrÛwnaj úrodki pionowych krawÍdzi"
  frRes + 145, "WyrÛwnaj pionowo w oknie"
  frRes + 146, "WyrÛwnaj przestrzeÒ pionowo"
  frRes + 147, "WyrÛwnaj dolne krawÍdzie"
  frRes + 148, "&Wytnij"
  frRes + 149, "&Kopiuj"
  frRes + 150, "Wkl&ej"
  frRes + 151, "&UsuÒ"
  frRes + 152, "Za&znacz wszystko"
  frRes + 153, "E&dytuj..."
  frRes + 154, "&Plik..."
  frRes + 155, "&Nowy..."
  frRes + 156, "&OtwÛrz..."
  frRes + 157, "Zap&isz..."
  frRes + 158, "&S≥ownik danych..."
  frRes + 159, "Us&tawienia raportu..."
  frRes + 160, "Ustawienia st&rony..."
  frRes + 161, "Pod&glπd"
  frRes + 162, "W&yjúcie"
  frRes + 163, "&Edycja"
  frRes + 164, "&Cofnij"
  frRes + 165, "Pon&Ûw"
  frRes + 166, "Wytni&j"
  frRes + 167, "Kopi&uj"
  frRes + 168, "W&klej"
  frRes + 169, "Usu&Ò"
  frRes + 170, "&Zaznacz wszystko"
  frRes + 171, "&Edytuj..."
  frRes + 172, "&Dodaj stronÍ"
  frRes + 173, "&UsuÒ stronÍ"
  frRes + 174, "&PrzesuÒ na wierzch"
  frRes + 175, "P&rzesuÒ pod spÛd"
  frRes + 176, "&NarzÍdzia"
  frRes + 177, "&Paski narzÍdzi"
  frRes + 178, "Na&rzÍdzia"
  frRes + 179, "&Opcje..."
  frRes + 180, "&Ramka"
  frRes + 181, "&Standardowy"
  frRes + 182, "&Tekst"
  frRes + 183, "&Obiekty"
  frRes + 184, "&Inspektor obiektÛw"
  frRes + 185, "&Po≥oøenie"
  frRes + 186, "Na&rzÍdzia"
  frRes + 187, "&Informacje..."
  frRes + 188, "&Zapisz jako..."
  frRes + 189, "&Spis treúci"
  frRes + 190, "Pomoc kon&tekstowa"
  frRes + 191, "Rodzaj linii"
  frRes + 192, "Dodaj dialog"
  frRes + 193, "Dodaj formÍ dialogowπ"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Ograniczenia obiektÛw"
  frRes + 261, "Blokada edycji pÛl &memo"
  frRes + 262, "Blokada edycji &skryptÛw"
  frRes + 263, "Blokada edycji &zawartoúci"
  frRes + 264, "Blokada zmiany &opcji"
  frRes + 265, "Blokada zmiany &rozmiarÛw"
  frRes + 266, "Blokada &po≥oøenia"
  frRes + 267, "Blokada &usuwania"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Opcje"
  frRes + 281, "Projektant"
  frRes + 282, "Siatka"
  frRes + 283, "Rysowanie obiektÛw"
  frRes + 284, "Jednostki raportu"
  frRes + 285, "Rozmiar siatki"
  frRes + 286, "&Pokazuj siatkÍ"
  frRes + 287, "WyrÛwnaj do &siatki"
  frRes + 288, "Kolorowe &przy&ciski"
  frRes + 289, "&4 piksele"
  frRes + 290, "&8 pikseli"
  frRes + 291, "&18 pikseli (5mm)"
  frRes + 293, "Pokazuj zawartoúÊ podczas przesuwania lub zmiany rozmiaru"
  frRes + 294, "&piksele"
  frRes + 295, "&mm"
  frRes + 296, "&cale"
  frRes + 297, "Inne"
  frRes + 298, "&Edytuj po wstawieniu"
  frRes + 299, "Pokazuj tytu≥y grup"
  frRes + 300, "Po≥oøenie strony"
  frRes + 301, "&Centrycznie"
  frRes + 302, "Z &lewej"
  frRes + 303, "Z &prawej"
  frRes + 304, "Edytor"
  frRes + 305, "Edytor tekstowy"
  frRes + 306, "&Uøyj czcionek obiektu"
  frRes + 307, "Uøyj czcionek o sta≥ej szerokoúci:"
  frRes + 308, "Nazwa czcionki:"
  frRes + 309, "Rozmiar:"
  frRes + 310, "Edytor skryptÛw"
  frRes + 311, "Zlokalizowane nazwy w≥aúciwoúci"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Nowy raport"
  frRes + 319, "Opis"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Szablon nowego raportu"
  frRes + 321, "&Komentarz"
  frRes + 322, "Ikona"
  frRes + 323, "&Plik..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "S≥ownik danych"
  frRes + 341, "Zmienne"
  frRes + 342, "Aliasy pÛl"
  frRes + 343, "èrÛd≥a danych dla bandu"
  frRes + 344, "&Zmienne"
  frRes + 345, "&Wartoúci"
  frRes + 346, "W&yraøenie"
  frRes + 347, "Nowa kategoria"
  frRes + 348, "Nowa zmienna"
  frRes + 349, "Edytuj"
  frRes + 350, "UsuÒ"
  frRes + 351, "Edytuj listÍ"
  frRes + 352, "Dane i pola"
  frRes + 353, "Wszystkie dane"
  frRes + 354, "&Appearance"
  frRes + 355, "&Alias"
  frRes + 356, "UsuÒ z listy"
  frRes + 357, "èrÛd≥a danych"
  frRes + 358, "Wszystkie ürÛd≥a danych"
  frRes + 359, "&Zapisz..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Lista zmiennych"
  frRes + 361, "&Kategorie i zmienne"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Opcje raportu"
  frRes + 371, "Drukarka"
  frRes + 372, "&Wybierz, gdy raport wczytany"
  frRes + 373, "Inne"
  frRes + 374, "&Dwu-przebiegowy raport"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Ustawienia strony"
  frRes + 391, "Papier"
  frRes + 392, "Orientacja"
  frRes + 393, "&Pionowa"
  frRes + 394, "Po&zioma"
  frRes + 395, "Rozmiar"
  frRes + 396, "&SzerokoúÊ, mm"
  frRes + 397, "&WysokoúÊ, mm"
  frRes + 398, "Marginesy"
  frRes + 399, "Marginesy strony"
  frRes + 400, "&Lewy, mm"
  frRes + 401, "&GÛrny, mm"
  frRes + 402, "&Prawy, mm"
  frRes + 403, "&Dolny, mm"
  frRes + 404, "&Rozciπgaj na obszar drukowania"
  frRes + 405, "Opcje"
  frRes + 406, "Opcje"
  frRes + 407, "&Drukuj na poprzedniej stronie"
  frRes + 408, "Kolumny"
  frRes + 409, "&Liczba"
  frRes + 410, "&OdstÍpy, mm"
  frRes + 411, "èrÛd≥o"
  frRes + 412, "èrÛd≥o papieru"
  frRes + 413, "&Nieograniczona wysokoúÊ"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Formatowanie zmiennych"
  frRes + 421, "Formatowanie zmiennych"
  frRes + 422, "&Miejsca po przecinku"
  frRes + 423, "Separator &dziesiÍtny"
  frRes + 424, "&Format"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Zmienne"
  frRes + 441, "&Kategorie:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Wstaw pole DB"
  frRes + 451, "&DostÍpne pola DB"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Rysunek"
  frRes + 461, "&Rozciπgnij"
  frRes + 462, "&Wczytaj..."
  frRes + 463, "W&yczyúÊ"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "èrÛd≥o danych grupy"
  frRes + 481, "&èrÛd≥o danych"
  frRes + 482, "&Liczba rekordÛw"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "èrÛd≥a danych grupy"
  frRes + 486, "Grupy"
  frRes + 487, "èrÛd≥o danych"
  frRes + 488, "&Liczba rekordÛw"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Grupa"
  frRes + 491, "&Stan"
  frRes + 492, "Wstaw pole DB"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Wstaw nowπ grupÍ"
  frRes + 511, "Rodzaj grupy"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Podúwietlanie kontekstowe"
  frRes + 521, "&Stan"
  frRes + 522, "Czcionka"
  frRes + 523, "K&olor..."
  frRes + 524, "&Pogrubienie"
  frRes + 525, "&Kursywa"
  frRes + 526, "&Podkreúlenie"
  frRes + 527, "T≥o"
  frRes + 528, "Ko&lor..."
  frRes + 529, "&Przeüroczyste"
  frRes + 530, "I&nne"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "FastReport - informacje"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "Obiekt OLE"
  frRes + 551, "&Wstaw..."
  frRes + 552, "&Edytuj..."
  frRes + 553, "&Zamknij"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "Wczytaj..."
  frRes + 562, "Zapisz..."
  frRes + 563, "Cofnij"
  frRes + 564, "Pogrubienie"
  frRes + 565, "Kursywa"
  frRes + 566, "WyrÛwnaj do lewej"
  frRes + 567, "Wyúrodkuj"
  frRes + 568, "WyrÛwnaj do prawej"
  frRes + 569, "Podkreúlenie"
  frRes + 570, "Wypunktowanie"
  frRes + 571, "Czcionka"
  frRes + 572, "Anuluj"
  frRes + 573, "Zapisz i wyjdü"
  frRes + 574, "Zmienna"
  frRes + 575, "Wstaw wyraøenie"
  frRes + 576, "Czcionka"
  frRes + 577, "Rozmiar czcionki"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Obiekt Chart"
  frRes + 591, "Rodzaj"
  frRes + 592, "Dane"
  frRes + 593, "Rodzaj"
  frRes + 594, "Nazwa obiektu"
  frRes + 595, "Opcje"
  frRes + 596, "&3D"
  frRes + 597, "&Pojedynczy"
  frRes + 598, "Pokazuj &legendÍ"
  frRes + 599, "Pokazuj &osie"
  frRes + 600, "Pokazuj &oznaczenia"
  frRes + 601, "Wielo kolo&rowy"
  frRes + 602, "Dla &legendy"
  frRes + 603, "Dle &wartoúci"
  frRes + 604, "Oznaczenia"
  frRes + 605, "Styl"
  frRes + 606, "WartoúÊ"
  frRes + 607, "Procent"
  frRes + 608, "Etykieta"
  frRes + 609, "Etykieta i procenty"
  frRes + 610, "Etykieta i wartoúÊ"
  frRes + 611, "Grupa Top10"
  frRes + 612, "&Pokazuj top10"
  frRes + 613, "E&tykieta"
  frRes + 614, "wartoúci"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Wstaw pola"
  frRes + 631, "&DostÍpne ürÛd≥a danych"
  frRes + 632, "Po≥oøenie"
  frRes + 633, "&Poziome"
  frRes + 634, "Pi&onowe"
  frRes + 635, "&UwzglÍdniaj nag≥Ûwki"
  frRes + 636, "UwzglÍdniaj &grupy"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Edytor kodÛw kreskowych"
  frRes + 651, "&Kod"
  frRes + 652, "&Rodzaj kodu"
  frRes + 653, "Opcje"
  frRes + 654, "&Suma kontrolna"
  frRes + 655, "&Drukuj wartoúÊ kodu"
  frRes + 656, "Wstaw wyraøenie"
  frRes + 657, "Wstaw zmiennπ"
  frRes + 658, "ObrÛt"
  frRes + 659, "&PowiÍkszenie:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Edytor w≥aúciwoúci"
  frRes + 671, "Przyk≥ad :"
  frRes + 672, "&Wyraøenie..."
  frRes + 673, "Pole &DB..."
  frRes + 674, "Gradientowane"
  frRes + 675, "SzerokoúÊ cienia"
  frRes + 676, "Kolor"
  frRes + 677, "Zaokrπglenie"
  frRes + 678, "Obramowanie"
  frRes + 679, "KoÒcowy kolor"
  frRes + 680, "Poczπtkowy kolor"
  frRes + 681, "Rodzaj"
  frRes + 682, "Pionowy,Poziomy,Eliptyczny,Prostokπtny,årodek_poz.,årodek_pion"
  frRes + 683, "Kliknij tutaj aby okreúliÊ kolor cienia lub kolory gradientu"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Budowanie wyraøenia"
  frRes + 701, "Wyraøenie"
  frRes + 702, "Wstaw"
  frRes + 703, "Pole &DB..."
  frRes + 704, "&Zmienna..."
  frRes + 705, "&Funkcja..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "DostÍpne funkcje"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Argument funkcji"
  frRes + 731, "Argument"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Tag obiektu"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Widok Cross-tab"
  frRes + 751, "Dane dla Cross-tab"
  frRes + 752, "Suma czÍúciowa"
  frRes + 753, "Funkcja"
  frRes + 754, "Edytor Cross-tab"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "UsunπÊ tÍ stronÍ?"
  SConfirm, "Potwierdü"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Inny"
  SSystemVariables, "Zmienne systemowe"
  SVar1, "Strona#"
  SVar2, "Wyraøenie"
  SVar3, "Data"
  SVar4, "Czas"
  SVar5, "Linia#"
  SVar6, "Przez liniÍ#"
  SVar7, "Kolumna#"
  SVar8, "Bieøπca linia#"
  SVar9, "Liczba stron"
  SStretched, "Rozciπgane"
  SVarFormat, "Format zmiennej..."
  SWordWrap, "Zawijanie wierszy"
  SWordBreak, ""
  SFormNewPage, "Wymuú nowπ stronÍ"
  SPrintIfSubsetEmpty, "Wydrukuj jeúli bez detali"
  SBreaked, "Rozbite"
  SPictureCenter, "Wyúrodkuj rysunek"
  SKeepAspectRatio, "Zachowaj proporcje"
  SFormFile, "FastReport forma"
  SForm3File, "FastReport3 forma"
  STemplFile, "Szablon FastReport"
  SDictFile, "S≥ownik FastReport"
  SPictFile, "Rysunek"
  SBMPFile, "Bitmapa"
  SAllFiles, "Wszystkie pliki"
  SInsOLEObject, "Wstaw obiekt OLE"
  SInsRichObject, "Wstaw obiekt RichText"
  SInsRich2Object, "Wstaw obiekt RX RichText"
  SInsCheckBox, "Wstaw obiekt CheckBox"
  SInsChart, "Wstaw obiekt Chart"
  SInsShape, "Wstaw obiekt Shape"
  SInsBarcode, "Wstaw obiekt Barcode"
  SInsRoundRect, "Wstaw obiekt RoundRect z cieniem"
  SSubReportOnPage, "Pod-Raport na stronie"
  SPicture, "[Rysunek]"
  STransparent, "Przeüroczysty"
  SOther, "Inny..."
  SOnFirstPage, "Na pierwszej stronie"
  SOnLastPage, "Na ostatniej stronie"
  SRepeatHeader, "Pokaø na wszystkich stronach"
  SDesignReport, "Projektuj raport"
  SInsertFields, "Wstaw pola DB"
  SSaveChanges, "Zapisz zmiany"
  STo, "do"
  SPixels, "Piksele"
  SMM, "MM"
  SInches, "Cale"
  SVirtualDataset, "Wirtualne ürÛd≥o danych"
  SAutoSize, "Rozmiar automat."
  SFRVariables, "Zmienne FR"
  SClearContents, "WyczyúÊ zawartoúÊ"

  SAllCategories, "Wszystkie funkcje"
  SAggregateCategory, "Agregacja"
  SDateTimeCategory, "Data i czas"
  SStringCategory, "String"
  SOtherCategory, "Inne"
  SMathCategory, "Matematyczne"
  SBoolCategory, "Logiczne"
  SIntrpCategory, "Interpreter"

  SDescriptionAVG, "AVG(<Wyraøenie> [,NazwaBandu [,1]])/"
    "Oblicza úredniπ wyraøenia <Expression> dla danych z [NazwaBandu]. "
    "Jeúli jest podany parametr [1], uwzglÍdniane sπ niewidoczne bandy."

  SDescriptionCOUNT, "COUNT(<NazwaBandu>)/"
    "Zwraca iloúÊ wystπpieÒ danych w bandzie <NazwaBandu>. "

  SDescriptionDAYOF, "DAYOF(<Data>)/"
    "Zwraca dzieÒ (1..31) daty <Data>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Format>, <DataCzas>)/"
    "Konwertuje datÍ <DataCzas> do stringu przy uøyciu formatu <Format>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Format>, <Liczba>)/"
    "Konwertuje liczbÍ <Liczba> do stringu przy uøyciu formatu <Format>."

  SDescriptionINPUT, "INPUT(<Nag≥Ûwek> [,Domyúlnie])/"
    "Wyúwietla dialog z nag≥Ûwkiem <Nag≥Ûwek> i pole edycyjne. "
    "Jeúli jest podany parametr [Domyúlnie] jest on wpisywany do pola edycyjnego. "
    "Po naciúniÍciu OK zwraca wpisany string."

  SDescriptionLENGTH, "LENGTH(<String>)/"
    "Zwraca d≥ugoúÊ <String>."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "Zamienia <String> na ma≥e litery."

  SDescriptionMAX, "MAX(<Wyraøenie> [,NazwaBandu [,1]])/"
    "Oblicza maksimum wyraøenia <Wyraøenie> dla danych z [NazwaBandu]. "
    "Jeúli jest podany parametr [1], uwzglÍdniane sπ niewidoczne bandy."

  SDescriptionMIN, "MIN(<Wyraøenie> [,NazwaBandu [,1]])/"
    "Oblicza minimum wyraøenia <Wyraøenie> dla danych z [NazwaBandu]. "
    "Jeúli jest podany parametr [1], uwzglÍdniane sπ niewidoczne bandy."

  SDescriptionMONTHOF, "MONTHOF(<Data>)/"
    "Zwraca miesiπc (1..12) daty <Data>."

  SDescriptionNAMECASE, "NAMECASE(<String>)/"
    "Zamienia <String> na ma≥e litery, "
    "a pierwszy znak na duøπ literÍ."

  SDescriptionSTRTODATE, "STRTODATE(<String>)/"
    "Konwertuje <String> do daty."

  SDescriptionSTRTOTIME, "STRTOTIME(<String>)/"
    "Konwertuje <String> do czasu."

  SDescriptionSUM, "SUM(<Wyraøenie> [,NazwaBandu [,1]])/"
    "Oblicza sumÍ wyraøenia <Wyraøenie> dla danych z [NazwaBandu]. "
    "Jeúli jest podany parametr [1], uwzglÍdniane sπ niewidoczne bandy."

  SDescriptionTRIM, "TRIM(<String>)/"
    "Obcina wiodπce i koÒczπce spacje ze <String> i zwraca "
    "string."

  SDescriptionUPPERCASE, "UPPERCASE(<String>)/"
    "Zamienia <String> na duøe litery."

  SDescriptionYEAROF, "YEAROF(<Data>)/"
    "Zwraca rok daty <Data>."

  SDescriptionIF, "IF(<Wyraøenie>, <WartoúÊ1>, <WartoúÊ2>)/"
    "Zwraca <WartoúÊ1>, jeúli <Wyraøenie> jest prawdπ; "
    "w przeciwnym wypadku zwraca <WartoúÊ2>. <WartoúÊ1> i <WartoúÊ2> nie muszπ byÊ stringami."

  SDescriptionCOPY, "COPY(<String>, <Od>, <Ile>)/"
    "Zwraca <Ile> znakÛw z <String> poczπwszy od znaku <Od>."

  SDescriptionMOD, "<WartoúÊ1> MOD <WartoúÊ2>/"
    "Zwraca resztÍ z dzielenia <WartoúÊ1> przez <WartoúÊ2>."

  SDescriptionSTR, "STR(<WartoúÊ>)/"
    "Konwertuje <WartoúÊ> na string."

  SDescriptionNOT, "NOT <WartoúÊ>/"
    "Logiczne 'NIE'."

  SDescriptionAND, "<WartoúÊ1> AND <WartoúÊ2>/"
    "Logiczne 'I'."

  SDescriptionOR, "<WartoúÊ1> OR <WartoúÊ2>/"
    "Logiczne 'LUB'."

  SDescriptionROUND, "ROUND(<WartoúÊ>)/"
    "Zwraca zaokrπglonπ <WartoúÊ>."

  SDescriptionFRAC, "FRAC(<WartoúÊ>)/"
    "Zwraca czÍúÊ u≥amkowπ <WartoúÊ>."

  SDescriptionINT, "INT(<Value>)/"
    "Zwraca czÍúÊ ca≥kowitπ <WartoúÊ>."

  SDescriptionTRUE, "TRUE/"
    "Logiczna 'PRAWDA'."

  SDescriptionFALSE, "FALSE/"
    "Logiczny 'FA£SZ'."

  SDescriptionPAGE, "PAGE#/"
    "Zwraca numer bieøπcej strony."

  SDescriptionDATE, "DATE/"
    "Zwraca bieøπcπ datÍ."

  SDescriptionTIME, "TIME/"
    "Zwraca bieøπcy czas."

  SDescriptionLINE, "LINE#/"
    "Zwraca bieøπcy numer wiersza danych (numeracja w ramach grupy)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Zwraca bieøπcy numer wiersza danych (numeracja w ramach raportu)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Zwraca bieøπcy numer kolumny."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Zwraca iloúÊ stron w raporcie."

  SDescriptionMROK, "MROK/"
    "Sta≥a wartoúci modalnej."

  SDescriptionMRCancel, "MRCANCEL/"
    "Sta≥a wartoúci modalnej."

  SDescriptionCurY, "CURY/"
    "Zwraca pozycjÍ pionowπ 'Y' (w pikselach) gdzie bÍdzie wyúwietlony "
    "bieøπcy band. Moøesz nadaÊ wartoúÊ zmiennej CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Zwraca iloúÊ wolnego miejsca na stronie w pikselach."

  SDescriptionFinalPass, "FINALPASS/"
    "Zwraca True jeúli raport wykonuje ostatnie przetwarzanie."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Zwraca wysokoúÊ strony w pikselach."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Zwraca szerokoúÊ strony w pikselach."

  SDescriptionProgress, "PROGRESS/"
    "WartoúÊ przypisana do zmiennej Progress bÍdzie wyúwietlana podczas przetwarzania raportu."

  SDescriptionModalResult, "MODALRESULT/"
    "Ustawienie niezerowej wartoúci zmiennej ModalResult zamyka okno dialogowe."

  SDescriptionStopReport, "STOPREPORT/"
    "Przerywa tworzenie raportu."

  SDescriptionNewPage, "NEWPAGE/"
    "Wymuszenie nowej strony."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Wymuszenie nowej kolumny."

  SDescriptionShowBand, "SHOWBAND(<NazwaBandu>)/"
    "Wyúwietla band o nazwie <NazwaBandu>."

  SDescriptionINC, "INC(<WartoúÊ>)/"
    "ZwiÍksza <WartoúÊ>."

  SDescriptionDEC, "DEC(<WartoúÊ>)/"
    "Zmniejsza <WartoúÊ>."

  SDescriptionMAXNUM, "MAXNUM(<WartoúÊ1>, <WartoúÊ2>)/"
    "Zwraca wartoúÊ maksymalnπ podanych wartoúci."

  SDescriptionMINNUM, "MINNUM(<WartoúÊ1>, <WartoúÊ2>)/"
    "Zwraca wartoúÊ minimalnπ podanych wartoúci."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Zwraca pozycjÍ podciπgu <SubString> w <String>."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Tekst>, <Nag≥Ûwek>, <Klawisze>)/"
    "Wyúwietla standardowe okno dialogowe z nag≥Ûwkiem <Nag≥Ûwek>, tekstem <Tekst> i przyciskami <Klawisze>."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Maska>, <String>)/"
    "Zwraca sformatowany <String> przy pomocy maski <Maska>."


  SInformation, "Informacja"
  SExpressionOK, "Wyraøenie jest prawid≥owe."
  STextOnly, "Tylko tekst"
  SSuppressRepeated, "Nie pokazuj duplikatÛw"
  SDefaultBin, "Domyúlnie"
  SDeleteObjects, "Usuwa wszystkie obiekty na tej stronie."
  SWarning, "Ostrzeøenie"
  SHideZeros, "Ukrywaj zera"
  SPrintChild, "Drukuj childs jeúli niewidoczne"
  SUnderlines, "Podkreúlenia"
  SOnePerPage, "Nie moøna umieúciÊ dwÛch lub wiÍcej obiektÛw na jednej stronie."
  SInsertCrosstab, "Wstaw obiekt Cross-tab"
}
