#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "èrÛd≥a danych raportu"
  frRes + 3001, "&W≥aúciwoúci..."
  frRes + 3002, "Nowa &tabela..."
  frRes + 3003, "Nowe z&apytanie..."
  frRes + 3004, "&UsuÒ"
  frRes + 3005, "&Zamknij"
  frRes + 3006, "Nowa &baza..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "OgÛlne"
  frRes + 3021, "&Nazwa"
  frRes + 3022, "&Pola"
  frRes + 3023, "&Edytor pÛl..."
  frRes + 3024, "Inne"
  frRes + 3025, "&Indeks"
  frRes + 3026, "Wyraøenie &filtra"
  frRes + 3027, "&Master"
  frRes + 3028, "Pola Ma&ster"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "&Dodaj pole..."
  frRes + 3041, "Dodaj &lookup..."
  frRes + 3042, "&Wybierz wszystkie"
  frRes + 3043, "&UsuÒ"
  frRes + 3044, "&Wyjdü"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "DostÍpne pola"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Nowe pole lookup"
  frRes + 3071, "Pole"
  frRes + 3072, "&Nazwa"
  frRes + 3073, "&Rodzaj"
  frRes + 3074, "&Rozmiar"
  frRes + 3075, "Definicja lookup"
  frRes + 3076, "&Kluczowe pole"
  frRes + 3077, "&èrÛd≥o danych"
  frRes + 3078, "&Klucz dla lookup"
  frRes + 3079, "&Pole wynikowe"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "W≥aúciwoúci zapytania"
  frRes + 3091, "Inne"
  frRes + 3092, "èrÛd≥o danych &Master"
  frRes + 3093, "OgÛlne"
  frRes + 3094, "&Nazwa"
  frRes + 3095, "&Alias lub úcieøka"
  frRes + 3096, "&SQL"
  frRes + 3097, "Edytor &pÛl..."
  frRes + 3098, "Edytor pa&rametrÛw..."
  frRes + 3099, "Wczytaj SQL z pliku"
  frRes + 3100, "Zapisz SQL do pliku"
  frRes + 3101, "Budowanie SQL..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Parametry"
  frRes + 3111, "&Typ danych"
  frRes + 3112, "&Nazwa"
  frRes + 3113, "&WartoúÊ:"
  frRes + 3114, "&Zapytaj o wartoúÊ przed wydrukiem"
  frRes + 3115, "Przypisz wartoúÊ ze ürÛd≥a danych &master"
  frRes + 3116, "Z&mienna:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "Pola &detail"
  frRes + 3131, "Pola &master"
  frRes + 3132, "&Do≥πczone pola"
  frRes + 3133, "D&odaj"
  frRes + 3134, "&WyczyúÊ"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "&Parametry"
  frRes + 3151, "4 punkty"
  frRes + 3152, "8 punktÛw"
  frRes + 3153, "WyrÛwnaj do siatki"
  frRes + 3154, "Zamknij"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "W≥aúciwoúci"
  frRes + 3171, "&Tekst"
  frRes + 3172, "&Czcionka..."
  frRes + 3173, "Podglπd"
  frRes + 3174, "èrÛ&d≥o danych"
  frRes + 3175, "&Kluczowe pole"
  frRes + 3176, "&Pole listy"
  frRes + 3177, "Rodzaj"
  frRes + 3178, "&Edytuj"
  frRes + 3179, "&Combo"
  frRes + 3180, "Pod&glπd"
  frRes + 3181, "Combo"
  frRes + 3182, "&Rozmiar automat."
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "W≥aúciwoúci bazy danych"
  frRes + 3201, "OgÛlne"
  frRes + 3202, "Parametry"
  frRes + 3203, "&Nazwa"
  frRes + 3204, "&Connection string"  ; dla ADO
  frRes + 3205, "Nazwa &pliku"          ; dla IBX
  frRes + 3206, "Nazwa &aliasu"         ; dla BDE
  frRes + 3207, "Nazwa &sterownika"
  frRes + 3208, "&Tekst zachÍty"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Wybierz tabelÍ"
  frRes + 3221, "Wybierz z bazy"
  frRes + 3222, "Wybierz z pliku"
  frRes + 3223, "&Baza danych"
  frRes + 3224, "&Tabela"
  frRes + 3225, "&Przeglπdaj..."
;--- Strings resources -------------------------------------------------------
  SFields, "pola"
  SPath, "åcieøka"
  SRemoveDS, "UsunπÊ ten komponent?"
  STables, "Tabele"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Menedøer danych"
  SParams, "parametry"
  SQueryError, "Nieprawid≥owa komenda lub parametry SQL"
  STableProps, "W≥aúciwoúci tabeli"
  SParamDialog, "Okno parametrÛw"
  SInvalidParamValue, "Nieprawid≥owa wartoúÊ parametru"
  SDatabase, "Bazy danych"
  SFieldSizeError, "Nieprawid≥owy rozmiar pola"
}
