#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Object inspector"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Urejevalnik besedila"
  frRes + 61, "Vstavi izraz"
  frRes + 62, "Vstavi podatkovno polje"
  frRes + 63, "Prelom besed"
  frRes + 64, "Pokaži/skrij skript"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Oblikovalec"
  frRes + 81, "Pravokotnik"
  frRes + 82, "Standardno"
  frRes + 83, "Besedilo"
  frRes + 84, "Predmet"
  frRes + 85, "Poravnava"
  frRes + 86, "Orodja"
  frRes + 87, "Novo poroèilo"
  frRes + 88, "Odpri poroèilo"
  frRes + 89, "Shrani poroèilo"
  frRes + 90, "Predogled poroèila"
  frRes + 91, "Izreži"
  frRes + 92, "Kopiraj"
  frRes + 93, "Prilepi"
  frRes + 94, "Razveljavi zadnje dejanje"
  frRes + 95, "Uveljavi preklicano dejanje"
  frRes + 96, "Daj v ospredje"
  frRes + 97, "Pošlji v ozadje"
  frRes + 98, "Izberi vse"
  frRes + 99, "Dodaj stran"
  frRes + 100, "Odstrani stran"
  frRes + 101, "Možnosti strani"
  frRes + 102, "Mreža"
  frRes + 103, "Poravnaj na mrežo"
  frRes + 104, "Prilagodi mreži"
  frRes + 105, "Zapri"
  frRes + 106, "Zapri oblikovalca"
  frRes + 107, "Poravnaj na levo"
  frRes + 108, "Poravnaj na desno"
  frRes + 109, "Poravnaj na sredini"
  frRes + 110, "Navadno / 90 stopinj"
  frRes + 111, "Na sredini navpièno"
  frRes + 112, "Poravnaj zgoraj"
  frRes + 113, "Poravnaj spodaj"
  frRes + 114, "Poravnaj na širino"
  frRes + 115, "Krepko"
  frRes + 116, "Ležeèe"
  frRes + 117, "Podèrtano"
  frRes + 118, "Barva pisave"
  frRes + 119, "Lastnosti povdarkov"
  frRes + 120, "Velikost pisave"
  frRes + 121, "Vrsta pisave"
  frRes + 122, "Zgornja èrta okvirja"
  frRes + 123, "Leva èrta okvirja"
  frRes + 124, "Spodnja èrta okvirja"
  frRes + 125, "Desna èrta okvirja"
  frRes + 126, "Vse èrte okvirja"
  frRes + 127, "Brez okvirja"
  frRes + 128, "Barva ozadja"
  frRes + 129, "Barva okvirja"
  frRes + 130, "Širina okvirja"
  frRes + 131, "Širina okvirja"
  frRes + 132, "Izberi predmet"
  frRes + 133, "Vstavi pravokotnik"
  frRes + 134, "Vstavi trak"
  frRes + 135, "Vstavi sliko"
  frRes + 136, "Vstavi podporoèilo"
  frRes + 137, "Nariši èrte"
  frRes + 138, "Poravnaj leve robove"
  frRes + 139, "Poravnaj sredinsko vodoravno"
  frRes + 140, "Na sredino vodoravno v oknu"
  frRes + 141, "Enaki razmiki, vodoravno"
  frRes + 142, "Poravnaj desne robove"
  frRes + 143, "Poravnaj na vrhu"
  frRes + 144, "Poravnaj sredinsko navpièno"
  frRes + 145, "Na sredino navpièno v oknu"
  frRes + 146, "Enaki razmiki, navpièno"
  frRes + 147, "Poravnaj spodaj"
  frRes + 148, "Izreži"
  frRes + 149, "Kopiraj"
  frRes + 150, "Prilepi"
  frRes + 151, "Izbriši"
  frRes + 152, "Izberi vse"
  frRes + 153, "&Uredi..."
  frRes + 154, "&Datoteka"
  frRes + 155, "&Novo..."
  frRes + 156, "&Odpri..."
  frRes + 157, "&Shrani"
  frRes + 158, "&Podatkovni slovar..."
  frRes + 159, "&Možnosti poroèila..."
  frRes + 160, "&Možnosti strani..."
  frRes + 161, "Predogled"
  frRes + 162, "Izhod"
  frRes + 163, "&Urejanje"
  frRes + 164, "&Razveljavi"
  frRes + 165, "&Uveljavi"
  frRes + 166, "Izreži"
  frRes + 167, "&Kopiraj"
  frRes + 168, "&Prilepi"
  frRes + 169, "&Izbriši"
  frRes + 170, "I&zberi vse"
  frRes + 171, "&Uredi..."
  frRes + 172, "&Dodaj stran"
  frRes + 173, "&Odstrani stran"
  frRes + 174, "Daj v ospredje"
  frRes + 175, "Pošlji v ozadje"
  frRes + 176, "&Orodja"
  frRes + 177, "&Orodne vrstice"
  frRes + 178, "Orodja"
  frRes + 179, "&Možnosti..."
  frRes + 180, "&Pravokotnik"
  frRes + 181, "&Standardno"
  frRes + 182, "&Besedilo"
  frRes + 183, "&Predmet"
  frRes + 184, "Object &Inspector"
  frRes + 185, "Menu &poravnav"
  frRes + 186, "Orodja"
  frRes + 187, "&Vizitka..."
  frRes + 188, "Shrani kot..."
  frRes + 189, "&Vsebina pomoèi"
  frRes + 190, "Pomoènik"
  frRes + 191, "Tip èrte"
  frRes + 192, "&Dodaj obrazec pogovornega okna"
  frRes + 193, "Dodaj obrazec pogovornega okna"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Omejitve predmeta"
  frRes + 261, "Ne urejaj &memo"
  frRes + 262, "Ne urejaj &skripta"
  frRes + 263, "Ne urejaj &vsebine"
  frRes + 264, "Ne spreminjaj"
  frRes + 265, "Ne spreminjaj velikosti"
  frRes + 266, "Ne premikaj"
  frRes + 267, "Ne izbriši"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Možnosti"
  frRes + 281, "Oblikovalec"
  frRes + 282, "Mreža"
  frRes + 283, "Risalni predmeti"
  frRes + 284, "Enote poroèila"
  frRes + 285, "Velikost mreže"
  frRes + 286, "&Prikaži mrežo"
  frRes + 287, "Poravnaj na mrežo"
  frRes + 288, "Barvni gumbi"
  frRes + 289, "&4 toèke"
  frRes + 290, "&8 toèk"
  frRes + 291, "&18 toèk (5mm)"
  frRes + 293, "Prikaži vsebino predmeta med premikanjem ali spreminjanjem velikosti"
  frRes + 294, "&Toèk"
  frRes + 295, "&MM"
  frRes + 296, "&Palcev"
  frRes + 297, "Drugo"
  frRes + 298, "&Urejanje po vstavitvi"
  frRes + 299, "Prikaži naslove trakov"
  frRes + 300, "Položaj strani"
  frRes + 301, "Na sredini"
  frRes + 302, "Levo"
  frRes + 303, "Desno"
  frRes + 304, "Urejevalnik"
  frRes + 305, "Urejevalnik besedila"
  frRes + 306, "&Uporabi nastavitve pisave predmeta"
  frRes + 307, "Uporabi fiksne nastavitve:"
  frRes + 308, "Vrsta pisave:"
  frRes + 309, "Velikost:"
  frRes + 310, "Urejevalnik skripte"
  frRes + 311, "Prevedena imena lastnosti"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Novo poroèilo"
  frRes + 319, "Opis"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Nova predloga poroèila"
  frRes + 321, "&Komentar"
  frRes + 322, "Ikona"
  frRes + 323, "&Datoteka..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Podatkovni slovar"
  frRes + 341, "Spremenljivke"
  frRes + 342, "Field aliases"
  frRes + 343, "Izvori podatkov trakov"
  frRes + 344, "Spremenljivke"
  frRes + 345, "Vrednosti"
  frRes + 346, "Izrazi"
  frRes + 347, "Nova kategorija"
  frRes + 348, "Nova spremenljivka"
  frRes + 349, "Uredi"
  frRes + 350, "Izbriši"
  frRes + 351, "Uredi seznam"
  frRes + 352, "Datasets and fields"
  frRes + 353, "All datasets"
  frRes + 354, "&Appearance"
  frRes + 355, "A&lias"
  frRes + 356, "Izkljuèi polje iz seznama"
  frRes + 357, "Izvori podatkov"
  frRes + 358, "Vsi izvori podatkov"
  frRes + 359, "&Shrani..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Seznam spremenljivk"
  frRes + 361, "&Kategorije in spremenljivke"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Možnosti poroèila"
  frRes + 371, "Tiskalnik"
  frRes + 372, "&Izberi, ko je poroèilo naloženo"
  frRes + 373, "Drugo"
  frRes + 374, "&Dvakratni prehod poroèila"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Možnosti strani"
  frRes + 391, "Papir"
  frRes + 392, "Usmerjenost"
  frRes + 393, "&Pokonèno"
  frRes + 394, "&Ležeèe"
  frRes + 395, "Velikost"
  frRes + 396, "&Širina, mm"
  frRes + 397, "&Višina, mm"
  frRes + 398, "Robovi"
  frRes + 399, "Robovi strani"
  frRes + 400, "&Levo, mm"
  frRes + 401, "&Zgoraj, mm"
  frRes + 402, "&Desno, mm"
  frRes + 403, "&Spodaj, mm"
  frRes + 404, "&Raztegni na podroèje tiskanja"
  frRes + 405, "Možnosti"
  frRes + 406, "Možnosti"
  frRes + 407, "&Natisni na prejšnjo stran"
  frRes + 408, "Stolpci"
  frRes + 409, "&Število"
  frRes + 410, "&Razmik med stolpci, mm"
  frRes + 411, "Izvor"
  frRes + 412, "Izvor papirja"
  frRes + 413, "&Neomejena višina"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Oblika zapisa spremenljivke"
  frRes + 421, "Oblika zapisa spremenljivke"
  frRes + 422, "&Št.decimalk"
  frRes + 423, "Decimalno loèilo"
  frRes + 424, "Po meri"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Spremenljivke"
  frRes + 441, "&Kategorija:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Vstavi podatkovno polje"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Slika"
  frRes + 461, "&Raztegni"
  frRes + 462, "&Naloži..."
  frRes + 463, "&Odstrani"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Izvor podatkov traku"
  frRes + 481, "&Izvor podatkov"
  frRes + 482, "&Štetje zapisov"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Izvor podatkov traku"
  frRes + 486, "Bands"
  frRes + 487, "Izvor podatkov"
  frRes + 488, "&Štetje zapisov"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Skupina"
  frRes + 491, "&Pogoj"
  frRes + 492, "Vstavi podatkovno polje"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Vstavi nov trak"
  frRes + 511, "Vrsta traku"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Lastnosti povdarkov"
  frRes + 521, "&Pogoj"
  frRes + 522, "Pisava"
  frRes + 523, "Barva..."
  frRes + 524, "&Krepko"
  frRes + 525, "&Ležeèe"
  frRes + 526, "&Poèrtano"
  frRes + 527, "Ozadje"
  frRes + 528, "Barva..."
  frRes + 529, "&Prosojno"
  frRes + 530, "Drugo"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "O FastReport-u"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE predmet"
  frRes + 551, "&Vstavi..."
  frRes + 552, "&Uredi..."
  frRes + 553, "&Zapri"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Uredi obogateno"
  frRes + 561, "Odpri..."
  frRes + 562, "Shrani..."
  frRes + 563, "Razveljavi"
  frRes + 564, "Krepko"
  frRes + 565, "Ležeèe"
  frRes + 566, "Poravnaj na levo"
  frRes + 567, "Usredini"
  frRes + 568, "Poravnaj na desno"
  frRes + 569, "Podèrtaj"
  frRes + 570, "Seznam"
  frRes + 571, "Pisava"
  frRes + 572, "Preklièi"
  frRes + 573, "Shrani in zapri"
  frRes + 574, "Var"
  frRes + 575, "Vstavi izraz"
  frRes + 576, "Pisava"
  frRes + 577, "Velikost pisave"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Chart object"
  frRes + 591, "Type"
  frRes + 592, "Data"
  frRes + 593, "Type"
  frRes + 594, "Object name"
  frRes + 595, "Options"
  frRes + 596, "&3D"
  frRes + 597, "&Single"
  frRes + 598, "Show &legend"
  frRes + 599, "Show &axis"
  frRes + 600, "Show &marks"
  frRes + 601, "Multi-colo&r"
  frRes + 602, "For &legend"
  frRes + 603, "For &values"
  frRes + 604, "Marks"
  frRes + 605, "Style"
  frRes + 606, "Value"
  frRes + 607, "Percent"
  frRes + 608, "Label"
  frRes + 609, "Label and Percent"
  frRes + 610, "Label and Value"
  frRes + 611, "Top10 group"
  frRes + 612, "&Show top"
  frRes + 613, "La&bel"
  frRes + 614, "values"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Vstavi polja"
  frRes + 631, "&Razpoložljive tabele"
  frRes + 632, "Postavitev"
  frRes + 633, "&Vodoravno"
  frRes + 634, "&Navpièno"
  frRes + 635, "&Vkljuèi glave"
  frRes + 636, "Vkljuèi trakove"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Urejevalnik èrtne kode"
  frRes + 651, "&Koda"
  frRes + 652, "&Vrsta èrtne kode"
  frRes + 653, "Možnosti"
  frRes + 654, "Kontrolna vsota"
  frRes + 655, "&Berljivo"
  frRes + 656, "Vstavi izraz"
  frRes + 657, "Vstavi spremenljivko"
  frRes + 658, "Obraèanje"
  frRes + 659, "&Poveèava:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Urejevalnik lastnosti"
  frRes + 671, "Primer :"
  frRes + 672, "&Izraz..."
  frRes + 673, "&DB polje..."
  frRes + 674, "&Gradian"
  frRes + 675, "&Širina sence"
  frRes + 676, "Barva"
  frRes + 677, "&Krivulja"
  frRes + 678, "&Cona okvirja"
  frRes + 679, "Konèna barva"
  frRes + 680, "Zaèetna barva"
  frRes + 681, "&Stil"
  frRes + 682, "Navpièno,Vodoravno,Elipsasto,Vodoravno-sredinsko,Navpièno-sredinsko"
  frRes + 683, "Kliknite tu za doloèitev barve sence in gradiana barve"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Graditelj izrazov"
  frRes + 701, "Izraz"
  frRes + 702, "Vstavi"
  frRes + 703, "&Podatek..."
  frRes + 704, "&Spremenljivka"
  frRes + 705, "&Funkcija..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Razpoložljive funkcije"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Argumenti funkcije"
  frRes + 731, "Argument"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Object tag"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Cross-tab view"
  frRes + 751, "Cross-tab dataset"
  frRes + 752, "Subtotals"
  frRes + 753, "Function"
  frRes + 754, "Cross-tab editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Odstranim to stran?"
  SConfirm, "Potditev"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Po meri"
  SSystemVariables, "Sistemske spremenljivke"
  SVar1, "Stran#"
  SVar2, "Izraz"
  SVar3, "Datum"
  SVar4, "Èas"
  SVar5, "Vrstica#"
  SVar6, "Vseh vrstic#"
  SVar7, "Stolpec#"
  SVar8, "Trenutna vrstica#"
  SVar9, "VseStrani"
  SStretched, "Raztegnjeno"
  SVarFormat, "Oblika zapisa spremenljivke..."
  SWordWrap, "Prelomi besede"
  SWordBreak, ""
  SFormNewPage, "Prisili novo stran"
  SPrintIfSubsetEmpty, "Natisni, èe detail prazen"
  SBreaked, "Prekinjen"
  SPictureCenter, "Usredini sliko"
  SKeepAspectRatio, "Upoštevaj proporcionalnost"
  SFormFile, "FastReport obrazec"
  SForm3File, "FastReport3 obrazec"
  STemplFile, "FastReport predloga"
  SDictFile, "FastReport slovar"
  SPictFile, "Datoteka slike"
  SBMPFile, "Datoteka bitne slike"
  SAllFiles, "Vse datoteke"
  SInsOLEObject, "Vstavi OLE predmet"
  SInsRichObject, "Vstavi predmet obogatenega besedila"
  SInsRich2Object, "Insert RX RichText object"
  SInsCheckBox, "Insert CheckBox object"
  SInsChart, "Insert Chart object"
  SInsShape, "Insert Shape object"
  SInsBarcode, "Insert Barcode object"
  SInsRoundRect, "Insert an RoundRect with shadow area"
  SSubReportOnPage, "SubReport on page"
  SPicture, "[Slika]"
  STransparent, "Prosojno"
  SOther, "Drugo..."
  SOnFirstPage, "Na prvo stran"
  SOnLastPage, "Na zadnjo stran"
  SRepeatHeader, "Prikaži na vseh straneh"
  SDesignReport, "Oblikuj poroèilo"
  SInsertFields, "Vstavi DB polja"
  SSaveChanges, "Shrani spremembe"
  STo, "v"
  SPixels, "Toèk"
  SMM, "MM"
  SInches, "Palcev"
  SVirtualDataset, "Virtual Dataset"
  SAutoSize, "Samovelikost"
  SFRVariables, "FR spremenljivke"
  SClearContents, "Izbriši vsebino"

  SAllCategories, "Vse funkcije"
  SAggregateCategory, "Aggregate"
  SDateTimeCategory, "Datum in èas"
  SStringCategory, "Niz"
  SOtherCategory, "Drugo"
  SMathCategory, "Math"
  SBoolCategory, "Boolean"
  SIntrpCategory, "Interpreter"

  SDescriptionAVG, "AVG(<Expression> [,BandName [,1]])/"
    "Calculates the average of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates average for non-visible rows too."

  SDescriptionCOUNT, "COUNT(<BandName>)/"
    "Returns count of data-rows given in the <BandName>. "

  SDescriptionDAYOF, "DAYOF(<Date>)/"
    "Returns day number (1..31) of given <Date>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DateTime>)/"
    "Converts a <DateTime> value to a string using mask in <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numeric>)/"
    "Converts a <Numeric> value to a string using mask in <Fmt>."

  SDescriptionINPUT, "INPUT(<Caption> [,Default])/"
    "Shows dialog window with headstring <Caption> and edit box. "
    "If [Default] parameter is set, puts this string in edit box. "
    "After user clicks OK, returns input string."

  SDescriptionLENGTH, "LENGTH(<String>)/"
    "Returns length of <String>."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "Converts <String> symbols to lower case."

  SDescriptionMAX, "MAX(<Expression> [,BandName [,1]])/"
    "Calculates the maximum of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates maximum for non-visible rows too."

  SDescriptionMIN, "MIN(<Expression> [,BandName [,1]])/"
    "Calculates the minimum of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates minimum for non-visible rows too."

  SDescriptionMONTHOF, "MONTHOF(<Date>)/"
    "Returns month number (1..12) of given <Date>."

  SDescriptionNAMECASE, "NAMECASE(<String>)/"
    "Converts <String> symbols to lower case, and first symbol "
    "is in upper case."

  SDescriptionSTRTODATE, "STRTODATE(<String>)/"
    "Converts <String> to date."

  SDescriptionSTRTOTIME, "STRTOTIME(<String>)/"
    "Converts <String> to time."

  SDescriptionSUM, "SUM(<Expression> [,BandName [,1]])/"
    "Calculates the sum of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates sum for non-visible rows too."

  SDescriptionTRIM, "TRIM(<String>)/"
    "Trims all heading and trailing spaces in <String> and returns "
    "resulting string."

  SDescriptionUPPERCASE, "UPPERCASE(<String>)/"
    "Converts <String> symbols to upper case."

  SDescriptionYEAROF, "YEAROF(<Date>)/"
    "Returns year of given <Date>."

  SDescriptionIF, "IF(<Expression>, <Value1>, <Value2>)/"
    "Returns <Value1>, if expression <Expression> is True; "
    "otherwise returns <Value2>. Return value can be not only string."

  SDescriptionCOPY, "COPY(<String>, <From>, <Count>)/"
    "Returns a substring of string."

  SDescriptionMOD, "<Value1> MOD <Value2>/"
    "Returns remainder from dividing <Value1> by <Value2>."

  SDescriptionSTR, "STR(<Value>)/"
    "Converts number given in <Value> to a string."

  SDescriptionNOT, "NOT <Value>/"
    "Logical 'NOT'."

  SDescriptionAND, "<Value1> AND <Value2>/"
    "Logical 'AND'."

  SDescriptionOR, "<Value1> OR <Value2>/"
    "Logical 'OR'."

  SDescriptionROUND, "ROUND(<Value>)/"
    "Returns rounded <Value>."

  SDescriptionFRAC, "FRAC(<Value>)/"
    "Returns fractional part of <Value>."

  SDescriptionINT, "INT(<Value>)/"
    "Returns integer part of <Value>."

  SDescriptionTRUE, "TRUE/"
    "Logical 'TRUE'."

  SDescriptionFALSE, "FALSE/"
    "Logical 'FALSE'."

  SDescriptionPAGE, "PAGE#/"
    "Returns current page number."

  SDescriptionDATE, "DATE/"
    "Returns current date."

  SDescriptionTIME, "TIME/"
    "Returns current time."

  SDescriptionLINE, "LINE#/"
    "Returns current data-row number (starting at group beginning)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Returns current data-row number (starting at report beginning)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Returns current column number."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Returns number of total pages in the report."

  SDescriptionMROK, "MROK/"
    "Modal result constant."

  SDescriptionMRCancel, "MRCANCEL/"
    "Modal result constant."

  SDescriptionCurY, "CURY/"
    "Returns 'Y' position (in pixels) where current band will "
    "be shown. You can also assign value to CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Returns remain space on the page in pixels."

  SDescriptionFinalPass, "FINALPASS/"
    "Returns True if report engine performs final pass."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Returns height of the page in pixels."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Returns width of the page in pixels."

  SDescriptionProgress, "PROGRESS/"
    "Value assigned to Progress will be showed in Progress window."

  SDescriptionModalResult, "MODALRESULT/"
    "Assigning non-zero value to ModalResult will close dialog form."

  SDescriptionStopReport, "STOPREPORT/"
    "Stops report building."

  SDescriptionNewPage, "NEWPAGE/"
    "Starts new page."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Starts new column."

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "Shows band with name <BandName> given."

  SDescriptionINC, "INC(<Value>)/"
    "Increments <Value>."

  SDescriptionDEC, "DEC(<Value>)/"
    "Decrements <Value>."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "Returns max of given values."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "Returns min of given values."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Returns position of substring in given string."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "Shows standard dialog window with title, text and buttons."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "Applies <Mask> to given <String> and returns formatted string."


  SInformation, "Informacije"
  SExpressionOK, "Izraz je v redu!"
  STextOnly, "Samo besedilo"
  SSuppressRepeated, "Suppress repeated values"
  SDefaultBin, "Privzeto"
  SDeleteObjects, "To bo izbrisalo vse predmete na te strani."
  SWarning, "Opozorilo"
  SHideZeros, "Skrij nièle"
  SPrintChild, "Natisni childs, èe neviden"
  SUnderlines, "Podèrtano"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "Insert Cross-tab object"
}
