TAREASERIES BITMAP TAreaSeries.bmp
TARROWSERIES BITMAP TArrowSeries.bmp
TBARSERIES BITMAP TBarSeries.bmp
TBUBBLESERIES BITMAP TBubbleSeries.bmp
TCHARTSHAPE BITMAP TChartShape.bmp
TFASTLINESERIES BITMAP TFastLineSeries.bmp
TGANTTSERIES BITMAP TGanttSeries.bmp
THORIZBARSERIES BITMAP THorizBarSeries.bmp
TLINESERIES BITMAP TLineSeries.bmp
TPIESERIES BITMAP TPieSeries.bmp
TPOINTSERIES BITMAP TPointSeries.bmp
THORIZLINESERIES BITMAP THorizLineSeries.bmp
THORIZAREASERIES BITMAP THorizAreaSeries.bmp
