TEECOPY BITMAP TeeCopy.bmp
TEEDEPTH BITMAP TeeDepth.bmp
TEEEDIT BITMAP TeeEdit.bmp
TEEMOVE BITMAP TeeMove.bmp
TEENORMAL BITMAP TeeNormal.bmp
TEEPRINT BITMAP TeePrint.bmp
TEEROTATE BITMAP TeeRotate.bmp
TEEZOOM BITMAP TeeZoom.bmp
TEEVIEW3D BITMAP TeeView3D.bmp
TEESAVE BITMAP TeeSave.bmp
