TEEEQUALSMILE BITMAP TeeEqualSmile.bmp
TEELOWERSMILE BITMAP TeeLowerSmile.bmp
TEEGREATERSMILE BITMAP TeeGreaterSmile.bmp
TEEDEFAULTIMAGE BITMAP TeeDefaultImage.bmp
TEEEQUALHAND BITMAP TeeEqualHand.bmp
TEEGREATERHAND BITMAP TeeGreaterHand.bmp
TEELOWERHAND BITMAP TeeLowerHand.bmp
