TeeNav_CANCEL BITMAP TeeNav_Cancel.bmp
TeeNav_DELETE BITMAP TeeNav_Delete.bmp
TeeNav_EDIT BITMAP TeeNav_Edit.bmp
TeeNav_FIRST BITMAP TeeNav_First.bmp
TeeNav_INSERT BITMAP TeeNav_Insert.bmp
TeeNav_LAST BITMAP TeeNav_Last.bmp
TeeNav_NEXT BITMAP TeeNav_Next.bmp
TeeNav_POST BITMAP TeeNav_Post.bmp
TeeNav_PRIOR BITMAP TeeNav_Prior.bmp
