TAXISARROWTOOL BITMAP TAxisArrowTool.bmp

TCOLORBANDTOOL BITMAP TColorBandTool.bmp

TCOLORLINETOOL BITMAP TColorLineTool.bmp

TCURSORTOOL BITMAP TCursorTool.bmp

TDRAGMARKSTOOL BITMAP TDragMarksTool.bmp

TDRAWLINETOOL BITMAP TDrawLineTool.bmp

TNEARESTTOOL BITMAP TNearestTool.bmp

TROTATETOOL BITMAP TRotateTool.bmp

TCHARTIMAGETOOL BITMAP TChartImageTool.bmp

TMARKSTIPTOOL BITMAP TMarksTipTool.bmp

TDRAGPOINTTOOL BITMAP TDragPointTool.bmp

TANNOTATIONTOOL BITMAP TAnnotationTool.bmp

TPAGENUMTOOL BITMAP TPageNumTool.bmp

TAXISDIVIDERTOOL BITMAP TAxisDividerTool.bmp

TSELECTORTOOL BITMAP TSelectorTool.bmp

TEXTRALEGENDTOOL BITMAP TExtraLegendTool.bmp

TGRIDTRANSPOSETOOL BITMAP TGridTransposeTool.bmp

TGANTTTOOL BITMAP TGanttTool.bmp

TSERIESANIMATIONTOOL BITMAP TSeriesAnimationTool.bmp

TGRIDBANDTOOL BITMAP TGridBandTool.bmp

TPIETOOL BITMAP TPieTool.bmp

TLIGHTTOOL BITMAP TLightTool.bmp

TLEGENDSCROLLBAR BITMAP TLegendScrollBar.bmp

TSURFACENEARESTTOOL BITMAP TSurfaceNearestTool.bmp

TAXISSCROLLTOOL BITMAP TAxisScrollTool.bmp

TSERIESBANDTOOL BITMAP TSeriesBandTool.bmp

TCLIPSERIESTOOL BITMAP TClipSeriesTool.bmp