#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000,  "Джерела даних"
  frRes + 3001,  "&Властивості...  "
  frRes + 3002,  "Нова &таблиця...  "
  frRes + 3003,  "Новий &запит...  "
  frRes + 3004,  "&Вилучити"
  frRes + 3005,  "За&крити"
  frRes + 3006,  "Нова &БД...  "
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020,  "Основні"
  frRes + 3021,  "І&м'я"
  frRes + 3022,  "&Поля"
  frRes + 3023,  "&Редактор полів...  "
  frRes + 3024,  "Інші"
  frRes + 3025,  "&Індекс"
  frRes + 3026,  "&Фільтр"
  frRes + 3027,  "&Master"
  frRes + 3028,  "Ma&ster поля"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040,  "&Додати поля...  "
  frRes + 3041,  "Додати &lookup...  "
  frRes + 3042,  "&Виділити усе"
  frRes + 3043,  "&Вилучити"
  frRes + 3044,  "&ОК"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060,  "Список полів"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070,  "Нове lookup поле"
  frRes + 3071,  "Поле"
  frRes + 3072,  "&Ім'я"
  frRes + 3073,  "&Тип"
  frRes + 3074,  "Ро&змір"
  frRes + 3075,  "Опис Lookup"
  frRes + 3076,  "&Ключове поле"
  frRes + 3077,  "Джерело &даних"
  frRes + 3078,  "&Lookup ключ"
  frRes + 3079,  "&Результуюче поле"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Властивості запиту"
  frRes + 3091, "Інші"
  frRes + 3092, "&Master джерело"
  frRes + 3093, "Основні"
  frRes + 3094, "&Ім'я"
  frRes + 3095, "&Аліас або шлях"
  frRes + 3096, "&Текст SQL"
  frRes + 3097, "&Редактор полів...  "
  frRes + 3098, "Редактор &параметрів...  "
  frRes + 3099, "Прочитати з файла"
  frRes + 3100, "Записати у файл"
  frRes + 3101, "Побудувати запит...  "
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110,  "Параметри"
  frRes + 3111,  "&Тип даних"
  frRes + 3112,  "&Ім'я"
  frRes + 3113,  "Зна&чення:"
  frRes + 3114,  "&Запитати значення"
  frRes + 3115,  "&Призначити з master джерела"
  frRes + 3116,  "&Змінна:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130,  "&Підлеглі поля"
  frRes + 3131,  "&Основні поля"
  frRes + 3132,  "&Зв'язані поля"
  frRes + 3133,  "&Додати"
  frRes + 3134,  "О&чистити"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150,  "Введення значення параметрів"
  frRes + 3151,  "4 точки"
  frRes + 3152,  "8 точок"
  frRes + 3153,  "Вирівнювати по сітці"
  frRes + 3154,  "Закрити"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170,  "Властивості"
  frRes + 3171,  "&Текст"
  frRes + 3172,  "&Шрифт...  "
  frRes + 3173,  "Lookup"
  frRes + 3174,  "&Набір даних"
  frRes + 3175,  "Поле &результату"
  frRes + 3176,  "Поле &списку"
  frRes + 3177,  "Тип"
  frRes + 3178,  "Рядок &введення"
  frRes + 3179,  "С&писок"
  frRes + 3180,  "&Lookup список"
  frRes + 3181,  "Перелік"
  frRes + 3182,  "&Авторозмір"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200,  "Властивості БД"
  frRes + 3201,  "Загальні"
  frRes + 3202,  "Параметри"
  frRes + 3203,  "&Ім'я"
  frRes + 3204,  "&З'єднання";          для ADO
  frRes + 3205,  "Ім'я &файла БД";        для IBX
  frRes + 3206,  "Ім'я &аліаса";          для BDE
  frRes + 3207,  "Ім'я &драйвера"
  frRes + 3208,  "&Запитати пароль при підключенні"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220,  "Вибір таблиці"
  frRes + 3221,  "Таблиця з БД"
  frRes + 3222,  "Таблиця з файла"
  frRes + 3223,  "&База даних"
  frRes + 3224,  "&Таблиця"
  frRes + 3225,  "&Огляд...  "
;--- Strings resources -------------------------------------------------------
  SFields,  "поля" 
  SPath,  "Шлях" 
  SRemoveDS,  "Вилучити цей компонент?  "
  STables,  "Таблиці БД" 
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1,  "BCD"
  SParamType2,  "Boolean"
  SParamType3,  "Currency"
  SParamType4,  "Date"
  SParamType5,  "DateTime"
  SParamType6,  "Integer"
  SParamType7,  "Float"
  SParamType8,  "Smallint"
  SParamType9,  "String"
  SParamType10,  "Time"
  SParamType11,  "Word"
  SDataManager,  "Менеджер даних" 
  SParams,  "параметри" 
  SQueryError,  "Помилка в SQL або в описі параметрів" 
  STableProps,  "Властивості таблиці" 
  SParamDialog,  "Діалог параметрів" 
  SInvalidParamValue,  "Невірне значення параметра" 
  SDatabase,  "Бази даних" 
  SFieldSizeError, "Помилковий розмір поля" 
}
