#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Інспектор"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Редактор тексту"
  frRes + 61, "Вставити вираз"
  frRes + 62, "Вставити поле БД"
  frRes + 63, "Перенос слів"
  frRes + 64, "Сховати/показати скрипт"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Дизайнер"
  frRes + 81, "Прямокутник"
  frRes + 82, "Стандартна"
  frRes + 83, "Текст"
  frRes + 84, "Об'єкти"
  frRes + 85, "Вирівнювання"
  frRes + 86, "Майстри"
  frRes + 87, "Новий звіт"
  frRes + 88, "Відкрити звіт"
  frRes + 89, "Зберегти звіт"
  frRes + 90, "Попередній перегляд"
  frRes + 91, "Вирізати"
  frRes + 92, "Копіювати"
  frRes + 93, "Вставити"
  frRes + 94, "Відмінити останню дію"
  frRes + 95, "Повторити відмінену дію"
  frRes + 96, "Перемістити об'єкт вгору"
  frRes + 97, "Перемістити об'єкт донизу"
  frRes + 98, "Виділити все"
  frRes + 99, "Додати сторінку"
  frRes + 100, "Вилучити сторінку"
  frRes + 101, "Опції сторінки"
  frRes + 102, "Координатна сітка"
  frRes + 103, "Вирівнювати об'єкти по сітці"
  frRes + 104, "Розташувати об'єкти по сітці"
  frRes + 105, "Вихід"
  frRes + 106, "Закрити вікно"
  frRes + 107, "Вирівняти текст ліворуч"
  frRes + 108, "Вирівняти текст праворуч"
  frRes + 109, "Центрування тексту"
  frRes + 110, "Горизонтальне/вертикальне розташування тексту"
  frRes + 111, "Рівномірно по висоті"
  frRes + 112, "Вирівняти по верхньому краю"
  frRes + 113, "Вирівняти по нижньому краю"
  frRes + 114, "Вирівняти по ширині"
  frRes + 115, "Потовщення"
  frRes + 116, "Курсив"
  frRes + 117, "Підкреслення"
  frRes + 118, "Колір тексту"
  frRes + 119, "Атрибути виділення"
  frRes + 120, "Розмір шрифту"
  frRes + 121, "Шрифт"
  frRes + 122, "Верхня лінія прямокутника"
  frRes + 123, "Ліва лінія прямокутника"
  frRes + 124, "Нижня лінія прямокутника"
  frRes + 125, "Права лінія прямокутника"
  frRes + 126, "Всі лінії рамки"
  frRes + 127, "Без рамки"
  frRes + 128, "Фон прямокутника"
  frRes + 129, "Колір рамки"
  frRes + 130, "Товщина рамки"
  frRes + 131, "Товщина рамки"
  frRes + 132, "Вибрати об'єкт"
  frRes + 133, "Вставити прямокутник з текстом"
  frRes + 134, "Вставити секцію"
  frRes + 135, "Вставити малюнок"
  frRes + 136, "Вставити вкладений звіт"
  frRes + 137, "Малювати лінії"
  frRes + 138, "Вирівняти ліві краї"
  frRes + 139, "Центрувати по горизонталі"
  frRes + 140, "Центрувати по горизонталі у вікні"
  frRes + 141, "Розташувати рівномірно по ширині"
  frRes + 142, "Вирівняти праві краї"
  frRes + 143, "Вирівняти верхні краї"
  frRes + 144, "Центрувати по вертикалі"
  frRes + 145, "Центрувати по вертикалі у вікні"
  frRes + 146, "Розташувати рівномірно по висоті"
  frRes + 147, "Вирівняти нижні краї"
  frRes + 148, "&Вирізати"
  frRes + 149, "&Копіювати"
  frRes + 150, "Вс&тавити"
  frRes + 151, "&Вилучити"
  frRes + 152, "Виділити в&се"
  frRes + 153, "&Редактор...  "
  frRes + 154, "&Файл"
  frRes + 155, "&Створити...  "
  frRes + 156, "&Відкрити...  "
  frRes + 157, "&Зберегти"
  frRes + 158, "Словник &даних...  "
  frRes + 159, "Параметри зві&ту...  "
  frRes + 160, "Параметри сто&рінки...  "
  frRes + 161, "Попередній пере&гляд"
  frRes + 162, "Ви&хід"
  frRes + 163, "&Виправлення"
  frRes + 164, "&Відмінити"
  frRes + 165, "&Повторити"
  frRes + 166, "&Вирізати"
  frRes + 167, "&Копіювати"
  frRes + 168, "Вс&тавити"
  frRes + 169, "&Вилучити"
  frRes + 170, "Виділити в&се"
  frRes + 171, "&Редагувати...  "
  frRes + 172, "До&дати сторінку"
  frRes + 173, "Вилучити &сторінку"
  frRes + 174, "Об'єкт &вгору"
  frRes + 175, "Об'єкт вни&з"
  frRes + 176, "&Сервіс"
  frRes + 177, "&Панелі інструментів"
  frRes + 178, "&Майстри"
  frRes + 179, "&Опції...  "
  frRes + 180, "&Прямокутник"
  frRes + 181, "&Стандартна"
  frRes + 182, "&Текст"
  frRes + 183, "&Об'єкти"
  frRes + 184, "&Інспектор"
  frRes + 185, "&Вирівнювання"
  frRes + 186, "&Майстри"
  frRes + 187, "Про &програму...  "
  frRes + 188, "Зберегти &як...  "
  frRes + 189, "&Виклик довідки"
  frRes + 190, "&Підказка"
  frRes + 191, "Стиль лінії"
  frRes + 192, "Додати &форму діалогу"
  frRes + 193, "Додати форму діалогу"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Обмеження об'єкта"
  frRes + 261, "Не редагувати &мемо"
  frRes + 262, "Не редагувати &скрипт"
  frRes + 263, "Не редагувати вміст"
  frRes + 264, "Не змінювати &опції"
  frRes + 265, "Не змінювати &розмір"
  frRes + 266, "Не &переміщати"
  frRes + 267, "Не &вилучати"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Опції"
  frRes + 281, "Дизайнер"
  frRes + 282, "Сітка"
  frRes + 283, "Прорисовка обєєктів"
  frRes + 284, "Одиниці вимірювання"
  frRes + 285, "Крок сітки"
  frRes + 286, "Показати &сітку"
  frRes + 287, "&Вирівнювати об'єкти"
  frRes + 288, "&Кольорові кнопки"
  frRes + 289, "&4 точки"
  frRes + 290, "&8 точок"
  frRes + 291, "&18 точок (5мм)"
  frRes + 293, "Показувати в&міст об'єкта при його переміщені"
  frRes + 294, "&Пікселі"
  frRes + 295, "&Міліметри"
  frRes + 296, "&Дюйми"
  frRes + 297, "Інше"
  frRes + 298, "&Редагування після вставки"
  frRes + 299, "Показувати &заголовки бендів"
  frRes + 300, "Розташування сторінки"
  frRes + 301, "По ц&ентру"
  frRes + 302, "Л&іворуч"
  frRes + 303, "Пр&аворуч"
  frRes + 304, "Редактор"
  frRes + 305, "Редактор тексту"
  frRes + 306, "&Використовувати установки шрифту об'єкта"
  frRes + 307, "Використовувати фіксовані установки:"
  frRes + 308, "Ім'я шрифту:"
  frRes + 309, "Розмір:"
  frRes + 310, "Редактор скрипту"
  frRes + 311, "Українські імена властивостей"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Новий звіт"
  frRes + 319, "Опис"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Новий шаблон"
  frRes + 321, "&Коментар"
  frRes + 322, "Картинка"
  frRes + 323, "&Огляд...  "
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Словник даних"
  frRes + 341, "Змінні"
  frRes + 342, "Дані з БД"
  frRes + 343, "Джерела даних для бендів"
  frRes + 344, "&Змінні"
  frRes + 345, "&Значення"
  frRes + 346, "&Вираз"
  frRes + 347, "Нова категорія"
  frRes + 348, "Нова змінна"
  frRes + 349, "Редагувати"
  frRes + 350, "Вилучити"
  frRes + 351, "Редагувати список"
  frRes + 352, "Дані і поля"
  frRes + 353, "Всі дані"
  frRes + 354, "&Опції"
  frRes + 355, "&Псевдонім"
  frRes + 356, "&Вилучити поле зі списку"
  frRes + 357, "Джерела даних"
  frRes + 358, "Всі джерела даних"
  frRes + 359, "З&берегти...  "
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Список змінних"
  frRes + 361, "&Категорії та змінні"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Параметри звіту"
  frRes + 371, "Принтер"
  frRes + 372, "&Вибирати при відкритті звіту"
  frRes + 373, "Інші"
  frRes + 374, "Робити два &проходи"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Параметри сторінки"
  frRes + 391, "Папір"
  frRes + 392, "Орієнтація"
  frRes + 393, "&Портретна"
  frRes + 394, "&Альбомна"
  frRes + 395, "Розмір"
  frRes + 396, "&Ширина, мм"
  frRes + 397, "&Висота, мм"
  frRes + 398, "Поля"
  frRes + 399, "Поля сторінки"
  frRes + 400, "&Ліве, мм"
  frRes + 401, "&Верхнє, мм"
  frRes + 402, "&Праве, мм"
  frRes + 403, "&Нижнє, мм"
  frRes + 404, "&Розтягнути на область друку"
  frRes + 405, "Параметри"
  frRes + 406, "Параметри"
  frRes + 407, "Друк на попередньому &листі"
  frRes + 408, "Колонки"
  frRes + 409, "&Кількість"
  frRes + 410, "&Проміжок, мм"
  frRes + 411, "Джерело"
  frRes + 412, "Джерело паперу"
  frRes + 413, "&Необмежена висота"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Формат змінної"
  frRes + 421, "Формат змінної"
  frRes + 422, "&Дес. знаків"
  frRes + 423, "&Роздільник дробу"
  frRes + 424, "&Формат:"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Змінні"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Вставка поля БД"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Малюнок"
  frRes + 461, "&Розтягнути"
  frRes + 462, "&Завантажити"
  frRes + 463, "&Очистити"
  frRes + 464, "&Мемо"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Джерело даних"
  frRes + 481, "&Джерело"
  frRes + 482, "&Кількість записів"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Джерела даних"
  frRes + 486, "Секції"
  frRes + 487, "Джерело"
  frRes + 488, "&Кількість записів"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Група"
  frRes + 491, "&Умова"
  frRes + 492, "Вибір поля БД"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Нова секція"
  frRes + 511, "Тип секції"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Умовне виділення"
  frRes + 521, "Умова"
  frRes + 522, "Текст"
  frRes + 523, "&Колір... "
  frRes + 524, "&Потовщений"
  frRes + 525, "&Курсив"
  frRes + 526, "Під&креслювання"
  frRes + 527, "Фон"
  frRes + 528, "Колір... "
  frRes + 529, "&Прозорий"
  frRes + 530, "&Інший"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "Про програму"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE об'єкт"
  frRes + 551, "&Вставити"
  frRes + 552, "&Редагувати"
  frRes + 553, "&Закрити"
;--- RichForm resources ------------------------------------------------------
  frRes + 560,  "Редактор Rich Edit"
  frRes + 561,  "Відкрити файл"
  frRes + 562,  "Зберегти у файлі"
  frRes + 563,  "Відмінити"
  frRes + 564,  "Потовщення"
  frRes + 565,  "Нахил"
  frRes + 566,  "Вирівнювання ліворуч"
  frRes + 567,  "Вирівнювання по центру"
  frRes + 568,  "Вирівнювання праворуч"
  frRes + 569,  "Підкреслення"
  frRes + 570, "Список"
  frRes + 571, "Шрифт"
  frRes + 572, "Відмінити"
  frRes + 573, "Запам'ятати"
  frRes + 574, "Var"
  frRes + 575, "Вставити вираз"
  frRes + 576, "Вибір шрифта"
  frRes + 577, "Розмір шрифта"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Діаграма"
  frRes + 591, "Тип"
  frRes + 592, "Дані"
  frRes + 593, "Тип діаграми"
  frRes + 594, "Ім'я об'єкта"
  frRes + 595, "Опції"
  frRes + 596, "&Об'ємна"
  frRes + 597, "О&динична"
  frRes + 598, "З &підписом"
  frRes + 599, "З о&сями"
  frRes + 600, "З по&мітками"
  frRes + 601, "Різно&кольорова"
  frRes + 602, "Для &підпису"
  frRes + 603, "Для &даних"
  frRes + 604, "Помітки"
  frRes + 605, "Стиль"
  frRes + 606, "&Значення"
  frRes + 607, "&Відсоток"
  frRes + 608, "&Назва"
  frRes + 609, "Назва і про&цент"
  frRes + 610, "Назва і зна&чення"
  frRes + 611, "10 найкращих"
  frRes + 612, "&Відображати"
  frRes + 613, "&Підпис"
  frRes + 614, "значень"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Вставка полів БД"
  frRes + 631, "&Бази даних"
  frRes + 632, "Розташування"
  frRes + 633, "По &горизонталі"
  frRes + 634, "По &вертикалі"
  frRes + 635, "Включаючи &заголовки"
  frRes + 636, "Включаючи бен&ди"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Редактор штрихкоду"
  frRes + 651, "&Код"
  frRes + 652, "&Тип штрихкоду"
  frRes + 653, "Опції"
  frRes + 654, "Контрольна &сума"
  frRes + 655, "&Підпис"
  frRes + 656, "Вставити вираз"
  frRes + 657, "Вставити змінну"
  frRes + 658, "Орієнтація"
  frRes + 659, "&Масштаб:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670,  "Прямокутник з тінню"
  frRes + 671,  "Зразок:"
  frRes + 672, "&Вираз... "
  frRes + 673,  "&Поле БД...  "
  frRes + 674,  "Градієнт"
  frRes + 675,  "Розмір тіні"
  frRes + 676,  "Колір"
  frRes + 677,  "Закруглення"
  frRes + 678,  "Обрамувати"
  frRes + 679,  "Кінцевий колір"
  frRes + 680,  "Початковий колір"
  frRes + 681,  "Стиль"
  frRes + 682,  "Вертикальний, Горизонтальний, Еліпс, Прямокутний, Гориз. _центр, Верт. _центр"
  frRes + 683,  "Натисніть тут для вибору кольору"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Вставка виразу"
  frRes + 701, "Вираз"
  frRes + 702, "Вставка"
  frRes + 703, "&Поле БД...  "
  frRes + 704, "&Змінна... "
  frRes + 705, "&Функція... "
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Доступні функції"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Аргументи функції"
  frRes + 731, "Аргумент"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Тег об'єкта"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Вид кросс-таб"
  frRes + 751, "Данні"
  frRes + 752, "Всього"
  frRes + 753, "Функція"
  frRes + 754, "Редактор кросс-таб"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Вилучити сторінку?  "
  SConfirm, "Підтвердження"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small,  8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 мм"
  SPaper9, "A4 210 x 297 мм"
  SPaper10, "A4 small sheet,  210 x 297 мм"
  SPaper11, "A5 148 x 210 мм"
  SPaper12, "B4 250 x 354 мм"
  SPaper13, "B5 182 x 257 мм"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet,  215 x 275 мм"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope,  4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope,  4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope,  4 3/4 x 11"""
  SPaper23, "#14 Envelope,  5 x 11 1/2"""
  SPaper24, "C Sheet,  17 x 22"""
  SPaper25, "D Sheet,  22 x 34"""
  SPaper26, "E Sheet,  34 x 44"""
  SPaper27, "DL Envelope,  110 x 220 мм"
  SPaper28, "C5 Envelope,  162 x 229 мм"
  SPaper29, "C3 Envelope,   324 x 458 мм"
  SPaper30, "C4 Envelope,   229 x 324 мм"
  SPaper31, "C6 Envelope,   114 x 162 мм"
  SPaper32, "C65 Envelope,  114 x 229 мм"
  SPaper33, "B4 Envelope,   250 x 353 мм"
  SPaper34, "B5 Envelope,   176 x 250 мм"
  SPaper35, "B6 Envelope,   176 x 125 мм"
  SPaper36,  "Italy Envelope,  110 x 230 мм"
  SPaper37,  "Monarch Envelope,  3 7/8 x 7 1/2"""
  SPaper38,  "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39,  "US Std Fanfold,  14 7/8 x 11"""
  SPaper40,  "German Std Fanfold,  8 1/2 x 12"""
  SPaper41,  "German Legal Fanfold,  8 1/2 x 13"""
  SPaper42,  "B4 (ISO) 250 x 353 мм"
  SPaper43,  "Japanese Postcard 100 x 148 мм"
  SPaper44,  "9 x 11"""
  SPaper45,  "10 x 11"""
  SPaper46,  "15 x 11"""
  SPaper47,  "Envelope Invite 220 x 220 мм"
  SPaper50,  "Letter Extra 9/275 x 12"""
  SPaper51,  "Legal Extra 9/275 x 15"""
  SPaper52,  "Tabloid Extra 11.69 x 18"""
  SPaper53,  "A4 Extra 9.27 x 12.69"""
  SPaper54,  "Letter Transverse 8/275 x 11"""
  SPaper55,  "A4 Transverse 210 x 297 мм"
  SPaper56,  "Letter Extra Transverse 9/275 x 12"""
  SPaper57,  "SuperASuperAA4 227 x 356 мм"
  SPaper58,  "SuperBSuperBA3 305 x 487 мм"
  SPaper59,  "Letter Plus 8.5 x 12.69"""
  SPaper60,  "A4 Plus 210 x 330 мм"
  SPaper61,  "A5 Transverse 148 x 210 мм"
  SPaper62,  "B5 (JIS) Transverse 182 x 257 мм"
  SPaper63,  "A3 Extra 322 x 445 мм"
  SPaper64,  "A5 Extra 174 x 235 мм"
  SPaper65,  "B5 (ISO) Extra 201 x 276 мм"
  SPaper66,  "A2 420 x 594 мм"
  SPaper67,  "A3 Transverse 297 x 420 мм"
  SPaper68,  "A3 Extra Transverse 322 x 445 мм"
  SPaper256,  "Інший"
  SSystemVariables, "Системні змінні"
  SVar1,  "Сторінка"
  SVar2,  "Вираз"
  SVar3,  "Дата"
  SVar4,  "Час"
  SVar5,  "Line#"
  SVar6,  "Line through#"
  SVar7,  "Column#"
  SVar8,  "Current line#"
  SVar9,  "Всього сторінок"
  SStretched,  "Розтягуваний"
  SVarFormat,  "Формат змінної... "
  SWordWrap,  "Перенесення слів"
  SWordBreak,  "Перенос по складах"
  SFormNewPage,  "Формувати нову сторінку"
  SPrintIfSubsetEmpty,  "Друкувати, якщо Detail пустий"
  SBreaked,  "Розривається"
  SPictureCenter,  "Центрувати"
  SKeepAspectRatio,  "Зберігати пропорції"
  SFormFile,  "Форма FastReport"
  SForm3File, "Форма FastReport3"
  STemplFile,  "Шаблон FastReport"
  SDictFile, "Словник даних FastReport"
  SPictFile,  "Графічні файли"
  SBMPFile,  "Малюнок ВМР"
  SAllFiles,  "Всі файли"
  SInsOLEObject,  "Вставити OLE об'єкт"
  SInsRichObject,  "Вставити RichText об'єкт"
  SInsRich2Object,  "Вставити RX RichText об'єкт"
  SInsCheckBox,  "Вставити CheckBox об'єкт"
  SInsChart,  "Вставити діаграму"
  SInsShape,  "Вставити фігуру"
  SInsBarcode,  "Вставити штрихкод"
  SInsRoundRect,  "Вставити прямокутник з тінню"
  SSubReportOnPage,  "SubReport на сторінці"
  SPicture, "[Малюнок]"
  STransparent,  "Прозорий"
  SOther,  "Інший... "
  SOnFirstPage,  "На першій сторінці"
  SOnLastPage,  "На останній сторінці"
  SRepeatHeader,  "Виводити на всіх сторінках"
  SDesignReport,  "Дизайнер"
  SInsertFields,  "Вставка полів БД у звіт"
  SSaveChanges,  "Зберегти зміни"
  STo, "в"
  SPixels,  "Пікселі"
  SMM,  "Міліметри"
  SInches,  "Дюйми"
  SVirtualDataset,  "Віртуальний"
  SAutoSize,  "Авторозмір"
  SFRVariables,  "Змінні FR"
  SClearContents, "Очистити вміст"

  SAllCategories, "Всі функції"
  SAggregateCategory, "Агрегатні"
  SDateTimeCategory, "Дата і час"
  SStringCategory, "Строкові"
  SOtherCategory, "Інші"
  SMathCategory, "Арифметичні"
  SBoolCategory, " Логічні"
  SIntrpCategory, "Інтерпретатор"

  SDescriptionAVG, "AVG(<Вираз> [,Ім'яБенду [,1]])/"
    "Обчислює середнє арифметичне виразу <Вираз> для рядків даних [Ім'яБенду].  "
    "Якщо заданий параметр [1], у розрахунок включаються також невидимі бенди. "

  SDescriptionCOUNT, "COUNT(<Ім'яБенду>)/"
    "Повертає кількість рядків даних, утворених бендом <Ім'яБенду>.  "
    "Приклад: Count(Band1). "

  SDescriptionDAYOF, "DAYOF(<Дата>)/"
    "Повертає день (1. .31) дати <Дата>. "

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Формат>, <ДатаЧас>)/"
    "Конвертує значення <ДатаЧас> у рядок із використанням "
    "рядків форматування <Формат>. "

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Формат>, <Число>)/"
    "Конвертує значення <Число> у рядок із використанням "
    "рядків форматування <Формат>. "

  SDescriptionINPUT, "INPUT(<Заголовок> [,Значення])/"
    "Виводить на екран діалогове вікно з заголовком <Заголовок> і "
    "рядком уводу. Якщо заданий параметр [Значення], то він з'явиться "
    "у рядку вводу. Після вводу користувача повертає введений рядок. "

  SDescriptionLENGTH, "LENGTH(<Рядок>)/"
    "Повертає довжину рядка <Рядок>. "

  SDescriptionLOWERCASE, "LOWERCASE(<Рядок>)/"
    "Перетворює <Рядок> в нижній регістр і повертає результат. "

  SDescriptionMAX, "MAX(<Вираз> [,)Ім'яБенду [,1]])/"
    "Обчислює максимум виразу <Вираз> для рядків даних [Ім'яБенду].  "
    "Якщо заданий параметр [1], у розрахунок включаються також невидимі бенди. "

  SDescriptionMIN, "MIN(<Вираз> [,Ім'яБенду [,1]])/"
    "Обчислює мінімум виразу <Вираз> для рядків даних [Ім'яБенду].  "
    "Якщо заданий параметр [1], у розрахунок включаються також невидимі бенди. "

  SDescriptionMONTHOF, "MONTHOF(<Дата>)/"
    "Повертає місяць (1. .12) дати <Дата>. "

  SDescriptionNAMECASE, "NAMECASE(<Рядок>)/"
    "Перетворює символи рядка <Рядок> у нижній регістр, "
    "а перший символ у верхній регістр. "

  SDescriptionSTRTODATE, "STRTODATE(<Рядок>)/"
    "Перетворює рядок <Рядок> у дату. "

  SDescriptionSTRTOTIME, "STRTOTIME(<Рядок>)/"
    "Перетворює рядок <Рядок> у час. "

  SDescriptionSUM, "SUM(<Вираз> [Ім'яБенду) [,1]])/"
    "Обчислює суму виразу <Вираз> для рядків даних [Ім'яБенду].  "
    "Якщо заданий параметр [1], у розрахунок включаються також невидимі бенди. "

  SDescriptionTRIM, "TRIM(<Рядок>)/"
    "Відкидає прогалини на початку і в кінці рядка <Рядок> і повертає результат. "

  SDescriptionUPPERCASE, "UPPERCASE(<Рядок>)/"
    "Перетворює <Рядок> у верхній регістр і повертає результат. "

  SDescriptionYEAROF, "YEAROF(<Дата>)/"
    "Повертає рік (4 розряд) дат <Дат>. "

  SDescriptionIF, "IF(<Вираз>, <Значение1>, <Значение2>)/"
    "Повертає <Значение1>, якщо вираз <Вираз> істинно; "
    "інакше повертає <Значение2>.  "

  SDescriptionCOPY, "COPY(<Рядок>, <Початок>, <Довжина>)/"
    "Повертає підрядок рядка <Рядок>. "

  SDescriptionMOD, "<Число1> MOD <Число2>/"
    "Повертає залишок від ділення <Число1> на <Число2>.  "

  SDescriptionSTR, "STR(<Число>)/"
    "Перетворює число <Число> у рядок. "

  SDescriptionNOT, "NOT <Значення>/"
    "Логічне заперечення. "

  SDescriptionAND, "< Значення1> AND < Значення2>/"
    "Логічне 'І'.  "

  SDescriptionOR, "< Значення1> OR < Значення2>/"
    "Логічне 'АБО'.  "

  SDescriptionROUND, "ROUND(<Число>)/"
    "Повертає округлене число. "

  SDescriptionFRAC, "FRAC(<Число>)/"
    "Повертає дробову частину числа. "

  SDescriptionINT, "INT(<Число>)/"
    "Повертає цілу частину числа. "

  SDescriptionTRUE, "TRUE/"
    "Логічне 'ТАК'.  "

  SDescriptionFALSE, "FALSE/"
    "Логічне 'НІ'.  "

  SDescriptionPAGE, "PAGE#/"
    "Повертає номер поточної сторінки звіту. "

  SDescriptionDATE, "DATE/"
    "Повертає дату. "

  SDescriptionTIME, "TIME/"
    "Повертає час. "

  SDescriptionLINE, "LINE#/"
    "Повертає номер рядка даних; нумерація починається з початку групи. "

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Повертає номер рядка даних; нумерація починається з початку звіту. "

  SDescriptionCOLUMN, "COLUMN#/"
    "Повертає номер колонки. "

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Повертає загальну кількість сторінок у звіті. "

  SDescriptionMROK, "MROK/"
    "Константа. "

  SDescriptionMRCancel, "MRCANCEL/"
    "Константа. "

  SDescriptionCurY, "CURY/"
    "Повертає позицію по 'Y' (у пикселах), з якої буде виведений "
    "поточний бенд. Цій властивості можна також привласнювати значення. "

  SDescriptionFreeSpace, "FREESPACE/"
    "Повертає розмір вільного місця на сторінці в пикселах.  "

  SDescriptionFinalPass, "FINALPASS/"
    "Повертає істину, якщо виконується останній прохід для "
    "двопрохідних звітів. "

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Повертає висоту сторінки в пикселах.  "

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Повертає ширину сторінки в пикселах.  "

  SDescriptionProgress, "PROGRESS/"
    "Значення, привласнене цій властивості, буде відображено у вікні прогресу. "

  SDescriptionModalResult, "MODALRESULT/"
    "Ненульове значення, привласнене цій властивості, закриє діалогове вікно. "

  SDescriptionStopReport, "STOPREPORT/"
    "Зупиняє побудова звіту. "

  SDescriptionNewPage, "NEWPAGE/"
    "Формує розірвання сторінки. "

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Формує розрив колонки. "

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "Показує бенд з ім'ям <BandName>. "

  SDescriptionINC, "INC(<Число>)/"
    "Збільшує <Число> на 1."

  SDescriptionDEC, "DEC(<Число>)/"
    "Зменшує <Число> на 1."

  SDescriptionMAXNUM, "MAXNUM(<Число1>, <Число2>)/"
    "Повертає максимальне з двох значень."

  SDescriptionMINNUM, "MINNUM(<Число1>, <Число2>)/"
    "Повертає мінімальне з двох значень."

  SDescriptionPOS, "POS(<Подстрока>, <Строка>)/"
    "Повертає позицію підрядка в рядку."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Текст>, <Заголовок>, <Кнопки>)/"
    "Показує стандартний діалог з заголовком, текстом та кнопками."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Маска>, <Строка>)/"
    "Застосовує <Маску> до <Рядка> і повертає форматований рядок."


  SInformation, "Інформація"
  SExpressionOK, "Помилок у виразі не виявлено"
  STextOnly, "Тільки текст"
  SSuppressRepeated, "Приховувати повторювані"
  SDefaultBin, "По умовчанню"
  SDeleteObjects, "Це призведе до вилучення всіх об'єктів на сторінці. "
  SWarning, "Попередження"
  SHideZeros, "Приховувати нульові значення" 
  SPrintChild, "Виводити child якщо невидимий" 
  SUnderlines, "Линии подчеркивания"
  SOnePerPage, "Неможна поміщати два чи більше об'єктів %s на одну сторінку."
  SInsertCrosstab, "Вставити Кросс-таб об'єкт"
}
