#include "FR_Const.pas"

; ----------------------------------------------------------------------------
; TRANSLATION TO CZECH
; Translated: Pavel Malinsky
; Date      : 28.05.2004
; Contact   : malinsky@pmcom.cz
; Comment   : Doplnìn/opraven pøedchozí pøeklad z 29.12.2000
; ----------------------------------------------------------------------------
; > Pøedchozí pøeklad >>>>>>>>>>>>>>>>>>>>>>>>>>>
; > ----------------------------------------------------------------------------
; > TRANSLATION TO CZECH
; > Translated: Arpad Toth
; > Date      : 29.12.2000 - První verze
; > Contact   : i.smid@dobruska.cz
; > Comment   : Opravdová èeská verze
; > ----------------------------------------------------------------------------

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Vyhledat text"
  frRes + 1, "&Hledaný text"
  frRes + 2, " Možnosti "
  frRes + 3, "&Pøesnì na slovo"
  frRes + 4, " Možnosti "
  frRes + 5, "Od &1. strany"
  frRes + 6, "Od &aktuální"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "Ší&øka strany"
  frRes + 21, "&Celá strana"
  frRes + 22, "&Dvì strany"
  frRes + 23, "Zavøít náhled"
  frRes + 24, "Lupa"
  frRes + 25, "Otevøít sestavu"
  frRes + 26, "Uložit sestavu"
  frRes + 27, "Tisk sestavy"
  frRes + 28, "Hledat text"
  frRes + 29, "Úprava strany"
  frRes + 30, "Pøidat stranu"
  frRes + 31, "Odstranit stranu"
  frRes + 32, "Co je..."
;--- PrintForm resources -----------------------------------------------------
  frRes + 40, "Tisk"
  frRes + 41, "Tiskárna"
  frRes + 42, "Vlastnosti"
  frRes + 43, "Kopie"
  frRes + 44, "Rozsah stran"
  frRes + 45, "&Všechny"
  frRes + 46, "Aktuální stra&nu"
  frRes + 47, "&Strany:"
  frRes + 48, "Vložte èíslo stran nebo jejich rozsah. Pøíklad: 1,3,5-12"
  frRes + 49, "&Název:"
  frRes + 50, "Poèet &kopií:"
  frRes + 51, "Komp&letní"
  frRes + 52, "T&isk"
  frRes + 53, "Všechny strany"
  frRes + 54, "Sudé strany"
  frRes + 55, "Liché strany"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Nastavení exportu TXT"
  frRes + 1801, "&Mazat prázdné øádky"
  frRes + 1802, "Konvertovat do &DOSu"
  frRes + 1803, "Exportovat &rámy"
  frRes + 1804, "Použít DOS &pseudografiku"
  frRes + 1805, "Vložit kon&ec strany"
  frRes + 1806, "Škálovatelný faktor"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Nastavení exportu CSV"
  frRes + 1811, "&CSV oddìlovaè"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Parametry exportu RTF"
  frRes + 1821, "Exportovat &obrázky"
  frRes + 1822, "Konverovat do &tabulky"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Parametry exportu HTML"
;--- EXCELExportForm resources
  frRes + 1840, "Excel soubor OLE (*.xls)"
  frRes + 1841, "Objekty: "
  frRes + 1842, " - Zbývající èas: "
  frRes + 1843, "Èekejte prosím ..."
  frRes + 1844, "Export do Excelu"
  frRes + 1845, " Vlastnosti stránky "
  frRes + 1846, "Horní okraj"
  frRes + 1847, "Levý okraj"
  frRes + 1848, "Mìøítko osy X"
  frRes + 1849, "Mìøítko osy Y"
  frRes + 1850, " Nastavení kvality "
  frRes + 1851, "Slouèený"
  frRes + 1852, "Zarovnání"
  frRes + 1853, "Barva výplnì"
  frRes + 1854, "Ohranièení"
  frRes + 1855, "Zalamovat text"
  frRes + 1856, "Název fontu"
  frRes + 1857, "Velikost fontu"
  frRes + 1858, "Styl fontu"
  frRes + 1859, "Barva fontu"
  frRes + 1860, "Zalomení stránky"
  frRes + 1861, "Lepší"
  frRes + 1862, "Rychlejší"
  frRes + 1863, "Obrázky"
  frRes + 1864, "Po exportu otevøít MS Excel"
  frRes + 1865, "Pøipravit poz. Y: "
  frRes + 1866, "Pøipravit poz. X: "
;--- RTFExportForm resources
  frRes + 1870, "RTF soubor - rozšíøený (*.rtf)"
  frRes + 1871, "Export do RTF"
;--- IMGExportForm resources
  frRes + 1875, "BMP soubor (*.bmp)"
  frRes + 1876, "TIFF soubor (*.tif)"
  frRes + 1877, "JPEG soubor (*.jpg)"
  frRes + 1878, "Exportovat jako obrázek"
  frRes + 1879, "Nastavení obrázku"
  frRes + 1880, "Kvalita (pro JPEG)"
  frRes + 1881, "Oøezávat stránky"
  frRes + 1882, "Èernobíle"
;--- Advanced CROSS
  frRes + 2600, "Celkový souèet"
  frRes + 2601, "Souèet"      
  frRes + 2602, "Souèet z "   
  frRes + 2603, "Buòka"
  frRes + 2604, "Záhlaví" 
  frRes + 2605, "Opakovat nadpis"
  frRes + 2606, "Vnitøní rám"
  frRes + 2607, "Zobrazit záhlaví"
;--- Functions in 2.50
  frRes + 2620, "Databáze"
  frRes + 2621, "FIELDISNULL(<NázevPoložky>)/Vrací 'ano' jestliže položka obsahuje NULL"
  frRes + 2622, "Informace o sestavì"
  frRes + 2623, "REPORTCOMMENT/Vrací komentáø sestavy"
  frRes + 2624, "REPORTNAME/Vrací název sestavy"
  frRes + 2625, "REPORTAUTOR/Vrací autora sestavy"
  frRes + 2626, "VMAJOR/Vrací hlavní verzi sestavy"
  frRes + 2627, "VMINOR/Vrací vedlejší verzi sestavy"
  frRes + 2628, "VRELEASE/Vrací verzi uvolnìní"
  frRes + 2629, "VBUILD/Vrací verzi sestavení"
  frRes + 2630, "REPORTDATE/Vrací datum vytvoøení sestavy"
  frRes + 2631, "REPORTLASTCHANGE/Vrací datum zmìny sestavy"
;--- Designer 2.50
  frRes + 2650, " Zvýrazòování syntaxe "
  frRes + 2651, "Zvýrazòování syntaxe zapnuto"
  frRes + 2652, "Zakázat funkci ' Zpìt ' "
  frRes + 2653, "Heslo"
  frRes + 2654, "Zadejte heslo pro otevøení sestavy"
  frRes + 2655, "Znovu pro kontrolu"
  frRes + 2656, "Obecný"
  frRes + 2657, "Chránit heslem"
  frRes + 2658, "Dokument"
  frRes + 2659, " Atributy "
  frRes + 2660, "Název"
  frRes + 2661, "Autor"
  frRes + 2662, " Verze "
  frRes + 2663, "Hlavní"
  frRes + 2664, "Vedl."
  frRes + 2665, "Uvolnìní"
  frRes + 2666, "Sest."
  frRes + 2667, " Popis "
  frRes + 2668, "Komentáø"
  frRes + 2669, "Zmìnìno"
  frRes + 2670, "Vznik"

;-- Additions in 2.52
;-- OLE Excel export
  frRes + 2700, "Styly"
;-- XML Excel export
  frRes + 2710, "Sešit MS Excel (XML) (*.xls)"
  frRes + 2711, "Soubor XML (*.xml)"
  frRes + 2712, "Export do XML"
  frRes + 2713, "Soubor MS Excel (XML)"
  frRes + 2714, "Èíslování"
;-- HTML Table export
  frRes + 2720, "Soubor HTML (*.html)"
  frRes + 2721, "Export do HTML"
  frRes + 2722, "Obrázky"
  frRes + 2723, "Vše do jedné složky"
  frRes + 2724, "Po exportu otevøít ve výchozím prohlížeèi"
  frRes + 2725, "Fixní šíøka"
  frRes + 2726, "Navigátor stránek"
  frRes + 2727, "Více záložek"
  frRes + 2728, "Mozilla frames"
  frRes + 2729, "Stránky"
  frRes + 2730, "Rozšíøené"
;-- Text advanced export
  frRes + 2740, "Prostý text (jehlièková tiskárna) (*.prn)"
  frRes + 2741, "Export jako prostý text (jehlièková tiskárna)"
  frRes + 2742, "Náhled zap./vyp."
  frRes + 2743, "Printer init setup"
  frRes + 2744, " Export vlastností "
  frRes + 2745, "Zalomení stránky"
  frRes + 2746, "OEM kodová stránka"
  frRes + 2747, "Prázdné øádky"
  frRes + 2748, "Úvodní mezery"
  frRes + 2749, " Scaling "
  frRes + 2750, "Šíøka"
  frRes + 2751, "Výška"
  frRes + 2752, " Rámy "
  frRes + 2753, "Žádné"
  frRes + 2754, "Jednoduché"
  frRes + 2755, "Pouze pøi OEM kódové stránce"
  frRes + 2756, "Grafika"
  frRes + 2757, "Tisknout po exportu"
  frRes + 2758, "Uložit nastavení"
  frRes + 2759, " Náhled "
  frRes + 2760, "Šíøka:"
  frRes + 2761, "Výška:"
  frRes + 2762, "Stránka"
  frRes + 2763, "Zvìtšit náhled"
  frRes + 2764, "Zmenšit náhled"
  frRes + 2765, "Printer init setup"
  frRes + 2766, "Typ tiskárny"
  frRes + 2767, "Otevøít"
  frRes + 2768, "Uložit"
  frRes + 2769, "Printer init template (*.fpi)|*.fpi"

;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Storno"
  SYes, "Ano"
  SNo, "Ne"
  SPg, "Strana"
  SNotAssigned, "[ Žádný ]"
  SDefaultPrinter, "Výchozí tiskárna"
  SBand1, "Nadpis sestavy"
  SBand2, "Obsah sestavy"
  SBand3, "Hlavièka strany"
  SBand4, "Patièka strany"
  SBand5, "Master - hlavièka"
  SBand6, "Master data"
  SBand7, "Master - patièka"
  SBand8, "Detail - hlavièka"
  SBand9, "Detail data"
  SBand10, "Detail - patièka"
  SBand11, "Subdetail - hlavièka"
  SBand12, "Subdetail data"
  SBand13, "Subdetail - patièka"
  SBand14, "Pøekrytí"
  SBand15, "Sloupec - hlavièka"
  SBand16, "Sloupec - patièka"
  SBand17, "Skupina - hlavièka"
  SBand18, "Skupina - patièka"
  SBand19, "Køížová tabulka - hlavièka"
  SBand20, "Køížová tabulka - data"
  SBand21, "Køížová tabulka - patièka"
  SBand22, "Potomek"
  SBand23, "Žádný"
  SCateg1, "Text"
  SCateg2, "Èíslo"
  SCateg3, "Datum"
  SCateg4, "Èas"
  SCateg5, "Vyhodnocení"
  SFormat11, "[ Žádný ]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Vlastní"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 lis 1998"
  SFormat34, "15 listopad 1998"
  SFormat35, "Vlastní"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Vlastní"
  SFormat51, "0;1"
  SFormat52, "Ne;Ano"
  SFormat53, "_;x"
  SFormat54, "Nepravda;Pravda"
  SFormat55, "Vlastní"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "z"
  SErrorOccured, "Pøi výpoètu nastala chyba"
  SDoc, "Sestava:"
  SObject, "Objekt:"
  SReportPreparing, "Pøíprava sestavy"
  SFirstPass, "Provádím 1. skok:"
  SPagePreparing, "Generování strany:"
  SError, "Chyba"
  SPreview, "Náhled"
  SPagePrinting, "Tisk strany:"
  SUntitled, "Bez názvu"
  SPrinterError, "Nastavená tiskárna je nedostupná"
  SRepFile, "Soubor sestav"
  STextFile, "ASCII soubor"
  SRTFFile, "RTF soubor"
  SCSVFile, "CSV soubor"
  SHTMFile, "HTML soubor"
  SFont, "Písmo..."
  SCharset, "1"
  SBarcodeError, "Chyba v def. ÈK"
  SFRFError, "FRF formát není podporován"
  SUndefinedSymbol, "Nedefinován symbol"
}
