#include "FR_Const.pas"

; ----------------------------------------------------------------------------
; TRANSLATION TO CZECH
; Translated: Pavel Malinsky
; Date      : 23.01.2004
; Contact   : malinsky@pmcom.cz
; Comment   : Doplnìn/opraven pøedchozí pøeklad z 29.12.2000
; ----------------------------------------------------------------------------
; > Pøedchozí pøeklad >>>>>>>>>>>>>>>>>>>>>>>>>>>
; > ----------------------------------------------------------------------------
; > TRANSLATION TO CZECH
; > Translated: Arpad Toth
; > Date      : 29.12.2000 - První verze
; > Contact   : i.smid@dobruska.cz
; > Comment   : Opravdová èeská verze
; > ----------------------------------------------------------------------------

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Inspektor objektù"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Editor skriptu"
  frRes + 61, "Vložit výraz"
  frRes + 62, "Vložit DB položku"
  frRes + 63, "Zalamovat"
  frRes + 64, "Zobrazit/skrýt skript"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Generátor"
  frRes + 81, "Odbélník"
  frRes + 82, "Základní"
  frRes + 83, "Text"
  frRes + 84, "Objekty"
  frRes + 85, "Zarovnávání"
  frRes + 86, "Nástroje"
  frRes + 87, "Nová sestava"
  frRes + 88, "Otevøít sestavu"
  frRes + 89, "Uložit sestavu"
  frRes + 90, "Náhled sestavy"
  frRes + 91, "Vyjmout"
  frRes + 92, "Kopírovat"
  frRes + 93, "Vložit"
  frRes + 94, "Návrat poslední operace"
  frRes + 95, "Obnovení ukonèené operace"
  frRes + 96, "Pøesunout do popøedí"
  frRes + 97, "Pøesunout do pozadí"
  frRes + 98, "Vybrat vše"
  frRes + 99, "Pøidat stránku"
  frRes + 100, "Odstranit stránku"
  frRes + 101, "Možnosti stránky"
  frRes + 102, "Zobrazit rastr"
  frRes + 103, "Zarovnávat k rastru"
  frRes + 104, "Zarovnat do rastru"
  frRes + 105, "Ukonèit"
  frRes + 106, "Ukonèit generátor"
  frRes + 107, "Zarovnat vlevo"
  frRes + 108, "Zarovnat vpravo"
  frRes + 109, "Zarovnat na støed"
  frRes + 110, "Normální text / 90 stupòù"
  frRes + 111, "Zarovnat na støed šíøky"
  frRes + 112, "Zarovnat k hornímu okraji"
  frRes + 113, "Zarovnat ke spodnímu okraji"
  frRes + 114, "Zarovnat do bloku"
  frRes + 115, "Tuèné"
  frRes + 116, "Kurzíva"
  frRes + 117, "Podtržené"
  frRes + 118, "Barva písma"
  frRes + 119, "Kritéria zvýraznìní"
  frRes + 120, "Velikost písma"
  frRes + 121, "Název písma"
  frRes + 122, "Horní ohranièení"
  frRes + 123, "Levé ohranièení"
  frRes + 124, "Dolní ohranièení"
  frRes + 125, "Pravé ohranièení"
  frRes + 126, "Vnìjší ohranièení"
  frRes + 127, "Bez ohranièení"
  frRes + 128, "Barva pozadí"
  frRes + 129, "Barva rámeèku"
  frRes + 130, "Šíøka rámeèku"
  frRes + 131, "Šíøka rámeèku"
  frRes + 132, "Výbìr objektù"
  frRes + 133, "Vložit obdélník"
  frRes + 134, "Vložit skupinu"
  frRes + 135, "Vložit obrázek"
  frRes + 136, "Vložit subsestavu"
  frRes + 137, "Kreslení èar"
  frRes + 138, "Zarovnat k levému okraji"
  frRes + 139, "Zarovnat vodorovnì"
  frRes + 140, "Zarovnat vodorovnì v oknì"
  frRes + 141, "Stejné rozdìlení mezer - vodorovnì"
  frRes + 142, "Zarovnat k pravému okraji"
  frRes + 143, "Zarovnat k hornímu okraji"
  frRes + 144, "Zarovnat svisle"
  frRes + 145, "Zarovnat svisle v oknì"
  frRes + 146, "Stejné rozdìlení mezer - svisle"
  frRes + 147, "Zarovnat ke spodnímu okraji"
  frRes + 148, "V&yjmout"
  frRes + 149, "&Kopírovat"
  frRes + 150, "&Vložit"
  frRes + 151, "Vym&azat"
  frRes + 152, "Oznaèit vše&chny"
  frRes + 153, "&Upravit..."
  frRes + 154, "&Soubor"
  frRes + 155, "&Nový..."
  frRes + 156, "&Otevøít..."
  frRes + 157, "&Uložit"
  frRes + 158, "&Datová základna..."
  frRes + 159, "&Možnosti sestavy..."
  frRes + 160, "&Možnosti stránky..."
  frRes + 161, "&Náhled"
  frRes + 162, "K&onec"
  frRes + 163, "Ú&pravy"
  frRes + 164, "&Zpìt"
  frRes + 165, "&Znovu"
  frRes + 166, "V&jmout"
  frRes + 167, "&Kopírovat"
  frRes + 168, "&Vložit"
  frRes + 169, "V&ymazat"
  frRes + 170, "Vy&brat všechny"
  frRes + 171, "&Úprava..."
  frRes + 172, "&Pøidat stranu"
  frRes + 173, "&Odstranit stranu"
  frRes + 174, "Pøesunout do popøed&í"
  frRes + 175, "Pøesunout &do pozadí"
  frRes + 176, "&Nástroje"
  frRes + 177, "&Paleta nástrojù"
  frRes + 178, "Nás&troje"
  frRes + 179, "&Možnosti..."
  frRes + 180, "&Obrysy"
  frRes + 181, "&Základní"
  frRes + 182, "&Text"
  frRes + 183, "&Objekty"
  frRes + 184, "&Inspektor objektù"
  frRes + 185, "&Paleta zarovnávání"
  frRes + 186, "DB Nás&troje"
  frRes + 187, "&O programu..."
  frRes + 188, "Uložit &jako..."
  frRes + 189, "&Obsah nápovìdy"
  frRes + 190, "&Co je..."
  frRes + 191, "Styl obrysù"
  frRes + 192, "Pøidat dialogový &formuláø"
  frRes + 193, "Pøidat dialogový formuláø"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Omezení objektu"
  frRes + 261, "Zákaz úpravy &memo"
  frRes + 262, "Zákaz úpravy &skriptù"
  frRes + 263, "Zákaz úpravy &komentáøe"
  frRes + 264, "Zákaz mo&difikace"
  frRes + 265, "Zákaz zmìn ve&likosti"
  frRes + 266, "Zákaz pøe&sunu"
  frRes + 267, "Zákaz vy&mazání"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Možnosti"
  frRes + 281, "Generátor"
  frRes + 282, " Rastr "
  frRes + 283, " Kreslení èar "
  frRes + 284, " Jednotky rozmìrù "
  frRes + 285, " Hustota rastru "
  frRes + 286, "&Zobrazovat rastr"
  frRes + 287, "Zarovnávat k &rastru"
  frRes + 288, "Barevná &tlaèítka"
  frRes + 289, "&4 body"
  frRes + 290, "&8 bodù"
  frRes + 291, "&18 bodù (5mm)"
  frRes + 293, "Zobrazovat celý objekt pøi pøesunu nebo zmìnì velikosti."
  frRes + 294, "&Body"
  frRes + 295, "&Milimetry"
  frRes + 296, "P&alce"
  frRes + 297, " Další "
  frRes + 298, "&Upravovat po vložení"
  frRes + 299, "Zobrazovat &titulek skupiny"
  frRes + 300, " Pozice stránky "
  frRes + 301, "Na &støed"
  frRes + 302, "Vle&vo"
  frRes + 303, "Vp&ravo"
  frRes + 304, "Editor"
  frRes + 305, " Textový editor "
  frRes + 306, "&Použít písmo objektu"
  frRes + 307, "Použít &fixní nastavení:"
  frRes + 308, "Název písma:"
  frRes + 309, "Velikost:"
  frRes + 310, " Editor skriptù "
  frRes + 311, "Lokalizované názvy vlastností objektù (èesky)"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Nová sestava"
  frRes + 319, " Popis "
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Nová šablona"
  frRes + 321, "&Komentáø"
  frRes + 322, "Ikona"
  frRes + 323, "&Soubor..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Datová základna"
  frRes + 341, "Promìnné"
  frRes + 342, "Aliasy položek"
  frRes + 343, "Zdroje skupiny"
  frRes + 344, "Pro&mìnné"
  frRes + 345, "Hod&noty"
  frRes + 346, "&Výraz"
  frRes + 347, "Nová kategore"
  frRes + 348, "Nová promìnná"
  frRes + 349, "Upravit"
  frRes + 350, "Vymazat"
  frRes + 351, "Upravit seznam"
  frRes + 352, "Databáze a položky"
  frRes + 353, "Všechny databáze"
  frRes + 354, " &Výskyt "
  frRes + 355, "Alia&s"
  frRes + 356, "V&yjmout položku ze seznamu"
  frRes + 357, "Datové zdroje"
  frRes + 358, "Všechny datové zdroje"
  frRes + 359, "&Ulož..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Seznam promìnných"
  frRes + 361, "&Kategorie a promìnné"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Nastavení sestavy"
  frRes + 371, " Tiskárna "
  frRes + 372, "&Vybrat po naètení sestavy"
  frRes + 373, " Ostatní "
  frRes + 374, "&Dvojitý pøechod"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Nastavení strany"
  frRes + 391, "Papír"
  frRes + 392, " Orientace "
  frRes + 393, "&Na výšku"
  frRes + 394, "N&a šíøku"
  frRes + 395, " Velikost "
  frRes + 396, "Ší&øka v mm"
  frRes + 397, "&Výška v mm"
  frRes + 398, "Okraje"
  frRes + 399, " Okraje strany "
  frRes + 400, "&Levý v mm"
  frRes + 401, "&Horní v mm"
  frRes + 402, "&Pravý v mm"
  frRes + 403, "&Dolní v mm"
  frRes + 404, "&Zarovnat do oblasti tisku"
  frRes + 405, "Možnosti"
  frRes + 406, " Možnosti "
  frRes + 407, "&Tisk na pøedchozí stranu"
  frRes + 408, " Sloupce "
  frRes + 409, "&Poèet"
  frRes + 410, "&Mezera v mm"
  frRes + 411, "Zdroj"
  frRes + 412, " Zdroj papíru "
  frRes + 413, "&Neomezená velikost plochy"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Formáty promìnných"
  frRes + 421, "Formát promìnné"
  frRes + 422, "&Poèet des.míst"
  frRes + 423, "Desetinný &oddìlovaè"
  frRes + 424, "Vlastní &formát"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Promìnné"
  frRes + 441, "&Kategorie:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Položky databáze"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Obrázek"
  frRes + 461, "&Pøizpùsobit"
  frRes + 462, "&Naèíst..."
  frRes + 463, "&Odstranit"
  frRes + 464, "&Komentáø"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Datový zdroj skupiny"
  frRes + 481, "&Datový zdroj"
  frRes + 482, "&Poèet záznamù"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Datový zdroj skupiny"
  frRes + 486, "Skupiny"
  frRes + 487, "Datový zdroj"
  frRes + 488, "&Poèet záznamù"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Skupina"
  frRes + 491, "&Podmínka"
  frRes + 492, "Vložit DB položku"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Vložit novou skupinu"
  frRes + 511, " Typ skupiny "
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Kritéria zvýraznìní"
  frRes + 521, "&Podmínka"
  frRes + 522, "Písmo"
  frRes + 523, "B&arva..."
  frRes + 524, "&Tuèné"
  frRes + 525, "&Kurzíva"
  frRes + 526, "&Podržené"
  frRes + 527, "Pozadí"
  frRes + 528, "Ba&rva..."
  frRes + 529, "&Prùhledné"
  frRes + 530, "Ji&né"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "O programu FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE objekt"
  frRes + 551, "&Vložit..."
  frRes + 552, "&Upravit..."
  frRes + 553, "&Návrat"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "RichEdit"
  frRes + 561, "Otevøít..."
  frRes + 562, "Uložit..."
  frRes + 563, "Zpìt"
  frRes + 564, "Tuèné"
  frRes + 565, "Kurzíva"
  frRes + 566, "Zarovnat vlevo"
  frRes + 567, "Zarovnat na støed"
  frRes + 568, "Zarovnat vpravo"
  frRes + 569, "Podtržené"
  frRes + 570, "Seznam"
  frRes + 571, "Písmo"
  frRes + 572, "Návrat"
  frRes + 573, "Uložit a návrat"
  frRes + 574, "Pro"
  frRes + 575, "Vložit výraz"
  frRes + 576, "Písmo"
  frRes + 577, "Velikost písma"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Graf objekt"
  frRes + 591, "Typ"
  frRes + 592, "Data"
  frRes + 593, " Typ "
  frRes + 594, " Název objektu "
  frRes + 595, " Možnosti "
  frRes + 596, "&3D"
  frRes + 597, "&Jednoduchý"
  frRes + 598, "Zobrazit &legendu"
  frRes + 599, "Zobrazit &osy"
  frRes + 600, "Zobrazit znaèky"
  frRes + 601, "Víceba&revnì"
  frRes + 602, "Pro &legendu"
  frRes + 603, "Pro &hodnoty"
  frRes + 604, "Znaèky"
  frRes + 605, " Styl "
  frRes + 606, "Hodnota"
  frRes + 607, "Procento"
  frRes + 608, "Popis"
  frRes + 609, "Popis a procento"
  frRes + 610, "Popis a hodnota"
  frRes + 611, " Prvních 10 "
  frRes + 612, "&Zobrazit nahoøe"
  frRes + 613, "Nad&pis"
  frRes + 614, "hodnoty"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Vkládání položek"
  frRes + 631, "&Dostupné tabulky"
  frRes + 632, " Umístìní "
  frRes + 633, "&Horizontálnì"
  frRes + 634, "&Vertikálnì"
  frRes + 635, "&Zahrnout záhlaví"
  frRes + 636, "Zahrnout &skupiny"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Editor èárového kódu"
  frRes + 651, "&Kód"
  frRes + 652, "&Typ èárového kódu"
  frRes + 653, " Možnosti "
  frRes + 654, "Kontrolní souèet"
  frRes + 655, "Èitelné lidmi"
  frRes + 656, "Vložit výraz"
  frRes + 657, "Vložit promìnnou"
  frRes + 658, " Otoèit o N° "
  frRes + 659, "&Zvìtšit:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Editor vlastností"
  frRes + 671, "Náhled :"
  frRes + 672, "&Výraz..."
  frRes + 673, "&DB položka..."
  frRes + 674, "&Stíny"
  frRes + 675, "Šíøka st&ínu"
  frRes + 676, "Barva"
  frRes + 677, "&Zaoblené hrany"
  frRes + 678, "&Zóna ohranièení"
  frRes + 679, "Konèí barvou"
  frRes + 680, "Zaèína barvou"
  frRes + 681, "&Styl"
  frRes + 682, "Vertikálnì,Horizontální,Ovál,Obdélník,Horiz._Støed,Vert._Støed"
  frRes + 683, "Kliknutím definujte barvu stínování nebo barvu odstínu"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, " Definice výrazu "
  frRes + 701, " Výraz "
  frRes + 702, " Vložit "
  frRes + 703, "&DB Položka..."
  frRes + 704, "&Promìnná..."
  frRes + 705, "&Funkce..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Dostupné funkce"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Argumenty funkce"
  frRes + 731, "Argument"
;d--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Atributy objektu"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, " Nastavení zobrazení "
  frRes + 751, " Datový zdroj tabulky "
  frRes + 752, "Mezisouèty"
  frRes + 753, "Funkce"
  frRes + 754, "Køížová tabulka - editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Vyjmout tuto stránku?"
  SConfirm, "Dotaz"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Vlastní"
  SSystemVariables, "Systémové promìnné"
  SVar1, "Èíslo strany"
  SVar2, "Výraz"
  SVar3, "Datum"
  SVar4, "Èas"
  SVar5, "Èíslo øádku skupiny"
  SVar6, "Èíslo øádku sestavy"
  SVar7, "Èíslo sloupce"
  SVar8, "Èíslo aktuálního øádku"
  SVar9, "Celkem stran"
  SStretched, "Pøizpùsobit"
  SVarFormat, "Formát promìnné..."
  SWordWrap, "Zalamovat"
  SWordBreak, ""
  SFormNewPage, "Zaèít novou stranu"
  SPrintIfSubsetEmpty, "Tisknout když je detail prázdný"
  SBreaked, "Pøerušení"
  SPictureCenter, "Obrázek na støed"
  SKeepAspectRatio, "Zachovávat pomìr Š/V"
  SFormFile, "FastReport formuláø"
  SForm3File, "FastReport3 formuláø"
  STemplFile, "FastReport šablona"
  SDictFile, "FastReport datová základna"
  SPictFile, "Grafické soubory"
  SBMPFile, "BMP soubor"
  SAllFiles, "Všechny soubory"
  SInsOLEObject, "Vložit OLE objekt"
  SInsRichObject, "Vložit RichText objekt"
  SInsRich2Object, "Vložit RX RichText objekt"
  SInsCheckBox, "Vložit CheckBox objekt"
  SInsChart, "Vložit graf"
  SInsShape, "Vložit obrys"
  SInsBarcode, "Vložit èárový kód"
  SInsRoundRect, "Vložit obdélník nebo stín"
  SSubReportOnPage, "Subsestava je na stranì"
  SPicture, "[Obrázek]"
  STransparent, "Prùhledný"
  SOther, "Ostatní..."
  SOnFirstPage, "Na první stranì"
  SOnLastPage, "Na další stranì"
  SRepeatHeader, "Zobrazit na všech stranách"
  SDesignReport, "Návrh sestavy"
  SInsertFields, "Vložit DB položky"
  SSaveChanges, "Uložit zmìny"
  STo, "do"
  SPixels, "Bodù"
  SMM, "Milimetrù"
  SInches, "Palcù"
  SVirtualDataset, "Virtuální datový zdroj"
  SAutoSize, "Automatická velikost"
  SFRVariables, "FR promìnné"
  SClearContents, "Odstranit komentáø"

  SAllCategories, "Všechny funkce"
  SAggregateCategory, "Výpoèetní"
  SDateTimeCategory, "Datumové a èasové"
  SStringCategory, "Øetìzcové"
  SOtherCategory, "Ostatní"
  SMathCategory, "Matematické"
  SBoolCategory, "Logické"
  SIntrpCategory, "Interpretované"

  SDescriptionAVG, "AVG(<Výraz> [,NazevSkupiny [,1]])/"
    "Vrací prùmìrnou hodnotu pro <Výraz> za øádky ve skupinì [NazevSkupiny] ."
    "Když je uveden parametr [1], výpoèet zahrnuje i nezobrazované øádky. "

  SDescriptionCOUNT, "COUNT(<NazevSkupiny>)/"
    "Vrací poèet øádkù ve skupinì <NazevSkupiny>."

  SDescriptionDAYOF, "DAYOF(<Datum>)/"
    "Vrací èíslo dne (1..31) ze zadání <Datum>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DatumCas>)/"
    "Konvertuje hodnotu <DatumCas> na øetezec ve formátu <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Èíslo>)/"
    "Konvertuje hodnotu <Èíslo> na øetezec ve formátu <Fmt>."

  SDescriptionINPUT, "INPUT(<Nadpis> [,Výchozí])/"
    "Zobrazí dialogové okno pro zadání nadpisu <Nadpis> v editaèním poli. "
    "Když je uveden parametr [Výchozí], vloží se jako výchozí do editaèního pole. "
    "Po stisku OK, vrací hodnotu øetezce."

  SDescriptionLENGTH, "LENGTH(<Øetìzec>)/"
    "Vrací délku hodnoty <Øetìzec>."

  SDescriptionLOWERCASE, "LOWERCASE(<Øetìzec>)/"
    "Konvertuje znaky parametru <Øetìzec> na malé znaky."

  SDescriptionMAX, "MAX(<Výraz> [,NazevSkupiny [,1]])/"
    "Vrací maximální hodnotu pro <Výraz> za øádky ve skupinì [NazevSkupiny] ."
    "Když je uveden parametr [1], výpoèet zahrnuje i nezobrazované øádky. "

  SDescriptionMIN, "MIN(<Výraz> [,NazevSkupiny [,1]])/"
    "Vrací minimální hodnotu pro <Výraz> za øádky ve skupinì [NazevSkupiny] ."
    "Když je uveden parametr [1], výpoèet zahrnuje i nezobrazované øádky. "

  SDescriptionMONTHOF, "MONTHOF(<Datum>)/"
    "Vrací èíslo mìsíce (1..12) ze zadání <Datum>."

  SDescriptionNAMECASE, "NAMECASE(<Øetìzec>)/"
    "Konvertuje znaky parametru <Øetìzec> na malá písmena, pøièemž první znak je velké."

  SDescriptionSTRTODATE, "STRTODATE(<Øetìzec>)/"
    "Konvertuje <Øetìzec> na datum."

  SDescriptionSTRTOTIME, "STRTOTIME(<Øetìzec>)/"
    "Konvertuje <Øetìzec> na èas."

  SDescriptionSUM, "SUM(<Výraz> [,NazevSkupiny [,1]])/"
    "Vrací souèet hodnot pro <Výraz> za øádky ve skupinì [NazevSkupiny] ."
    "Když je uveden parametr [1], výpoèet zahrnuje i nezobrazované øádky. "

  SDescriptionTRIM, "TRIM(<Øetìzec>)/"
    "Vrací parametr <Øetìzec> bez poèáteèních a koncových mezer."

  SDescriptionUPPERCASE, "UPPERCASE(<Øetìzec>)/"
    "Konvertuje znaky parametru <Øetìzec> na velká písmena."

  SDescriptionYEAROF, "YEAROF(<Datum>)/"
    "Vrací rok ze zadání <Datum>."

  SDescriptionIF, "IF(<Výraz>, <Hodnota1>, <Hodnota2>)/"
    "Vrací <Hodnota1>, když výraz <Výraz> je pravdivý "
    "jinak vrací <Hodnota2>. Návratová hodnota nemùže být pouze text."

  SDescriptionCOPY, "COPY(<Øetìzec>, <Od>, <Poèet>)/"
    "Vrací èást øetìzce ze zadání <Øetìzec> poèínaje pozicí znaku <Od> na poèet znakù <Poèet>."

  SDescriptionMOD, "<Hodnota1> MOD <Hodnota2>/"
    "Vrací podíl hodnot <Hodnota1> a <Hodnota2> když je dìlitelný beze zbytku."

  SDescriptionSTR, "STR(<Hodnota>)/"
    "Konvertuje èíselnou hodnotu <Hodnota> na øetìzec."

  SDescriptionNOT, "NOT <Hodnota>/"
    "Logické 'Ne'."

  SDescriptionAND, "<Hodnota1> AND <Hodnota2>/"
    "Logické 'A zároveò'."

  SDescriptionOR, "<Value1> OR <Value2>/"
    "Logické 'Nebo'."

  SDescriptionROUND, "ROUND(<Hodnota>)/"
    "Vrací zaokrouhlenou hodnotu ze zadání <Hodnota>."

  SDescriptionFRAC, "FRAC(<Hodnota>)/"
    "Vrací èást èísla za desetinnou èárkou ze zadání <Hodnota>."

  SDescriptionINT, "INT(<Hodnota>)/"
    "Vrací celoèíselnou èást èísla (èást pøed desetinnou èárkou) ze zadání <Hodnota>."

  SDescriptionTRUE, "TRUE/"
    "Logická 'Pravda'."

  SDescriptionFALSE, "FALSE/"
    "Logická 'Nepravda'."

  SDescriptionPAGE, "PAGE#/"
    "Vrací èíslo aktuální stránky."

  SDescriptionDATE, "DATE/"
    "Vrací aktuální datum."

  SDescriptionTIME, "TIME/"
    "Vrací aktuální èas."

  SDescriptionLINE, "LINE#/"
    "Vrací aktuální èíslo øádku (od zaèátku skupiny)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Vrací aktuální èíslo øádku (od zaèátku sestavy)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Vrací èíslo aktuálního sloupce."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Vrací celkový poèet stran sestavy."

  SDescriptionMROK, "MROK/"
    "Návratová konstanta 'OK'."

  SDescriptionMRCancel, "MRCANCEL/"
    "Návratová konstanta 'Storno'."

  SDescriptionCurY, "CURY/"
    "Vrací pozici 'Y' v bodech, když je skupina zobrazována. "
    "Potom je možné pøiøadit tuto hodnotu do CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Vrací zbývající poèet mezer na stranì v bodech."

  SDescriptionFinalPass, "FINALPASS/"
    "Návratová hodnota je pravdivá když je generování sestavy u konce."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Vrací výšku aktuální strany v bodech."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Vrací šíøku aktuální strany v bodech."

  SDescriptionProgress, "PROGRESS/"
    "Vrací stav generování, když je zobrazováno okno prùbìhu generování."

  SDescriptionModalResult, "MODALRESULT/"
    "Vrací nenulovou návratovou hodnotu dialogového formuláøe po jeho zavøení."

  SDescriptionStopReport, "STOPREPORT/"
    "Zastaví generování sestavy."

  SDescriptionNewPage, "NEWPAGE/"
    "Startuje novou stránku."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Spustí nový sloupec."

  SDescriptionShowBand, "SHOWBAND(<NazevSkupiny>)/"
    "Zobrazí skupinu zadaného jména <NazevSkupiny>."

  SDescriptionINC, "INC(<Hodnota>)/"
    "Zvýší hodnotu <Hodnota> o jedna."

  SDescriptionDEC, "DEC(<Hodnota>)/"
    "Sníží hodnotu <Hodnota> o jedna."

  SDescriptionMAXNUM, "MAXNUM(<Hodnota1>, <Hodnota2>)/"
    "Vrací maximální hodnotu z hodnot <Hodnota1> a <Hodnota2>."

  SDescriptionMINNUM, "MINNUM(<Hodnota1>, <Hodnota2>)/"
    "Varcí minimální hodnotu z hodnot <Hodnota1> a <Hodnota2>."

  SDescriptionPOS, "POS(<SubØetìzec>, <Øetìzec>)/"
    "Vrací pozici øetìzce <SubØetìzec> z øetìzce <Øetìzec>"

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Nadpis>, <Tlaèítka>)/"
    "Ukáže standardní informaèní dialog s textem, nadpisem a tlaèítky."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Maska>, <Øetìzec>)/"
    "Aplikuje masku <Maska> na øetìzec <Øetìzec> a vrací zformátovaný øetìzec."

  SInformation, "Informace"
  SExpressionOK, "Výraz je v poøádku !"
  STextOnly, "Prostý text"
  SSuppressRepeated, "Potlaèit opakované hodnoty"
  SDefaultBin, "Výchozí"
  SDeleteObjects, "Opravdu chcete vymazat všechny objekty z této strany."
  SWarning, "Upozornìní"
  SHideZeros, "Nezobrazovat nuly"
  SPrintChild, "Tisknout potomky"
  SUnderlines, "Podtrhnout"
  SOnePerPage, "Nelze umístit dva nebo více objektù %s na jednu stranu."
  SInsertCrosstab, "Vložit køížovou tabulku"
}
