#include "FR_Const.pas"

; Object Inspector localization
; Just add desired property name after '=' sign, for instance:
; 58092, "Suppress=Suppress repeated values"
; and you'll see "Suppress repeated values" string in the Object Inspector
; instead of "Suppress".
; ----------------------------------------------------------------------------
; TRANSLATION TO CZECH
; Translated: Pavel Malinsky
; Date      : 23.01.2004
; Contact   : malinsky@pmcom.cz
; Comment   : Doplnìn pøeklad
; ----------------------------------------------------------------------------

STRINGTABLE
{
  frRes + 5001, "Active=Aktivní"
  frRes + 5002, "AliasName=Jméno aliasu"
  frRes + 5003, "Alignment=Zarovnání"
  frRes + 5004, "AutoSize=Automatická velikost"
  frRes + 5005, "AutoWidth=Automatická šíøka"
  frRes + 5006, "BandAlign=Zarovnání skupiny"
  frRes + 5007, "Barcode=Èárový kód"
  frRes + 5008, "BeginColor=Poèáteèní barva"
  frRes + 5009, "BlobType="
  frRes + 5010, "BorderStyle=Styl ohranièení"
  frRes + 5011, "BottomMargin=Okraj - spodní"
  frRes + 5012, "Breaked=Zalomení"
  frRes + 5013, "Caption=Titulek"
  frRes + 5014, "Center=Centrovat"
  frRes + 5015, "CharSpacing=Odsazení znakù"
  frRes + 5016, "CheckColor=Zatržení - barva"
  frRes + 5017, "Checked=Zatrhnout"
  frRes + 5018, "CheckStyle=Zatržení - styl"
  frRes + 5019, "ChildBand=Potomek skupiny"
  frRes + 5020, "Color=Barva"
  frRes + 5021, "ColumnGap=Odsazení sloupce"
  frRes + 5022, "Columns=Sloupce"
  frRes + 5023, "ColumnWidth=Šíøka skloupce"
  frRes + 5024, "Connected=Pøipojeno"
  frRes + 5025, "Condition=Podmínka"
  frRes + 5026, "DatabaseName=Jméno databáze"
  frRes + 5027, "DataField=Datová položka"
  frRes + 5028, "DataSource=Datový zdroj"
  frRes + 5029, "DisplayFormat=Formát zobrazení"
  frRes + 5030, "DriverName=Jméno ovladaèe"
  frRes + 5031, "Enabled=Pøístupný"
  frRes + 5032, "EndColor=Koncová barva"
  frRes + 5033, "Fields=Položky"
  frRes + 5034, "FillColor=Barva výplnì"
  frRes + 5035, "Filter=Filtr"
  frRes + 5036, "Font=Písmo"
  frRes + 5037, "FormNewPage="
  frRes + 5038, "FrameColor=Rám - barva"
  frRes + 5039, "FrameStyle=Rám - styl"
  frRes + 5040, "FrameTyp=Rám - typ"
  frRes + 5041, "FrameWidth=Rám - šíøka"
  frRes + 5042, "GapX=Odsazení osy X"
  frRes + 5043, "GapY=Odsazení osy Y"
  frRes + 5044, "Gradient=Pøechod barev"
  frRes + 5045, "Height=Výška"
  frRes + 5046, "HideZeros=Skrýt nuly"
  frRes + 5047, "Highlight=Zvýraznìní"
  frRes + 5048, "IndexName=Jméno indexu"
  frRes + 5049, "Items=Položky"
  frRes + 5050, "KeepAspect=Zachovat pomìr"
  frRes + 5051, "KeyField=Klíèová položka"
  frRes + 5052, "Left=Vlevo"
  frRes + 5053, "LeftMargin=Okraj - levý"
  frRes + 5054, "Lines=Øádky"
  frRes + 5055, "LineSpacing=Odsazení øádkù"
  frRes + 5056, "ListField=Seznam položek"
  frRes + 5057, "ListSource=Seznam zdrojù"
  frRes + 5058, "LoginPrompt=Pøihlašovací dialog"
  frRes + 5059, "Master="
  frRes + 5060, "MasterFields=Master - položky"
  frRes + 5061, "MasterSource=Master - zdroj"
  frRes + 5062, "Memo=Skript"
  frRes + 5063, "ModalResult=Návratová hodnota"
  frRes + 5064, "Name=Jméno"
  frRes + 5065, "OLE=OLE objekt"
  frRes + 5066, "OnActivate=Spustit pøi aktivaci"
  frRes + 5067, "OnBeforePrint=Spustit pøed tiskem"
  frRes + 5068, "OnClick=Spustit pøi kliknutí"
  frRes + 5069, "OnFirstPage=Spustit pøi první stránce"
  frRes + 5070, "OnLastPage=Spustit pøi poslední stránce"
  frRes + 5071, "Orientation=Orientace"
  frRes + 5072, "Params=Parametry"
  frRes + 5073, "Picture=Obrázek"
  frRes + 5074, "Position=Pozice"
  frRes + 5075, "PrintChildIfInvisible=Tisk nezobrazovaného potomka"
  frRes + 5076, "PrintIfSubsetEmpty=Tisk prázdných subsestav"
  frRes + 5077, "PrintToPrevPage=Tisk na pøedchozí stranu"
  frRes + 5078, "ReadOnly=Pouze ke ètení"
  frRes + 5079, "RepeatHeader=Opakovat hlavièku"
  frRes + 5080, "Restrictions=Omezení"
  frRes + 5081, "RightMargin=Okraj - pravý"
  frRes + 5082, "RoundRect=Zaoblení rohù"
  frRes + 5083, "RoundSize=Zaoblení - velikost"
  frRes + 5084, "ShadowColor=Stín - barva"
  frRes + 5085, "ShadowWidth=Stín - šíøka"
  frRes + 5086, "Shape="
  frRes + 5087, "Size=Velikost"
  frRes + 5088, "SQL=Pøíkaz SQL"
  frRes + 5089, "Stretched=Roztáhnout"
  frRes + 5090, "StretchToPrintable=Roztáhnout pro tisk"
  frRes + 5091, "Style=Styl"
  frRes + 5092, "Suppress=Potlaèit opakování hodnot"
  frRes + 5093, "TableName=Jméno tabulky"
  frRes + 5094, "Tag=Atributy"
  frRes + 5095, "Text="
  frRes + 5096, "TextOnly=Prostý text"
  frRes + 5097, "Top=Nahoøe"
  frRes + 5098, "TopMargin=Okraj - horní"
  frRes + 5099, "Type=Typ"
  frRes + 5100, "Underlines=Podtržení"
  frRes + 5101, "Visible=Viditelný"
  frRes + 5102, "Width=Šíøka"
  frRes + 5103, "WordBreak="
  frRes + 5104, "WordWrap="
}
