P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10.3pt; LINE-HEIGHT: 13pt; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	BACKGROUND-COLOR: #66ffff; TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: underline
}
.p1 {
	FONT-SIZE: 9pt; COLOR: #ff0000; LINE-HEIGHT: 13pt; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.p2 {
	FONT-SIZE: 9pt; COLOR: #0000ff; LINE-HEIGHT: 13pt; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.p3 {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.p4 {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 13pt; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
BODY {
	FONT-SIZE: 9pt; LINE-HEIGHT: 13pt; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
TABLE {
	FONT-SIZE: 9pt; LINE-HEIGHT: normal; FONT-FAMILY: "宋体"
}
TD {
	FONT-SIZE: 9pt; LINE-HEIGHT: normal; FONT-FAMILY: "宋体"
}
