#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Objekt Inspektor"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Texteditor"
  frRes + 61, "Ausdruck einfügen"
  frRes + 62, "DB-Feld einfügen"
  frRes + 63, "Wortumbruch"
  frRes + 64, "Script zeigen/ausblenden"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Designer"
  frRes + 81, "Rechteck"
  frRes + 82, "Standard"
  frRes + 83, "Text"
  frRes + 84, "Objekte"
  frRes + 85, "Ausrichtung"
  frRes + 86, "Werkzeuge"
  frRes + 87, "Neuer Report"
  frRes + 88, "Öffne Report"
  frRes + 89, "Speicher Report"
  frRes + 90, "Reportvorschau"
  frRes + 91, "Aussschneiden"
  frRes + 92, "Kopieren"
  frRes + 93, "Einfügen"
  frRes + 94, "Letzte Aktion zurück"
  frRes + 95, "Wiederhole letzte Aktion"
  frRes + 96, "nach Vorne"
  frRes + 97, "nach Hinten"
  frRes + 98, "Alles auswählen"
  frRes + 99, "Neue Seite"
  frRes + 100, "Lösche Seite"
  frRes + 101, "Seitenoptionen"
  frRes + 102, "Gitter"
  frRes + 103, "am Gitter ausrichten"
  frRes + 104, "An Gitter anpassen"
  frRes + 105, "Schließen"
  frRes + 106, "Schließe Designer"
  frRes + 107, "Linksbündig"
  frRes + 108, "Rechtsbündig"
  frRes + 109, "Zentriert"
  frRes + 110, "Normaler Text / 90 Grad"
  frRes + 111, "vertikal zentrieren"
  frRes + 112, "oberer Rand"
  frRes + 113, "unterer Rand"
  frRes + 114, "optimale Breite"
  frRes + 115, "Fett"
  frRes + 116, "Kursiv"
  frRes + 117, "Unterstrichen"
  frRes + 118, "Zeichsatzfarbe"
  frRes + 119, "Hervorhebungseigenschaften"
  frRes + 120, "Zeichensatzgröße"
  frRes + 121, "Zeichensatz"
  frRes + 122, "Rahmenlinie oberer Rand"
  frRes + 123, "Rahmenlinie linker Rand"
  frRes + 124, "Rahmenlinie unterer Rand"
  frRes + 125, "Rahmenlinie rechter Rand"
  frRes + 126, "komplett umrahmt"
  frRes + 127, "kein Rahmen"
  frRes + 128, "Hintergrundfarbe"
  frRes + 129, "Rahmenfarbe"
  frRes + 130, "Rahmenbreite"
  frRes + 131, "Rahmenbreite"
  frRes + 132, "Objekt auswählen"
  frRes + 133, "Rechteckobjekt einfügen"
  frRes + 134, "Bereich einfügen"
  frRes + 135, "Bild einfügen"
  frRes + 136, "Unterreport einfügen"
  frRes + 137, "Linien malen"
  frRes + 138, "Am linken Rand ausrichten"
  frRes + 139, "Am horizontalen Zentrum ausrichten"
  frRes + 140, "Horizontal im Fenster zentrieren"
  frRes + 141, "Gleicher horizontaler Abstand"
  frRes + 142, "Am Rechten Rand ausrichten"
  frRes + 143, "Oben ausrichten"
  frRes + 144, "Am vertikalen Zentrum ausrichten"
  frRes + 145, "Vertikal im Fenster zentrieren"
  frRes + 146, "Gleicher vertikaler Abstand"
  frRes + 147, "Am unteren Rand ausrichten"
  frRes + 148, "A&usschneiden"
  frRes + 149, "K&opieren"
  frRes + 150, "&Einfügen"
  frRes + 151, "&Löschen"
  frRes + 152, "&Alles auswählen"
  frRes + 153, "&Bearbeiten..."
  frRes + 154, "&Datei"
  frRes + 155, "&Neu..."
  frRes + 156, "&Öffnen..."
  frRes + 157, "&Speichern"
  frRes + 158, "Variablen&liste..."
  frRes + 159, "&Report Optionen..."
  frRes + 160, "&Seitenoptionen..."
  frRes + 161, "&Vorschau"
  frRes + 162, "B&eenden"
  frRes + 163, "&Bearbeiten"
  frRes + 164, "&Rückgängig"
  frRes + 165, "&Wiederholen"
  frRes + 166, "A&usschneiden"
  frRes + 167, "K&opieren"
  frRes + 168, "&Einfügen"
  frRes + 169, "&Löschen"
  frRes + 170, "&Alles auswählen"
  frRes + 171, "&Bearbeiten..."
  frRes + 172, "&Neue Seite"
  frRes + 173, "&Seite löschen"
  frRes + 174, "nach &vorne bringen"
  frRes + 175, "nach &hinten bringen"
  frRes + 176, "&Werkzeuge"
  frRes + 177, "&Symbolleisten"
  frRes + 178, "Werk&zeuge"
  frRes + 179, "&Optionen..."
  frRes + 180, "&Rechteck"
  frRes + 181, "&Standard"
  frRes + 182, "&Text"
  frRes + 183, "&Objekte"
  frRes + 184, "Objekt &Inspektor"
  frRes + 185, "&Ausrichtungsleiste"
  frRes + 186, "Werk&zeuge"
  frRes + 187, "&Über..."
  frRes + 188, "Speichern &unter..."
  frRes + 189, "&Hilfe Inhalt"
  frRes + 190, "Hilfe &Tools"
  frRes + 191, "Linienarten"
  frRes + 192, "Dialog-&Formular hinzufügen"
  frRes + 193, "Dialog-Formular hinzufügen"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Einschränkungen für's Objekt"
  frRes + 261, "&Memo nicht bearbeitbar"
  frRes + 262, "&Script nicht bearbeitbar"
  frRes + 263, "&Inhalt nicht bearbeitbar"
  frRes + 264, "nicht $änderbar"
  frRes + 265, "Grö&ße nicht änderbar"
  frRes + 266, "nicht &verschiebbar"
  frRes + 267, "nicht &löschbar"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Optionen"
  frRes + 281, "Designer"
  frRes + 282, "Gitter"
  frRes + 283, "Zeichnungsobjekte"
  frRes + 284, "Report Einheiten"
  frRes + 285, "Gittergröße"
  frRes + 286, "&Zeige Gitter"
  frRes + 287, "am &Gitter ausrichten"
  frRes + 288, "bunte &Schaltflächen"
  frRes + 289, "&4 Pixel"
  frRes + 290, "&8 Pixel"
  frRes + 291, "&18 Pixel (5mm)"
  frRes + 293, "Objekte anzeigen beim Verschieben oder Verändern"
  frRes + 294, "&Pixel"
  frRes + 295, "&mm"
  frRes + 296, "&Inch"
  frRes + 297, "Andere"
  frRes + 298, "&Bearbeiten nach Einfügen"
  frRes + 299, "Zeige Bereich&süberschriften"
  frRes + 300, "Seitenposition"
  frRes + 301, "Zent&riert"
  frRes + 302, "&Links"
  frRes + 303, "Rec&hts"
  frRes + 304, "Editor"
  frRes + 305, "Text editor"
  frRes + 306, "Font des &Objekts benutzen"
  frRes + 307, "&Feste Einstellungen benutzen:"
  frRes + 308, "Fontname:"
  frRes + 309, "Größe:"
  frRes + 310, "Script-Editor"
  frRes + 311, "Eigenschaften in deutsch"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Neuer Report"
  frRes + 319, "Beschreibung"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Neue Reportvorlage"
  frRes + 321, "&Kommentar"
  frRes + 322, "Symbol"
  frRes + 323, "&Datei..."
;--- DictForm resources --------------------------------------------------------
  frRes + 340, "Variableneditor"
  frRes + 341, "Variablen"
  frRes + 342, "Feldaliase"
  frRes + 343, "Datenquellen"
  frRes + 344, "&Variable"
  frRes + 345, "&Werte"
  frRes + 346, "&Ausdruck"
  frRes + 347, "Neue Kategorie"
  frRes + 348, "Neue Variable"
  frRes + 349, "Bearbeiten"
  frRes + 350, "Löschen"
  frRes + 351, "Liste bearbeiten"
  frRes + 352, "Datenmengen und Felder"
  frRes + 353, "Alle Datenmengen"
  frRes + 354, "&Aussehen"
  frRes + 355, "A&lias"
  frRes + 356, "&Feld aus liste ausschliessen"
  frRes + 357, "Datenquellen"
  frRes + 358, "Alle Datenquellen"
  frRes + 359, "&Speichern..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Variablenliste"
  frRes + 361, "&Kategorien und Variable"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Report Optionen"
  frRes + 371, " Drucker "
  frRes + 372, "&Auswählen beim Report laden"
  frRes + 373, " weitere "
  frRes + 374, "&2 Durchläufe pro Report"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Seitenoptionen"
  frRes + 391, "Papier"
  frRes + 392, "Ausrichtung"
  frRes + 393, "&Hochformat"
  frRes + 394, "&Querformat"
  frRes + 395, "Größe"
  frRes + 396, "&Breite, mm"
  frRes + 397, "&Höhe, mm"
  frRes + 398, "Ränder"
  frRes + 399, "Seitenränder"
  frRes + 400, "&Links, mm"
  frRes + 401, "&Oben, mm"
  frRes + 402, "&Rechts, mm"
  frRes + 403, "&Unten, mm"
  frRes + 404, "&An Druckbereich anpassen"
  frRes + 405, "Optionen"
  frRes + 406, "Optionen"
  frRes + 407, "&Auf vorherige Seite drucken"
  frRes + 408, "Spalten"
  frRes + 409, "&Anzahl"
  frRes + 410, "&Spaltenabstand, mm"
  frRes + 411, "Quelle"
  frRes + 412, "Papierquelle"
  frRes + 413, "&Unlimited height"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Variablenformatierung"
  frRes + 421, "Variablenformat"
  frRes + 422, "&Dezimalstellen"
  frRes + 423, "Nachkomma&symbol"
  frRes + 424, "&Format"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Variablen"
  frRes + 441, "&Kategorie:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "DB-Feld einfügen"
  frRes + 451, "&verfügbare Datenbanken"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Bild"
  frRes + 461, "&Dehnen"
  frRes + 462, "&Laden..."
  frRes + 463, "&Löschen"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Bereich Datenquelle"
  frRes + 481, "&Datenquelle"
  frRes + 482, "&Datensatzanzahl"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Bereich Datenquellen"
  frRes + 486, "Bereiche"
  frRes + 487, "Datenquelle"
  frRes + 488, "&Datensatzanzahl"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Gruppe"
  frRes + 491, "&Bedingung"
  frRes + 492, "DB-Feld einfügen"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Neuen Bereich einfügen"
  frRes + 511, "Bereichsart"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Conditional highlightning"
  frRes + 521, "&Bedingung"
  frRes + 522, "Zeichensatz"
  frRes + 523, "F&arbe..."
  frRes + 524, "&Fett"
  frRes + 525, "&Kursiv"
  frRes + 526, "&Unterstrichen"
  frRes + 527, "Hintergrund"
  frRes + 528, "Fa&rbe..."
  frRes + 529, "&Transparent"
  frRes + 530, "An&dere"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "Über Report"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE Objekt"
  frRes + 551, "&Einfügen..."
  frRes + 552, "&Bearbeiten..."
  frRes + 553, "&Schließen"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "RTF-Objekt"
  frRes + 561, "Öffnen..."
  frRes + 562, "Speichern..."
  frRes + 563, "Rückgängig"
  frRes + 564, "Fett"
  frRes + 565, "Kursiv"
  frRes + 566, "Linksbündig"
  frRes + 567, "Zentriert"
  frRes + 568, "Rechtsbündig"
  frRes + 569, "Unterstrichen"
  frRes + 570, "Liste"
  frRes + 571, "Schriftart"
  frRes + 572, "Abbruch"
  frRes + 573, "Speichern und Ende"
  frRes + 574, "Var"
  frRes + 575, "Ausdruck einfügen"
  frRes + 576, "Zeichensatz"
  frRes + 577, "Zeichensatzgröße"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Diagramm Objekt"
  frRes + 591, "Art"
  frRes + 592, "Daten"
  frRes + 593, "Art"
  frRes + 594, "Objektname"
  frRes + 595, "Optionen"
  frRes + 596, "&3D"
  frRes + 597, "&Einfach"
  frRes + 598, "&Legende anzeigen"
  frRes + 599, "A&xen zeigen"
  frRes + 600, "&Markierungen zeigen"
  frRes + 601, "Mehrfarbig"
  frRes + 602, "für Legenden"
  frRes + 603, "für Werte"
  frRes + 604, "Markierungen"
  frRes + 605, "Stil"
  frRes + 606, "Wert"
  frRes + 607, "Prozent"
  frRes + 608, "Bezeichnung"
  frRes + 609, "Bezeichnung und Prozent"
  frRes + 610, "Bezeichnung und Wert"
  frRes + 611, "Top10 Gruppe"
  frRes + 612, "&Zeige Top"
  frRes + 613, "Bezeichnung"
  frRes + 614, "Werte"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "DB-Felder einfügen"
  frRes + 631, "&verfügbare Datenmengen"
  frRes + 632, "Plazierung"
  frRes + 633, "&Horizontal"
  frRes + 634, "&Vertikal"
  frRes + 635, "&inklusive Spaltenkopf"
  frRes + 636, "inklusive &Bereich"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Barcodeeditor"
  frRes + 651, "&Code"
  frRes + 652, "&Barcodeart"
  frRes + 653, " Optionen "
  frRes + 654, "Check&summe"
  frRes + 655, "&Lesbar"
  frRes + 656, "Ausdruck einfügen"
  frRes + 657, "Variable einfügen"
  frRes + 658, " Drehen "
  frRes + 659, "&Zoom:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Eigenschafteneditor"
  frRes + 671, "Beispiel :"
  frRes + 672, "&Ausdruck..."
  frRes + 673, "&DB-Feld..."
  frRes + 674, "&Gradient"
  frRes + 675, "&Schattenbreite"
  frRes + 676, "Farbe"
  frRes + 677, "&Kurve"
  frRes + 678, "&Umrahmter Bereich"
  frRes + 679, "Endfarbe"
  frRes + 680, "Anfangsfarbe"
  frRes + 681, "&Stil"
  frRes + 682, "Vertikal,Horizontal,Ellipse,Rechteck,Horiz._zentr.,Vert._zentr."
  frRes + 683, "klicken Sie hier, um die Schatten- bzw. Gradientfarbe festzulegen."
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Ausdruckeditor"
  frRes + 701, "Ausdruck"
  frRes + 702, "Einfügen"
  frRes + 703, "&DB-Feld..."
  frRes + 704, "&Variable..."
  frRes + 705, "&Funktion..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "verfügbare Funktionen"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Funktionsargumente"
  frRes + 731, "Argument"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Objekt tag"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Kreuztabelle Ansicht"
  frRes + 751, "Kreuztabelle Datenmenge"
  frRes + 752, "Zwischensummen"
  frRes + 753, "Funktion"
  frRes + 754, "Kreuztabellen Editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Diese Seite löschen?"
  SConfirm, "Bestätigen"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Benutzerdefiniert"
  SSystemVariables, "Systemvariablen"
  SVar1, "Seite#"
  SVar2, "Ausdruck"
  SVar3, "Datum"
  SVar4, "Zeit"
  SVar5, "Zeile#"
  SVar6, "durchgehende Zeile#"
  SVar7, "Spalte#"
  SVar8, "aktuelle Zeile#"
  SVar9, "Seitenzahl"
  SStretched, "gedehnt"
  SVarFormat, "&Variablenformat..."
  SWordWrap, "Z&eilenumbruch"
  SWordBreak, "Worttrennung (nur Russisch!)"
  SFormNewPage, "Immer neue Seite"
  SPrintIfSubsetEmpty, "Drucke wenn Detailmenge leer"
  SBreaked, "Unterbrochen"
  SPictureCenter, "Bild zentrieren"
  SKeepAspectRatio, "Erhalte Proportionen"
  SFormFile, "Report Formular"
  SForm3File, "Report3 Formular"
  STemplFile, "Report Vorlage"
  SDictFile, "Report Dictionary"
  SPictFile, "Bilddatei"
  SBMPFile, "Bitmapdate"
  SAllFiles, "Alle Dateien"
  SInsOLEObject, "OLE-Objekt einfügen"
  SInsRichObject, "RTF-Objekt einfügen"
  SInsRich2Object, "RX-RTF Objekt einfügen"
  SInsCheckBox, "Kreuzkästchen einfügen"
  SInsChart, "Diagramm einfügen"
  SInsShape, "Figur einfügen"
  SInsBarcode, "Füge Barcode ein"
  SInsRoundRect, "abgerundetes Rechteck mit Schatten einfügen"
  SSubReportOnPage, "Unterbericht auf dieser Seite"
  SPicture, "[Bild]"
  STransparent, "Transparent"
  SOther, "Andere..."
  SOnFirstPage, "Auf erster Seite"
  SOnLastPage, "Auf letzter Seite"
  SRepeatHeader, "Zeige alle Seiten"
  SDesignReport, "Report entwerfen"
  SInsertFields, "DB-Feld einfügen"
  SSaveChanges, "Änderungen speichern"
  STo, "bis"
  SPixels, "Pixel"
  SMM, "MM"
  SInches, "Inch"
  SVirtualDataset, "virtuelle Datenmenge"
  SAutoSize, "autom. Größe"
  SFRVariables, "FR Variablen"
  SClearContents, "Inhalt &löschen"

  SAllCategories, "Alle Funktionen"
  SAggregateCategory, "Aggregat"
  SDateTimeCategory, "Datum und Zeit"
  SStringCategory, "Zeichenkette"
  SOtherCategory, "weitere"
  SMathCategory, "Mathematisch"
  SBoolCategory, "Wahrheitswert"
  SIntrpCategory, "Interpreter"

  SDescriptionAVG, "AVG(<Ausdruck> [,BereichName [,1]])/"
    "Berechne den Durchschnitt von <Ausdruck> für Zeile [BereichName]. "
    "Falls Parameter [1] verwendet wird, berechne auch den Durchschnitt der unsichtbaren Zeilen."

  SDescriptionCOUNT, "COUNT(<BereichName>)/"
    "Ergibt die Anzahl der Datenzeilen in <BereichName>. "

  SDescriptionDAYOF, "DAYOF(<Datum>)/"
    "Ergibt den Tag (1..31) von <Datum>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Format>, <DatumZeit>)/"
    "Konvertiert einen <DatumZeit> in eine Zeichenkette des Formats: <Format>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Format>, <Zahl>)/"
    "Konvertiert einen <Zahl>enwert in eine Zeichenkette des Format: <Format>."

  SDescriptionINPUT, "INPUT(<Überschrift> [,Standard])/"
    "Blendet einen Windowsdialog mit Caption <Überschrift> und Eingabefenster. "
    "Der [Standard] kann als Vorgabe für das Eingabefenster gesetzt werden. "
    "Ergibt den Eingabewert bei OK."

  SDescriptionLENGTH, "LENGTH(<Zeichenkette>)/"
    "Ergibt die Länge von <Zeichenkette>."

  SDescriptionLOWERCASE, "LOWERCASE(<Zeichenkette>)/"
    "Konvertiert <Zeichenkette> in kleinbuchstaben."

  SDescriptionMAX, "MAX(<Ausdruck> [,BereichName [,1]])/"
    "Berechnet das Maximum von <Ausdruck> für die Zeilen von [BereichName]. "
    "Wenn Parameter [1] verwendet wird, werden auch die unsichtbaren Zeilen berücksichtigt."

  SDescriptionMIN, "MIN(<Ausdruck> [,BereichName [,1]])/"
    "Berechnet das Minimum von <Ausdruck> für die Zeilen von [BereichName]. "
    "Wenn Parameter [1] verwendet wird, werden auch die unsichtbaren Zeilen berücksichtigt."

  SDescriptionMONTHOF, "MONTHOF(<Datum>)/"
    "Ergibt den Monat (1..12) von <Datum>."

  SDescriptionNAMECASE, "NAMECASE(<Zeichenkette>)/"
    "Konvertiert <Zeichenkette> in kleinbuchstaben, und ersten Buchstaben "
    "in GROSSBUCHSTABEN."

  SDescriptionSTRTODATE, "STRTODATE(<Zeichenkette>)/"
    "Konvertiert <Zeichenkette> in ein Datum."

  SDescriptionSTRTOTIME, "STRTOTIME(<Zeichenkette>)/"
    "Konvertiert <Zeichenkette> in eine Zeit."

  SDescriptionSUM, "SUM(<Ausdruck> [,BereichName [,1]])/"
    "Berechnet die Summe von <Ausdruck> für die Zeilen von [BereichName]. "
    "Wenn Parameter [1] verwendet wird, werden auch die unsichtbaren Zeilen berücksichtigt."

  SDescriptionTRIM, "TRIM(<Zeichenkette>)/"
    "Löscht alle Leerzeichen am Anfang und am Ende von <Zeichenkette>."

  SDescriptionUPPERCASE, "UPPERCASE(<Zeichenkette>)/"
    "Konvertiert <Zeichenkette> in GROSSBUCHSTABEN."

  SDescriptionYEAROF, "YEAROF(<Datum>)/"
    "Ergibt das Jahr von <Datum>."

  SDescriptionIF, "IF(<Ausdruck>, <Wert1>, <Wert2>)/"
    "Ergibt <Wert1>, wenn Ausdruck <Ausdruck> wahr ist; "
    "sonst <Wert2>. Das Ergebnis muß keine Zeichenkette sein."

  SDescriptionCOPY, "COPY(<Zeichenkette>, <Von>, <Anzahl>)/"
    "Ergibt Teilstring von Zeichenkette."

  SDescriptionMOD, "<Wert1> MOD <Wert2>/"
    "Ergibt den Rest der Division <Wert1> durch <Wert2>."

  SDescriptionSTR, "STR(<Wert>)/"
    "Konvertiert die Zahl <Wert> in eine Zeichenkette."

  SDescriptionNOT, "NOT <Wert>/"
    "Logisch 'NICHT'."

  SDescriptionAND, "<Wert1> AND <Wert2>/"
    "Logisch 'UND'."

  SDescriptionOR, "<Wert1> OR <Wert2>/"
    "Logisch 'ODER'."

  SDescriptionROUND, "ROUND(<Wert>)/"
    "Runded <Wert>."

  SDescriptionFRAC, "FRAC(<Wert>)/"
    "Ergibt Nachkommaanteil von <Wert>."

  SDescriptionINT, "INT(<Wert>)/"
    "Ergibt ganzzahligen Anteil von <Wert>."

  SDescriptionTRUE, "TRUE/"
    "Logisch 'WAHR'."

  SDescriptionFALSE, "FALSE/"
    "Logisch 'FALSCH'."

  SDescriptionPAGE, "PAGE#/"
    "Ergibt aktuelle Seitennummer."

  SDescriptionDATE, "DATE/"
    "Ergibt aktuelles Datum."

  SDescriptionTIME, "TIME/"
    "Ergibt aktuelle Uhrzeit."

  SDescriptionLINE, "LINE#/"
    "Ergibt aktuellen Datenzeilenindex (Beginnend am Anfang der Gruppe)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Ergibt aktuellen Datenzeilenindex (Beginnend am Anfang des Reports)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Ergibt aktuellen Spaltenindex."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Ergibt die Gesamtzahl der Seiten des Reports."

  SDescriptionMROK, "MROK/"
    "Modale Ergebnis Konstante."

  SDescriptionMRCancel, "MRCANCEL/"
    "Modale Ergebnis Konstante."

  SDescriptionCurY, "CURY/"
    "Ergibt 'Y' Position (in Pixel) wo der aktuelle Bereich "
    "angezeigt wird. Sie können CurY auch einen Wert zuweisen."

  SDescriptionFreeSpace, "FREESPACE/"
    "Ergibt den verbleibenden Platz auf der Seite in Pixel."

  SDescriptionFinalPass, "FINALPASS/"
    "Ergibt WAHR wenn der Reportgenerator die letzte Seite bearbeitet."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Ergibt die Seitenhöhe in Pixel."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Ergibt die Seitenbreite in Pixel."

  SDescriptionProgress, "PROGRESS/"
    "Der Progress zugewiesene Wert erscheint im Progressfenster."

  SDescriptionModalResult, "MODALRESULT/"
    "Die Zuweisung eines Wertes ungleich 0 wird den Dialog schließen."

  SDescriptionStopReport, "STOPREPORT/"
    "Beendet den Reportgenerator."

  SDescriptionNewPage, "NEWPAGE/"
    "Beginnt eine neue Seite."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Beginnt eine neue Spalte."

  SDescriptionShowBand, "SHOWBAND(<Bereichname>)/"
    "Zeigt den Bereich: <Bereichname>."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "Ergibt Maximum der übergebenen Werte."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "Ergibt Minium der übergebenen Werte."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Ergibt Position von SubString im übergebenen String."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "Zeigt Standard-Dialog Fenster mit Titel, Text und Knöpfen."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "Wendet <Mask> auf den übergebenen <String> an."


  SInformation, "Information"
  SExpressionOK, "Ausdruck ist in Ordnung!"
  STextOnly, "Nur Text"
  SSuppressRepeated, "keine doppelten Werte"
  SDefaultBin, "Standard"
  SDeleteObjects, "Alle Objekte dieser Seite werden gelöscht."
  SWarning, "Warnung"
  SHideZeros, "Nullen ausblenden"
  SPrintChild, "unsichtbare Unterobjekte drucken"
  SUnderlines, "Unterstreichlinien"
  SOnePerPage, "Sie können nicht mehr als ein %s Objekt auf eine Seite plazieren."
  SInsertCrosstab, "Kreuztabellenobjekt einfügen"
}
