#include "FR_Const.pas"

; Object Inspector localization
; Just add desired property name after '=' sign, for instance:
; 58092, "Suppress=Suppress repeated values"
; and you'll see "Suppress repeated values" string in the Object Inspector
; instead of "Suppress".


STRINGTABLE
{
  frRes + 5001, "Active=Aktiv"
  frRes + 5002, "AliasName="
  frRes + 5003, "Alignment=Ausrichtung"
  frRes + 5004, "AutoSize=AutoGrösse"
  frRes + 5005, "AutoWidth=AutoBreite"
  frRes + 5006, "BandAlign=BandAusrichtung"
  frRes + 5007, "Barcode="
  frRes + 5008, "BeginColor=StartFarbe"
  frRes + 5009, "BlobType="
  frRes + 5010, "BorderStyle=RandStil"
  frRes + 5011, "BottomMargin=FussRand"
  frRes + 5012, "Breaked=Gebrochen"
  frRes + 5013, "Caption=Überschrift"
  frRes + 5014, "Center=Zentriert"
  frRes + 5015, "CharSpacing=ZeichenAbstand"
  frRes + 5016, "CheckColor=CheckFarbe"
  frRes + 5017, "Checked=Markiert"
  frRes + 5018, "CheckStyle=MarkierungsStil"
  frRes + 5019, "ChildBand=TochterBand"
  frRes + 5020, "Color=Farbe"
  frRes + 5021, "ColumnGap=SpaltenAbstand"
  frRes + 5022, "Columns=Spalten"
  frRes + 5023, "ColumnWidth=SpaltenBreite"
  frRes + 5024, "Connected=Verbunden"
  frRes + 5025, "Condition=Bedingung"
  frRes + 5026, "DatabaseName=DatenBank"
  frRes + 5027, "DataField=DatenFeld"
  frRes + 5028, "DataSource=DatenQuelle"
  frRes + 5029, "DisplayFormat=AnzeigeFormat"
  frRes + 5030, "DriverName=TreiberName"
  frRes + 5031, "Enabled=Aktiviert"
  frRes + 5032, "EndColor=EndFarbe"
  frRes + 5033, "Fields=Felder"
  frRes + 5034, "FillColor=FüllFarbe"
  frRes + 5035, "Filter="
  frRes + 5036, "Font=Schrift"
  frRes + 5037, "FormNewPage=FromNeueSeite"
  frRes + 5038, "FrameColor=RahmenFarbe"
  frRes + 5039, "FrameStyle=RahmenStil"
  frRes + 5040, "FrameTyp=RahmenTyp"
  frRes + 5041, "FrameWidth=RahmenBreite"
  frRes + 5042, "GapX="
  frRes + 5043, "GapY="
  frRes + 5044, "Gradient=Verlauf"
  frRes + 5045, "Height=Höhe"
  frRes + 5046, "HideZeros=NullenUnterdr."
  frRes + 5047, "Highlight=Hervorheben"
  frRes + 5048, "IndexName="
  frRes + 5049, "Items=Elemente"
  frRes + 5050, "KeepAspect=SeitenVerhältnis"
  frRes + 5051, "KeyField=SchlüsselFeld"
  frRes + 5052, "Left=Links"
  frRes + 5053, "LeftMargin=LinkerRand"
  frRes + 5054, "Lines=Zeilen"
  frRes + 5055, "LineSpacing=ZeilenAbstand"
  frRes + 5056, "ListField=ListenFeld"
  frRes + 5057, "ListSource=ListenQuelle"
  frRes + 5058, "LoginPrompt="
  frRes + 5059, "Master="
  frRes + 5060, "MasterFields=MasterFelder"
  frRes + 5061, "MasterSource=MasterQuelle"
  frRes + 5062, "Memo=Inhalt"
  frRes + 5063, "ModalResult="
  frRes + 5064, "Name="
  frRes + 5065, "OLE="
  frRes + 5066, "OnActivate="
  frRes + 5067, "OnBeforePrint="
  frRes + 5068, "OnClick="
  frRes + 5069, "OnFirstPage="
  frRes + 5070, "OnLastPage="
  frRes + 5071, "Orientation="
  frRes + 5072, "Params="
  frRes + 5073, "Picture=Bild"
  frRes + 5074, "Position="
  frRes + 5075, "PrintChildIfInvisible="
  frRes + 5076, "PrintIfSubsetEmpty="
  frRes + 5077, "PrintToPrevPage="
  frRes + 5078, "ReadOnly=Schreibgeschützt"
  frRes + 5079, "RepeatHeader=KopfWiederholen"
  frRes + 5080, "Restrictions=Beschränkungen"
  frRes + 5081, "RightMargin=RechterRand"
  frRes + 5082, "RoundRect=RechteckGerundet"
  frRes + 5083, "RoundSize=RundungsRadius"
  frRes + 5084, "ShadowColor=SchattenFarbe"
  frRes + 5085, "ShadowWidth=SchattenBreite"
  frRes + 5086, "Shape=Form"
  frRes + 5087, "Size=Grösse"
  frRes + 5088, "SQL="
  frRes + 5089, "Stretched=Gestreckt"
  frRes + 5090, "StretchToPrintable="
  frRes + 5091, "Style=Stil"
  frRes + 5092, "Suppress=Unterdrücken"
  frRes + 5093, "TableName=TabellenName"
  frRes + 5094, "Tag="
  frRes + 5095, "Text="
  frRes + 5096, "TextOnly=NurText"
  frRes + 5097, "Top=Oben"
  frRes + 5098, "TopMargin=ObererRand"
  frRes + 5099, "Type=Typ"
  frRes + 5100, "Underlines=Unterstrichen"
  frRes + 5101, "Visible=Sichtbar"
  frRes + 5102, "Width=Breite"
  frRes + 5103, "WordBreak=WortTrennung"
  frRes + 5104, "WordWrap=WortUmbruch"
}
