#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Report Datenmenge"
  frRes + 3001, "&Eigenschaften..."
  frRes + 3002, "Neue &Tabelle..."
  frRes + 3003, "Neue &Abfrage..."
  frRes + 3004, "&Entfernen"
  frRes + 3005, "&Schließen"
  frRes + 3006, "Neue &Datenbank..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "Allgemein"
  frRes + 3021, "&Name"
  frRes + 3022, "&Felder"
  frRes + 3023, "&Felder Editor..."
  frRes + 3024, "Andere"
  frRes + 3025, "&Index"
  frRes + 3026, "Filter&ausdruck"
  frRes + 3027, "&Haupt"
  frRes + 3028, "Haupt&felder"
;--- FildsEditorForm resources ----------------------------------------------
  frRes + 3040, "Feld &hinzu..."
  frRes + 3041, "&Lookup hinzu..."
  frRes + 3042, "Alle &selektieren"
  frRes + 3043, "&Löschen"
  frRes + 3044, "&Verlassen"
;--- FildsListForm resources ------------------------------------------------
  frRes + 3060, "verfügbare Felder"
;--- LookupfeldForm resources -----------------------------------------------
  frRes + 3070, "Neues Lookupfeld"
  frRes + 3071, "Feld"
  frRes + 3072, "&Name"
  frRes + 3073, "&Art"
  frRes + 3074, "&Größe"
  frRes + 3075, "Lookup Definition"
  frRes + 3076, "&Schlüsselfeld"
  frRes + 3077, "&Datenmenge"
  frRes + 3078, "&Lookup Schlüssel"
  frRes + 3079, "&Ergebnisfeld"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Abfrageeigenschaften"
  frRes + 3091, "andere"
  frRes + 3092, "&Haupt Datenmenge"
  frRes + 3093, "Allgemein"
  frRes + 3094, "&Name"
  frRes + 3095, "&Alias oder Pfad"
  frRes + 3096, "&SQL"
  frRes + 3097, "&Feldereditor..."
  frRes + 3098, "&Parametereditor..."
  frRes + 3099, "Lade SQL aus Datei"
  frRes + 3100, "Speicher SQL in Datei"
  frRes + 3101, "SQL builder..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Parameter"
  frRes + 3111, "&Datentyp"
  frRes + 3112, "&Name"
  frRes + 3113, "&Wert:"
  frRes + 3114, "&Wert vor dem Ausdruck nachfragen"
  frRes + 3115, "Ordne Wert aus Hauptdatenmenge zu"
  frRes + 3116, "Va&riable:"
;--- FildsLinkForm resources ------------------------------------------------
  frRes + 3130, "&Detail Feld"
  frRes + 3131, "&Hauptfeld"
  frRes + 3132, "&Verbundene Felder"
  frRes + 3133, "&Hinzu"
  frRes + 3134, "&Löschen"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Parameter"
  frRes + 3151, "4 Punkte"
  frRes + 3152, "8 Punkte"
  frRes + 3153, "Gitter verwenden"
  frRes + 3154, "Schließen"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Eigenschaften"
  frRes + 3171, "&Text"
  frRes + 3172, "&Zeichensatz..."
  frRes + 3173, "Lookup"
  frRes + 3174, "&Datamenge"
  frRes + 3175, "&Schlüsselfeld"
  frRes + 3176, "&Listenfeld"
  frRes + 3177, "Sorte"
  frRes + 3178, "&Bearbeiten"
  frRes + 3179, "&Combo"
  frRes + 3180, "Look&up"
  frRes + 3181, "Combo"
  frRes + 3182, "&Autom.Größe"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Datenbankeigenschaften"
  frRes + 3201, "Allgemein"
  frRes + 3202, "Parameter"
  frRes + 3203, "&Name"
  frRes + 3204, "&Verbindungsstring"  ; for ADO
  frRes + 3205, "&Dateiname"          ; for IBX
  frRes + 3206, "&Aliasname"          ; for BDE
  frRes + 3207, "&Driver Name"
  frRes + 3208, "&Loginhinweis"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Tabelle auswählen"
  frRes + 3221, "Aus Datenbank wählen"
  frRes + 3222, "Aus Datei wählen"
  frRes + 3223, "&Datenbank"
  frRes + 3224, "&Tabelle"
  frRes + 3225, "&Blättern..."
;--- Strings resources -------------------------------------------------------
  SFields, "Felder"
  SPath, "Pfad"
  SRemoveDS, "Komponente löschen ?"
  STables, "Tabellen"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Währung"
  SParamType4, "Datum"
  SParamType5, "Datum/Zeit"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Zeit"
  SParamType11, "Word"
  SDataManager, "Datenmanager"
  SParams, "Parameter"
  SQueryError, "ungültiges SQL-Statement oder Parameter"
  STableProps, "Tabelleneigenschaften"
  SParamDialog, "Parameterdialog"
  SInvalidParamValue, "ungültiger Parameterwert"
  SDatabase, "Datenbanken"
  SFieldSizeError, "ungültige Feldgröße"
}
