#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "物件查看器"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "文字編輯器"
  frRes + 61, "插入表達式"
  frRes + 62, "插入資料庫欄位"
  frRes + 63, "自動換行"
  frRes + 64, "顯示/隱藏 script"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "報表設計"
  frRes + 81, "矩形"
  frRes + 82, "標準"
  frRes + 83, "文字"
  frRes + 84, "物件"
  frRes + 85, "對齊方式"
  frRes + 86, "工具"
  frRes + 87, "新報表"
  frRes + 88, "開啟報表"
  frRes + 89, "儲存報表"
  frRes + 90, "預覽"
  frRes + 91, "剪下"
  frRes + 92, "複製"
  frRes + 93, "貼上"
  frRes + 94, "取消最後一次操作"
  frRes + 95, "重做取消的操作"
  frRes + 96, "放在最前面"
  frRes + 97, "放到最後面"
  frRes + 98, "全選"
  frRes + 99, "新增一頁"
  frRes + 100, "刪除本頁"
  frRes + 101, "頁選項"
  frRes + 102, "格子"
  frRes + 103, "格子切齊"
  frRes + 104, "與格子切齊"
  frRes + 105, "關閉"
  frRes + 106, "關閉報表設計器"
  frRes + 107, "左對齊"
  frRes + 108, "右對齊"
  frRes + 109, "中間對齊"
  frRes + 110, "轉90度"
  frRes + 111, "向中間對齊"
  frRes + 112, "頂端對齊"
  frRes + 113, "底端對齊"
  frRes + 114, "寬度對齊"
  frRes + 115, "粗體"
  frRes + 116, "斜體"
  frRes + 117, "底線"
  frRes + 118, "字體顏色"
  frRes + 119, "條件高亮度"
  frRes + 120, "字體大小"
  frRes + 121, "字體名稱"
  frRes + 122, "上框線"
  frRes + 123, "左框線"
  frRes + 124, "下框線"
  frRes + 125, "右框線"
  frRes + 126, "有框線"
  frRes + 127, "無框線"
  frRes + 128, "背景色"
  frRes + 129, "框線色"
  frRes + 130, "框線寬"
  frRes + 131, "框線寬"
  frRes + 132, "選擇物件"
  frRes + 133, "插入矩形物件"
  frRes + 134, "插入 band"
  frRes + 135, "插入圖片"
  frRes + 136, "插入子報表"
  frRes + 137, "畫線"
  frRes + 138, "左邊緣對齊"
  frRes + 139, "水平中心對齊"
  frRes + 140, "視窗水平中心對齊"
  frRes + 141, "水平均勻分布"
  frRes + 142, "右邊緣對齊"
  frRes + 143, "頂端對齊"
  frRes + 144, "垂向中心對齊"
  frRes + 145, "視窗垂向中心對齊"
  frRes + 146, "垂向均勻分布"
  frRes + 147, "底端對齊"
  frRes + 148, "剪下(&U)"
  frRes + 149, "複製(&C)"
  frRes + 150, "貼上(&P)"
  frRes + 151, "刪除(&D)"
  frRes + 152, "全選(&a)"
  frRes + 153, "編輯(&E)..."
  frRes + 154, "文件(&F)"
  frRes + 155, "新(&N)..."
  frRes + 156, "開啟(&O)..."
  frRes + 157, "儲存(&S)"
  frRes + 158, "資料字典(&D)..."
  frRes + 159, "報表選項(&R)..."
  frRes + 160, "頁面設定(&P)..."
  frRes + 161, "預覽(&V)"
  frRes + 162, "退出(&x)"
  frRes + 163, "編輯(&E)"
  frRes + 164, "取消(&Undo)"
  frRes + 165, "重做(&Redo)"
  frRes + 166, "剪下(&U)"
  frRes + 167, "複製(&C)"
  frRes + 168, "貼上(&P)"
  frRes + 169, "刪除(&D)"
  frRes + 170, "全選(&a)"
  frRes + 171, "編輯(&E)..."
  frRes + 172, "增加一頁(&A)"
  frRes + 173, "刪除頁(&R)"
  frRes + 174, "帶到最前面(&f)"
  frRes + 175, "放到最後面(&b)"
  frRes + 176, "工具(&T)"
  frRes + 177, "工具欄(&T)"
  frRes + 178, "工具箱(&l)"
  frRes + 179, "選項(&O)..."
  frRes + 180, "矩形(&R)"
  frRes + 181, "標準(&S)"
  frRes + 182, "字串(&T)"
  frRes + 183, "物件(&O)"
  frRes + 184, "物件檢視器(&I)"
  frRes + 185, "對齊工具(&A)"
  frRes + 186, "工具箱(&l)"
  frRes + 187, "關於(&A)..."
  frRes + 188, "另存新檔(&a)..."
  frRes + 189, "內容(&H)"
  frRes + 190, "輔助說明工具(&t)"
  frRes + 191, "線型"
  frRes + 192, "新增對話框(&f)"
  frRes + 193, "新增對話框"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "物件限制"
  frRes + 261, "不能編輯 &memo"
  frRes + 262, "不能編輯 &script"
  frRes + 263, "不能編輯內容 &contents"
  frRes + 264, "不能修改(&d)"
  frRes + 265, "不能改變大小(&z)"
  frRes + 266, "不能移動(&v)"
  frRes + 267, "不能刪除(&l)"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "選項"
  frRes + 281, "報表設計器"
  frRes + 282, "格子"
  frRes + 283, "繪圖物件"
  frRes + 284, "報表單位"
  frRes + 285, "格子大小"
  frRes + 286, "顯示格子(&S)"
  frRes + 287, "與格子對齊(&g)"
  frRes + 288, "彩色按鈕（&b）"
  frRes + 289, "&4 像素"
  frRes + 290, "&8 像素"
  frRes + 291, "&18 像素 (5mm)"
  frRes + 293, "移動或改變物件大小時，顯示內容"
  frRes + 294, "像素(&P)"
  frRes + 295, "公厘(&MM)"
  frRes + 296, "英吋(&Inches)"
  frRes + 297, "其它"
  frRes + 298, "插入後編輯(&E)"
  frRes + 299, "顯示band標題(&t)"
  frRes + 300, "頁位置"
  frRes + 301, "中心(&r)"
  frRes + 302, "左(&f)"
  frRes + 303, "右(&h)"
  frRes + 304, "編輯器"
  frRes + 305, "字串編輯器"
  frRes + 306, "使用物件的字體設置(&U)"
  frRes + 307, "使用固定設置(&f):"
  frRes + 308, "字體名稱:"
  frRes + 309, "字體大小:"
  frRes + 310, "Script 編輯器"
  frRes + 311, "Localized property names"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "新報表"
  frRes + 319, "描述"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "新報表模板"
  frRes + 321, "注釋(&C)"
  frRes + 322, "圖示"
  frRes + 323, "檔案(&F)..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "資料字典"
  frRes + 341, "變數"
  frRes + 342, "字段別名"
  frRes + 343, "Band 資料來源"
  frRes + 344, "變數(&r)"
  frRes + 345, "值(&l)"
  frRes + 346, "表達式(&x)"
  frRes + 347, "新目錄"
  frRes + 348, "新變數"
  frRes + 349, "編輯"
  frRes + 350, "刪除"
  frRes + 351, "編輯清單"
  frRes + 352, "資料集及欄位"
  frRes + 353, "所有資料集"
  frRes + 354, "出現(&A)"
  frRes + 355, "別名(&l)"
  frRes + 356, "從清單中排除欄位(&x)"
  frRes + 357, "資料來源"
  frRes + 358, "所有資料來源"
  frRes + 359, "儲存(&S)..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "變數清單"
  frRes + 361, "目錄及變數(&C)"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "報表設定"
  frRes + 371, "印表機"
  frRes + 372, "載入報表時選擇(&S)"
  frRes + 373, "其它"
  frRes + 374, "二次處理報表(&T)"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "頁面設置"
  frRes + 391, "紙張"
  frRes + 392, "列印方向"
  frRes + 393, "直印(&P)"
  frRes + 394, "橫印(&L)"
  frRes + 395, "大小"
  frRes + 396, "寬度(&W), mm"
  frRes + 397, "高度(&H), mm"
  frRes + 398, "邊界"
  frRes + 399, "頁邊界"
  frRes + 400, "左(&L), mm"
  frRes + 401, "上(&T), mm"
  frRes + 402, "右(&R), mm"
  frRes + 403, "下(&B), mm"
  frRes + 404, "延伸至印表區(&S)"
  frRes + 405, "選項"
  frRes + 406, "選項"
  frRes + 407, "印至前一頁(&P)"
  frRes + 408, "分欄"
  frRes + 409, "欄數(&N)"
  frRes + 410, "欄間隔(&C), mm"
  frRes + 411, "來源"
  frRes + 412, "進紙源"
  frRes + 413, "&Unlimited height"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "變數格式"
  frRes + 421, "變數格式"
  frRes + 422, "小數位數(&D)"
  frRes + 423, "小數點分隔符號(&s)"
  frRes + 424, "自訂格式(&f)"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "變數"
  frRes + 441, "目錄(&C):"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "插入資料庫欄位"
;--- GEditorForm res2ources ---------------------------------------------------
  frRes + 460, "圖片"
  frRes + 461, "自動調整大小(&S)"
  frRes + 462, "載入(&L)..."
  frRes + 463, "清除(&C)"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Band 資料來源"
  frRes + 481, "資料來源(&D)"
  frRes + 482, "資料筆數(&R)"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Band 資料來源"
  frRes + 486, "Bands"
  frRes + 487, "資料來源"
  frRes + 488, "資料筆數(&R)"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "群組"
  frRes + 491, "條件(&C)"
  frRes + 492, "插入資料庫欄位"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "插入新 band"
  frRes + 511, "Band 類型"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "條件高亮度"
  frRes + 521, "條件(&C)"
  frRes + 522, "字體"
  frRes + 523, "顏色(&o)..."
  frRes + 524, "粗體(&B)"
  frRes + 525, "斜體(&I)"
  frRes + 526, "底線(&U)"
  frRes + 527, "背景"
  frRes + 528, "顏色(&l)..."
  frRes + 529, "透明(&T)"
  frRes + 530, "其它(&h)"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "關於FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE 物件"
  frRes + 551, "插入(&I)..."
  frRes + 552, "編輯(&E)..."
  frRes + 553, "關閉(&C)"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "開啟..."
  frRes + 562, "儲存..."
  frRes + 563, "取消"
  frRes + 564, "粗體"
  frRes + 565, "斜體"
  frRes + 566, "左對齊"
  frRes + 567, "中間對齊"
  frRes + 568, "右對齊"
  frRes + 569, "底線"
  frRes + 570, "列表"
  frRes + 571, "字體"
  frRes + 572, "取消"
  frRes + 573, "儲存後離開"
  frRes + 574, "Var"
  frRes + 575, "插入表達式"
  frRes + 576, "字體"
  frRes + 577, "字體大小"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Chart 物件"
  frRes + 591, "類型"
  frRes + 592, "資料"
  frRes + 593, "類型"
  frRes + 594, "物件名稱"
  frRes + 595, "選項"
  frRes + 596, "&3D"
  frRes + 597, "單線(&S)"
  frRes + 598, "顯示圖例(&l)"
  frRes + 599, "顯示軸(&a)"
  frRes + 600, "顯示標記(&m)"
  frRes + 601, "多色顯示(&r)"
  frRes + 602, "圖例(&l)"
  frRes + 603, "值(&v)"
  frRes + 604, "標記"
  frRes + 605, "樣式"
  frRes + 606, "值"
  frRes + 607, "百分率"
  frRes + 608, "標號"
  frRes + 609, "標號及百分率"
  frRes + 610, "標號及值"
  frRes + 611, "前十個分組"
  frRes + 612, "頂端顯示(&S)"
  frRes + 613, "標記(&b)"
  frRes + 614, "值"
;--- 插入FieldsForm resources ----------------------------------------------
  frRes + 630, "插入欄位"
  frRes + 631, "可用資料表(&A)"
  frRes + 632, "放置"
  frRes + 633, "水平(&H)"
  frRes + 634, "垂直(&V)"
  frRes + 635, "包含表頭(&I)"
  frRes + 636, "包含(&bands)"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "條碼編輯器"
  frRes + 651, "代碼(&C)"
  frRes + 652, "條碼類型(&T)"
  frRes + 653, "選項"
  frRes + 654, "核證總數"
  frRes + 655, "可閱\讀(&H)"
  frRes + 656, "插入表達式"
  frRes + 657, "插入變數"
  frRes + 658, "旋轉"
  frRes + 659, "&放大:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "屬性編輯器"
  frRes + 671, "例:"
  frRes + 672, "表達式(&E)..."
  frRes + 673, "資料庫欄位(&D)..."
  frRes + 674, "漸層顏色(&G)"
  frRes + 675, "陰影寬度(&S)"
  frRes + 676, "顏色"
  frRes + 677, "曲線(&C)"
  frRes + 678, "框區域(&F)"
  frRes + 679, "終止顏色"
  frRes + 680, "起始顏色"
  frRes + 681, "樣式(&S)"
  frRes + 682, "垂直,水平,橢圓,矩形,水平置中,垂直置中"
  frRes + 683, "點這裡定義陰影色及漸層顏色"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "表達式編輯器"
  frRes + 701, "表達式"
  frRes + 702, "插入"
  frRes + 703, "欄位(&D)..."
  frRes + 704, "變數(&V)..."
  frRes + 705, "函數(&F)..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "可用函數"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "函數參數"
  frRes + 731, "參數"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "物件tag"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Cross-tab view"
  frRes + 751, "Cross-tab dataset"
  frRes + 752, "Subtotals"
  frRes + 753, "Function"
  frRes + 754, "Cross-tab editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "刪除這一頁嗎?"
  SConfirm, "確認"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "自訂"
  SSystemVariables, "系統變數"
  SVar1, "頁#"
  SVar2, "表達式"
  SVar3, "日期"
  SVar4, "時間"
  SVar5, "行#"
  SVar6, "行 through#"
  SVar7, "列#"
  SVar8, "當前行#"
  SVar9, "總頁數"
  SStretched, "伸展"
  SVarFormat, "變數格式..."
  SWordWrap, "自動換行"
  SWordBreak, ""
  SFormNewPage, "強迫換頁"
  SPrintIfSubsetEmpty, "為空時列印"
  SBreaked, "分隔"
  SPictureCenter, "圖片置中"
  SKeepAspectRatio, "保持長寬比率"
  SFormFile, "FastReport 表單"
  SForm3File, "FastReport3 表單"
  STemplFile, "FastReport 模版"
  SDictFile, "FastReport 字典"
  SPictFile, "圖片檔案"
  SBMPFile, "點陣圖檔案"
  SAllFiles, "所有檔案"
  SInsOLEObject, "插入 OLE 物件"
  SInsRichObject, "插入 RichText 物件"
  SInsRich2Object, "插入 RX RichText 物件"
  SInsCheckBox, "插入 CheckBox 物件"
  SInsChart, "插入 Chart 物件"
  SInsShape, "插入 Shape 物件"
  SInsBarcode, "插入 Barcode 物件"
  SInsRoundRect, "插入帶陰影的RoundRect"
  SSubReportOnPage, "在頁面列印子報表"
  SPicture, "[圖片]"
  STransparent, "透明"
  SOther, "其它..."
  SOnFirstPage, "在第一頁"
  SOnLastPage, "在最後一頁"
  SRepeatHeader, "顯示所有頁"
  SDesignReport, "設計報表"
  SInsertFields, "插入資料庫欄位"
  SSaveChanges, "儲存變更"
  STo, "到"
  SPixels, "像素"
  SMM, "公厘"
  SInches, "英吋"
  SVirtualDataset, "虛擬資料集"
  SAutoSize, "自動調整大小"
  SFRVariables, "FR 變數"
  SClearContents, "清除內容"

  SAllCategories, "所有函數"
  SAggregateCategory, "統計函數"
  SDateTimeCategory, "日期/時間"
  SStringCategory, "字串"
  SOtherCategory, "其它"
  SMathCategory, "數學"
  SBoolCategory, "邏輯"
  SIntrpCategory, "解釋器"

  SDescriptionAVG, "AVG(<Expression> [,BandName [,1]])/"
    "計算給定行的[BandName]上 <Expression>的平均值. "
    "如果用[1]參數,則計算亦包含不可見行的資料."

  SDescriptionCOUNT, "COUNT(<BandName>)/"
    "傳回給定<BandName>上的資料行數. "

  SDescriptionDAYOF, "DAYOF(<Date>)/"
    "傳回<Date>的日期數(1..31)."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DateTime>)/"
    "按<Fmt>轉換 <DateTime> 值為字串."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numeric>)/"
    "按<Fmt>轉換<Numeric>值為字串."

  SDescriptionINPUT, "INPUT(<Caption> [,Default])/"
    "顯示帶編輯的對話框，標題為 <Caption>. "
    "如設置了[Default],則把該值放入編輯框里. "
    "當用戶按[確認]按鈕，則傳回輸入字串."

  SDescriptionLENGTH, "LENGTH(<String>)/"
    "傳回<String>的長度."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "轉換<String>為小寫."

  SDescriptionMAX, "MAX(<Expression> [,BandName [,1]])/"
    "計算[BandName]上<Expression>最大值. "
    "若使用[1]參數,則計算包括非可見行."

  SDescriptionMIN, "MIN(<Expression> [,BandName [,1]])/"
     "計算[BandName]上<Expression>最小值. "
     "若使用[1]參數,則計算包括非可見行."

  SDescriptionMONTHOF, "MONTHOF(<Date>)/"
    "傳回<Date>月值(1..12)."

  SDescriptionNAMECASE, "NAMECASE(<String>)/"
    "轉換<String>符號為小寫,""首字符大寫."

  SDescriptionSTRTODATE, "STRTODATE(<String>)/"
    "轉換<String>為日期型."

  SDescriptionSTRTOTIME, "STRTOTIME(<String>)/"
    "轉換<String>為時間型."

  SDescriptionSUM, "SUM(<Expression> [,BandName [,1]])/"
    "計算[BandName]上<Expression>的和. "
    "若使用[1]參數,則計算包括不可見行."

  SDescriptionTRIM, "TRIM(<String>)/"
    "傳回去掉<String>前後空格的字串 "
    
  SDescriptionUPPERCASE, "UPPERCASE(<String>)/"
    "轉換<String> 為大寫."

  SDescriptionYEAROF, "YEAROF(<Date>)/"
    "傳回<Date>年部分."

  SDescriptionIF, "IF(<Expression>, <Value1>, <Value2>)/"
    "如表達式<Expression> 為真，傳回 <Value1>; "
    "否則，傳回 <Value1>"

  SDescriptionCOPY, "COPY(<String>, <From>, <Count>)/"
    "傳回<string>的子字串."

  SDescriptionMOD, "<Value1> MOD <Value2>/"
    "傳回模運算."

  SDescriptionSTR, "STR(<Value>)/"
    "轉換數值<Value>為字串."

  SDescriptionNOT, "NOT <Value>/"
    "邏輯 'NOT'."

  SDescriptionAND, "<Value1> AND <Value2>/"
    "邏輯 'AND'."

  SDescriptionOR, "<Value1> OR <Value2>/"
    "邏輯 'OR'."

  SDescriptionROUND, "ROUND(<Value>)/"
    "傳回 <Value>的整數部分."

  SDescriptionFRAC, "FRAC(<Value>)/"
    "傳回<Value>小數部分."

  SDescriptionINT, "INT(<Value>)/"
    "傳回<Value>整數部分."

  SDescriptionTRUE, "TRUE/"
    "邏輯 'TRUE'."

  SDescriptionFALSE, "FALSE/"
    "邏輯 'FALSE'."

  SDescriptionPAGE, "PAGE#/"
    "傳回當前頁數."

  SDescriptionDATE, "DATE/"
    "傳回當前日期."

  SDescriptionTIME, "TIME/"
    "傳回當前時間."

  SDescriptionLINE, "LINE#/"
    "傳回資料行數(從分組起始位置起)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "傳回資料行數(從報表起始位置起)."

  SDescriptionCOLUMN, "COLUMN#/"
    "傳回報表目前欄數."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "報表總頁數."

  SDescriptionMROK, "MROK/"
    "對話框常數."

  SDescriptionMRCancel, "MRCANCEL/"
    "對話框常數."

  SDescriptionCurY, "CURY/"
    "傳回當前Band顯示的'Y'向(像素)坐標 "
    
  SDescriptionFreeSpace, "FREESPACE/"
    "傳回剩余頁面空像素."

  SDescriptionFinalPass, "FINALPASS/"
    "若是最後掃描傳回True."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "頁高度像素."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "頁寬度像素."

  SDescriptionProgress, "PROGRESS/"
    "顯示報表處理進度."

  SDescriptionModalResult, "MODALRESULT/"
    "賦非零值導致關閉對話框."

  SDescriptionStopReport, "STOPREPORT/"
    "停止報表處理."

  SDescriptionNewPage, "NEWPAGE/"
    "開始新頁."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "新欄."

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "顯示<BandName>."

  SDescriptionINC, "INC(<Value>)/"
    "遞增 <Value>."

  SDescriptionDEC, "DEC(<Value>)/"
    "遞減 <Value>."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "傳回最大值."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "傳回最小值."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "傳回子字串在給定字串中的位置."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "顯示以<Text>,<Title>標准對話框,按鈕<Buttons>."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "以<Mask>格式化給定字串<String>."


  SInformation, "資訊"
  SExpressionOK, "表達式正確!"
  STextOnly, "只能為文字"
  SSuppressRepeated, "重複值不印"
  SDefaultBin, "預設值"
  SDeleteObjects, "這將刪除該頁所有物件."
  SWarning, "警告"
  SHideZeros, "隱藏零值"
  SPrintChild, "假如不可見，則列印子Band"
  SUnderlines, "底線"
  SOnePerPage, "一頁中不能插入兩個或兩個以上的 %s 物件."
  SInsertCrosstab, "插入 Cross-tab 物件"
}
