#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "報表資料集"
  frRes + 3001, "屬性(&P)..."
  frRes + 3002, "新增表(&table)..."
  frRes + 3003, "新增查詢(&query)..."
  frRes + 3004, "刪除(&R)"
  frRes + 3005, "關閉(&C)"
  frRes + 3006, "新增資料庫(&database)..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "一般"
  frRes + 3021, "名(&N)"
  frRes + 3022, "欄位(&Fields)"
  frRes + 3023, "欄位編輯器(&F)..."
  frRes + 3024, "其它"
  frRes + 3025, "索引(&I)"
  frRes + 3026, "過濾表達式(&e)"
  frRes + 3027, "主表(&M)"
  frRes + 3028, "主表欄位(&s)"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "新增欄位(&A)..."
  frRes + 3041, "新增查找欄位（&l）..."
  frRes + 3042, "全選(&S)"
  frRes + 3043, "刪除(&D)"
  frRes + 3044, "退出(&E)"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, " 可用欄位"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "新增查詢欄位"
  frRes + 3071, "欄位"
  frRes + 3072, "名稱(&N)"
  frRes + 3073, "類型(&T)"
  frRes + 3074, "長度(&S)"
  frRes + 3075, "查詢定義"
  frRes + 3076, "關鍵欄位(&Key)"
  frRes + 3077, "資料表(&D)"
  frRes + 3078, "查詢關鍵欄位(&L)"
  frRes + 3079, "結果欄位(&R)"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Query 屬性"
  frRes + 3091, "其它"
  frRes + 3092, "主資料集(&M)"
  frRes + 3093, "一般"
  frRes + 3094, "&名稱"
  frRes + 3095, "&別名或路徑"
  frRes + 3096, "&SQL"
  frRes + 3097, "欄位編輯器(&F)..."
  frRes + 3098, "參數編輯器(&P)..."
  frRes + 3099, "從檔案載入SQL"
  frRes + 3100, "儲存SQL到檔案"
  frRes + 3101, "SQL 編輯器..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "參數"
  frRes + 3111, "資料類型(&D)"
  frRes + 3112, "名稱(&N)"
  frRes + 3113, "值(&V):"
  frRes + 3114, "列印前要求輸入參數值(&A)"
  frRes + 3115, "從主資料集賦值(&m)"
  frRes + 3116, "變數(&r):"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "明細欄位(&D)"
  frRes + 3131, "主欄位(&M)"
  frRes + 3132, "連接欄位(&J)"
  frRes + 3133, "新增(&A)"
  frRes + 3134, "清除(&C)"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "參數"
  frRes + 3151, "4 點"
  frRes + 3152, "8 點"
  frRes + 3153, "格子對齊"
  frRes + 3154, "關閉"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "屬性"
  frRes + 3171, "文本(&T)"
  frRes + 3172, "字體(&F)..."
  frRes + 3173, "查找"
  frRes + 3174, "資料集(&D)"
  frRes + 3175, "關鍵欄位(&K)"
  frRes + 3176, "列表欄位(&L)"
  frRes + 3177, "類型"
  frRes + 3178, "&Edit"
  frRes + 3179, "&Combo"
  frRes + 3180, "Look&up"
  frRes + 3181, "Combo"
  frRes + 3182, "自動調整大小(&A)"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "資料庫屬性"
  frRes + 3201, "一般"
  frRes + 3202, "參數"
  frRes + 3203, "名稱(&N)"
  frRes + 3204, "連接字串(&C)"  ; for ADO
  frRes + 3205, "檔案名(&F)"          ; for IBX
  frRes + 3206, "別名(&A)"         ; for BDE
  frRes + 3207, "驅動器名(&D)"
  frRes + 3208, "登錄提示(&L)"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "選擇表"
  frRes + 3221, "從資料庫(database)中選"
  frRes + 3222, "從檔案中選"
  frRes + 3223, "資料庫(&D)"
  frRes + 3224, "資料表(&T)"
  frRes + 3225, "瀏覽(&B)..."
;--- Strings resources -------------------------------------------------------
  SFields, "欄位"
  SPath, "路徑"
  SRemoveDS, "確認刪除部件嗎?"
  STables, "表格"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "資料管理"
  SParams, "參數"
  SQueryError, "不合法的SQL語句或參數"
  STableProps, "資料表屬性"
  SParamDialog, "參數對話框"
  SInvalidParamValue, "不合法的參數值"
  SDatabase, "資料庫"
  SFieldSizeError, "不合法的欄位長度"
}
