#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Inspector d'objectes"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Editor de text"
  frRes + 61, "Afegir expressió"
  frRes + 62, "Afegir camp DB"
  frRes + 63, "Envoltar paraules"
  frRes + 64, "Mostrar/Ocultar script"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Editor"
  frRes + 81, "Marc"
  frRes + 82, "Estandar"
  frRes + 83, "Text"
  frRes + 84, "Objectes"
  frRes + 85, "Alineació"
  frRes + 86, "Dades"
  frRes + 87, "Nou informe"
  frRes + 88, "Obrir informe"
  frRes + 89, "Guardar informe"
  frRes + 90, "Vista previa"
  frRes + 91, "Tallar"
  frRes + 92, "Copiar"
  frRes + 93, "Enganxar"
  frRes + 94, "Desfer última acció"
  frRes + 95, "Refer acció cancel·lada"
  frRes + 96, "Portar al front"
  frRes + 97, "Enviar enrera"
  frRes + 98, "Seleccionar tot"
  frRes + 99, "Afegir pàgina"
  frRes + 100, "Eliminar pàgina"
  frRes + 101, "Opcions de pàgina"
  frRes + 102, "Reixa"
  frRes + 103, "Alinear a reixa"
  frRes + 104, "Ajustar a reixa"
  frRes + 105, "Tancar"
  frRes + 106, "Tancar editor"
  frRes + 107, "Ajust esquerra"
  frRes + 108, "Ajust dreta"
  frRes + 109, "Centrat"
  frRes + 110, "Text normal / 90º"
  frRes + 111, "Centrat vertical"
  frRes + 112, "Ajust adalt"
  frRes + 113, "Ajust abaix"
  frRes + 114, "Justificat"
  frRes + 115, "Negreta"
  frRes + 116, "Cursiva"
  frRes + 117, "Subratllat"
  frRes + 118, "Color de text"
  frRes + 119, "Resaltar"
  frRes + 120, "Tamany de lletra"
  frRes + 121, "Tipus de lletra"
  frRes + 122, "Línia superior de marc"
  frRes + 123, "Línia esquerra de marc"
  frRes + 124, "Línia inferior de marc"
  frRes + 125, "Línia dreta de marc"
  frRes + 126, "Totes les linies del marc"
  frRes + 127, "Sense marc"
  frRes + 128, "Color de fons"
  frRes + 129, "Color del marc"
  frRes + 130, "Gruix línies"
  frRes + 131, "Gruix línies"
  frRes + 132, "Seleccionar objecte"
  frRes + 133, "Afegir quadre de text"
  frRes + 134, "Afegir banda"
  frRes + 135, "Afegir imatge"
  frRes + 136, "Afegir subinforme"
  frRes + 137, "Dibuixar línies"
  frRes + 138, "Alinear a la vora esquerra"
  frRes + 139, "Centrat horitzontal"
  frRes + 140, "Centrat horitzontal a la finestre"
  frRes + 141, "Espaiat igualat, horitzontal"
  frRes + 142, "Alinear a la vora dreta"
  frRes + 143, "Alinear a la vora superior"
  frRes + 144, "Centrat verticalment"
  frRes + 145, "Centrat verticalment a la finestre"
  frRes + 146, "Espaiat igualat, vertical"
  frRes + 147, "Alinear a la vora inferior"
  frRes + 148, "&Tallar"
  frRes + 149, "&Copiar"
  frRes + 150, "En&ganxar"
  frRes + 151, "&Esborrar"
  frRes + 152, "&Seleccionar tot"
  frRes + 153, "&Editar..."
  frRes + 154, "&Arxiu"
  frRes + 155, "&Nou..."
  frRes + 156, "&Obrir..."
  frRes + 157, "&Guardar"
  frRes + 158, "&Diccionari de dades..."
  frRes + 159, "Opcions de l'&informe..."
  frRes + 160, "Opcions de &pàgina..."
  frRes + 161, "&Vista previa"
  frRes + 162, "&Sortir"
  frRes + 163, "&Editar"
  frRes + 164, "&Desfer"
  frRes + 165, "&Repetir"
  frRes + 166, "&Tallar"
  frRes + 167, "&Copiar"
  frRes + 168, "En&ganxar"
  frRes + 169, "Es&borrar"
  frRes + 170, "&Seleccionar tot"
  frRes + 171, "&Editar..."
  frRes + 172, "&Afegir pàgina"
  frRes + 173, "E&liminar pàgina"
  frRes + 174, "Portar al &front"
  frRes + 175, "Enviar &enrera"
  frRes + 176, "&Eines"
  frRes + 177, "&Barres d'Eines"
  frRes + 178, "&Eines de dades"
  frRes + 179, "&Opcions..."
  frRes + 180, "&Marc"
  frRes + 181, "&Estandar"
  frRes + 182, "&Text"
  frRes + 183, "&Objectes"
  frRes + 184, "&Inspector d'obcjetes"
  frRes + 185, "Paleta d'&alineació"
  frRes + 186, "&Dades"
  frRes + 187, "&Referent a..."
  frRes + 188, "Guardar &com..."
  frRes + 189, "&Contingut"
  frRes + 190, "Ajuda"
  frRes + 191, "Estil de Línia"
  frRes + 192, "Afegir &formulari de diàleg"
  frRes + 193, "Afegir formulari de diàleg"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Restriccions d'objectes"
  frRes + 261, "No editar &memo"
  frRes + 262, "No editar &script"
  frRes + 263, "No editar &contingut"
  frRes + 264, "No mo&dificar"
  frRes + 265, "No canviar ta&many"
  frRes + 266, "No mo&ure"
  frRes + 267, "No es&borrar"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Opcions"
  frRes + 281, "Editor"
  frRes + 282, "Reixa"
  frRes + 283, "Dibuixar objectes"
  frRes + 284, "Unitats de mesura"
  frRes + 285, "Tamany de reixa"
  frRes + 286, "&Mostrar reixa"
  frRes + 287, "Alinear a &reixa"
  frRes + 288, "&Botons en color"
  frRes + 289, "&4 pixels"
  frRes + 290, "&8 pixels"
  frRes + 291, "&18 pixels (5mm)"
  frRes + 293, "Mostrar el &contingut de l'objecte quan movem o canveim tamany"
  frRes + 294, "&Pixels"
  frRes + 295, "&mm"
  frRes + 296, "&Polzades"
  frRes + 297, "Altres"
  frRes + 298, "&Editar a l'afegir"
  frRes + 299, "Mostrar &titul bandes"
  frRes + 300, "Posició de pàgina"
  frRes + 301, "Centr&e"
  frRes + 302, "Es&querre"
  frRes + 303, "&Dreta"
  frRes + 304, "Editor"
  frRes + 305, "Text editor"
  frRes + 306, "&Usar ajustos de l'objecte"
  frRes + 307, "Usar &ajustos fixats:"
  frRes + 308, "Nom Font:"
  frRes + 309, "Tamany:"
  frRes + 310, "Editor Script"
  frRes + 311, "Localized property names"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Nou informe"
  frRes + 319, "Descripció"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Nova plantilla d'informe"
  frRes + 321, "&Comentaris"
  frRes + 322, "Icone"
  frRes + 323, "&Arxiu..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Diccionari de dades"
  frRes + 341, "Variables"
  frRes + 342, "Alies de camps"
  frRes + 343, "Bandes datasources"
  frRes + 344, "Va&riables"
  frRes + 345, "Va&lors"
  frRes + 346, "E&xpressió"
  frRes + 347, "Nova categoria"
  frRes + 348, "Nova variable"
  frRes + 349, "Editar"
  frRes + 350, "Esborrar"
  frRes + 351, "Editar llista"
  frRes + 352, "Taules i camps"
  frRes + 353, "Totes les taules"
  frRes + 354, "&Aparença"
  frRes + 355, "A&lies"
  frRes + 356, "E&xcluir camps des de llista"
  frRes + 357, "Datasources"
  frRes + 358, "Tots els datasources"
  frRes + 359, "&Gravar..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Llista de variables"
  frRes + 361, "&Categories i variables"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Opcions de l'informe"
  frRes + 371, "Impressora"
  frRes + 372, "&Escollir en execució"
  frRes + 373, "Altres"
  frRes + 374, "&Doble passada"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Opcions de pàgina"
  frRes + 391, "Paper"
  frRes + 392, "Orientació"
  frRes + 393, "&Vertical"
  frRes + 394, "&Horitzontal"
  frRes + 395, "Tamany"
  frRes + 396, "&Ampla, mm"
  frRes + 397, "A&lt, mm"
  frRes + 398, "Màrges"
  frRes + 399, "Màrges del paper"
  frRes + 400, "&Esquerra, mm"
  frRes + 401, "&Superior, mm"
  frRes + 402, "&Dreta, mm"
  frRes + 403, "&Inferior, mm"
  frRes + 404, "&Ajustar a l'area d'impressió"
  frRes + 405, "Opcions"
  frRes + 406, "Opcions"
  frRes + 407, "&Imprimir en pàgina anterior"
  frRes + 408, "Columnes"
  frRes + 409, "&Número"
  frRes + 410, "Sep. entre &columnes (mm)"
  frRes + 411, "Codi"
  frRes + 412, "Codi paper"
  frRes + 413, "&Unlimited height"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Format de variables"
  frRes + 421, "Format"
  frRes + 422, "&Decimals"
  frRes + 423, "&Separador decimal"
  frRes + 424, "&Format"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Variables"
  frRes + 441, "&Categoría:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Insertar camp DB"
  frRes + 451, "&Bases de dades disponibles"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Imatge"
  frRes + 461, "&Ajustar"
  frRes + 462, "&Llegir..."
  frRes + 463, "Es&borrar"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Origen de dades"
  frRes + 481, "&Origen de dades"
  frRes + 482, "&Número de registres"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Origen de dades"
  frRes + 486, "Bandes"
  frRes + 487, "Origen de dades"
  frRes + 488, "&Número de registres"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Grup"
  frRes + 491, "&Condició"
  frRes + 492, "Afegir camp DB"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Afegir nova banda"
  frRes + 511, "Tipus de banda"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Condició aspecte"
  frRes + 521, "&Condició"
  frRes + 522, "Tipus de lletra"
  frRes + 523, "C&olor..."
  frRes + 524, "&Negreta"
  frRes + 525, "Curs&iva"
  frRes + 526, "&Subratllat"
  frRes + 527, "Fons"
  frRes + 528, "Co&lor..."
  frRes + 529, "&Transparent"
  frRes + 530, "Alt&re"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "Referent a FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "Objecte OLE"
  frRes + 551, "&Insertar..."
  frRes + 552, "&Editar..."
  frRes + 553, "&Tancar"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "Obrir..."
  frRes + 562, "Guardar..."
  frRes + 563, "Desfer"
  frRes + 564, "Negreta"
  frRes + 565, "Cursiva"
  frRes + 566, "Ajust esquerra"
  frRes + 567, "Centrat"
  frRes + 568, "Ajust dreta"
  frRes + 569, "Subratllat"
  frRes + 570, "Llista"
  frRes + 571, "Font"
  frRes + 572, "Cancel·lar"
  frRes + 573, "Guardar y sortir"
  frRes + 574, "Var"
  frRes + 575, "Afegir expressió"
  frRes + 576, "Tipus de lletra"
  frRes + 577, "Tamany de lletra"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Objecte gràfic"
  frRes + 591, "Tipus"
  frRes + 592, "Dades"
  frRes + 593, "Tipus"
  frRes + 594, "Nom de l'objecte"
  frRes + 595, "Opcions"
  frRes + 596, "&3D"
  frRes + 597, "&Serie simple"
  frRes + 598, "Mostrar &llegenda"
  frRes + 599, "Mostrar &eixos"
  frRes + 600, "Mostrar &ròtuls"
  frRes + 601, "Multi-colo&r"
  frRes + 602, "&Llegenda"
  frRes + 603, "&Valors"
  frRes + 604, "Ròtuls"
  frRes + 605, "Estil"
  frRes + 606, "Valor"
  frRes + 607, "Percentatge"
  frRes + 608, "Etiqueta"
  frRes + 609, "Etiqueta i percentage"
  frRes + 610, "Etiqueta i valor"
  frRes + 611, "Grup Top10"
  frRes + 612, "&Mostrar els"
  frRes + 613, "&Etiqueta"
  frRes + 614, "més alts"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Insertar camps"
  frRes + 631, "&Bases de dades disponibles"
  frRes + 632, "Posicionament"
  frRes + 633, "&Horitzontal"
  frRes + 634, "&Vertical"
  frRes + 635, "&Incloure capçaleres"
  frRes + 636, "Incloure &bandes"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Editor Codi de barres"
  frRes + 651, "&Codi"
  frRes + 652, "&Tipus de codi de barres"
  frRes + 653, "Opcions"
  frRes + 654, "Check&sum"
  frRes + 655, "Lectura &Humana"
  frRes + 656, "Afegir expressió"
  frRes + 657, "Afegir variable"
  frRes + 658, "Rotació"
  frRes + 659, "&Zoom:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Editor de propietats"
  frRes + 671, "Exemple :"
  frRes + 672, "Variables ..."
  frRes + 673, "Data .."
  frRes + 674, "Gradian"
  frRes + 675, "Amplada ombra"
  frRes + 676, "Color"
  frRes + 677, "Corba"
  frRes + 678, "Zona marc"
  frRes + 679, "Color final"
  frRes + 680, "Color inicial"
  frRes + 681, "Estil"
  frRes + 682, "Vertical,Horitzontal,El·líptic,Rectangle,Horitz._Centre,Vert._Centre"
  frRes + 683, "Click aquí per definir el color d'ombra o gradient de colors"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Expressió de construcció"
  frRes + 701, "Expressió"
  frRes + 702, "Afegir"
  frRes + 703, "&DB camp..."
  frRes + 704, "&Variable..."
  frRes + 705, "&Funció..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Funcions disponibles"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Arguments funcions"
  frRes + 731, "Argument"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Tag Objecte"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Cross-tab view"
  frRes + 751, "Cross-tab dataset"
  frRes + 752, "Subtotals"
  frRes + 753, "Function"
  frRes + 754, "Cross-tab editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Eliminar aquesta pàgina?"
  SConfirm, "Confirmar"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Foli, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Personalitzat"
  SSystemVariables, "System variables"
  SVar1, "Pàgina#"
  SVar2, "Expresió"
  SVar3, "Data"
  SVar4, "Hora"
  SVar5, "Línia#"
  SVar6, "Línia global#"
  SVar7, "Columna#"
  SVar8, "Línia actual#"
  SVar9, "Total pàginas"
  SStretched, "Ajustat"
  SVarFormat, "Format de variable..."
  SWordWrap, "Tall automàtic de paraules"
  SWordBreak, ""
  SFormNewPage, "Forçar nova pàgina"
  SPrintIfSubsetEmpty, "Imprimir si detall en blanc"
  SBreaked, "Partit"
  SPictureCenter, "Centrar imatge"
  SKeepAspectRatio, "Mantenir relació d'aspecte"
  SFormFile, "Informe FastReport"
  SForm3File, "Informe FastReport3"
  STemplFile, "Plantilla FastReport"
  SDictFile, "Diccionari FastReport"
  SPictFile, "Fitxer d'imatge"
  SBMPFile, "Fitxer de bitmap"
  SAllFiles, "Qualsevol arxiu"
  SInsOLEObject, "Afegir objecte OLE"
  SInsRichObject, "Afegir objecte RichText"
  SInsRich2Object, "Afegir objecte RX RichText"
  SInsCheckBox, "Afegir objecte quadre de verificació"
  SInsChart, "Afegir objecte gràfic"
  SInsShape, "Afegir objecte de dibuix"
  SInsBarcode, "Afegir Codi de Barres"
  SInsRoundRect, "Afegir un rectangle arrodonit amb sombra"
  SSubReportOnPage, "Subinforme en pàgina"
  SPicture, "[Imatge]"
  STransparent, "Transparent"
  SOther, "Altres..."
  SOnFirstPage, "En la primera pàgina"
  SOnLastPage, "En l'última pàgina"
  SRepeatHeader, "Mostrar en totes las pàgines"
  SDesignReport, "Disenyar informe"
  SInsertFields, "Insertar camps DB"
  SSaveChanges, "Guardar canvis?"
  STo, "en"
  SPixels, "Pixels"
  SMM, "mm"
  SInches, "Polzades"
  SVirtualDataset, "Conjunt de dades virtual"
  SAutoSize, "Tamany automàtic"
  SFRVariables, "FR variables"
  SClearContents, "Esborrar contingut"

  SAllCategories, "Totes les funcions"
  SAggregateCategory, "Afegir"
  SDateTimeCategory, "Data i hora"
  SStringCategory, "Cadenes"
  SOtherCategory, "Altres"
  SMathCategory, "Matemàtiques"
  SBoolCategory, "Lògiques"
  SIntrpCategory, "Interpretes"

  SDescriptionAVG, "AVG(<Expressió> [,NomBanda [,1]])/"
    "Calcula l'averatge de <Expressió> per les files donades a [NomBande]. "
    "Si el paràmetre [1] és usat, calcula averatge també per files no visibles."

  SDescriptionCOUNT, "COUNT(<NomBanda>)/"
    "Retorna compta de files donades en <NomBanda>. "

  SDescriptionDAYOF, "DAYOF(<Data>)/"
    "Retorna número dia (1..31) de la <Date> donada."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DataHora>)/"
    "Converteix el valor <DataHora> a una cadena usant la màscara <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numeric>)/"
    "Converteix el valor <Numeric> a una cadena usant la màscara <Fmt>."

  SDescriptionINPUT, "INPUT(<Caption> [,Defecte])/"
    "Mostra un diàleg en una finestra amb el títul <Caption> i una caixa d'edició. "
    "Si el paràmetre [Defecte] existeix, posa aquest en la caixa d'edició. "
    "Després de premer OK, retorna la cadena entrada."

  SDescriptionLENGTH, "LENGTH(<Cadena>)/"
    "Retorna la longitud de <Cadena>."

  SDescriptionLOWERCASE, "LOWERCASE(<Cadena>)/"
    "Converteig la <Cadena> a minúscules."

  SDescriptionMAX, "MAX(<Expressió> [,NomBanda [,1]])/"
    "Calcula el màxim de <Expressió> per les files donades a [NomBanda]. "
    "Si el paràmetre [1] és usat, es calcula també el màxim de la files no visibles."

  SDescriptionMIN, "MIN(<Expressió> [,NomBanda [,1]])/"
    "Calcula el mínim de <Expressió> per les files donades a [NomBanda]. "
    "Si el paràmetre [1] és usat, es calcula també el mínim de la files no visibles."

  SDescriptionMONTHOF, "MONTHOF(<Data>)/"
    "Retorna el número del mes (1..12) de la <Data> donada."

  SDescriptionNAMECASE, "NAMECASE(<Cadena>)/"
    "Converteix la <Cadena> a minuscules, i la primera lletra en majuscul."

  SDescriptionSTRTODATE, "STRTODATE(<Cadena>)/"
    "Converteix la <Cadena> a una data."

  SDescriptionSTRTOTIME, "STRTOTIME(<Cadena>)/"
    "Converteix la <Cadena> a una hora."

  SDescriptionSUM, "SUM(<Expressió> [,NomBanda [,1]])/"
    "Calcula la suma de <Expressió> per les files de [NomBanda]. "
    "Si el paràmetre [1] és usat, calcula també la suma de les files no visibles."

  SDescriptionTRIM, "TRIM(<Cadena>)/"
    "Treu tots els espais de davant i darera de <String>."

  SDescriptionUPPERCASE, "UPPERCASE(<Cadena>)/"
    "Converteix la <Cadena> a majuscules."

  SDescriptionYEAROF, "YEAROF(<Data>)/"
    "Retorna l'any de <Data>."

  SDescriptionIF, "IF(<Expressió>, <Valor1>, <Valor2>)/"
    "Returna <Valor1>, si <Expressió> és certa; "
    "en altre cas retorna <Valor2>. El valor retornat pot no ser una cadena."

  SDescriptionCOPY, "COPY(<Cadena>, <Des de>, <Compte>)/"
    "Retorna una subcadena de la cadena."

  SDescriptionMOD, "<Valor1> MOD <Valor2>/"
    "Retorna la resta de dividir <Valor1> per <Valor2>."

  SDescriptionSTR, "STR(<Valor>)/"
    "Converteix el número donat a <Valor> a una cadena."

  SDescriptionNOT, "NOT <Valor>/"
    "Lògic 'NOT'."

  SDescriptionAND, "<Valor> AND <Valor>/"
    "Lògic 'AND'."

  SDescriptionOR, "<Valor> OR <Valor>/"
    "Lògic 'OR'."

  SDescriptionROUND, "ROUND(<Valor>)/"
    "Retorna <Valor> arrodonit."

  SDescriptionFRAC, "FRAC(<Valor>)/"
    "Retorna la part fraccional de <Valor>."

  SDescriptionINT, "INT(<Valor>)/"
    "Retorna la part sencera de <Valor>."

  SDescriptionTRUE, "TRUE/"
    "Lògic 'TRUE'."

  SDescriptionFALSE, "FALSE/"
    "Lògic 'FALSE'."

  SDescriptionPAGE, "PAGE#/"
    "Retorna el número de pàgina actual."

  SDescriptionDATE, "DATE/"
    "Retorna la data actual."

  SDescriptionTIME, "TIME/"
    "Retorna l'hora actual."

  SDescriptionLINE, "LINE#/"
    "Retorna l'actual número de fila (s'inicia al començament del grup)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Retorna l'actual número de fila (s'inicia al començament de l'informe)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Retorna l'actual número de columna."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Retorna el número de pàgines total de l'informe."

  SDescriptionMROK, "MROK/"
    "Resultat constant de modal."

  SDescriptionMRCancel, "MRCANCEL/"
    "Resultat constant de modal."

  SDescriptionCurY, "CURY/"
    "Retorna la posició 'Y' (en pixels) on la banda actual serà mostrada."
    "Es pot assignar el valor a CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Retorna l'espai que resta a la pàgina en pixels."

  SDescriptionFinalPass, "FINALPASS/"
    "Retorna True si l'informe està en la passada final."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Retorna l'alçada de la pàgina en pixels."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Retorna l'amplada de la pàgina en pixels."

  SDescriptionProgress, "PROGRESS/"
    "Valor assignat a Progress que serà mostrat en la finestre de Progress."

  SDescriptionModalResult, "MODALRESULT/"
    "Assignació diferent a zero del valor ModalResult per tancar el formulari de diàleg."

  SDescriptionStopReport, "STOPREPORT/"
    "Parar la construcció de l'informe."

  SDescriptionNewPage, "NEWPAGE/"
    "Comença pàgina nova."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Comença columna nova."

  SDescriptionShowBand, "SHOWBAND(<NomBanda>)/"
    "Mostra la banda amb el nom <NomBanda> donat."

  SDescriptionINC, "INC(<Valor>)/"
    "Incrementa <Valor>."

  SDescriptionDEC, "DEC(<Valor>)/"
    "Decrementa <Valor>."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "Returns max of given values."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "Returns min of given values."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Returns position of substring in given string."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "Shows standard dialog window with title, text and buttons."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "Applies <Mask> to given <String> and returns formatted string."


  SInformation, "Informació"
  SExpressionOK, "Expressió és OK!"
  STextOnly, "Text sols"
  SSuppressRepeated, "Eliminar valors repetits"
  SDefaultBin, "Defecte"
  SDeleteObjects, "Tots els objectes d'aquesta pàgina seran esborrats."
  SWarning, "Alerta"
  SHideZeros, "Ocultar zeros"
  SPrintChild, "Imprimir fills si és invisible"
  SUnderlines, "Underlines"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "Insert Cross-tab object"
}
