#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Orígens de dades de l'informe"
  frRes + 3001, "&Propietats..."
  frRes + 3002, "Nova &taula..."
  frRes + 3003, "C&onsulta (SQL)..."
  frRes + 3004, "Es&borrar"
  frRes + 3005, "Tan&car"
  frRes + 3006, "Nova &database..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "General"
  frRes + 3021, "&Nom"
  frRes + 3022, "&Camps"
  frRes + 3023, "&Editor de camps..."
  frRes + 3024, "Altres"
  frRes + 3025, "&Índex"
  frRes + 3026, "&Expresió de filtre"
  frRes + 3027, "Taula &mestra"
  frRes + 3028, "Camps me&stre"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "&Afegir camps..."
  frRes + 3041, "Afegir &lookup..."
  frRes + 3042, "Seleccionar &tot"
  frRes + 3043, "Es&borrar"
  frRes + 3044, "&Sortir"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Camps disponibles"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Nou camp lookup"
  frRes + 3071, "Camp"
  frRes + 3072, "&Nom"
  frRes + 3073, "&Tipus"
  frRes + 3074, "T&amany"
  frRes + 3075, "Definició lookup"
  frRes + 3076, "&Camp clau"
  frRes + 3077, "&Origen de dades"
  frRes + 3078, "Clau &lookup"
  frRes + 3079, "Camp &resultat"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Propietats de la consulta"
  frRes + 3091, "Altres"
  frRes + 3092, "Dades &mestres"
  frRes + 3093, "General"
  frRes + 3094, "&Nom"
  frRes + 3095, "&Alies/ruta d'accés"
  frRes + 3096, "&SQL"
  frRes + 3097, "Editor de &camps ..."
  frRes + 3098, "Editor de &paràmetres ..."
  frRes + 3099, "Llegir SQL d'arxiu"
  frRes + 3100, "Guardar SQL en arxiu"
  frRes + 3101, "SQL constructor..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Paràmetres"
  frRes + 3111, "Tipus de &dades"
  frRes + 3112, "&Nom"
  frRes + 3113, "&Valor:"
  frRes + 3114, "¿&Sol·licitar valor abans d'imprimir?"
  frRes + 3115, "Assignar valor des d'origen de dades &mestre"
  frRes + 3116, "Va&riable:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "&Detall"
  frRes + 3131, "&Mestra"
  frRes + 3132, "Camps &unió"
  frRes + 3133, "&Afegir"
  frRes + 3134, "Es&borrar"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Paràmetres"
  frRes + 3151, "4 punts"
  frRes + 3152, "8 punts"
  frRes + 3153, "Alinear a reixa"
  frRes + 3154, "Tancar"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Propietats"
  frRes + 3171, "&Text"
  frRes + 3172, "&Font..."
  frRes + 3173, "Lookup"
  frRes + 3174, "&Taula"
  frRes + 3175, "&Camp clau"
  frRes + 3176, "&Llista camps"
  frRes + 3177, "Classe"
  frRes + 3178, "&Editar"
  frRes + 3179, "&Combo"
  frRes + 3180, "Look&up"
  frRes + 3181, "Combo"
  frRes + 3182, "&Tamany auto."
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Propietats Database"
  frRes + 3201, "General"
  frRes + 3202, "Paràmetres"
  frRes + 3203, "&Nom"
  frRes + 3204, "&Connecció paraula"  ; for ADO
  frRes + 3205, "Nom &fitxer"         ; for IBX
  frRes + 3206, "Nom &alies"          ; for BDE
  frRes + 3207, "Nom &driver"
  frRes + 3208, "&Login prompt"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Seleccionar taula"
  frRes + 3221, "Seleccionar des de database"
  frRes + 3222, "Seleccionar des de fitxer"
  frRes + 3223, "&Database"
  frRes + 3224, "&Taula"
  frRes + 3225, "&Buscar..."
;--- Strings resources -------------------------------------------------------
  SFields, "camps"
  SPath, "Ruta"
  SRemoveDS, "Esborrar aquest component?"
  STables, "Taules"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Origen de dades"
  SParams, "paràmetres"
  SQueryError, "Sentència SQL o paràmetres incorrectes"
  STableProps, "Propietats de la taula"
  SParamDialog, "Diàleg de paràmetres"
  SInvalidParamValue, "Valor de parametres erroni"
  SDatabase, "Databases"
  SFieldSizeError, "Tamany de camp incorrecta"
}
