#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Sources de données de l'état"
  frRes + 3001, "&Propriétés..."
  frRes + 3002, "Nouvelle &table..."
  frRes + 3003, "Nouvelle &requête..."
  frRes + 3004, "&Supprimer"
  frRes + 3005, "&Fermer"
  frRes + 3006, "&Base de données..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "Générale"
  frRes + 3021, "&Nom"
  frRes + 3022, "&Champs"
  frRes + 3023, "&Editeur de champs..."
  frRes + 3024, "Autre"
  frRes + 3025, "&Index"
  frRes + 3026, "&Expression de filtre"
  frRes + 3027, "&Maître"
  frRes + 3028, "&Champ maître"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "&Ajouter des champs..."
  frRes + 3041, "Ajouter un &lien de référence..."
  frRes + 3042, "&Sélectionner tout"
  frRes + 3043, "&Supprimer"
  frRes + 3044, "&Fermer"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Champs disponibles"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Nouveau champ référence"
  frRes + 3071, "Champ"
  frRes + 3072, "&Nom"
  frRes + 3073, "&Type"
  frRes + 3074, "&Taille"
  frRes + 3075, "Définition de la référence"
  frRes + 3076, "&Champ clé"
  frRes + 3077, "&Source"
  frRes + 3078, "Clé de &référence"
  frRes + 3079, "Champ &résultat"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Propriété de la requette"
  frRes + 3091, "Autre"
  frRes + 3092, "Source &maître"
  frRes + 3093, "Global"
  frRes + 3094, "&Nom"
  frRes + 3095, "&Alias ou répertoire"
  frRes + 3096, "&SQL"
  frRes + 3097, "&Editeur de champs..."
  frRes + 3098, "Editeur de &paramètres..."
  frRes + 3099, "Ouvrir un fichier SQL"
  frRes + 3100, "Enregistrer ..."
  frRes + 3101, "Générateur SQL..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Paramètres"
  frRes + 3111, "Type de données"
  frRes + 3112, "&Nom"
  frRes + 3113, "&Valeur:"
  frRes + 3114, "&Demander une valeur avant d'imprimer"
  frRes + 3115, "&Affecter la valeur de la source maître"
  frRes + 3116, "Va&riable:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "Champs de &détail"
  frRes + 3131, "Champs &maîtres"
  frRes + 3132, "Champs &rattachés"
  frRes + 3133, "&Ajouter"
  frRes + 3134, "&Effacer"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Paramètres"
  frRes + 3151, "4 points"
  frRes + 3152, "8 points"
  frRes + 3153, "Aligner sur la grille"
  frRes + 3154, "Fermer"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Propriétés"
  frRes + 3171, "&Texte"
  frRes + 3172, "&Police..."
  frRes + 3173, "Référence"
  frRes + 3174, "&Source de données"
  frRes + 3175, "Champ &clé"
  frRes + 3176, "Champ &affiché"
  frRes + 3177, "Type"
  frRes + 3178, "&Zone d'édition"
  frRes + 3179, "&Combo"
  frRes + 3180, "&Liste de référence"
  frRes + 3181, "Combo"
  frRes + 3182, "&Taille auto."
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Propriétés de la base de données"
  frRes + 3201, "Globales"
  frRes + 3202, "Paramètres"
  frRes + 3203, "&Nom"
  frRes + 3204, "&Chaîne de connexion" 
  frRes + 3205, "&Nom du fichier"      
  frRes + 3206, "Nom de l'&alias"      
  frRes + 3207, "Nom du &driver"
  frRes + 3208, "Demander les infos de &Login"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Sélection d'une table"
  frRes + 3221, "Depuis une base de données"
  frRes + 3222, "Depuis le fichier"
  frRes + 3223, "&Base"
  frRes + 3224, "&Table"
  frRes + 3225, "&Parcourir..."
;--- Strings resources -------------------------------------------------------
  SFields, "Champs"
  SPath, "Chemin"
  SRemoveDS, "Supprimer ce composant ?"
  STables, "Les tables"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Gestionnaire de données"
  SParams, "Paramètres"
  SQueryError, "Instruction SQL ou paramètre invalide"
  STableProps, "Propriétés d'une table"
  SParamDialog, "Editeur de boite de dialogue pour les paramètres"
  SInvalidParamValue, "Valeur d'un paramètre invalide"
  SDatabase, "Base de données"
  SFieldSizeError, "Taille de champ incorrecte"
}
