#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Inspecteur d'objet"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Editeur de texte"
  frRes + 61, "Insérer expression"
  frRes + 62, "Insérer données"
  frRes + 63, "Mots entiers"
  frRes + 64, "Script"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Concepteur"
  frRes + 81, "Rectangle"
  frRes + 82, "Standard"
  frRes + 83, "Texte"
  frRes + 84, "Objets"
  frRes + 85, "Alignement"
  frRes + 86, "Outils"
  frRes + 87, "Nouvel état"
  frRes + 88, "Ouvrir un état"
  frRes + 89, "Enregistrer un état"
  frRes + 90, "Prévisualisation d'un état"
  frRes + 91, "Couper"
  frRes + 92, "Copier"
  frRes + 93, "Coller"
  frRes + 94, "Annuler la dernière action"
  frRes + 95, "Refaire l'action annulée"
  frRes + 96, "Mettre en avant-plan"
  frRes + 97, "Mettre en arrière-plan"
  frRes + 98, "Sélectionner tout"
  frRes + 99, "Ajouter une page"
  frRes + 100, "Supprimer la page"
  frRes + 101, "Options de la Page"
  frRes + 102, "Grille"
  frRes + 103, "Aligner sur la grille"
  frRes + 104, "Accord avec la grille"
  frRes + 105, "Fermer"
  frRes + 106, "Fermer l'éditeur"
  frRes + 107, "Aligner à gauche"
  frRes + 108, "Aligner à droite"
  frRes + 109, "Centrer"
  frRes + 110, "Texte normal / 90 degrées"
  frRes + 111, "Centrer verticalement"
  frRes + 112, "Aligner en haut"
  frRes + 113, "Aligner en bas"
  frRes + 114, "Aligner en largeur"
  frRes + 115, "Gras"
  frRes + 116, "Italique"
  frRes + 117, "Souligner"
  frRes + 118, "Couleur de police"
  frRes + 119, "Attibut de mise en évidence"
  frRes + 120, "Taille de police"
  frRes + 121, "Nom de police"
  frRes + 122, "Trait de cadre en haut"
  frRes + 123, "Trait de cadre à gauche"
  frRes + 124, "Trait de cadre en bas"
  frRes + 125, "Trait de cadre à droite"
  frRes + 126, "Encadré"
  frRes + 127, "Sans cadre"
  frRes + 128, "Couleur de fond"
  frRes + 129, "Couleur des trait"
  frRes + 130, "Epaisseur de trait"
  frRes + 131, "Epaisseur de trait"
  frRes + 132, "Sélection d'objet"
  frRes + 133, "Insertion d'un objet rectangle"
  frRes + 134, "Insertion d'une bande"
  frRes + 135, "Insertion d'une image"
  frRes + 136, "Insertion d'un sous-état"
  frRes + 137, "Dessine des lignes"
  frRes + 138, "Aligner à gauche"
  frRes + 139, "Aligner les centres horizontalement"
  frRes + 140, "Centrer horizontalement dans la fenêtre"
  frRes + 141, "Espacer régulièrement, horizontalement"
  frRes + 142, "Aligner à droite"
  frRes + 143, "Aligner en haut"
  frRes + 144, "Aligner les centre verticalement"
  frRes + 145, "Centrer verticalement dans la fenêtre"
  frRes + 146, "Espacer régulièrement, verticalement"
  frRes + 147, "Aligner en bas"
  frRes + 148, "Cou&per"
  frRes + 149, "&Copier"
  frRes + 150, "Co&ller"
  frRes + 151, "&Supprimer"
  frRes + 152, "Sélectionner &tout"
  frRes + 153, "&Editer..."
  frRes + 154, "&Fichier"
  frRes + 155, "&Nouveau..."
  frRes + 156, "&Ouvrir..."
  frRes + 157, "&Enregistrer"
  frRes + 158, "&Dictionnaire de données..."
  frRes + 159, "&Options de l'état..."
  frRes + 160, "Options de la &page..."
  frRes + 161, "Pré&visualisation"
  frRes + 162, "&Quitter"
  frRes + 163, "&Edition"
  frRes + 164, "&Défaire"
  frRes + 165, "&Refaire"
  frRes + 166, "Cou&per"
  frRes + 167, "&Copier"
  frRes + 168, "Co&ller"
  frRes + 169, "&Supprimer"
  frRes + 170, "Sélectionner &tout"
  frRes + 171, "&Editer..."
  frRes + 172, "&Ajouter un page"
  frRes + 173, "&Supprimer une page"
  frRes + 174, "&Mettre en avant-plan"
  frRes + 175, "M&ettre en arrière-plan"
  frRes + 176, "&Outils"
  frRes + 177, "&Barre d'outils"
  frRes + 178, "Outi&ls"
  frRes + 179, "&Options..."
  frRes + 180, "&Rectangle"
  frRes + 181, "&Standard"
  frRes + 182, "&Texte"
  frRes + 183, "&Objets"
  frRes + 184, "&Inspecteur d'objet"
  frRes + 185, "Palette d'&alignement "
  frRes + 186, "Outi&ls"
  frRes + 187, "&A propos..."
  frRes + 188, "Enregistrer &sous..."
  frRes + 189, "&Rubriques d'aide"
  frRes + 190, "&Outil d'aide"
  frRes + 191, "Style de ligne"
  frRes + 192, "Ajouter une &fenêtre de dialogue"
  frRes + 193, "Ajout d'une fenêtre de dialogue"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Restrictions sur les objects"
  frRes + 261, "Pas d'édition des &mémos"
  frRes + 262, "Pas d'édition des &scripts"
  frRes + 263, "Pas d'édition des &contenus"
  frRes + 264, "Pas de m&odification possible"
  frRes + 265, "Pas de changements de &taille"
  frRes + 266, "Pas de déplacement"
  frRes + 267, "Pas de s&uppression"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Options"
  frRes + 281, "Concepteur"
  frRes + 282, "Grille"
  frRes + 283, "Drawing objects"
  frRes + 284, "Unité utilisée"
  frRes + 285, "Taille de grille"
  frRes + 286, "&Voir le grille"
  frRes + 287, "Aligner sur la &grille"
  frRes + 288, "&Boutons colorés"
  frRes + 289, "&4 pixels"
  frRes + 290, "&8 pixels"
  frRes + 291, "&18 pixels (5mm)"
  frRes + 293, "Voir les objets lors des déplacements ou redimentionnement"
  frRes + 294, "&Pixels"
  frRes + 295, "&MM"
  frRes + 296, "&Pouces"
  frRes + 297, "Autre"
  frRes + 298, "&Edition après insertion"
  frRes + 299, "&Voir les titres des bandes"
  frRes + 300, "Position de la page"
  frRes + 301, "&Centrée"
  frRes + 302, "à &gauche"
  frRes + 303, "à &droite"
  frRes + 304, "Editeur"
  frRes + 305, "Editeur de texte"
  frRes + 306, "&Utiliser les polices des objets"
  frRes + 307, "Utilise le &paramétrage:"
  frRes + 308, "Police:"
  frRes + 309, "Taille:"
  frRes + 310, "Editeur de Script"
  frRes + 311, "Nom des propriétés locales"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Nouvel état"
  frRes + 319, "Description"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Nouveau modèle d'état"
  frRes + 321, "&Commentaire"
  frRes + 322, "Icône"
  frRes + 323, "&Fichier..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Dictionnaire de données"
  frRes + 341, "Variables"
  frRes + 342, "Alias de champ"
  frRes + 343, "Sources de données de bande"
  frRes + 344, "Va&riables"
  frRes + 345, "Va&leurs"
  frRes + 346, "E&xpression"
  frRes + 347, "Nouvelle catégorie"
  frRes + 348, "Nouvelle variable"
  frRes + 349, "Editer"
  frRes + 350, "Supprimer"
  frRes + 351, "Editer la liste"
  frRes + 352, "Données et champs"
  frRes + 353, "Toutes les données"
  frRes + 354, "&Apparance"
  frRes + 355, "A&lias"
  frRes + 356, "E&xclure les champs de la liste"
  frRes + 357, "Sources de données"
  frRes + 358, "Toutes les sources de données"
  frRes + 359, "&Enregistrer..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Liste des variables"
  frRes + 361, "&Catégories et variables"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Option de l'état"
  frRes + 371, "Imprimante"
  frRes + 372, "&Sélectionner au chargement"
  frRes + 373, "Autre"
  frRes + 374, "Etat en &deux passes"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Options de la page"
  frRes + 391, "Papier"
  frRes + 392, "Orientation"
  frRes + 393, "&Portrait"
  frRes + 394, "Pa&ysage"
  frRes + 395, "Taille"
  frRes + 396, "&Largeur, mm"
  frRes + 397, "&Hauteur, mm"
  frRes + 398, "Marges"
  frRes + 399, "Les marges de la page"
  frRes + 400, "&Gauche, mm"
  frRes + 401, "&Haut, mm"
  frRes + 402, "&Droite, mm"
  frRes + 403, "&Bas, mm"
  frRes + 404, "&Etirer la zone d'impression"
  frRes + 405, "Options"
  frRes + 406, "Options"
  frRes + 407, "à la &suite de la page précédente"
  frRes + 408, "Colonnes"
  frRes + 409, "&Nombre"
  frRes + 410, "Entre &Colonne, mm"
  frRes + 411, "Source"
  frRes + 412, "Source du papier"
  frRes + 413, "&Hauteur illimitée (concepteur)"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Formatage de variable"
  frRes + 421, "Format"
  frRes + 422, "&Décimales"
  frRes + 423, "&Séparateur décimale"
  frRes + 424, "&Format personnalisé"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Variables"
  frRes + 441, "&Catégorie:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Insérer un champ de données"
  frRes + 451, "&Bases disponibles"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Image"
  frRes + 461, "&Etirer"
  frRes + 462, "&Ouvrir..."
  frRes + 463, "&Vider"
  frRes + 464, "&Mémo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Source de données de bande"
  frRes + 481, "&Source"
  frRes + 482, "&Nombre d'enregistrement"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Source de données de bande"
  frRes + 486, "Bandes"
  frRes + 487, "Source de données"
  frRes + 488, "&Nombre d'enregistrement"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Groupe"
  frRes + 491, "&Condition"
  frRes + 492, "Insérer un champ de données"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Insérer une nouvelle bande"
  frRes + 511, "Type de bande"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Surlignage conditionnel"
  frRes + 521, "&Condition"
  frRes + 522, "Police"
  frRes + 523, "C&ouleur..."
  frRes + 524, "&Gras"
  frRes + 525, "&Italique"
  frRes + 526, "&Souligner"
  frRes + 527, "Fond"
  frRes + 528, "Co&leur..."
  frRes + 529, "&Transparent"
  frRes + 530, "&Autre"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "A propos de FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "Objet OLE"
  frRes + 551, "&Insérer..."
  frRes + 552, "&Editer..."
  frRes + 553, "&Fermer"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Edition texte formaté"
  frRes + 561, "Ouvrir..."
  frRes + 562, "Enregistrer..."
  frRes + 563, "Défaire"
  frRes + 564, "Gras"
  frRes + 565, "Italique"
  frRes + 566, "Aligner à gauche"
  frRes + 567, "Centrer"
  frRes + 568, "Aligner à droite"
  frRes + 569, "Souligner"
  frRes + 570, "Liste"
  frRes + 571, "Police"
  frRes + 572, "Annuler"
  frRes + 573, "Enregistrer et fermer"
  frRes + 574, "Var"
  frRes + 575, "Insérer une expression"
  frRes + 576, "Police"
  frRes + 577, "Taille de police"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Objet Graphique"
  frRes + 591, "Type"
  frRes + 592, "Données"
  frRes + 593, "Type"
  frRes + 594, "Nom d'objet"
  frRes + 595, "Options"
  frRes + 596, "&3D"
  frRes + 597, "&Simple"
  frRes + 598, "Voir la &légende"
  frRes + 599, "Voir les &axes"
  frRes + 600, "Voir les &marques"
  frRes + 601, "Multi-&couleur"
  frRes + 602, "&Légendes"
  frRes + 603, "&Valeurs"
  frRes + 604, "Marques"
  frRes + 605, "Style"
  frRes + 606, "Valeur"
  frRes + 607, "Pourcentage"
  frRes + 608, "Libellé"
  frRes + 609, "Libellé et pourcentage"
  frRes + 610, "Libellé et valeur"
  frRes + 611, "Groupe des Top10"
  frRes + 612, "&Voir les cimes"
  frRes + 613, "&Libellé"
  frRes + 614, "valeurs"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Insérer des champs"
  frRes + 631, "&Sources disponibles"
  frRes + 632, "Arrangement"
  frRes + 633, "&Horizontal"
  frRes + 634, "&Vertical"
  frRes + 635, "&Inclure les entêtes"
  frRes + 636, "Inclure les &bandes"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Editeur de code barre"
  frRes + 651, "&Code"
  frRes + 652, "&Type de code barre"
  frRes + 653, "Options"
  frRes + 654, "Contrôle de &somme"
  frRes + 655, "&Code en clair"
  frRes + 656, "Insérer une expression"
  frRes + 657, "Insérer une variable"
  frRes + 658, "Rotation"
  frRes + 659, "&Zoom:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Editeur de propriétés"
  frRes + 671, "Exemple :"
  frRes + 672, "&Expression..."
  frRes + 673, "Champ &DB ..."
  frRes + 674, "Dégradé"
  frRes + 675, "Largeur de l'ombre"
  frRes + 676, "Couleur"
  frRes + 677, "Courbe"
  frRes + 678, "Zone encadrée"
  frRes + 679, "Couleur de fin"
  frRes + 680, "Couleur de début"
  frRes + 681, "Style"
  frRes + 682, "Verticale,Horizontale,Elliptique,Rectangle,Horiz._Centrer,Vert._Centrer"
  frRes + 683, "Cliquez ici pour définir la couleur"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Générateur d'expression"
  frRes + 701, "Expression"
  frRes + 702, "Insérer"
  frRes + 703, "Champ &DB..."
  frRes + 704, "&Variable..."
  frRes + 705, "&Fonction..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Fonctions disponibles"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Arguments de la fonction"
  frRes + 731, "Argument"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Object tag"
;--- CrossForm resources -------- Francisé par LFI 13/06/03 ------------------
  frRes + 750, "Vue tableau croisé"
  frRes + 751, "Données du tableau croisé"
  frRes + 752, "Sous-total"
  frRes + 753, "Fonction"
  frRes + 754, "Editeur de tableau croisé"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Supprimer cette page ?"
  SConfirm, "Confirmation"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Personalisé"
  SSystemVariables, "Variables système"
  SVar1, "Page#"
  SVar2, "Expression"
  SVar3, "Date"
  SVar4, "Time"
  SVar5, "Line#"
  SVar6, "Line through#"
  SVar7, "Column#"
  SVar8, "Current line#"
  SVar9, "TotalPages"
  SStretched, "Etiré"
  SVarFormat, "Format de variable..."
  SWordWrap, "Mots entier"
  SWordBreak, "Cesure de mots (russe seulement!)"
  SFormNewPage, "Forcer nouvelle page"
  SPrintIfSubsetEmpty, "Imprimer si le détail est vide"
  SBreaked, "Coupure auto"
  SPictureCenter, "Centrer l'image"
  SKeepAspectRatio, "Conserver l'aspect"
  SFormFile, "Etat FastReport"
  SForm3File, "Etat FastReport3"
  STemplFile, "Modèle FastReport"
  SDictFile, "Dictionnaire FastReport"
  SPictFile, "Fichier image"
  SBMPFile, "Fichier Bitmap"
  SAllFiles, "Tous les fichiers"
  SInsOLEObject, "Insérer un objet OLE"
  SInsRichObject, "Insérer un objet de texte formaté"
  SInsRich2Object, "Insérer un objet de texte formaté (RX)"
  SInsCheckBox, "Insérer un objet boite à cocher"
  SInsChart, "Insérer un objet Graph"
  SInsShape, "Insérer un objet forme"
  SInsBarcode, "Insérer un objet code barre"
  SInsRoundRect, "Insérer un objet Rectangle à angles arrondis avec ombre ou fond dégradé"
  SSubReportOnPage, "Insérer un sous-état"
  SPicture, "[Image]"
  STransparent, "Transparent"
  SOther, "Autre..."
  SOnFirstPage, "Sur la première page"
  SOnLastPage, "Sur la dernière page"
  SRepeatHeader, "Visible sur toutes les pages"
  SDesignReport, "Editeur d'état"
  SInsertFields, "Insérer un champ de données"
  SSaveChanges, "Enregistrer les changements"
  STo, "sur"
  SPixels, "Pixels"
  SMM, "MM"
  SInches, "Pouces"
  SVirtualDataset, "Source virtuelle"
  SAutoSize, "Taille auto"
  SFRVariables, "Variable FR"
  SClearContents, "Effacer le contenu"

  SAllCategories, "Toutes les fonctions"
  SAggregateCategory, "Ensemble" 
  SDateTimeCategory, "Date et heure"
  SStringCategory, "Chaînes"
  SOtherCategory, "Autre"
  SMathCategory, "Mathématique"
  SBoolCategory, "Logique"
  SIntrpCategory, "Interpréteur"

  SDescriptionAVG, "AVG(<Expression> [,BandName [,1]])/"
    "Calcule la moyenne de <Expression> pour les bandes [BandName]. "
    "Si le paramètre [1] est utilisé, le calcul se fait aussi pour les bandes non visibles aussi."

  SDescriptionCOUNT, "COUNT(<BandName>)/"
    "Retourne le nombre de données dans la bande <BandName>. "

  SDescriptionDAYOF, "DAYOF(<Date>)/"
    "Retourne le jour (1..31) de <Date>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DateTime>)/"
    "Convertit la valeur <DateTime> en une chaîne avec le format <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numeric>)/"
    "Convertit une valeur <Numeric> en une chaîne avec le format <Fmt>."

  SDescriptionINPUT, "INPUT(<Caption> [,Default])/"
    "Affiche une fenêtre de saisie avec le libellé <Caption>. "
    "Si le paramètre [Default] est indiqué, il permet d'initialiser la zone de saisie. "
    "Après que l'utilisateur ait cliqué sur OK, la fonction retourne la chaîne saisie."

  SDescriptionLENGTH, "LENGTH(<String>)/"
    "Retourne la longueur de la chaîne <String>."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "Convertit la chaîne <String> en minuscule."

  SDescriptionMAX, "MAX(<Expression> [,BandName [,1]])/"
    "Calcule la valeur maximum que prend <Expression> pour la bande [BandName]. "
    "Si le paramètre [1] est utilisé, le calcul se fait aussi pour les bandes non visibles aussi."

  SDescriptionMIN, "MIN(<Expression> [,BandName [,1]])/"
    "Calcule la valeur minimum que prend <Expression> pour la bande [BandName]. "
    "Si le paramètre [1] est utilisé, le calcul se fait aussi pour les bandes non visibles aussi."

  SDescriptionMONTHOF, "MONTHOF(<Date>)/"
    "Retourne le mois (1..12) de la date <Date>."

  SDescriptionNAMECASE, "NAMECASE(<String>)/"
    "Convertit la chaîne <String> en minuscule avec le premier caratère en majuscule."

  SDescriptionSTRTODATE, "STRTODATE(<String>)/"
    "Convertit la chaîne <String> en date."

  SDescriptionSTRTOTIME, "STRTOTIME(<String>)/"
    "Convertit la chaîne <String> en heure."

  SDescriptionSUM, "SUM(<Expression> [,BandName [,1]])/"
    "Calcule la somme des valeurs que prend <Expression> pour la bande [BandName]. "
    "Si le paramètre [1] est utilisé, le calcul se fait aussi pour les bandes non visibles aussi."

  SDescriptionTRIM, "TRIM(<String>)/"
    "Retourne <String> sans les espaces de début et fin"

  SDescriptionUPPERCASE, "UPPERCASE(<String>)/"
    "Convertit <String> en majuscules."

  SDescriptionYEAROF, "YEAROF(<Date>)/"
    "Retourne l'année de <Date>."

  SDescriptionIF, "IF(<Expression>, <Value1>, <Value2>)/"
    "Retourne <Value1>, si l'expression <Expression> est vrai; "
    "sinon retourne <Value2>. La valeur retournée n'est pas obligatoirement une chaîne."

  SDescriptionCOPY, "COPY(<String>, <From>, <Count>)/"
    "Retourne une portion de <String> de <Count> caratère depuis le caractère <From>."

  SDescriptionMOD, "<Value1> MOD <Value2>/"
    "Retourne le reste de la division de <Value1> by <Value2> (modulo)."

  SDescriptionSTR, "STR(<Value>)/"
    "Convertit le nombre <Valeur> en chaîne."

  SDescriptionNOT, "NOT <Value>/"
    "Logique 'NON'."

  SDescriptionAND, "<Value1> AND <Value2>/"
    "Logique 'ET'."

  SDescriptionOR, "<Value1> OR <Value2>/"
    "Logique 'OU'."

  SDescriptionROUND, "ROUND(<Value>)/"
    "Retourne un entier arrondi de la valeur <Value>."

  SDescriptionFRAC, "FRAC(<Value>)/"
    "Retourne la partie décimale de <Value>."

  SDescriptionINT, "INT(<Value>)/"
    "Retourne la partie entière de <Value>."

  SDescriptionTRUE, "TRUE/"
    "Logique 'VRAI'."

  SDescriptionFALSE, "FALSE/"
    "Logique 'FAUX'."

  SDescriptionPAGE, "PAGE#/"
    "Retourne le numéro de la page courante."

  SDescriptionDATE, "DATE/"
    "Retourne la date du jour."

  SDescriptionTIME, "TIME/"
    "Retourne l'heure courante."

  SDescriptionLINE, "LINE#/"
    "Retourne le numéro de la ligne de données (depuis le début d'un groupe)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Retourne le numéro de la ligne de données (depuis le début d'un état)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Retourne le numéro de la colonne."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Retourne le nombre total de page de l'état."

  SDescriptionMROK, "MROK/"
    "Constante de résultat Modal (Ok)."

  SDescriptionMRCancel, "MRCANCEL/"
    "Constante de résultat Modal (Annuler)."

  SDescriptionCurY, "CURY/"
    "Retourne la position 'Y' en pixel où la bande courante serra affichée. Vous pouvez aussi affecter une valeur à CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Retourne la place restante sur la page en pixels."

  SDescriptionFinalPass, "FINALPASS/"
    "Retourne True si la génération de l'état est dans sa dernière phase."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Retourne la hauteur de la page en pixels."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Retourne la largeur de la page en pixels."

  SDescriptionProgress, "PROGRESS/"
    "La valeur affectés serra affichée sur la fenêtre de progression."

  SDescriptionModalResult, "MODALRESULT/"
    "Affectez une valeur differente de zéro pour fermer une fenêtre modale avec un code ModalResult."

  SDescriptionStopReport, "STOPREPORT/"
    "Arrête la génération de l'état."

  SDescriptionNewPage, "NEWPAGE/"
    "Débute une nouvelle page."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Débute une nouvelle colonne."

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "Affiche la bande portant le nom <BandeName> ."

  SDescriptionINC, "INC(<Value>)/"
    "Incréments <Value>."

  SDescriptionDEC, "DEC(<Value>)/"
    "Décréments <Value>."
    
  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "Retourne le maximum des valeurs données."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "Retourne le minimum des valeurs données."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Retourne la position de la sous-chaîne dans la chaîne de caractère donnée."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "Affiche la boite de dialogue standard avec titre, texte et boutons."

  SDescriptionFORMATTEXT, "FORMATTEXT(<LeMasque>, <LaChaîne>)/"
    "Applique <LeMasque> à <LaChaîne> et retourne la chaîne formatée."


  SInformation, "Information"
  SExpressionOK, "L'expression est bonne !"
  STextOnly, "Texte seulement"
  SSuppressRepeated, "Suppression des valeurs répétitives"
  SDefaultBin, "Defaut"
  SDeleteObjects, "Ceci supprimera tous les objets de cette page."
  SWarning, "Attention"
  SHideZeros, "Cacher les valeurs à zéro"
  SPrintChild, "Imprimer les enfants si invisible"
  SUnderlines, "Soulignement"
  SOnePerPage, "Vous ne pouvez pas placer deux ou plus de %s objets sur une page."
  SInsertCrosstab, "Insérer un tableau croisé"
}
