#include "FR_Const.pas"

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Rechercher"
  frRes + 1, "Texte à &trouver"
  frRes + 2, "Options"
  frRes + 3, "&Sensibilité à la case"
  frRes + 4, "Page d'origine"
  frRes + 5, "&Première"
  frRes + 6, "&Courante"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "Largeur de &page"
  frRes + 21, "Page &entière"
  frRes + 22, "&Deux pages"
  frRes + 23, "Fermer la prévisualisation"
  frRes + 24, "Echelle"
  frRes + 25, "Ouvrir un état"
  frRes + 26, "Enregistrer un état"
  frRes + 27, "Imprimer un état"
  frRes + 28, "Rechercher"
  frRes + 29, "Editer la page"
  frRes + 30, "Ajouter une page"
  frRes + 31, "Supprimer la page"
  frRes + 32, "Voir l'aide"
;--- PrintForm resources ---------------------------------------------------
  frRes + 40, "Imprimer"
  frRes + 41, "Imprimante"
  frRes + 42, "Propriétés"
  frRes + 43, "Copies"
  frRes + 44, "Plusieurs pages"
  frRes + 45, "&Tout"
  frRes + 46, "Pa&ge en cours"
  frRes + 47, "&Pages:"
  frRes + 48, "Tapez les N de pages et/ou groupe séparés par des virgules. (1,3,5-12)"
  frRes + 49, "&Nom:"
  frRes + 50, "Nombre de &copies:"
  frRes + 51, "&Assemblées"
  frRes + 52, "&Imprimer"
  frRes + 53, "Pages paires et impaires"
  frRes + 54, "Pages impaires"
  frRes + 55, "Pages paires"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Option d'export format texte (TXT)"
  frRes + 1801, "&Détruire les lignes vides"
  frRes + 1802, "&Convertit pour le DOS"
  frRes + 1803, "Exporte les &encadrés"
  frRes + 1804, "&Utilise les caractères graphique du DOS"
  frRes + 1805, "Insère des &ruptures de page"
  frRes + 1806, "&Facteur d'échelle"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Option d'export format d'échange CSV"
  frRes + 1811, "Délimiteur de CSV"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Option d'export format texte enrichi (RTF)"
  frRes + 1821, "Exporte les &images"
  frRes + 1822, "Convertit les tableaux &table"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Option d'export format HTML"

;**** début francisation LFI 13/06/03 *****************************************
;--- EXCELExportForm resources
  frRes + 1840, "Fichier Excel OLE (*.xls)"
  frRes + 1841, "Objets: "
  frRes + 1842, " - Temps restant: "
  frRes + 1843, "Veuillez patienter..."
  frRes + 1844, "Exporter vers Excel"
  frRes + 1845, " Propriétés de la page "
  frRes + 1846, "Marge haut"
  frRes + 1847, "Marge gauche"
  frRes + 1848, "Réduire en X"
  frRes + 1849, "Réduire en Y"
  frRes + 1850, " Réglage de qualité "
  frRes + 1851, "Fusionné"
  frRes + 1852, "Aligner"
  frRes + 1853, "Couleur de remplissage"
  frRes + 1854, "Bords"
  frRes + 1855, "Retour à la ligne automatique"
  frRes + 1856, "Nom de la police"
  frRes + 1857, "Taille de la police"
  frRes + 1858, "Style de la police"
  frRes + 1859, "Couleur de la police"
  frRes + 1860, "Saut de page"
  frRes + 1861, "Amélioré"
  frRes + 1862, "Minimisé"
  frRes + 1863, "Images"
  frRes + 1864, "Ouvrir Excel après l'export"
  frRes + 1865, "Préparer à la position Y: "
  frRes + 1866, "Préparer à la position X: "
;--- RTFExportForm resources
  frRes + 1870, "Fichier mis en forme étendue (*.rtf)"
  frRes + 1871, "Exporter en RTF"
;--- IMGExportForm resources
  frRes + 1875, "Fichier BMP (*.bmp)"
  frRes + 1876, "Fichier TIFF (*.tif)"
  frRes + 1877, "Fichier JPEG (*.jpg)"
  frRes + 1878, "Exporter en image"
  frRes + 1879, "Réglages d'image"
  frRes + 1880, "Qualité (pour JPEG)"
  frRes + 1881, "Pages résultantes"
  frRes + 1882, "Monochrome"
;--- Advanced CROSS
  frRes + 2600, "Total général"
  frRes + 2601, "Total"      
  frRes + 2602, "Total de "   
  frRes + 2603, "Cellule"
  frRes + 2604, "Entête" 
  frRes + 2605, "Répéter légende"
  frRes + 2606, "Cadre interne"
  frRes + 2607, "Afficher l'entête"
;--- Functions in 2.50
  frRes + 2620, "Base de données"
  frRes + 2621, "FIELDISNULL(<NomDeChamp>)/Retourne 'vrai' si le champ contient null"
  frRes + 2622, "Information sur l'état"
  frRes + 2623, "REPORTCOMMENT/Retourne la commentaire sur l'état"
  frRes + 2624, "REPORTNAME/Retourne le nom de l'état"
  frRes + 2625, "REPORTAUTOR/Retourne l'auteur de l'état"
  frRes + 2626, "VMAJOR/Retourne la version majeure"
  frRes + 2627, "VMINOR/Retourne la version mineure"
  frRes + 2628, "VRELEASE/Retourne la version de publication"
  frRes + 2629, "VBUILD/Retourne la version de construction"
  frRes + 2630, "REPORTDATE/Retourne la date de création de l'état"
  frRes + 2631, "REPORTLASTCHANGE/Retourne la date de modification de l'état"
;--- Designer 2.50
  frRes + 2650, "Syntaxe surlignée"
  frRes + 2651, "Syntaxe surlignée permise"
  frRes + 2652, "Désactiver annuler"
  frRes + 2653, "Mot de passe"
  frRes + 2654, "Entrez le mot de passe pour ouvrir l'état"
  frRes + 2655, "Retapez le mot de passe pour valider"
  frRes + 2656, "Général"
  frRes + 2657, "Protégé par un mot de passe"
  frRes + 2658, "Document"
  frRes + 2659, "Attribut"
  frRes + 2660, "Nom"
  frRes + 2661, "Auteur"
  frRes + 2662, "Version"
  frRes + 2663, "Majeure"
  frRes + 2664, "Mineure"
  frRes + 2665, "Publication"
  frRes + 2666, "Construction"
  frRes + 2667, "Description"
  frRes + 2668, "Commentaire"
  frRes + 2669, "Modifié"
  frRes + 2670, "Créé"
;**** fin francisation LFI 13/06/03 *****************************************
;-- Additions in 2.52
;-- OLE Excel export
  frRes + 2700, "Styles"
;-- XML Excel export
  frRes + 2710, "Excel table (XML) file (*.xls)"
  frRes + 2711, "XML table file (*.xml)"
  frRes + 2712, "Export to XML"
  frRes + 2713, "Export to Excel (XML)"
  frRes + 2714, "Numbers"
;-- HTML Table export
  frRes + 2720, "HTML table file (*.html)"
  frRes + 2721, "Export to HTML"
  frRes + 2722, "Pictures"
  frRes + 2723, "All in one folder"
  frRes + 2724, "Open in default browser after export"
  frRes + 2725, "Fixed width"
  frRes + 2726, "Page navigator"
  frRes + 2727, "Multipage"
  frRes + 2728, "Mozilla frames"
  frRes + 2729, "Pages"
  frRes + 2730, "Advanced"
;-- Text advanced export
  frRes + 2740, "Text (dot-matrix printer) (*.prn)"
  frRes + 2741, "Export to text (dot-matrix printer)"
  frRes + 2742, "Preview on/off"
  frRes + 2743, "Printer init setup"
  frRes + 2744, " Export properties "
  frRes + 2745, "Page breaks"
  frRes + 2746, "OEM codepage"
  frRes + 2747, "Empty lines"
  frRes + 2748, "Lead spaces"
  frRes + 2749, " Scaling "
  frRes + 2750, "Width"
  frRes + 2751, "Height"
  frRes + 2752, " Frames "
  frRes + 2753, "None"
  frRes + 2754, "Simple"
  frRes + 2755, "Only with OEM codepage"
  frRes + 2756, "Graphic"
  frRes + 2757, "Print after export"
  frRes + 2758, "Save settings"
  frRes + 2759, " Preview "
  frRes + 2760, "Width:"
  frRes + 2761, "Height:"
  frRes + 2762, "Page"
  frRes + 2763, "Enlarge preview"
  frRes + 2764, "Reduce preview"
  frRes + 2765, "Printer init setup"
  frRes + 2766, "Printer type"
  frRes + 2767, "Load"
  frRes + 2768, "Save"
  frRes + 2769, "Printer init template (*.fpi)|*.fpi"

;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "Annuler"
  SYes, "Oui"
  SNo, "Non"
  SPg, "Page"
  SNotAssigned, "[Aucun]"
  SDefaultPrinter, "Imprimante virtuelle"
  SBand1, "Titre de l'état"
  SBand2, "Résumé de l'état"
  SBand3, "Entête de page"
  SBand4, "Pied de page"
  SBand5, "Entête maitre"
  SBand6, "Données maitre"
  SBand7, "Pied maitre"
  SBand8, "Entête de détail"
  SBand9, "Données de détail"
  SBand10, "Pied de détail"
  SBand11, "Entête de sous détail"
  SBand12, "Données de sous détail"
  SBand13, "Pied de sous détail"
  SBand14, "Couverture"
  SBand15, "Entête de colonne"
  SBand16, "Pied de colonne"
  SBand17, "Entête de groupe"
  SBand18, "Pied de groupe"
  SBand19, "Entête tableau croisé"
  SBand20, "Donnée tableau croisé"
  SBand21, "Pied tableau croisé"
  SBand22, "Enfant"
  SBand23, "Aucun"
  SCateg1, "Texte"
  SCateg2, "Nombre"
  SCateg3, "Date"
  SCateg4, "Heure"
  SCateg5, "Logique"
  SFormat11, "[Aucun]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Personnalisé"
  SFormat31, "11/15/98"
  SFormat32, "11/15/1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 novembre 1998"
  SFormat35, "Personnalisé"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Personnalisé"
  SFormat51, "0;1"
  SFormat52, "Oui;Non"
  SFormat53, "_;x"
  SFormat54, "False;True"
  SFormat55, "Personnalisé"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "sur"
  SErrorOccured, "Une erreur s'est produite durant la préparation"
  SDoc,  "Etat:"
  SObject, "Object:"
  SReportPreparing, "Préparation de l'état"
  SFirstPass, "Première passe en cours"
  SPagePreparing, "Préparation de la Page :"
  SError, "Erreur"
  SPreview, "Prévisualiser"
  SPagePrinting, "Impression de la page :"
  SUntitled, "Sans_nom"
  SPrinterError, "L'imprimante sélectionnée est non valide"
  SRepFile, "Fichier d'état"
  STextFile, "Fichier text ASCII"
  SRTFFile, "Fichier texte enrichie (RTF)"
  SCSVFile, "Fichier CSV"
  SHTMFile, "Fichier HTML"
  SFont, "Police..."
  SCharset, "1"
  SBarcodeError, "Erreur sur le code barre"
  SFRFError, "Format FRF non supporté"
  SUndefinedSymbol, "Symbole non défini"
}
