#include "FR_Const.pas"

; Object Inspector localization
; Just add desired property name after '=' sign, for instance:
; 58092, "Suppress=Suppress repeated values"
; and you'll see "Suppress repeated values" string in the Object Inspector
; instead of "Suppress".


STRINGTABLE
{
  frRes + 5001, "Active=Activo"
  frRes + 5002, "AliasName=Nombre de alias"
  frRes + 5003, "Alignment=Alineación"
  frRes + 5004, "AutoSize=Tamaño automático"
  frRes + 5005, "AutoWidth=Ancho automático"
  frRes + 5006, "BandAlign=Alineación en la banda"
  frRes + 5007, "Barcode=Código de barras"
  frRes + 5008, "BeginColor=Color inicial gradiente"
  frRes + 5009, "BlobType=Tipo de imagen"
  frRes + 5010, "BorderStyle=Estilo de borde"
  frRes + 5011, "BottomMargin=Margen inferior"
  frRes + 5012, "Breaked=Banda partida"
  frRes + 5013, "Caption=Título"
  frRes + 5014, "Center=Centrado"
  frRes + 5015, "CharSpacing=Espaciado de caracteres"
  frRes + 5016, "CheckColor=Color de marca"
  frRes + 5017, "Checked=Marcado"
  frRes + 5018, "CheckStyle=Estilo de marca"
  frRes + 5019, "ChildBand=Banda hija"
  frRes + 5020, "Color=Color"
  frRes + 5021, "ColumnGap=Espacio entre columnas"
  frRes + 5022, "Columns=Columnas"
  frRes + 5023, "ColumnWidth=Ancho de columna"
  frRes + 5024, "Connected=Conectado"
  frRes + 5025, "Condition=Condición"
  frRes + 5026, "DatabaseName=Nombre de base de datos"
  frRes + 5027, "DataField=Campo de datos"
  frRes + 5028, "DataSource=Origen de datos"
  frRes + 5029, "DisplayFormat=Formato de visualización"
  frRes + 5030, "DriverName=Nombre de controlador"
  frRes + 5031, "Enabled=Habilitado"
  frRes + 5032, "EndColor=Color final gradiente"
  frRes + 5033, "Fields=Campos"
  frRes + 5034, "FillColor=Color de relleno"
  frRes + 5035, "Filter=Filtro"
  frRes + 5036, "Font=Tipo de letra"
  frRes + 5037, "FormNewPage=Salto de página"
  frRes + 5038, "FrameColor=Color de marco"
  frRes + 5039, "FrameStyle=Estilo de marco"
  frRes + 5040, "FrameTyp=Tipo de marco"
  frRes + 5041, "FrameWidth=Grueso del marco"
  frRes + 5042, "GapX=Espacio X"
  frRes + 5043, "GapY=Espacio Y"
  frRes + 5044, "Gradient=Gradiente"
  frRes + 5045, "Height=Altura"
  frRes + 5046, "HideZeros=Ocultar ceros"
  frRes + 5047, "Highlight=Resaltado"
  frRes + 5048, "IndexName=Nombre de índice"
  frRes + 5049, "Items=Elementos"
  frRes + 5050, "KeepAspect=Conservar aspecto"
  frRes + 5051, "KeyField=Campo clave"
  frRes + 5052, "Left=Posición horizontal"
  frRes + 5053, "LeftMargin=Margen izquierdo"
  frRes + 5054, "Lines=Lineas"
  frRes + 5055, "LineSpacing=Espaciado de lineas"
  frRes + 5056, "ListField=Campos de lista"
  frRes + 5057, "ListSource=Origen de lista"
  frRes + 5058, "LoginPrompt=Cadena de conexión"
  frRes + 5059, "Master=Maestro"
  frRes + 5060, "MasterFields=Campos maestro"
  frRes + 5061, "MasterSource=Origen datos maestro"
  frRes + 5062, "Memo=Memo"
  frRes + 5063, "ModalResult=Resultado modal"
  frRes + 5064, "Name=Nombre"
  frRes + 5065, "OLE=OLE"
  frRes + 5066, "OnActivate=Cuando se active"
  frRes + 5067, "OnBeforePrint=Al imprimir"
  frRes + 5068, "OnClick=Al pulsar (click)"
  frRes + 5069, "OnFirstPage=En la primera página"
  frRes + 5070, "OnLastPage=En la última página"
  frRes + 5071, "Orientation=Orientación"
  frRes + 5072, "Params=Parámetros"
  frRes + 5073, "Picture=Imagen"
  frRes + 5074, "Position=Posición"
  frRes + 5075, "PrintChildIfInvisible=Imprimir hija si invisible"
  frRes + 5076, "PrintIfSubsetEmpty=Imprimir si datos en blanco"
  frRes + 5077, "PrintToPrevPage=Imprimir en página anterior"
  frRes + 5078, "ReadOnly=Solo lectura"
  frRes + 5079, "RepeatHeader=Repetir cabecera"
  frRes + 5080, "Restrictions=Restricciones"
  frRes + 5081, "RightMargin=Margen derecho"
  frRes + 5082, "RoundRect=Rectángulo redondeado"
  frRes + 5083, "RoundSize=Tamaño redondeado"
  frRes + 5084, "ShadowColor=Color de sombra"
  frRes + 5085, "ShadowWidth=Grueso de sombra"
  frRes + 5086, "Shape=Forma"
  frRes + 5087, "Size=Tamaño"
  frRes + 5088, "SQL=SQL"
  frRes + 5089, "Stretched=Ajustado"
  frRes + 5090, "StretchToPrintable=Ajustado a area imprimible"
  frRes + 5091, "Style=Estilo"
  frRes + 5092, "Suppress=Suprimido"
  frRes + 5093, "TableName=Nombre de tabla"
  frRes + 5094, "Tag=Tag"
  frRes + 5095, "Text=Texto"
  frRes + 5096, "TextOnly=Solo texto"
  frRes + 5097, "Top=Posición vertical"
  frRes + 5098, "TopMargin=Margen superior"
  frRes + 5099, "Type=Tipo"
  frRes + 5100, "Underlines=Subrayado"
  frRes + 5101, "Visible=Visible"
  frRes + 5102, "Width=Ancho"
  frRes + 5103, "WordBreak=Particionado de palabras"
  frRes + 5104, "WordWrap=Ajuste de palabras"
}
