#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Inspector de objetos"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Editor de texto"
  frRes + 61, "Insertar expresión"
  frRes + 62, "Insertar campo DB"
  frRes + 63, "Ajuste línea"
  frRes + 64, "Mostrar/Ocultar script"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Editor"
  frRes + 81, "Marco"
  frRes + 82, "Estándar"
  frRes + 83, "Texto"
  frRes + 84, "Objetos"
  frRes + 85, "Alineación"
  frRes + 86, "Datos"
  frRes + 87, "Nuevo informe"
  frRes + 88, "Abrir informe"
  frRes + 89, "Guardar informe"
  frRes + 90, "Vista previa"
  frRes + 91, "Cortar"
  frRes + 92, "Copiar"
  frRes + 93, "Pegar"
  frRes + 94, "Deshacer última acción"
  frRes + 95, "Rehacer acción cancelada"
  frRes + 96, "Traer al frente"
  frRes + 97, "Enviar atrás"
  frRes + 98, "Seleccionar todo"
  frRes + 99, "Añadir página"
  frRes + 100, "Eliminar página"
  frRes + 101, "Opciones de página"
  frRes + 102, "Rejilla"
  frRes + 103, "Alinear a rejilla"
  frRes + 104, "Ajustar a rejilla"
  frRes + 105, "Cerrar"
  frRes + 106, "Cerrar editor"
  frRes + 107, "Ajuste izquierda"
  frRes + 108, "Ajuste derecha"
  frRes + 109, "Centrado"
  frRes + 110, "Texto normal / 90º"
  frRes + 111, "Centrado vertical"
  frRes + 112, "Ajuste arriba"
  frRes + 113, "Ajuste abajo"
  frRes + 114, "Justificado"
  frRes + 115, "Negrita"
  frRes + 116, "Cursiva"
  frRes + 117, "Subrayado"
  frRes + 118, "Color de texto"
  frRes + 119, "Resaltar"
  frRes + 120, "Tamaño de letra"
  frRes + 121, "Tipo de letra"
  frRes + 122, "Línea superior de marco"
  frRes + 123, "Línea izquierda de marco"
  frRes + 124, "Línea inferior de marco"
  frRes + 125, "Línea derecha de marco"
  frRes + 126, "Todas las líneas del marco"
  frRes + 127, "Sin marco"
  frRes + 128, "Color de fondo"
  frRes + 129, "Color del marco"
  frRes + 130, "Grosor líneas"
  frRes + 131, "Grosor líneas"
  frRes + 132, "Seleccionar objeto"
  frRes + 133, "Insertar cuadro de texto"
  frRes + 134, "Insertar banda"
  frRes + 135, "Insertar imagen"
  frRes + 136, "Insertar subinforme"
  frRes + 137, "Dibujar líneas"
  frRes + 138, "Alinear al borde izquierdo"
  frRes + 139, "Centrado horizontal"
  frRes + 140, "Centrado horizontal en la ventana"
  frRes + 141, "Espaciado igualmente, horizontal"
  frRes + 142, "Alinear al borde derecho"
  frRes + 143, "Alinear al borde superior"
  frRes + 144, "Centrado verticalmente"
  frRes + 145, "Centrado verticalmente en la ventana"
  frRes + 146, "Espaciado igualmente, vertical"
  frRes + 147, "Alinear al borde inferior"
  frRes + 148, "Cor&tar"
  frRes + 149, "&Copiar"
  frRes + 150, "&Pegar"
  frRes + 151, "&Borrar"
  frRes + 152, "&Seleccionar todo"
  frRes + 153, "&Editar..."
  frRes + 154, "&Archivo"
  frRes + 155, "&Nuevo..."
  frRes + 156, "&Abrir..."
  frRes + 157, "&Guardar"
  frRes + 158, "&Diccionario de Datos..."
  frRes + 159, "Opciones del &informe..."
  frRes + 160, "Opciones de &página..."
  frRes + 161, "&Vista previa"
  frRes + 162, "&Salir"
  frRes + 163, "&Editar"
  frRes + 164, "&Deshacer"
  frRes + 165, "&Repetir"
  frRes + 166, "Cor&tar"
  frRes + 167, "&Copiar"
  frRes + 168, "&Pegar"
  frRes + 169, "&Borrar"
  frRes + 170, "&Seleccionar todo"
  frRes + 171, "&Editar..."
  frRes + 172, "&Añadir página"
  frRes + 173, "E&liminar página"
  frRes + 174, "Traer al &frente"
  frRes + 175, "Enviar &atrás"
  frRes + 176, "&Herramientas"
  frRes + 177, "&Barras de herramientas"
  frRes + 178, "&Herramientas de datos"
  frRes + 179, "&Opciones..."
  frRes + 180, "&Marco"
  frRes + 181, "&Estándar"
  frRes + 182, "&Texto"
  frRes + 183, "&Objetos"
  frRes + 184, "&Inspector de objetos"
  frRes + 185, "Paleta de &alineación"
  frRes + 186, "&Datos"
  frRes + 187, "&Acerca de..."
  frRes + 188, "Guardar &como..."
  frRes + 189, "&Contenido"
  frRes + 190, "Ayuda"
  frRes + 191, "Estilo de línea"
  frRes + 192, "Añadir diálogo"
  frRes + 193, "Añadir diálogo"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Restricciones del objeto"
  frRes + 261, "No Editar &memo"
  frRes + 262, "No Editar &cript"
  frRes + 263, "No Editar &contents"
  frRes + 264, "No mo&dificar"
  frRes + 265, "No cambiar &tamaño"
  frRes + 266, "No mo&ver"
  frRes + 267, "No &borrar"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Opciones"
  frRes + 281, "Editor"
  frRes + 282, "Rejilla"
  frRes + 283, "Generador de objetos"
  frRes + 284, "Unidades de medida"
  frRes + 285, "Tamaño de rejilla"
  frRes + 286, "&Mostrar rejilla"
  frRes + 287, "Alinear a &rejilla"
  frRes + 288, "&Botones en color"
  frRes + 289, "&4 pixels"
  frRes + 290, "&8 pixels"
  frRes + 291, "&18 pixels (5mm)"
  frRes + 293, "Mostrar contenido del objeto al mover o cambiar tamaño"
  frRes + 294, "&Pixels"
  frRes + 295, "&mm"
  frRes + 296, "&Pulgadas"
  frRes + 297, "Otros"
  frRes + 298, "&Editar al insertar"
  frRes + 299, "Mostrar títulos de bandas"
  frRes + 300, "Posición de página"
  frRes + 301, "Cent&rado"
  frRes + 302, "Izquierda"
  frRes + 303, "Derecha"
  frRes + 304, "Editor"
  frRes + 305, "Editor de texto"
  frRes + 306, "&Usar configuración de letra del objeto"
  frRes + 307, "Usar configuración &fija:"
  frRes + 308, "Fuente:"
  frRes + 309, "Tamaño:"
  frRes + 310, "Editor de script"
  frRes + 311, "Nombres de propiedades traducidos"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Nuevo informe"
  frRes + 319, "Descripción"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Nueva plantilla de informe"
  frRes + 321, "&Comentarios"
  frRes + 322, "Icono"
  frRes + 323, "&Archivo..."
;--- EvForm resources --------------------------------------------------------
  frRes + 340, "Diccionario de Datos"
  frRes + 341, "Variables"
  frRes + 342, "Alias de campos"
  frRes + 343, "DataSources de bandas"
  frRes + 344, "Va&riables"
  frRes + 345, "Va&lores"
  frRes + 346, "E&xpresión"
  frRes + 347, "Nueva categoría"
  frRes + 348, "Nueva variable"
  frRes + 349, "Editar"
  frRes + 350, "Borrar"
  frRes + 351, "Editar lista"
  frRes + 352, "DataSets y campos"
  frRes + 353, "Todos los DataSets"
  frRes + 354, "&Apariencia"
  frRes + 355, "A&lias"
  frRes + 356, "E&xcluir campo de la lista"
  frRes + 357, "DataSources"
  frRes + 358, "Todos los DataSources"
  frRes + 359, "&Guardar..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Lista de variables"
  frRes + 361, "&Categorías y variables"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Opciones del informe"
  frRes + 371, "Impresora"
  frRes + 372, "&Escoger en ejecución"
  frRes + 373, "Otros"
  frRes + 374, "&Doble pasada"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Opciones de página"
  frRes + 391, "Papel"
  frRes + 392, "Orientación"
  frRes + 393, "&Vertical"
  frRes + 394, "&Horizontal"
  frRes + 395, "Tamaño"
  frRes + 396, "&Ancho, mm"
  frRes + 397, "A&lto, mm"
  frRes + 398, "Márgenes"
  frRes + 399, "Márgenes del papel"
  frRes + 400, "&Izquierda, mm"
  frRes + 401, "&Superior, mm"
  frRes + 402, "&Derecha, mm"
  frRes + 403, "&Inferior, mm"
  frRes + 404, "&Fijar al área imprimible"
  frRes + 405, "Opciones"
  frRes + 406, "Opciones"
  frRes + 407, "&Imprimir en página anterior"
  frRes + 408, "Columnas"
  frRes + 409, "&Número"
  frRes + 410, "Sep. entre &columnas (mm)"
  frRes + 411, "Papel"
  frRes + 412, "Origen del papel"
  frRes + 413, "&Altura ilimitada"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Formato de variables"
  frRes + 421, "Formato"
  frRes + 422, "&Decimales"
  frRes + 423, "&Separador decimal"
  frRes + 424, "&Formato"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Variables"
  frRes + 441, "&Categoría:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Insertar campo DB"
  frRes + 451, "&Bases de datos disponibles"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Imagen"
  frRes + 461, "&Ajustar"
  frRes + 462, "&Cargar..."
  frRes + 463, "&Borrar"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Orígen de datos"
  frRes + 481, "&Orígen de datos"
  frRes + 482, "&Número de registros"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Orígen de datos"
  frRes + 486, "Bandas"
  frRes + 487, "Orígen de datos"
  frRes + 488, "&Número de registros"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Grupo"
  frRes + 491, "&Condición"
  frRes + 492, "Insertar campo DB"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Insertar nueva banda"
  frRes + 511, "Tipo de banda"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Resaltado condicional"
  frRes + 521, "&Condición"
  frRes + 522, "Tipo de letra"
  frRes + 523, "C&olor..."
  frRes + 524, "&Negrita"
  frRes + 525, "Curs&iva"
  frRes + 526, "&Subrayado"
  frRes + 527, "Fondo"
  frRes + 528, "Co&lor..."
  frRes + 529, "&Transparente"
  frRes + 530, "Ot&ro"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "Acerca de FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "Objeto OLE"
  frRes + 551, "&Insertar..."
  frRes + 552, "&Editar..."
  frRes + 553, "&Cerrar"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "Abrir..."
  frRes + 562, "Guardar..."
  frRes + 563, "Deshacer"
  frRes + 564, "Negrita"
  frRes + 565, "Cursiva"
  frRes + 566, "Ajuste izquierda"
  frRes + 567, "Centrado"
  frRes + 568, "Ajuste derecha"
  frRes + 569, "Subrayado"
  frRes + 570, "Lista"
  frRes + 571, "Fuente"
  frRes + 572, "Cancelar"
  frRes + 573, "Guardar y salir"
  frRes + 574, "Var"
  frRes + 575, "Insertar expresión"
  frRes + 576, "Tipo de letra"
  frRes + 577, "Tamaño de letra"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Objeto gráfico"
  frRes + 591, "Tipo"
  frRes + 592, "Datos"
  frRes + 593, "Tipo"
  frRes + 594, "Nombre del objeto"
  frRes + 595, "Opciones"
  frRes + 596, "&3D"
  frRes + 597, "&Serie simple"
  frRes + 598, "Mostrar &leyenda"
  frRes + 599, "Mostrar &ejes"
  frRes + 600, "Mostrar &rótulos"
  frRes + 601, "Multi-colo&r"
  frRes + 602, "&Leyenda"
  frRes + 603, "&Valores"
  frRes + 604, "Rótulos"
  frRes + 605, "Estilo"
  frRes + 606, "Valor"
  frRes + 607, "Porcentaje"
  frRes + 608, "Etiqueta"
  frRes + 609, "Etiqueta y porcentaje"
  frRes + 610, "Etiqueta y valor"
  frRes + 611, "Grupo Top10"
  frRes + 612, "&Mostrar los"
  frRes + 613, "&Etiqueta"
  frRes + 614, "más altos"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Insertar campos"
  frRes + 631, "&Bases de datos disponibles"
  frRes + 632, "Posicionamiento"
  frRes + 633, "&Horizontal"
  frRes + 634, "&Vertical"
  frRes + 635, "&Incluir cabeceras"
  frRes + 636, "Incluir &bandas"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Editor de BarCode"
  frRes + 651, "&Código"
  frRes + 652, "&Tipo de BarCode"
  frRes + 653, "Opciones"
  frRes + 654, "Verificación"
  frRes + 655, "&Legible"
  frRes + 656, "Insertar expresión"
  frRes + 657, "Insertar variable"
  frRes + 658, "Rotación"
  frRes + 659, "&Zoom:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Inspector de Objetos"
  frRes + 671, "Ejemplo :"
  frRes + 672, "&Expresión..."
  frRes + 673, "Campo &DB ..."
  frRes + 674, "&Gradiente"
  frRes + 675, "&Ancho sombreado"
  frRes + 676, "Color"
  frRes + 677, "&Curvatura"
  frRes + 678, "&Zona enmarcada"
  frRes + 679, "Color de Fondo"
  frRes + 680, "Color primer plano"
  frRes + 681, "E&stilo"
  frRes + 682, "Vertical,Horizontal,Elipse,Rectangulo,Horiz._Centrado,Vert._Centrado"
  frRes + 683, "Pinche aquí para definir el color de sombra y el color de gradiente"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Constructor de Expresiones"
  frRes + 701, "Expresión"
  frRes + 702, "Insertar"
  frRes + 703, "&Campo DB..."
  frRes + 704, "&Variable..."
  frRes + 705, "&Función..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Funciones disponibles"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Argumentos de funciones"
  frRes + 731, "Argumento"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Tag del objeto"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Vista del Cross-tab"
  frRes + 751, "Dataset del Cross-tab"
  frRes + 752, "Subtotales"
  frRes + 753, "Función"
  frRes + 754, "Editor Cross-tab"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "¿Eliminar esta página?"
  SConfirm, "Confirmar"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Personalizado"
  SSystemVariables, "Variables de Sistema"
  SVar1, "Página#"
  SVar2, "Expresión"
  SVar3, "Fecha"
  SVar4, "Hora"
  SVar5, "Línea#"
  SVar6, "Línea global#"
  SVar7, "Columna#"
  SVar8, "Línea actual#"
  SVar9, "Total páginas"
  SStretched, "Ajustado"
  SVarFormat, "Formato de variable..."
  SWordWrap, "Corte automático de palabras"
  SWordBreak, ""
  SFormNewPage, "Forzar nueva página"
  SPrintIfSubsetEmpty, "Imprimir si detalle está blanco"
  SBreaked, "Partido"
  SPictureCenter, "Centrar imagen"
  SKeepAspectRatio, "Mantener relación de aspecto"
  SFormFile, "Informe FastReport"
  SForm3File, "Informe FastReport3"
  STemplFile, "Plantilla FastReport"
  SDictFile, "Diccionario FastReport"
  SPictFile, "Fichero de imagen"
  SBMPFile, "Fichero de bitmap"
  SAllFiles, "Cualquier archivo"
  SInsOLEObject, "Insertar objeto OLE"
  SInsRichObject, "Insertar RichText"
  SInsRich2Object, "Insertar RX RichText"
  SInsCheckBox, "Insertar CheckBox"
  SInsChart, "Insertar gráfico"
  SInsShape, "Insertar dibujo"
  SInsBarcode, "Insertar barcode"
  SInsRoundRect, "Insertar rectángulo redondeado con sombra"
  SSubReportOnPage, "Subinforme en página"
  SPicture, "[Imagen]"
  STransparent, "Transparente"
  SOther, "Otros..."
  SOnFirstPage, "En la primera página"
  SOnLastPage, "En la última página"
  SRepeatHeader, "Mostrar en todas las páginas"
  SDesignReport, "Diseñar informe"
  SInsertFields, "Insertar campos DB"
  SSaveChanges, "¿Guardar cambios?"
  STo, "en"
  SPixels, "Pixels"
  SMM, "mm"
  SInches, "Pulgadas"
  SVirtualDataset, "Conjunto de datos virtual"
  SAutoSize, "Tamaño automático"
  SFRVariables, "Variables del FR"
  SClearContents, "Limpiar contenido"

  SAllCategories, "Todas las funciones"
  SAggregateCategory, "Agregar"
  SDateTimeCategory, "Fecha y Hora"
  SStringCategory, "Cadena"
  SOtherCategory, "Otros"
  SMathCategory, "Matemático"
  SBoolCategory, "Lógico"
  SIntrpCategory, "Intérprete"

  SDescriptionAVG, "AVG(<Expression> [,BandName [,1]])/"
    "Calcula la media de la <Expresion> para la columna [BandName] dada. "
    "Si se usa [1] parametro, calcula la media para las filas no visibles también."

  SDescriptionCOUNT, "COUNT(<BandName>)/"
    "Devuelve el número de filas con datos en la columna <BandName> dada. "

  SDescriptionDAYOF, "DAYOF(<Date>)/"
    "Devuelve el número del día (1..31) de la fecha dada <Date>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DateTime>)/"
    "Convierte un <DateTime> a un string usando la máscara <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numeric>)/"
    "Convierte un valor <Numeric> a un string usando una máscara <Fmt>."

  SDescriptionINPUT, "INPUT(<Caption> [,Default])/"
    "Muestra una ventana de diálogo con titulo <Caption> y un edit. "
    "Si el parámetro [Default] está fijado, pone esta cadena en el Edit. "
    "Después de pulsar OK, devuelve la cadena entrada."

  SDescriptionLENGTH, "LENGTH(<String>)/"
    "Devuelve el tamaño de <String>."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "Pasa la cadena <String> a minúsculas."

  SDescriptionMAX, "MAX(<Expression> [,BandName [,1]])/"
    "Calcula el máximo de <Expression> para la columna [BandName] dada. "
    "Si se usa el parámetro [1] , calcula también el máximo para las filas no visibles."

  SDescriptionMIN, "MIN(<Expression> [,BandName [,1]])/"
    "Calcula el mínimo de <Expression> para la columna [BandName] dada. "
    "Si se usa el parámetro [1], calcula también el mínimo de las filas no visibles."

  SDescriptionMONTHOF, "MONTHOF(<Date>)/"
    "Devuelve el número del mes (1..12) de una fecha <Date> dada."

  SDescriptionNAMECASE, "NAMECASE(<String>)/"
    "Pasa la cadena <String> a minúsculas, y la primera letra "
    "a mayúsculas ."

  SDescriptionSTRTODATE, "STRTODATE(<String>)/"
    "Convierte la cadena <String> a fecha."

  SDescriptionSTRTOTIME, "STRTOTIME(<String>)/"
    "Convierte la cadena <String> a hora."

  SDescriptionSUM, "SUM(<Expression> [,BandName [,1]])/"
    "Calcula la suma de <Expression> para la columna [BandName] dada. "
    "Si se usa el parámetro [1], calcula también la suma para las filas no visibles."

  SDescriptionTRIM, "TRIM(<String>)/"
    "Descarta todos los espacios por la izquierda en <String> y devuelve "
    "la cadena resultante."

  SDescriptionUPPERCASE, "UPPERCASE(<String>)/"
    "Pasa la cadena <String> a mayúsculas."

  SDescriptionYEAROF, "YEAROF(<Date>)/"
    "Devuelve el año de una fecha <Date> dada."

  SDescriptionIF, "IF(<Expression>, <Value1>, <Value2>)/"
    "Devuelve <Value1>, if la expresión <Expression> es verdadera; "
    "sino, devuelve <Value2>. El valor devuelto no tiene porqué ser un string."

  SDescriptionCOPY, "COPY(<String>, <From>, <Count>)/"
    "Devuelve una subcadena dentro de una cadena."

  SDescriptionMOD, "<Value1> MOD <Value2>/"
    "Devuelve el resto de dividir <Value1> entre <Value2>."

  SDescriptionSTR, "STR(<Value>)/"
    "Convierte el número dado en <Value> a una cadena."

  SDescriptionNOT, "NOT <Value>/"
    "Lógico 'NOT'."

  SDescriptionAND, "<Value1> AND <Value2>/"
    "Lógico 'AND'."

  SDescriptionOR, "<Value1> OR <Value2>/"
    "Lógico 'OR'."

  SDescriptionROUND, "ROUND(<Value>)/"
    "Devuelve <Value> redondeado."

  SDescriptionFRAC, "FRAC(<Value>)/"
    "Devuelve al parte decimal de <Value>."

  SDescriptionINT, "INT(<Value>)/"
    "Devuelve la parte entera de <Value>."

  SDescriptionTRUE, "TRUE/"
    "Lógico 'TRUE'."

  SDescriptionFALSE, "FALSE/"
    "Lógico 'FALSE'."

  SDescriptionPAGE, "PAGE#/"
    "Devuelve el número de página actual."

  SDescriptionDATE, "DATE/"
    "Devuelve la fecha actual."

  SDescriptionTIME, "TIME/"
    "Devuelve la hora actual."

  SDescriptionLINE, "LINE#/"
    "Devuelve el número de la fila de datos actual (comienzando al principio del grupo)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Devuelve el número de la fila de datos actual (empezando al principio del informe)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Devuelve el número de la columna actual."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Devuelve el número total de páginas en el informe."

  SDescriptionMROK, "MROK/"
    "Constante Modal Result OK."

  SDescriptionMRCancel, "MRCANCEL/"
    "Constante Modal Result CANCEL."

  SDescriptionCurY, "CURY/"
    "Devuelve la posición 'Y' (en pixels) donde la banda será"
    "mostrada. También le puedes asignar valor a CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Devuelve el espacio sobrante en la página (en pixels)."

  SDescriptionFinalPass, "FINALPASS/"
    "Devuelve True si el Report está en la última pasada."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Devuelve la altura de la página (en pixels)."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Devuelve el ancho de la página (en pixels)."

  SDescriptionProgress, "PROGRESS/"
    "El valor asignado a Progress será mostrado en la barra de progreso."

  SDescriptionModalResult, "MODALRESULT/"
    "Asignar un valor distinto de 0 a ModalResult, cerrará el diálogo."

  SDescriptionStopReport, "STOPREPORT/"
    "Detiene la generación del informe."

  SDescriptionNewPage, "NEWPAGE/"
    "Comienza una nueva página."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Comienza una nueva columna."

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "Muestra la banda con el nombre <BandName> dado."

  SDescriptionINC, "INC(<Value>)/"
    "Incrementa <Value>."

  SDescriptionDEC, "DEC(<Value>)/"
    "Decrementa <Value>."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "DEvuelve el máximo de los valores dados."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "Devuelve el mínimo de los valores dados."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Devuelve la posición de la subcadena en la cadena dada."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "Muestra la ventana estandar de dialogo con título, texto y botones."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "Aplica <Máscara> a la <Cadena> dado y devuelve una cadena formateada."


  SInformation, "Información"
  SExpressionOK, "¡Expresión correcta!"
  STextOnly, "Sólo Texto"
  SSuppressRepeated, "Eliminar valores repetidos"
  SDefaultBin, "Defecto"
  SDeleteObjects, "Esto borrará todos los objetos en esta página."
  SHideZeros, "Ocultar ceros"
  SPrintChild, "Imprimir hijas si es invisible"
  SUnderlines, "Subrayado"
  SOnePerPage, "No se pueden poner dos o más objetos %s en una página"
  SInsertCrosstab, "Insertar objeto tabla cruzada (Cross-tab)"
}
