#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Orígenes de datos del informe"
  frRes + 3001, "&Propiedades..."
  frRes + 3002, "Nueva &tabla..."
  frRes + 3003, "C&onsulta (SQL)..."
  frRes + 3004, "&Borrar"
  frRes + 3005, "&Cerrar"
  frRes + 3006, "Nueva &DB..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "General"
  frRes + 3021, "&Nombre"
  frRes + 3022, "&Campos"
  frRes + 3023, "&Editor de campos..."
  frRes + 3024, "Otros"
  frRes + 3025, "&Indice"
  frRes + 3026, "&Expresión de filtro"
  frRes + 3027, "Tabla &maestra"
  frRes + 3028, "Campos mae&stro"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "&Añadir campos..."
  frRes + 3041, "Añadir &lookup..."
  frRes + 3042, "Seleccionar &todo"
  frRes + 3043, "&Borrar"
  frRes + 3044, "&Salir"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Campos disponibles"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Nuevo campo lookup"
  frRes + 3071, "Campo"
  frRes + 3072, "&Nombre"
  frRes + 3073, "&Tipo"
  frRes + 3074, "T&amaño"
  frRes + 3075, "Definición lookup"
  frRes + 3076, "&Campo clave"
  frRes + 3077, "&Orígen de datos"
  frRes + 3078, "Clave &lookup"
  frRes + 3079, "Campo &resultado"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Propiedades de la consulta"
  frRes + 3091, "Otros"
  frRes + 3092, "Datos &maestros"
  frRes + 3093, "General"
  frRes + 3094, "&Nombre"
  frRes + 3095, "&Alias/ruta de acceso"
  frRes + 3096, "&SQL"
  frRes + 3097, "Editor de &campos ..."
  frRes + 3098, "Editor de &parámetros ..."
  frRes + 3099, "Leer SQL de archivo"
  frRes + 3100, "Guardar SQL en archivo"
  frRes + 3101, "Constructor SQL..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Parámetros"
  frRes + 3111, "Tipo de &dato"
  frRes + 3112, "&Nombre"
  frRes + 3113, "&Valor:"
  frRes + 3114, "¿&Solicitar valor antes de imprimir?"
  frRes + 3115, "Asignar valor desde origen de datos &maestro"
  frRes + 3116, "Va&riable:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "&Detalle"
  frRes + 3131, "&Maestra"
  frRes + 3132, "Campos &unión"
  frRes + 3133, "&Añadir"
  frRes + 3134, "&Borrar"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Parámetros"
  frRes + 3151, "4 puntos"
  frRes + 3152, "8 puntos"
  frRes + 3153, "Alinear a rejilla"
  frRes + 3154, "Cerrar"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Propiedades"
  frRes + 3171, "&Texto"
  frRes + 3172, "&Fuente..."
  frRes + 3173, "Lookup"
  frRes + 3174, "&Dataset"
  frRes + 3175, "&Campo clave"
  frRes + 3176, "&Lista de campos"
  frRes + 3177, "Clase"
  frRes + 3178, "&Edit"
  frRes + 3179, "&Combo"
  frRes + 3180, "Look&up"
  frRes + 3181, "Combo"
  frRes + 3182, "&Tamaño auto."
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Propiedades del DB"
  frRes + 3201, "General"
  frRes + 3202, "Parámetros"
  frRes + 3203, "&Nombre"
  frRes + 3204, "&Cadena de conexión (ADO)"  ; for ADO
  frRes + 3205, "&Nombre de archivo"          ; for IBX
  frRes + 3206, "Nombre de &Alias"         ; for BDE
  frRes + 3207, "Nombre del &Driver"
  frRes + 3208, "&Cadena de conexión"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Seleccionar tabla"
  frRes + 3221, "Seleccionar desde DB"
  frRes + 3222, "Seleccionar desde archivo"
  frRes + 3223, "&DB"
  frRes + 3224, "&Tabla"
  frRes + 3225, "&Examinar..."
;--- Strings resources -------------------------------------------------------
  SFields, "Campos"
  SPath, "Ruta"
  SRemoveDS, "¿Borrar este componente?"
  STables, "Tablas"
  SFieldType1, "String"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Boolean"
  SFieldType6, "Float"
  SFieldType7, "Currency"
  SFieldType8, "Date"
  SFieldType9, "Time"
  SFieldType10, "Blob"
  SParamType1, "BCD"
  SParamType2, "Boolean"
  SParamType3, "Currency"
  SParamType4, "Date"
  SParamType5, "DateTime"
  SParamType6, "Integer"
  SParamType7, "Float"
  SParamType8, "Smallint"
  SParamType9, "String"
  SParamType10, "Time"
  SParamType11, "Word"
  SDataManager, "Orígen de datos"
  SParams, "Parámetros"
  SQueryError, "Sentencia SQL o parámetros incorrectos"
  STableProps, "Propiedades de la tabla"
  SParamDialog, "Diálogo de parámetros"
  SInvalidParamValue, "Valor de parámetro no válido"
  SDatabase, "BDs"
  SFieldSizeError, "Tamaño de campo incorrecto"
}
