#include "FR_Const.pas"

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Object inspector"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Tekst bewerken"
  frRes + 61, "Formule invoeren"
  frRes + 62, "Databaseveld invoegen"
  frRes + 63, "Terugloop"
  frRes + 64, "Toon/verberg script"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Designer"
  frRes + 81, "Rechthoek"
  frRes + 82, "Standaard"
  frRes + 83, "Tekst"
  frRes + 84, "Objecten"
  frRes + 85, "Uitlijnen"
  frRes + 86, "Gereedschap"
  frRes + 87, "Nieuw rapport"
  frRes + 88, "Open rapport"
  frRes + 89, "Bewaar rapport"
  frRes + 90, "Afdrukvoorbeeld"
  frRes + 91, "Knip"
  frRes + 92, "Kopieer"
  frRes + 93, "Plak"
  frRes + 94, "Herstel bewerking"
  frRes + 95, "Herhaal bewerking"
  frRes + 96, "Naar voren"
  frRes + 97, "Naar achteren"
  frRes + 98, "Selecteer alles"
  frRes + 99, "Nieuwe pagina"
  frRes + 100, "Verwijder pagina"
  frRes + 101, "Pagina opties"
  frRes + 102, "Raster"
  frRes + 103, "Op raster zetten"
  frRes + 104, "Op raster aanpassen"
  frRes + 105, "Sluiten"
  frRes + 106, "Sluit designer"
  frRes + 107, "Links uitlijnen"
  frRes + 108, "Rechts uitlijnen"
  frRes + 109, "Centreren"
  frRes + 110, "Rechtop / 90 graden draaien"
  frRes + 111, "Verticaal centreren"
  frRes + 112, "Boven uitlijnen"
  frRes + 113, "Onder uitlijnen"
  frRes + 114, "Uitvullen"
  frRes + 115, "Vet"
  frRes + 116, "Cursief"
  frRes + 117, "Onderstreept"
  frRes + 118, "Tekstkleur"
  frRes + 119, "Tekstmarker"
  frRes + 120, "Lettergrootte"
  frRes + 121, "Lettertype"
  frRes + 122, "Bovenrand"
  frRes + 123, "Linkerrand"
  frRes + 124, "Onderrand"
  frRes + 125, "Rechterrand"
  frRes + 126, "Kader"
  frRes + 127, "Geen kader"
  frRes + 128, "Achtergrondkleur"
  frRes + 129, "Kaderkleur"
  frRes + 130, "Lijndikte kader"
  frRes + 131, "Kaderbreedte"
  frRes + 132, "Selecteer object"
  frRes + 133, "Rechthoek invoegen"
  frRes + 134, "Band invoegen"
  frRes + 135, "Afbeelding invoegen"
  frRes + 136, "Subrapport invoegen"
  frRes + 137, "Lijnen tekenen"
  frRes + 138, "Links uitlijnen"
  frRes + 139, "Horizontaal centreren"
  frRes + 140, "Horizontaal centreren in venster"
  frRes + 141, "Horizontaal verdelen"
  frRes + 142, "Rechts uitlijnen"
  frRes + 143, "Boven uitlijnen"
  frRes + 144, "Verticaal centreren"
  frRes + 145, "Verticaal centreren in venster"
  frRes + 146, "Verticaal verdelen"
  frRes + 147, "Onder uitlijnen"
  frRes + 148, "&Knip"
  frRes + 149, "&Copieer"
  frRes + 150, "&Plak"
  frRes + 151, "&Wis"
  frRes + 152, "Selecteer &alles"
  frRes + 153, "&Bewerk..."
  frRes + 154, "&Bestand"
  frRes + 155, "&Nieuw..."
  frRes + 156, "&Open..."
  frRes + 157, "Be&waar"
  frRes + 158, "&Gegevensbeheer..."
  frRes + 159, "&Rapport opties..."
  frRes + 160, "&Pagina opties..."
  frRes + 161, "Afdruk&voorbeeld"
  frRes + 162, "E&inde"
  frRes + 163, "&Bewerk"
  frRes + 164, "&Herstel"
  frRes + 165, "H&erhaal"
  frRes + 166, "&Knip"
  frRes + 167, "&Copieer"
  frRes + 168, "&Plak"
  frRes + 169, "&Wis"
  frRes + 170, "&Selecteer alles"
  frRes + 171, "&Wijzig..."
  frRes + 172, "&Nieuwe Pagina"
  frRes + 173, "Verwijder &Pagina"
  frRes + 174, "&Naar voren"
  frRes + 175, "Naar &achtergrond"
  frRes + 176, "&Gereedschap"
  frRes + 177, "Gereedschap&balk"
  frRes + 178, "&Gereedschap"
  frRes + 179, "&Opties..."
  frRes + 180, "&Rechthoek"
  frRes + 181, "&Standaard"
  frRes + 182, "&Tekst"
  frRes + 183, "&Objecten"
  frRes + 184, "Object &Inspector"
  frRes + 185, "&Uitlijn Palette"
  frRes + 186, "&Gereedschap"
  frRes + 187, "&Info..."
  frRes + 188, "Bewaar &als..."
  frRes + 189, "&Inhoudsopgave Help"
  frRes + 190, "&Help"
  frRes + 191, "Line stijl"
  frRes + 192, "Nieuw &dialoogvenster"
  frRes + 193, "Nieuw dialoogvenster"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Object restricties"
  frRes + 261, "&Tekst niet wijzigen"
  frRes + 262, "&Script niet wijzigen"
  frRes + 263, "&Inhoud niet wijzigen"
  frRes + 264, "&Niet wijzigbaar"
  frRes + 265, "Afmetingen niet wijzigbaar"
  frRes + 266, "Niet &Verplaatsbaar"
  frRes + 267, "Niet &Wisbaar"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Opties"
  frRes + 281, "Designer"
  frRes + 282, "Raster"
  frRes + 283, "Objecten tekenen"
  frRes + 284, "Maateenheden"
  frRes + 285, "Rastergrote"
  frRes + 286, "&Raster tonen"
  frRes + 287, "&Uitlijnen op Raster"
  frRes + 288, "Gekleurde knoppen"
  frRes + 289, "&4 pixels"
  frRes + 290, "&8 pixels"
  frRes + 291, "&18 pixels (5mm)"
  frRes + 293, "Object inhoud weergeven tijdens verplaatsen"
  frRes + 294, "&Pixels"
  frRes + 295, "&MM"
  frRes + 296, "&Inches"
  frRes + 297, "Anders"
  frRes + 298, "&Wijzigen na invoegen"
  frRes + 299, "&Titels tonen"
  frRes + 300, "Pagina positie"
  frRes + 301, "&Midden"
  frRes + 302, "&Links"
  frRes + 303, "&Rechts"
  frRes + 304, "Tekst wijzigen"
  frRes + 305, "Text invoer"
  frRes + 306, "&Gebruik tekstinstelling van object"
  frRes + 307, "Gebruik &vaste instellingen:"
  frRes + 308, "Lettertype:"
  frRes + 309, "Hoogte:"
  frRes + 310, "Script bewerker"
  frRes + 311, "Vertaalde intstellingen"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Nieuw rapport"
  frRes + 319, "Omschrijving"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Nieuw Rapport&Masker"
  frRes + 321, "&Opmerking"
  frRes + 322, "&Pictogram"
  frRes + 323, "&Bestand..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "Gegevensbeheer"
  frRes + 341, "Variabelen"
  frRes + 342, "Veld aliassen"
  frRes + 343, "Band databronnen"
  frRes + 344, "Va&riabelen"
  frRes + 345, "&Waarden"
  frRes + 346, "E&xpressie"
  frRes + 347, "Nieuwe categorie"
  frRes + 348, "Nieuwe variabele"
  frRes + 349, "Wijzig"
  frRes + 350, "Wis"
  frRes + 351, "Lijst aanpassen"
  frRes + 352, "Datasets en velden"
  frRes + 353, "Alle datasets"
  frRes + 354, "&Uitzien van"
  frRes + 355, "A&lias"
  frRes + 356, "U&itsluiten van lijst"
  frRes + 357, "Databronnen"
  frRes + 358, "Alle databronnen"
  frRes + 359, "&Bewaar..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Variabelenlijst"
  frRes + 361, "&Categorien en variabelen"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Rapport opties"
  frRes + 371, "Printer"
  frRes + 372, "&Selecteer bij laden rapport"
  frRes + 373, "Andere"
  frRes + 374, "&Rapport voorbereiden voor afdruk"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Pagina opties"
  frRes + 391, "Papier"
  frRes + 392, "Orientatie"
  frRes + 393, "&Portrait"
  frRes + 394, "&Landscape"
  frRes + 395, "Maat"
  frRes + 396, "&Breed, mm"
  frRes + 397, "&Hoog, mm"
  frRes + 398, "Kantlijnen"
  frRes + 399, "Pagina marges"
  frRes + 400, "&Links, mm"
  frRes + 401, "&Boven, mm"
  frRes + 402, "&Rechts, mm"
  frRes + 403, "&Onder, mm"
  frRes + 404, "&Aanpassen aan afdrukbaar gebied"
  frRes + 405, "Opties"
  frRes + 406, "Opties"
  frRes + 407, "&Op vorige pagina afdrukken"
  frRes + 408, "Kolommen"
  frRes + 409, "&Aantal"
  frRes + 410, "&Ruimte tussen kolommen, mm"
  frRes + 411, "Papierbron"
  frRes + 412, "Papierbron"
  frRes + 413, "&Oneindig hoog"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Variabele opmaak"
  frRes + 421, "Variabele opmaak"
  frRes + 422, "&Aantal decimalen"
  frRes + 423, "&Decimaal scheidingsteken"
  frRes + 424, "Eigen &Opmaak"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "Variabelen"
  frRes + 441, "&Categorie:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Database velden invoegen"
  frRes + 451, "&Tabellen:"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Afbeelding"
  frRes + 461, "&Rekken"
  frRes + 462, "&Laden..."
  frRes + 463, "&Wissen"
  frRes + 464, "&Memo"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "Datavoorziening Band"
  frRes + 481, "&Data bron"
  frRes + 482, "&Aantal regels"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "Datavoorziening Band"
  frRes + 486, "Aantal Bands"
  frRes + 487, "Databron"
  frRes + 488, "&Aantal Regels"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Groepeer"
  frRes + 491, "&Conditie"
  frRes + 492, "Insert Databaseveld"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Nieuwe Band"
  frRes + 511, "Band type"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "Tekst markeren"
  frRes + 521, "&Voorwaarde"
  frRes + 522, "Lettertype"
  frRes + 523, "&Kleur..."
  frRes + 524, "&Vet"
  frRes + 525, "&Cursief"
  frRes + 526, "&Onderstreept"
  frRes + 527, "Achtergrond"
  frRes + 528, "K&leur..."
  frRes + 529, "&Transparant"
  frRes + 530, "&Anders"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "FastReport Info"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE object"
  frRes + 551, "&Invoegen..."
  frRes + 552, "&Bewerken..."
  frRes + 553, "&Sluiten"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "Open..."
  frRes + 562, "Bewaar..."
  frRes + 563, "Herstel"
  frRes + 564, "Vet"
  frRes + 565, "Cursief"
  frRes + 566, "Links uitlijnen"
  frRes + 567, "Centreren"
  frRes + 568, "Rechts uitlijnen"
  frRes + 569, "Onderstrepen"
  frRes + 570, "Lijst"
  frRes + 571, "Lettertype"
  frRes + 572, "Annuleer"
  frRes + 573, "Bewaar en Einde"
  frRes + 574, "Var"
  frRes + 575, "Expressie invoeren"
  frRes + 576, "Lettertype"
  frRes + 577, "Hoogte"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Grafiek"
  frRes + 591, "Type"
  frRes + 592, "Gegevens"
  frRes + 593, "Type"
  frRes + 594, "Object naam"
  frRes + 595, "Opties"
  frRes + 596, "&3D"
  frRes + 597, "&Enkel"
  frRes + 598, "&Legenda"
  frRes + 599, "&Assen"
  frRes + 600, "&Markering"
  frRes + 601, "Multi-&Kleur"
  frRes + 602, "Voor &legenda"
  frRes + 603, "Voor&waarden"
  frRes + 604, "Bijschrift"
  frRes + 605, "Stijl"
  frRes + 606, "Waarde"
  frRes + 607, "Percentage"
  frRes + 608, "Tekst"
  frRes + 609, "Tekst en Percentage"
  frRes + 610, "Tekst and Waarde"
  frRes + 611, "Top10 groep"
  frRes + 612, "&Show hoogste"
  frRes + 613, "&Tekst"
  frRes + 614, "&Waarden"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Tabelvelden invoegen"
  frRes + 631, "&Beschikbare datasets"
  frRes + 632, "Plaatsing"
  frRes + 633, "&Horizontaal"
  frRes + 634, "&Verticaal"
  frRes + 635, "&Met bijschrift"
  frRes + 636, "Met &bands"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Barcode Bewerken"
  frRes + 651, "&Code"
  frRes + 652, "&Type barcode"
  frRes + 653, "Optiess"
  frRes + 654, "Controlegetal"
  frRes + 655, "&Leesbaar"
  frRes + 656, "Expression"
  frRes + 657, "Variabele"
  frRes + 658, "Draaien"
  frRes + 659, "&Vergroting:"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Property editor"
  frRes + 671, "Voorbeeld :"
  frRes + 672, "&Expressie..."
  frRes + 673, "&Dataveld..."
  frRes + 674, "&Verloopkleur"
  frRes + 675, "&Shaduw breedte"
  frRes + 676, "Kleur"
  frRes + 677, "&Kromme"
  frRes + 678, "&Omlijnd gebied"
  frRes + 679, "Eindkleur"
  frRes + 680, "Beginkleur"
  frRes + 681, "&Stijl"
  frRes + 682, "Verticall,Horizontaal,Ellips,Rechthoek,Horiz._Centreren,Vert._Centreren"
  frRes + 683, "Klik hier om schaduw en verloopkleuren aan te geven"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Expressie opbouwen"
  frRes + 701, "Expressie"
  frRes + 702, "Invoegen"
  frRes + 703, "&Dataveld..."
  frRes + 704, "&Variabele..."
  frRes + 705, "&Functien..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "Beschikbare functies"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Functie argumenten"
  frRes + 731, "Argument"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Object tag"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Cross-tab view"
  frRes + 751, "Cross-tab dataset"
  frRes + 752, "Subtotals"
  frRes + 753, "Function"
  frRes + 754, "Cross-tab editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Pagina verwijderen?"
  SConfirm, "Bevestigen"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelop, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelop, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelop, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelop, 4 3/4 x 11"""
  SPaper23, "#14 Envelop, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelop, 110 x 220 mm"
  SPaper28, "C5 Envelop, 162 x 229 mm"
  SPaper29, "C3 Envelop,  324 x 458 mm"
  SPaper30, "C4 Envelop,  229 x 324 mm"
  SPaper31, "C6 Envelop,  114 x 162 mm"
  SPaper32, "C65 Envelop, 114 x 229 mm"
  SPaper33, "B4 Envelop,  250 x 353 mm"
  SPaper34, "B5 Envelop,  176 x 250 mm"
  SPaper35, "B6 Envelop,  176 x 125 mm"
  SPaper36, "Italy Envelop, 110 x 230 mm"
  SPaper37, "Monarch Envelop, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelop, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelop Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "Eigen"
  SSystemVariables, "Systeem variabelen"
  SVar1, "Pagina#"
  SVar2, "Expressie"
  SVar3, "Datum"
  SVar4, "Tijd"
  SVar5, "Regel#"
  SVar6, "Regel tot#"
  SVar7, "Kolom#"
  SVar8, "Huidige regel#"
  SVar9, "Totaal Pagina's"
  SStretched, "Gerekt"
  SVarFormat, "Variabele opmaak..."
  SWordWrap, "Tekstomloop"
  SWordBreak, "Afbreken"
  SFormNewPage, "Forceer nieuwe pagina"
  SPrintIfSubsetEmpty, "Print als datadeel leeg"
  SBreaked, "Opgedeeld"
  SPictureCenter, "Centeer afbeelding"
  SKeepAspectRatio, "Verhoudingen houden"
  SFormFile, "FastReport rapport"
  SForm3File, "FastReport3 rapport"
  STemplFile, "FastReport masker"
  SDictFile, "FastReport datavoorziening"
  SPictFile, "Afbeeldingsbestand"
  SBMPFile, "Bitmap"
  SAllFiles, "Alle bestanden"
  SInsOLEObject, "OLE object invoegen"
  SInsRichObject, "RichText object invoegen"
  SInsRich2Object, "RX RichText object invoegen"
  SInsCheckBox, "Aanvinkobject invoegen"
  SInsChart, "Grafiek invoegen"
  SInsShape, "Vormobject invoegen"
  SInsBarcode, "Barcode object invoegen"
  SInsRoundRect, "Rechthoek met ronde hoeken en schaduw"
  SSubReportOnPage, "SubRapport op pagina"
  SPicture, "[Afbeelding]"
  STransparent, "Transparant"
  SOther, "Anders..."
  SOnFirstPage, "Op eerste pagina"
  SOnLastPage, "Op laatste pagina"
  SRepeatHeader, "Op alle pagina's"
  SDesignReport, "Ontwerp rapport"
  SInsertFields, "Voeg database velden in"
  SSaveChanges, "Wijzigingen bewaren"
  STo, "in"
  SPixels, "Pixels"
  SMM, "MM"
  SInches, "Inches"
  SVirtualDataset, "Virtuele Dataset"
  SAutoSize, "Automatisch aanpassen"
  SFRVariables, "FR variabelen"
  SClearContents, "Inhoud wissen"
  SAllCategories, "Alle functies"
  SAggregateCategory, "Rekenkundig"
  SDateTimeCategory, "Datum en tijd"
  SStringCategory, "Tekstueel"
  SOtherCategory, "Andere"
  SMathCategory, "Wiskundig"
  SBoolCategory, "Logisch"
  SIntrpCategory, "Interpreter"

  SDescriptionAVG, "AVG(<Expression> [,BandName [,1]])/"
    "Calculates the average of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates average for non-visible rows too."

  SDescriptionCOUNT, "COUNT(<BandName>)/"
    "Returns count of data-rows given in the <BandName>. "

  SDescriptionDAYOF, "DAYOF(<Date>)/"
    "Returns day number (1..31) of given <Date>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DateTime>)/"
    "Converts a <DateTime> value to a string using mask in <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numeric>)/"
    "Converts a <Numeric> value to a string using mask in <Fmt>."

  SDescriptionINPUT, "INPUT(<Caption> [,Default])/"
    "Shows dialog window with headstring <Caption> and edit box. "
    "If [Default] parameter is set, puts this string in edit box. "
    "After user clicks OK, returns input string."

  SDescriptionLENGTH, "LENGTH(<String>)/"
    "Returns length of <String>."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "Converts <String> symbols to lower case."

  SDescriptionMAX, "MAX(<Expression> [,BandName [,1]])/"
    "Calculates the maximum of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates maximum for non-visible rows too."

  SDescriptionMIN, "MIN(<Expression> [,BandName [,1]])/"
    "Calculates the minimum of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates minimum for non-visible rows too."

  SDescriptionMONTHOF, "MONTHOF(<Date>)/"
    "Returns month number (1..12) of given <Date>."

  SDescriptionNAMECASE, "NAMECASE(<String>)/"
    "Converts <String> symbols to lower case, and first symbol "
    "is in upper case."

  SDescriptionSTRTODATE, "STRTODATE(<String>)/"
    "Converts <String> to date."

  SDescriptionSTRTOTIME, "STRTOTIME(<String>)/"
    "Converts <String> to time."

  SDescriptionSUM, "SUM(<Expression> [,BandName [,1]])/"
    "Calculates the sum of <Expression> for [BandName] row given. "
    "If [1] parameter is used, calculates sum for non-visible rows too."

  SDescriptionTRIM, "TRIM(<String>)/"
    "Trims all heading and trailing spaces in <String> and returns "
    "resulting string."

  SDescriptionUPPERCASE, "UPPERCASE(<String>)/"
    "Converts <String> symbols to upper case."

  SDescriptionYEAROF, "YEAROF(<Date>)/"
    "Returns year of given <Date>."

  SDescriptionIF, "IF(<Expression>, <Value1>, <Value2>)/"
    "Returns <Value1>, if expression <Expression> is True; "
    "otherwise returns <Value2>. Return value can be not only string."

  SDescriptionCOPY, "COPY(<String>, <From>, <Count>)/"
    "Returns a substring of string."

  SDescriptionMOD, "<Value1> MOD <Value2>/"
    "Returns remainder from dividing <Value1> by <Value2>."

  SDescriptionSTR, "STR(<Value>)/"
    "Converts number given in <Value> to a string."

  SDescriptionNOT, "NOT <Value>/"
    "Logical 'NOT'."

  SDescriptionAND, "<Value1> AND <Value2>/"
    "Logical 'AND'."

  SDescriptionOR, "<Value1> OR <Value2>/"
    "Logical 'OR'."

  SDescriptionROUND, "ROUND(<Value>)/"
    "Returns rounded <Value>."

  SDescriptionFRAC, "FRAC(<Value>)/"
    "Returns fractional part of <Value>."

  SDescriptionINT, "INT(<Value>)/"
    "Returns integer part of <Value>."

  SDescriptionTRUE, "TRUE/"
    "Logical 'TRUE'."

  SDescriptionFALSE, "FALSE/"
    "Logical 'FALSE'."

  SDescriptionPAGE, "PAGE#/"
    "Returns current page number."

  SDescriptionDATE, "DATE/"
    "Returns current date."

  SDescriptionTIME, "TIME/"
    "Returns current time."

  SDescriptionLINE, "LINE#/"
    "Returns current data-row number (starting at group beginning)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Returns current data-row number (starting at report beginning)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Returns current column number."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Returns number of total pages in the report."

  SDescriptionMROK, "MROK/"
    "Modal result constant."

  SDescriptionMRCancel, "MRCANCEL/"
    "Modal result constant."

  SDescriptionCurY, "CURY/"
    "Returns 'Y' position (in pixels) where current band will "
    "be shown. You can also assign value to CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Returns remain space on the page in pixels."

  SDescriptionFinalPass, "FINALPASS/"
    "Returns True if report engine performs final pass."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Returns height of the page in pixels."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Returns width of the page in pixels."

  SDescriptionProgress, "PROGRESS/"
    "Value assigned to Progress will be showed in Progress window."

  SDescriptionModalResult, "MODALRESULT/"
    "Assigning non-zero value to ModalResult will close dialog form."

  SDescriptionStopReport, "STOPREPORT/"
    "Stops report building."

  SDescriptionNewPage, "NEWPAGE/"
    "Starts new page."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "Starts new column."

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "Shows band with name <BandName> given."

  SDescriptionINC, "INC(<Value>)/"
    "Increments <Value>."

  SDescriptionDEC, "DEC(<Value>)/"
    "Decrements <Value>."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "Returns max of given values."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "Returns min of given values."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Returns position of substring in given string."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "Shows standard dialog window with title, text and buttons."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "Applies <Mask> to given <String> and returns formatted string."


  SInformation, "Informatie"
  SExpressionOK, "Expressie is OK!"
  STextOnly, "Alleen tekst!"
  SSuppressRepeated, "Onderdruk bij vaker voorkomen"
  SDefaultBin, "Standaard"
  SDeleteObjects, "Hierdoor wordt alles op deze pagina gewist."
  SWarning, "Waarschuwing"
  SHideZeros, "Verberg nullen"
  SPrintChild, "Onderliggende afdrukken indien onzichtbaar"
  SUnderlines, "Onderstrepen"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "Insert Cross-tab object"
}
