
; Object Inspector localization
; Just add desired property name after '=' sign, for instance:
; 58092, "Suppress=Suppress repeated values"
; and you'll see "Suppress repeated values" string in the Object Inspector
; instead of "Suppress".


#include "FR_Const.pas"

STRINGTABLE
{
  frRes + 5001, "Active=Actief"
  frRes + 5002, "AliasName=Aliasnaam"
  frRes + 5003, "Alignment=Uitlijning"
  frRes + 5004, "AutoSize=Auto Formaat"
  frRes + 5005, "AutoWidth=Auto Breedte"
  frRes + 5006, "BandAlign=Uitlijnen op Band"
  frRes + 5007, "Barcode="
  frRes + 5008, "BeginColor=Startkleur"
  frRes + 5009, "BlobType="
  frRes + 5010, "BorderStyle=Kadertype"
  frRes + 5011, "BottomMargin=Ondermarge"
  frRes + 5012, "Breaked=Opgedeeld"
  frRes + 5013, "Caption=Tekst"
  frRes + 5014, "Center=Gecentreerd"
  frRes + 5015, "CharSpacing=Ruimte tussen karakters"
  frRes + 5016, "CheckColor=Selectiekleur"
  frRes + 5017, "Checked=Aangevinkt"
  frRes + 5018, "CheckStyle=Selectiestijl"
  frRes + 5019, "ChildBand=Band nivo lager"
  frRes + 5020, "Color=Kleur"
  frRes + 5021, "ColumnGap=Kolomafstand"
  frRes + 5022, "Columns=Aantal kolommen"
  frRes + 5023, "ColumnWidth=Kolombreedte"
  frRes + 5024, "Connected=Verbonden"
  frRes + 5025, "Condition=Conditie"
  frRes + 5026, "DatabaseName=Databasenaam"
  frRes + 5027, "DataField=Dataveld"
  frRes + 5028, "DataSource=Databron"
  frRes + 5029, "DisplayFormat=Weergave opmaak"
  frRes + 5030, "DriverName=Stuurprogramma"
  frRes + 5031, "Enabled=Component Actief"
  frRes + 5032, "EndColor=Eindkleur"
  frRes + 5033, "Fields=Velden"
  frRes + 5034, "FillColor=Vulkleur"
  frRes + 5035, "Filter="
  frRes + 5036, "Font=Lettertype"
  frRes + 5037, "FormNewPage=Op nieuwe pagina"
  frRes + 5038, "FrameColor=Kaderkleur"
  frRes + 5039, "FrameStyle=Kaderstijl"
  frRes + 5040, "FrameTyp=Kadertype"
  frRes + 5041, "FrameWidth=Kaderbreedte"
  frRes + 5042, "GapX=Afstand horizontaal"
  frRes + 5043, "GapY=Afstand verticaal"
  frRes + 5044, "Gradient=Kleurverloop"
  frRes + 5045, "Height=Hoogte"
  frRes + 5046, "HideZeros=Nullen verbergen"
  frRes + 5047, "Highlight=Markeren"
  frRes + 5048, "IndexName=Indexnaam"
  frRes + 5049, "Items="
  frRes + 5050, "KeepAspect=Verhoudingen behouden"
  frRes + 5051, "KeyField=Sleutelveld"
  frRes + 5052, "Left=Links"
  frRes + 5053, "LeftMargin=Linker marge"
  frRes + 5054, "Lines=Regels"
  frRes + 5055, "LineSpacing=Regelafstand"
  frRes + 5056, "ListField=Veld voor lijst"
  frRes + 5057, "ListSource=Tabel voor lijsten"
  frRes + 5058, "LoginPrompt=Loginscherm"
  frRes + 5059, "Master="
  frRes + 5060, "MasterFields=Mastervelden"
  frRes + 5061, "MasterSource=Master tabel"
  frRes + 5062, "Memo="
  frRes + 5063, "ModalResult="
  frRes + 5064, "Name=Naam"
  frRes + 5065, "OLE="
  frRes + 5066, "OnActivate=Activeeractie"
  frRes + 5067, "OnBeforePrint=Actie voor printen"
  frRes + 5068, "OnClick=Actie bij klikken"
  frRes + 5069, "OnFirstPage=Actie bij eerste pagina"
  frRes + 5070, "OnLastPage=Actie bij laatste pagina"
  frRes + 5071, "Orientation=Papierstand"
  frRes + 5072, "Params=Parameters"
  frRes + 5073, "Picture=Afbeelding"
  frRes + 5074, "Position=Positie"
  frRes + 5075, "PrintChildIfInvisible=Print SubBand indien niet zichtbaar"
  frRes + 5076, "PrintIfSubsetEmpty=Print als datadeel leeg"
  frRes + 5077, "PrintToPrevPage=Print op vorige pagina"
  frRes + 5078, "ReadOnly=Alleen lezen"
  frRes + 5079, "RepeatHeader=Koptekst herhalen"
  frRes + 5080, "Restrictions=Restricties"
  frRes + 5081, "RightMargin=Rechtermarge"
  frRes + 5082, "RoundRect=Rechthoek met ronde hoeken"
  frRes + 5083, "RoundSize=Afmeting ronde hoeken"
  frRes + 5084, "ShadowColor=Schaduwkleur"
  frRes + 5085, "ShadowWidth=Schaduwbreedte"
  frRes + 5086, "Shape=Vorm"
  frRes + 5087, "Size=Afmetingen"
  frRes + 5088, "SQL="
  frRes + 5089, "Stretched=Rekken"
  frRes + 5090, "StretchToPrintable=Aanpassen op printerformaat"
  frRes + 5091, "Style=Stijl"
  frRes + 5092, "Suppress=Onderdruk"
  frRes + 5093, "TableName=Tabelnaam"
  frRes + 5094, "Tag="
  frRes + 5095, "Text=Tekst"
  frRes + 5096, "TextOnly=Alleen tekst"
  frRes + 5097, "Top=Boven"
  frRes + 5098, "TopMargin=Bovenmarge"
  frRes + 5099, "Type="
  frRes + 5100, "Underlines=Onderstreept"
  frRes + 5101, "Visible=Zichtbaar"
  frRes + 5102, "Width=Breedte"
  frRes + 5103, "WordBreak=Afbreken"
  frRes + 5104, "WordWrap=Terugloop"
}
