#include "FR_Const.pas"

STRINGTABLE
{
;--- DatasetsForm resources --------------------------------------------------
  frRes + 3000, "Rapport datasets"
  frRes + 3001, "&Eigenschappen..."
  frRes + 3002, "Niewe &tabel..."
  frRes + 3003, "Niewe &query..."
  frRes + 3004, "&Verwijder"
  frRes + 3005, "&Sluiten"
  frRes + 3006, "Nieuwe &database..."
;--- TablePropForm resources -------------------------------------------------
  frRes + 3020, "Algemeen"
  frRes + 3021, "&Naam"
  frRes + 3022, "&Velden"
  frRes + 3023, "&Velden aanpassen..."
  frRes + 3024, "Overig"
  frRes + 3025, "&Index"
  frRes + 3026, "Filter &expressie"
  frRes + 3027, "&Hoofdtabel"
  frRes + 3028, "&Velden in Hoofdtabel"
;--- FieldsEditorForm resources ----------------------------------------------
  frRes + 3040, "&Velden toevoegen..."
  frRes + 3041, "&Ophalen..."
  frRes + 3042, "&Selecteer alle"
  frRes + 3043, "&Wis"
  frRes + 3044, "&Sluiten"
;--- FieldsListForm resources ------------------------------------------------
  frRes + 3060, "Beschikbare velden"
;--- LookupFieldForm resources -----------------------------------------------
  frRes + 3070, "Nieuw Opzoekveld"
  frRes + 3071, "Veld"
  frRes + 3072, "&Naam"
  frRes + 3073, "&Type"
  frRes + 3074, "&Lengte"
  frRes + 3075, "Opzoekdefinitie"
  frRes + 3076, "&Sleutelveld"
  frRes + 3077, "&Dataset"
  frRes + 3078, "&Sleutelveld"
  frRes + 3079, "&Resultaatveld"
;--- QueryPropForm resources -------------------------------------------------
  frRes + 3090, "Query eigenschappen"
  frRes + 3091, "Overige"
  frRes + 3092, "&Hoofdtabel"
  frRes + 3093, "Algemeen"
  frRes + 3094, "&Naam"
  frRes + 3095, "&Alias of map"
  frRes + 3096, "&SQL"
  frRes + 3097, "&Fields..."
  frRes + 3098, "&Parameters..."
  frRes + 3099, "SQL uit bestand"
  frRes + 3100, "SQL opslaan"
  frRes + 3101, "SQL samenstellen..."
;--- ParamsForm resources ----------------------------------------------------
  frRes + 3110, "Parameters"
  frRes + 3111, "&Data type"
  frRes + 3112, "&Naam"
  frRes + 3113, "&Waarde:"
  frRes + 3114, "&Waarde vragen voor afdrukken"
  frRes + 3115, "Waarde toekennen uit &hoofd dataset"
  frRes + 3116, "Va&riabele:"
;--- FieldsLinkForm resources ------------------------------------------------
  frRes + 3130, "&Detail velden"
  frRes + 3131, "&Hoofd velden"
  frRes + 3132, "&Gezamelijke velden"
  frRes + 3133, "&Toevoegen"
  frRes + 3134, "&Leegmaken"
;--- ParamsDialogForm resources ----------------------------------------------
  frRes + 3150, "Parameters"
  frRes + 3151, "4 points"
  frRes + 3152, "8 points"
  frRes + 3153, "Uitlijnen op Raster"
  frRes + 3154, "Sluiten"
;--- PropForm resources ------------------------------------------------------
  frRes + 3170, "Eigenschappen"
  frRes + 3171, "&Tekst"
  frRes + 3172, "&Lettertype..."
  frRes + 3173, "Opzoeken"
  frRes + 3174, "&Dataset"
  frRes + 3175, "&Sleutelveld"
  frRes + 3176, "&Weegegeven veld"
  frRes + 3177, "Soort"
  frRes + 3178, "&Bewerk"
  frRes + 3179, "&Combo"
  frRes + 3180, "Opzoek"
  frRes + 3181, "Combo"
  frRes + 3182, "&Rekken"
;--- DBPropForm resources ----------------------------------------------------
  frRes + 3200, "Database eigenschappen"
  frRes + 3201, "Algemeen"
  frRes + 3202, "Parameters"
  frRes + 3203, "&Naam"
  frRes + 3204, "&Connectie string"   ; for ADO
  frRes + 3205, "&Bestand:"          ; for IBX
  frRes + 3206, "&Alias"         ; for BDE
  frRes + 3207, "&Driver naam"
  frRes + 3208, "&Loginscherm"
;--- SelectTblForm resources -------------------------------------------------
  frRes + 3220, "Selecteer tabel"
  frRes + 3221, "Selecteer uit database"
  frRes + 3222, "Select uit bestand"
  frRes + 3223, "&Database"
  frRes + 3224, "&Tabel"
  frRes + 3225, "&Bladeren..."
;--- Strings resources -------------------------------------------------------
  SFields, "Velden"
  SPath, "Pad"
  SRemoveDS, "Object verwijderen?"
  STables, "Tabellen"
  SFieldType1, "Tekst"
  SFieldType2, "Smallint"
  SFieldType3, "Integer"
  SFieldType4, "Word"
  SFieldType5, "Logisch"
  SFieldType6, "Decimaal"
  SFieldType7, "Valuta"
  SFieldType8, "Datum"
  SFieldType9, "Tijd"
  SFieldType10, "Binair"
  SParamType1, "BCD"
  SParamType2, "Logisch"
  SParamType3, "Valuta"
  SParamType4, "Datum"
  SParamType5, "DatumTijd"
  SParamType6, "Integer"
  SParamType7, "Decimaal"
  SParamType8, "Smallint"
  SParamType9, "Tekst"
  SParamType10, "Tijd"
  SParamType11, "Word"
  SDataManager, "Databeheer"
  SParams, "parameters"
  SQueryError, "Foutieve SQL tekst of parameter"
  STableProps, "Tabeleigenschappen"
  SParamDialog, "Parameterdialoog"
  SInvalidParamValue, "Ongeldige parameter waarde"
  SDatabase, "Databases"
  SFieldSizeError, "Ongeldige veldlengte"
}
