#include "FR_Const.pas"

; ----------------------------------------------------------------------------
; TRANSLATION TO SLOVAK
; Translated: Arpad Toth
; Date      : 29.05.2000 - Prv· verzia
; Contact   : ekosoft@signalsoft.sk
; Comment   : Pokiaæ by niekto upravoval t˙to verziu, poölite mi prosÌm emailom
;             zmenen˙ verziu. œakujem.
; ----------------------------------------------------------------------------

STRINGTABLE
{
;--- InspForm resources ------------------------------------------------------
  frRes + 59, "Inöpektor objektov"
;--- EditorForm resources ----------------------------------------------------
  frRes + 60, "Textov˝ editor"
  frRes + 61, "Vloûiù v˝raz"
  frRes + 62, "Vloûiù DB poloûku"
  frRes + 63, "Zamalovaù"
  frRes + 64, "Zobraziù/ukryù skript"
;--- FRDesignerForm resources ------------------------------------------------
  frRes + 80, "Gener·tor"
  frRes + 81, "Rectangle"
  frRes + 82, "Z·kladn·"
  frRes + 83, "Text"
  frRes + 84, "Objekty"
  frRes + 85, "Zarovn·vanie"
  frRes + 86, "N·stroje"
  frRes + 87, "Nov· zostava"
  frRes + 88, "Otvoriù zostavu"
  frRes + 89, "Uloûiù zostavu"
  frRes + 90, "Uk·ûka zostavy"
  frRes + 91, "Vystrihn˙ù"
  frRes + 92, "KopÌrovaù"
  frRes + 93, "Vloûiù"
  frRes + 94, "N·vrat poslednej oper·cie"
  frRes + 95, "Obnovenie ukonËenej oper·cie"
  frRes + 96, "PriblÌûiù"
  frRes + 97, "Oddialiù"
  frRes + 98, "OznaËiù vöetko"
  frRes + 99, "Pridaù str·nku"
  frRes + 100, "Odstr·niù str·nku"
  frRes + 101, "Moûnosti str·nky"
  frRes + 102, "Mrieûka"
  frRes + 103, "Dorovnaù do mrieûky"
  frRes + 104, "PrispÙsobiù k mrieûke"
  frRes + 105, "UkonËiù"
  frRes + 106, "UkonËiù gener·tor"
  frRes + 107, "Zarovnaù do æava"
  frRes + 108, "Zarovnaù do prava"
  frRes + 109, "Zarovnaù do stredu"
  frRes + 110, "Normal text / 90 stupÚov"
  frRes + 111, "Zarovnaù do stredu öÌrky"
  frRes + 112, "Zarovnaù k hornÈmu okraju"
  frRes + 113, "Zarovnaù k spodnÈmu okraju"
  frRes + 114, "Zarovnaù obojstranne"
  frRes + 115, "TuËnÈ"
  frRes + 116, "NaklonenÈ"
  frRes + 117, "PodËiarknutÈ"
  frRes + 118, "Farba pÌsma"
  frRes + 119, "KritÈri· zv˝raznenia"
  frRes + 120, "Veækosù pÌsma"
  frRes + 121, "N·zov pÌsma"
  frRes + 122, "»iara r·mËeka hore"
  frRes + 123, "»iara r·mËeka væavo"
  frRes + 124, "»iara r·mËeka dolu"
  frRes + 125, "»iara r·mËeka vpravo"
  frRes + 126, "Or·movaù cel˝"
  frRes + 127, "Bez r·mu"
  frRes + 128, "Farba pozadia"
  frRes + 129, "Farba r·mËeka"
  frRes + 130, "äÌrka r·mËeka"
  frRes + 131, "äÌrka r·mËeka"
  frRes + 132, "V˝ber objektu"
  frRes + 133, "Vloûiù obdÂûnÌkov˝ objekt"
  frRes + 134, "Vloûiù p·sku"
  frRes + 135, "Vloûiù obr·zok"
  frRes + 136, "Vloûiù subreport"
  frRes + 137, "Krelenie Ëiar"
  frRes + 138, "Zarovnaù k æavÈmu okraju"
  frRes + 139, "Zarovnaù vodorovne"
  frRes + 140, "Zarovnaù vodorovne v okne"
  frRes + 141, "EqvivaletnÈ rozdelenie medzier, vodorovne"
  frRes + 142, "Zarovnaù k pravÈmu okraju"
  frRes + 143, "Zarovnaù k hornÈmu okraju"
  frRes + 144, "Zarovnaù kolmo"
  frRes + 145, "Zarovnaù kolmo v okne"
  frRes + 146, "EqvivaletnÈ rozdelenie medzier, kolmo"
  frRes + 147, "Zarovnaù k spodnÈmu okraju"
  frRes + 148, "V&ystrihn˙ù"
  frRes + 149, "&KopÌrovaù"
  frRes + 150, "&Vloûiù"
  frRes + 151, "Vym&azaù"
  frRes + 152, "OznaËiù vöe&tko"
  frRes + 153, "&Upraviù..."
  frRes + 154, "&S˙bor"
  frRes + 155, "&Nov˝..."
  frRes + 156, "&Otvoriù..."
  frRes + 157, "&Uloûiù"
  frRes + 158, "&D·tov· z·kladÚa..."
  frRes + 159, "&Parametre zostavy..."
  frRes + 160, "Pa&rametre strany..."
  frRes + 161, "&Uk·ûka"
  frRes + 162, "K&oniec"
  frRes + 163, "⁄&pravy"
  frRes + 164, "&Sp‰ù"
  frRes + 165, "&Znovu"
  frRes + 166, "V&ystrihn˙ù"
  frRes + 167, "&KopÌrovaù"
  frRes + 168, "&Vloûiù"
  frRes + 169, "V&ymazaù"
  frRes + 170, "Oz&naËiù vöetko"
  frRes + 171, "&⁄prava..."
  frRes + 172, "&Pridaù stranu"
  frRes + 173, "&Odstr·niù stranu"
  frRes + 174, "Pr&iblÌûiù do predu"
  frRes + 175, "Oddialiù &do zadu"
  frRes + 176, "&N·stroje"
  frRes + 177, "&N·strojov· liöta"
  frRes + 178, "N·s&troje"
  frRes + 179, "&Moûnosti..."
  frRes + 180, "&Obrysy"
  frRes + 181, "&Z·kladn·"
  frRes + 182, "&Text"
  frRes + 183, "&Objekty"
  frRes + 184, "&Inöpektor objektu"
  frRes + 185, "&Paleta zarovn·vania"
  frRes + 186, "DB N·s&troje"
  frRes + 187, "&O programu..."
  frRes + 188, "Uloûiù &ako..."
  frRes + 189, "&PomocnÈ kapitoly"
  frRes + 190, "&Zobraziù pomoc"
  frRes + 191, "ät˝l obrysu"
  frRes + 192, "Pridaù dialÛgov˝ &formul·r"
  frRes + 193, "Pridaù dialÛgov˝ formul·r"
;--- RestrictionsForm resources ----------------------------------------------
  frRes + 260, "Obmedzenia objektov"
  frRes + 261, "Z·kaz ˙pravy &memo"
  frRes + 262, "Z·kaz ˙pravy &skriptu"
  frRes + 263, "Z·kaz ˙pravy &koment·ra"
  frRes + 264, "Z·kaz mo&difik·cie"
  frRes + 265, "Z·kaz zmeny ve&ækosti"
  frRes + 266, "Z·kaz pre&sunu"
  frRes + 267, "Z·kaz vy&mazania"
;--- DesOptionsForm resources ------------------------------------------------
  frRes + 280, "Moûnosti"
  frRes + 281, "Gener·tor"
  frRes + 282, "Mrieûka"
  frRes + 283, "Drawing objects"
  frRes + 284, "Jednotky rozmerov"
  frRes + 285, "Hustota mrieûky"
  frRes + 286, "&Zobrazovaù mrieûku"
  frRes + 287, "Dorovnaù do &mrieûky"
  frRes + 288, "FarebnÈ &tlaËÌtka"
  frRes + 289, "&4 bodov"
  frRes + 290, "&8 bodov"
  frRes + 291, "&18 bodov (5mm)"
  frRes + 293, "Zviditeæniù cel˝ objekt poËas pres˙vania alebo zmeny veækosti."
  frRes + 294, "&Body"
  frRes + 295, "&MM"
  frRes + 296, "P&alce"
  frRes + 297, "OstatnÈ"
  frRes + 298, "&Upravovaù po vloûenÌ"
  frRes + 299, "Zobrazovaù &titulok p·sky"
  frRes + 300, "PozÌcia str·nky"
  frRes + 301, "V &strede"
  frRes + 302, "V æa&vo"
  frRes + 303, "V p&ravo"
  frRes + 304, "Editor"
  frRes + 305, "Textov˝ editor"
  frRes + 306, "&PouûÌvaù pÌsmo nastavenÈ v objektoch"
  frRes + 307, "PouûÌvaù &fixnÈ nastavenie:"
  frRes + 308, "N·zov pÌsma:"
  frRes + 309, "Veækosù:"
  frRes + 310, "Editor skriptu"
  frRes + 311, "Localized property names"
;--- TemplForm resources -----------------------------------------------------
  frRes + 318, "Nov· zostava"
  frRes + 319, "Popis"
;--- TemplNewForm resources --------------------------------------------------
  frRes + 320, "Nov· öablÛna"
  frRes + 321, "&Koment·r"
  frRes + 322, "Ikona"
  frRes + 323, "&S˙bor..."
;--- DictForm resources ------------------------------------------------------
  frRes + 340, "D·tov· z·kladÚa"
  frRes + 341, "PremennÈ"
  frRes + 342, "Aliasy poloûiek"
  frRes + 343, "Zdroje p·sky"
  frRes + 344, "Pre&mennÈ"
  frRes + 345, "Hod&noty"
  frRes + 346, "&V˝raz"
  frRes + 347, "Nov· kategÛria"
  frRes + 348, "Nov· premenn·"
  frRes + 349, "Upraviù"
  frRes + 350, "Vymazaù"
  frRes + 351, "Upraviù zoznam"
  frRes + 352, "Datab·zy a poloûky"
  frRes + 353, "Vöetky datab·zy"
  frRes + 354, "&V˝skyt"
  frRes + 355, "Alia&s"
  frRes + 356, "V&yÚaù poloûku zo zoznamu"
  frRes + 357, "D·tovÈ zdroje"
  frRes + 358, "Vöetky d·tovÈ zdroje"
  frRes + 359, "&Uloû..."
;--- VaredForm resources -----------------------------------------------------
  frRes + 360, "Zoznam premenn˝ch"
  frRes + 361, "&KategÛrie a premennÈ"
;--- DocOptForm resources ----------------------------------------------------
  frRes + 370, "Nastavenie zostavy"
  frRes + 371, "TlaËiareÚ"
  frRes + 372, "&Vybraù po naËÌtanÌ zostavy"
  frRes + 373, "OstatnÈ"
  frRes + 374, "&Dvojit˝ prechod"
;--- PgoptForm resources -----------------------------------------------------
  frRes + 390, "Nastavenie strany"
  frRes + 391, "Papier"
  frRes + 392, "Orient·cia"
  frRes + 393, "&Na v˝öku"
  frRes + 394, "N&a öÌrku"
  frRes + 395, "Veækosù"
  frRes + 396, "äÌ&rka, mm"
  frRes + 397, "&V˝öka, mm"
  frRes + 398, "Okraje"
  frRes + 399, "Okraje strany"
  frRes + 400, "&ºav˝,v mm"
  frRes + 401, "&Horn˝,v mm"
  frRes + 402, "&Prav˝,v mm"
  frRes + 403, "&Doln˝,v mm"
  frRes + 404, "&Zarovnaù do oblasti tlaËe"
  frRes + 405, "Moûnosti"
  frRes + 406, "Moûnosti"
  frRes + 407, "&TlaË na predch·dzaj˙cu stranu"
  frRes + 408, "StÂpce"
  frRes + 409, "&PoËet"
  frRes + 410, "&Medzera,v mm"
  frRes + 411, "Zdroj"
  frRes + 412, "Zdroj papiera"
  frRes + 413, "&Unlimited height"
;--- FmtForm resources -------------------------------------------------------
  frRes + 420, "Form·ty premenn˝ch"
  frRes + 421, "Form·t premennej"
  frRes + 422, "&PoËet des.miest"
  frRes + 423, "Desatinn˝ &oddeæovaË"
  frRes + 424, "Vlastn˝ &form·t"
;--- VarForm resources -------------------------------------------------------
  frRes + 440, "PremennÈ"
  frRes + 441, "&KategÛrie:"
;--- FieldsForm resources ----------------------------------------------------
  frRes + 450, "Poloûky datab·z"
;--- GEditorForm resources ---------------------------------------------------
  frRes + 460, "Obr·zok"
  frRes + 461, "&PrispÙsobiù"
  frRes + 462, "&NaËitaù..."
  frRes + 463, "&Odstr·niù"
  frRes + 464, "&Koment·r"
;--- BandEditorForm resources ------------------------------------------------
  frRes + 480, "D·tov˝ zdroj p·sky"
  frRes + 481, "&D·tov˝ zdroj"
  frRes + 482, "&PoËet z·znamov"
;--- VBandEditorForm resources ------------------------------------------------
  frRes + 485, "D·tov˝ zdroj p·sky"
  frRes + 486, "P·sky"
  frRes + 487, "D·tov˝ zdroj"
  frRes + 488, "&PoËet z·znamov"
;--- GroupEditorForm resources -----------------------------------------------
  frRes + 490, "Skupina"
  frRes + 491, "&Podmienka"
  frRes + 492, "Vloûiù DB poloûku"
;--- BandTypesForm resources -------------------------------------------------
  frRes + 510, "Vloûiù nov˙ p·sku"
  frRes + 511, "Typ p·sky"
;--- HilightForm resources ---------------------------------------------------
  frRes + 520, "KritÈri· zv˝raznenia"
  frRes + 521, "&Podmienka"
  frRes + 522, "PÌsmo"
  frRes + 523, "F&arba..."
  frRes + 524, "&TuËnÈ"
  frRes + 525, "&NaklonenÈ"
  frRes + 526, "&PodËiarknutÈ"
  frRes + 527, "Pozadie"
  frRes + 528, "Fa&rba..."
  frRes + 529, "&TransparentnÈ"
  frRes + 530, "I&nÈ"
;--- AboutForm resources -----------------------------------------------------
  frRes + 540, "O programu FastReport"
;--- OleForm resources -------------------------------------------------------
  frRes + 550, "OLE objekt"
  frRes + 551, "&Vloûiù..."
  frRes + 552, "&Upraviù..."
  frRes + 553, "&N·vrat"
;--- RichForm resources ------------------------------------------------------
  frRes + 560, "Rich Edit"
  frRes + 561, "Otvoriù..."
  frRes + 562, "Uloûiù..."
  frRes + 563, "Sp‰ù"
  frRes + 564, "TuËnÈ"
  frRes + 565, "NaklonenÈ"
  frRes + 566, "Zarovnaù do æava"
  frRes + 567, "Zarovnaù do stredu"
  frRes + 568, "Zarovnaù do prava"
  frRes + 569, "PodËiarknutÈ"
  frRes + 570, "Zoznam"
  frRes + 571, "PÌsmo"
  frRes + 572, "N·vrat"
  frRes + 573, "Uloûiù a n·vrat"
  frRes + 574, "Pre"
  frRes + 575, "Vloûiù v˝raz"
  frRes + 576, "PÌsmo"
  frRes + 577, "Veækosù pÌsma"
;--- ChartForm resources -----------------------------------------------------
  frRes + 590, "Graf objekt"
  frRes + 591, "Typ"
  frRes + 592, "Data"
  frRes + 593, "Typ"
  frRes + 594, "N·zov objektu"
  frRes + 595, "Moûnosti"
  frRes + 596, "&3D"
  frRes + 597, "&Jednoduch˝"
  frRes + 598, "Zobraziù &legendu"
  frRes + 599, "Zobraziù &osy"
  frRes + 600, "Show &marks"
  frRes + 601, "Multi-colo&r"
  frRes + 602, "Pre &legendu"
  frRes + 603, "Pre &hodnoty"
  frRes + 604, "Marks"
  frRes + 605, "ät˝l"
  frRes + 606, "Hodnota"
  frRes + 607, "Percento"
  frRes + 608, "N·lepka"
  frRes + 609, "N·lepka a Percento"
  frRes + 610, "N·lepka a Hodnota"
  frRes + 611, "Prv˝ch 10"
  frRes + 612, "&Zobraziù hore"
  frRes + 613, "N·l&epka"
  frRes + 614, "hodnoty"
;--- InsertFieldsForm resources ----------------------------------------------
  frRes + 630, "Vkladanie poloûiek"
  frRes + 631, "&DostupnÈ tabuæky"
  frRes + 632, "Umiestnenie"
  frRes + 633, "&Horizont·lne"
  frRes + 634, "&Vertik·lne"
  frRes + 635, "&Zahrn˙ù z·hlavia"
  frRes + 636, "Zahrn˙ù &p·sky"
;--- BarCodeForm resources ---------------------------------------------------
  frRes + 650, "Editor ËiarkovÈho kÛdu"
  frRes + 651, "&KÛd"
  frRes + 652, "&Typ »K"
  frRes + 653, "Moûnosti"
  frRes + 654, "Check&sum"
  frRes + 655, "Zo&braziù æudsky"
  frRes + 656, "Vloûiù v˝raz"
  frRes + 657, "Vloûiù premenn˙"
  frRes + 658, "OtoËiù o"
;--- RoundRectForm resources -------------------------------------------------
  frRes + 670, "Editor vlastnostÌ"
  frRes + 671, "Uk·ûka :"
  frRes + 672, "&V˝raz..."
  frRes + 673, "&DB poloûka..."
  frRes + 674, "&Tienenie"
  frRes + 675, "äÌrka ti&eÚa"
  frRes + 676, "Farba"
  frRes + 677, "&ZaoblenÈ hrany"
  frRes + 678, "&Framed zone"
  frRes + 679, "KonËÌ farbou"
  frRes + 680, "ZaËÌna farbou"
  frRes + 681, "&ät˝l"
  frRes + 682, "Vertical,Horizontal,Elliptic,Rectangle,Horiz._Center,Vert._Center"
  frRes + 683, "KliknutÌm definujte farbu tienenia alebo farbu odtieÚa"
;--- ExprForm resources ------------------------------------------------------
  frRes + 700, "Vytv·ranie v˝razu"
  frRes + 701, "V˝raz"
  frRes + 702, "Vloûiù"
  frRes + 703, "&DB Poloûka..."
  frRes + 704, "&Premenn·..."
  frRes + 705, "&Funkcia..."
;--- FuncForm resources ------------------------------------------------------
  frRes + 720, "DostupnÈ funkcie"
;--- FuncArgForm resources ---------------------------------------------------
  frRes + 730, "Argumenty funkcie"
  frRes + 731, "Argument"
;--- AttrForm resources ------------------------------------------------------
  frRes + 740, "Ceduæka objektu"
;--- CrossForm resources -----------------------------------------------------
  frRes + 750, "Cross-tab view"
  frRes + 751, "Cross-tab dataset"
  frRes + 752, "Subtotals"
  frRes + 753, "Function"
  frRes + 754, "Cross-tab editor"
;--- Strings resources -------------------------------------------------------
  SRemovePg, "Odobraù t˙to str·nku?"
  SConfirm, "Dotaz"
  SPaper1, "Letter, 8 1/2 x 11"""
  SPaper2, "Letter small, 8 1/2 x 11"""
  SPaper3, "Tabloid, 11 x 17"""
  SPaper4, "Ledger, 17 x 11"""
  SPaper5, "Legal, 8 1/2 x 14"""
  SPaper6, "Statement, 5 1/2 x 8 1/2"""
  SPaper7, "Executive, 7 1/4 x 10 1/2"""
  SPaper8, "A3 297 x 420 mm"
  SPaper9, "A4 210 x 297 mm"
  SPaper10, "A4 small sheet, 210 x 297 mm"
  SPaper11, "A5 148 x 210 mm"
  SPaper12, "B4 250 x 354 mm"
  SPaper13, "B5 182 x 257 mm"
  SPaper14, "Folio, 8 1/2 x 13"""
  SPaper15, "Quarto Sheet, 215 x 275 mm"
  SPaper16, "10 x 14"""
  SPaper17, "11 x 17"""
  SPaper18, "Note, 8 1/2 x 11"""
  SPaper19, "9 Envelope, 3 7/8 x 8 7/8"""
  SPaper20, "#10 Envelope, 4 1/8  x 9 1/2"""
  SPaper21, "#11 Envelope, 4 1/2 x 10 3/8"""
  SPaper22, "#12 Envelope, 4 3/4 x 11"""
  SPaper23, "#14 Envelope, 5 x 11 1/2"""
  SPaper24, "C Sheet, 17 x 22"""
  SPaper25, "D Sheet, 22 x 34"""
  SPaper26, "E Sheet, 34 x 44"""
  SPaper27, "DL Envelope, 110 x 220 mm"
  SPaper28, "C5 Envelope, 162 x 229 mm"
  SPaper29, "C3 Envelope,  324 x 458 mm"
  SPaper30, "C4 Envelope,  229 x 324 mm"
  SPaper31, "C6 Envelope,  114 x 162 mm"
  SPaper32, "C65 Envelope, 114 x 229 mm"
  SPaper33, "B4 Envelope,  250 x 353 mm"
  SPaper34, "B5 Envelope,  176 x 250 mm"
  SPaper35, "B6 Envelope,  176 x 125 mm"
  SPaper36, "Italy Envelope, 110 x 230 mm"
  SPaper37, "Monarch Envelope, 3 7/8 x 7 1/2"""
  SPaper38, "6 3/4 Envelope, 3 5/8 x 6 1/2"""
  SPaper39, "US Std Fanfold, 14 7/8 x 11"""
  SPaper40, "German Std Fanfold, 8 1/2 x 12"""
  SPaper41, "German Legal Fanfold, 8 1/2 x 13"""
  SPaper42, "B4 (ISO) 250 x 353 mm"
  SPaper43, "Japanese Postcard 100 x 148 mm"
  SPaper44, "9 x 11"""
  SPaper45, "10 x 11"""
  SPaper46, "15 x 11"""
  SPaper47, "Envelope Invite 220 x 220 mm"
  SPaper50, "Letter Extra 9/275 x 12"""
  SPaper51, "Legal Extra 9/275 x 15"""
  SPaper52, "Tabloid Extra 11.69 x 18"""
  SPaper53, "A4 Extra 9.27 x 12.69"""
  SPaper54, "Letter Transverse 8/275 x 11"""
  SPaper55, "A4 Transverse 210 x 297 mm"
  SPaper56, "Letter Extra Transverse 9/275 x 12"""
  SPaper57, "SuperASuperAA4 227 x 356 mm"
  SPaper58, "SuperBSuperBA3 305 x 487 mm"
  SPaper59, "Letter Plus 8.5 x 12.69"""
  SPaper60, "A4 Plus 210 x 330 mm"
  SPaper61, "A5 Transverse 148 x 210 mm"
  SPaper62, "B5 (JIS) Transverse 182 x 257 mm"
  SPaper63, "A3 Extra 322 x 445 mm"
  SPaper64, "A5 Extra 174 x 235 mm"
  SPaper65, "B5 (ISO) Extra 201 x 276 mm"
  SPaper66, "A2 420 x 594 mm"
  SPaper67, "A3 Transverse 297 x 420 mm"
  SPaper68, "A3 Extra Transverse 322 x 445 mm"
  SPaper256, "VlastnÈ"
  SSystemVariables, "SystÈmovÈ premennÈ"
  SVar1, "Page#"
  SVar2, "Expression"
  SVar3, "Date"
  SVar4, "Time"
  SVar5, "Line#"
  SVar6, "Line through#"
  SVar7, "Column#"
  SVar8, "Current line#"
  SVar9, "PageCount"
  SStretched, "PrispÙsobiù"
  SVarFormat, "Form·t premennej..."
  SWordWrap, "Zalamovaù"
  SWordBreak, ""
  SFormNewPage, "Force new page"
  SPrintIfSubsetEmpty, "TlaËiù ak je detail pr·zdny"
  SBreaked, "Preruöenie"
  SPictureCenter, "Obr·zok do stredu"
  SKeepAspectRatio, "Udrûiavaù pomer ä/V"
  SFormFile, "FastReport formul·r"
  SForm3File, "FastReport3 formul·r"
  STemplFile, "FastReport öablÛna"
  SDictFile, "FastReport d·tov· z·kladÚa"
  SPictFile, "S˙bor obr·zku"
  SBMPFile, "Bitmap s˙bor"
  SAllFiles, "Vöetky s˙bory"
  SInsOLEObject, "Vloûiù OLE objekt"
  SInsRichObject, "Vloûiù RichText objekt"
  SInsRich2Object, "Vloûiù RX RichText objekt"
  SInsCheckBox, "Vloûiù CheckBox objekt"
  SInsChart, "Vloûiù Graf objekt"
  SInsShape, "Vloûiù Shape objekt"
  SInsBarcode, "Vloûiù »iarkov˝ kÛd"
  SInsRoundRect, "Vloûiù obdÂûnÌk alebo tieÚ"
  SSubReportOnPage, "SubReport je na strane"
  SPicture, "[Obr·zok]"
  STransparent, "Priehladn˝"
  SOther, "OstatnÈ..."
  SOnFirstPage, "Na prvej strane"
  SOnLastPage, "Na Ôaæöej strane"
  SRepeatHeader, "Zobraziù na vöetk˝ch stran·ch"
  SDesignReport, "N·vrh zostavy"
  SInsertFields, "Vloûiù DB poloûky"
  SSaveChanges, "Uloûiù zmeny"
  STo, "do"
  SPixels, "Bodov"
  SMM, "MM"
  SInches, "Palcov"
  SVirtualDataset, "Virtu·lny Dataset"
  SAutoSize, "Automatick· veækosù"
  SFRVariables, "FR premennÈ"
  SClearContents, "Odstr·niù koment·r"

  SAllCategories, "Vöetky funkcie"
  SAggregateCategory, "V˝poËtovÈ"
  SDateTimeCategory, "DatumovÈ a ËasovÈ"
  SStringCategory, "ReùazcovÈ"
  SOtherCategory, "OstatnÈ"
  SMathCategory, "MatematickÈ"
  SBoolCategory, "LogickÈ"
  SIntrpCategory, "InterpretovanÈ"

  SDescriptionAVG, "AVG(<Expression> [,BandName [,1]])/"
    "VypoËÌta priemern˙ hodnotu zo zadania <Expression> pre [BandName] riadok."
    "Ak [1] parameter je priraden˝, v˝poËet sa vykon·va aj pre nezobrazovanÈ riadky. "

  SDescriptionCOUNT, "COUNT(<BandName>)/"
    "Vr·ti poËet riadkov v zadanÌ p·sky <BandName>."

  SDescriptionDAYOF, "DAYOF(<Date>)/"
    "Vr·ti ËÌslo dÚa (1..31) zo zadania <Date>."

  SDescriptionFORMATDATETIME, "FORMATDATETIME(<Fmt>, <DateTime>)/"
    "Konvertuje <DateTime> hodnotu na reùazec vo form·te <Fmt>."

  SDescriptionFORMATFLOAT, "FORMATFLOAT(<Fmt>, <Numeric>)/"
    "Konvertuje <Numeric> hodnotu na reùazec vo form·te <Fmt>."

  SDescriptionINPUT, "INPUT(<Caption> [,Default])/"
    "ZobrazÌ dialÛgovÈ okno zo zadanÌm z·hlavia <Caption> a edit boxu. "
    "Ak je uveden˝ [Default] parameter, vloûÌ sa ako v˝chodiskov˝ do edit boxu. "
    "Po stlaËenÌ OK, vr·ti hodnotu reùazca."

  SDescriptionLENGTH, "LENGTH(<String>)/"
    "Vr·ti dÂûku z <String>."

  SDescriptionLOWERCASE, "LOWERCASE(<String>)/"
    "Konvertuje <String> symboly na malÈ znaky."

  SDescriptionMAX, "MAX(<Expression> [,BandName [,1]])/"
    "VypoËÌta maxim·lnu hodnotu zo zadania <Expression> pre [BandName] riadok."
    "Ak [1] parameter je priraden˝, v˝poËet sa vykon·va aj pre nezobrazovanÈ riadky. "

  SDescriptionMIN, "MIN(<Expression> [,BandName [,1]])/"
    "VypoËÌta minim·lnu hodnotu zo zadania <Expression> pre [BandName] riadok."
    "Ak [1] parameter je priraden˝, v˝poËet sa vykon·va aj pre nezobrazovanÈ riadky. "

  SDescriptionMONTHOF, "MONTHOF(<Date>)/"
    "Vr·ti ËÌslo mesiaca (1..12) zo zadania <Date>."

  SDescriptionNAMECASE, "NAMECASE(<String>)/"
    "Konvertuje <String> znaky na malÈ pÌsmen·, priËom prv˝ znak je veækÈ."

  SDescriptionSTRTODATE, "STRTODATE(<String>)/"
    "Konvertuje <String> do d·tumu."

  SDescriptionSTRTOTIME, "STRTOTIME(<String>)/"
    "Konertuje <String> do Ëasu."

  SDescriptionSUM, "SUM(<Expression> [,BandName [,1]])/"
    "VypoËÌta s˙Ëet zo zadania <Expression> pre [BandName] riadok."
    "Ak [1] parameter je priraden˝, v˝poËet sa vykon·va aj pre nezobrazovanÈ riadky. "

  SDescriptionTRIM, "TRIM(<String>)/"
    "Odstr·ni vöetky medzery v zadanÌ <String> a vr·ti tak reùazec"

  SDescriptionUPPERCASE, "UPPERCASE(<String>)/"
    "Konveruje <String> symboly na veækÈ znaky."

  SDescriptionYEAROF, "YEAROF(<Date>)/"
    "Vr·ti rok zo zadania <Date>."

  SDescriptionIF, "IF(<Expression>, <Value1>, <Value2>)/"
    "Vr·ti <Value1>, ak v˝raz <Expression> je Pravdiv˝; "
    "inak vr·ti <Value2>. Vr·ten· hodnota nemÙûe byù Len text."

  SDescriptionCOPY, "COPY(<String>, <From>, <Count>)/"
    "Vr·ti substring zo zadania <String> poËÌnaj˙c <From> poËtom <Count>."

  SDescriptionMOD, "<Value1> MOD <Value2>/"
    "Vr·ti podiel hodnÙt <Value1> a <Value2> ak je deliteæn˝ bez zostatku."

  SDescriptionSTR, "STR(<Value>)/"
    "Konvertuje numerick˙ hodnotu <Value> na string."

  SDescriptionNOT, "NOT <Value>/"
    "Logick· 'NIE'."

  SDescriptionAND, "<Value1> AND <Value2>/"
    "Logick· 'A S⁄»ASTNE'."

  SDescriptionOR, "<Value1> OR <Value2>/"
    "Logick· 'ALEBO'."

  SDescriptionROUND, "ROUND(<Value>)/"
    "Vr·ti zaokr˙hlen˙ hodnotu zo zadania <Value>."

  SDescriptionFRAC, "FRAC(<Value>)/"
    "Vr·ti frakt·lov˙ Ëasù zo zadania <Value>."

  SDescriptionINT, "INT(<Value>)/"
    "Vr·ti numerick˙ Ëasù zo zadania <Value>."

  SDescriptionTRUE, "TRUE/"
    "Logick· 'PRAVDIV›'."

  SDescriptionFALSE, "FALSE/"
    "Logick· 'NEPRAVDIV›'."

  SDescriptionPAGE, "PAGE#/"
    "Vr·ti ËÌslo aktu·lnej str·nky."

  SDescriptionDATE, "DATE/"
    "Vr·ti aktu·lny d·tum."

  SDescriptionTIME, "TIME/"
    "Vr·ti aktu·lny Ëas."

  SDescriptionLINE, "LINE#/"
    "Vr·ti aktu·lne ËÌslo riadku (spustenÌm od zaËiatku skupiny)."

  SDescriptionLINETHROUGH, "LINETHROUGH#/"
    "Vr·ti aktu·lne ËÌslo riadku (spustenÌm od zaËiatku zostavy)."

  SDescriptionCOLUMN, "COLUMN#/"
    "Vr·ti ËÌseln˙ hodnotu aktu·lneho stÂpca."

  SDescriptionTOTALPAGES, "TOTALPAGES/"
    "Vr·ti celkov˝ poËet str·n zostavy."

  SDescriptionMROK, "MROK/"
    "N·vratov· konötanta."

  SDescriptionMRCancel, "MRCANCEL/"
    "N·vratov· konötanta."

  SDescriptionCurY, "CURY/"
    "Vr·ti 'Y' pozÌciu (v bodoch) ak je p·ska zviditeænen· "
    ".Potom je moûnÈ priradiù t˙to hodnotu do CurY."

  SDescriptionFreeSpace, "FREESPACE/"
    "Vr·ti zvyön˝ poËet medzier na strane v bodoch."

  SDescriptionFinalPass, "FINALPASS/"
    "N·vratov· hodnota je pravdiv· ak je generovanie u konca."

  SDescriptionPageHeight, "PAGEHEIGHT/"
    "Vr·ti v˝öku tejto strany v bodoch."

  SDescriptionPageWidth, "PAGEWIDTH/"
    "Vr·ti öÌrku tejto strany v bodoch."

  SDescriptionProgress, "PROGRESS/"
    "ZistÌ hodnoty generovania, ak je okno zobrazovanÈ."

  SDescriptionModalResult, "MODALRESULT/"
    "Zisùuje nenulov˙ hodnotu z ModalResult ak sa ukonËÌ dialÛgov˝ formul·r."

  SDescriptionStopReport, "STOPREPORT/"
    "ZastavÌ vytvorenie zostavy."

  SDescriptionNewPage, "NEWPAGE/"
    "ätartuje nov˙ str·nku."

  SDescriptionNewColumn, "NEWCOLUMN/"
    "SpustÌ nov˝ stÂpec."

  SDescriptionShowBand, "SHOWBAND(<BandName>)/"
    "ZobrazÌ p·sku zadanÌm mena <BandName>."

  SDescriptionMAXNUM, "MAXNUM(<Value1>, <Value2>)/"
    "Returns max of given values."

  SDescriptionMINNUM, "MINNUM(<Value1>, <Value2>)/"
    "Returns min of given values."

  SDescriptionPOS, "POS(<SubString>, <String>)/"
    "Returns position of substring in given string."

  SDescriptionMESSAGEBOX, "MESSAGEBOX(<Text>, <Title>, <Buttons>)/"
    "Shows standard dialog window with title, text and buttons."

  SDescriptionFORMATTEXT, "FORMATTEXT(<Mask>, <String>)/"
    "Applies <Mask> to given <String> and returns formatted string."


  SInformation, "Inform·cia"
  SExpressionOK, "V˝raz je OK!"
  STextOnly, "Iba text"
  SSuppressRepeated, "PotlaËiù opakovanÈ hodnoty"
  SDefaultBin, "V˝chodzie"
  SDeleteObjects, "Naozaj chcete vymazaù vöetky objekty z tejto strany."
  SWarning, "Upozornenie"
  SHideZeros, "Nezobrazovaù nuly"
  SPrintChild, "TlaËiù potomkov vûdy"
  SUnderlines, "Underlines"
  SOnePerPage, "You can't place two or more %s objects on one page."
  SInsertCrosstab, "Insert Cross-tab object"
}
