#include "FR_Const.pas"

; ----------------------------------------------------------------------------
; TRANSLATION TO SLOVAK
; Translated: Arpad Toth
; Date      : 29.05.2000 - Prv· verzia
; Contact   : ekosoft@signalsoft.sk
; Comment   : Pokiaæ by niekto upravoval t˙to verziu, poölite mi prosÌm emailom
;             zmenen˙ verziu. œakujem.
; ----------------------------------------------------------------------------

STRINGTABLE
{
;--- PreviewSearchForm resources ---------------------------------------------
  frRes + 0, "Vyhæadaù text"
  frRes + 1, "Text pre &hæadanie"
  frRes + 2, "Moûnosti"
  frRes + 3, "&Presne na slovo"
  frRes + 4, "Moûnosti"
  frRes + 5, "Od &1. strany"
  frRes + 6, "  -  &aktu·lnej"
;--- PreviewForm resources ---------------------------------------------------
  frRes + 20, "äÌ&rka strany"
  frRes + 21, "&Cel· strana"
  frRes + 22, "&Dve strany"
  frRes + 23, "Zatvor uk·ûku"
  frRes + 24, "äk·la"
  frRes + 25, "Otvoriù zostavu"
  frRes + 26, "Uloûiù zostavu"
  frRes + 27, "TlaË zostavy"
  frRes + 28, "Hæadaù text"
  frRes + 29, "⁄prava strany"
  frRes + 30, "Pridaù stranu"
  frRes + 31, "Odstr·niù stranu"
  frRes + 32, "Zobraziù pomoc"
;--- PrintForm resources -----------------------------------------------------
  frRes + 40, "TlaË"
  frRes + 41, "TlaËiareÚ"
  frRes + 42, "Vlastnosti"
  frRes + 43, "KÛpie"
  frRes + 44, "Rozsah str·n"
  frRes + 45, "&Vöetky"
  frRes + 46, "Aktu·lnu stra&nu"
  frRes + 47, "&Strany:"
  frRes + 48, "Vloûte ËÌslo str·n alebo ich rozsah. PrÌklad: 1,3,5-12"
  frRes + 49, "&N·zov:"
  frRes + 50, "PoËet &kÛpiÌ:"
  frRes + 51, "Komp&letnÈ"
  frRes + 52, "T&laË"
  frRes + 53, "Vöetky strany"
  frRes + 54, "Nep·rne strany"
  frRes + 55, "P·rne strany"
;--- TXTExportForm resources -------------------------------------------------
  frRes + 1800, "Nastavenie exportu TXT"
  frRes + 1801, "&Likvidovaù pr·zdne riadky"
  frRes + 1802, "Konvertovaù do &DOSu"
  frRes + 1803, "Exportovaù &r·my"
  frRes + 1804, "Pouûiù DOS &pseudografiku"
  frRes + 1805, "Vloûiù koni&ec strany"
  frRes + 1806, "äk·lovateæn˝ faktor"
;--- CSVExportForm resources -------------------------------------------------
  frRes + 1810, "Nastavenie exportu CSV"
  frRes + 1811, "&CSV oddeæovaË"
;--- RTFExportForm resources -------------------------------------------------
  frRes + 1820, "Parametre exportu RTF"
  frRes + 1821, "Exportovaù &obr·zky"
  frRes + 1822, "Konverovaù do &tabuæky"
;--- HTMExportForm resources -------------------------------------------------
  frRes + 1830, "Parametre exportu HTML"
;--- EXCELExportForm resources
  frRes + 1840, "Excel file OLE (*.xls)"
  frRes + 1841, "Objects: "
  frRes + 1842, " - Remained time: "
  frRes + 1843, "Please wait ..."
  frRes + 1844, "Export to Excel"
  frRes + 1845, " Page properties "
  frRes + 1846, "Top margin"
  frRes + 1847, "Left margin"
  frRes + 1848, "Scale on X"
  frRes + 1849, "Scale on Y"
  frRes + 1850, " Quality settings "
  frRes + 1851, "Merged"
  frRes + 1852, "Align"
  frRes + 1853, "Fill color"
  frRes + 1854, "Borders"
  frRes + 1855, "Words wrap"
  frRes + 1856, "Font name"
  frRes + 1857, "Font size"
  frRes + 1858, "Font style"
  frRes + 1859, "Font color"
  frRes + 1860, "Page breaks"
  frRes + 1861, "Better"
  frRes + 1862, "Faster"
  frRes + 1863, "Pictures"
  frRes + 1864, "Open Excel after export"
  frRes + 1865, "Prepare Y pos: "
  frRes + 1866, "Prepare X pos: "
;--- RTFExportForm resources
  frRes + 1870, "Rich text file advanced (*.rtf)"
  frRes + 1871, "Export to RTF"
;--- IMGExportForm resources
  frRes + 1875, "BMP file (*.bmp)"
  frRes + 1876, "TIFF file (*.tif)"
  frRes + 1877, "JPEG file (*.jpg)"
  frRes + 1878, "Export to picture"
  frRes + 1879, "Image settings"
  frRes + 1880, "Quality (for JPEG)"
  frRes + 1881, "Crop pages"
  frRes + 1882, "Monochrome"
;--- Advanced CROSS
  frRes + 2600, "Grand total"
  frRes + 2601, "Total"      
  frRes + 2602, "Total of "   
  frRes + 2603, "Cell"
  frRes + 2604, "Header" 
  frRes + 2605, "Repeat captions"
  frRes + 2606, "Internal frame"
  frRes + 2607, "Show header"
;--- Functions in 2.50
  frRes + 2620, "Database"
  frRes + 2621, "FIELDISNULL(<FieldName>)/Returns 'true' if DB-field is null"
  frRes + 2622, "Report info"
  frRes + 2623, "REPORTCOMMENT/Returns report comment"
  frRes + 2624, "REPORTNAME/Returns report name"
  frRes + 2625, "REPORTAUTOR/Returns report author"
  frRes + 2626, "VMAJOR/Returns version major"
  frRes + 2627, "VMINOR/Returns version minor"
  frRes + 2628, "VRELEASE/Returns version release"
  frRes + 2629, "VBUILD/Returns version build"
  frRes + 2630, "REPORTDATE/Returns report create date"
  frRes + 2631, "REPORTLASTCHANGE/Returns report modification date"
;--- Designer 2.50
  frRes + 2650, "Syntax highlight"
  frRes + 2651, "Syntax highlight enabled"
  frRes + 2652, "Disable undo"
  frRes + 2653, "Password"
  frRes + 2654, "Enter password for opening report"
  frRes + 2655, "Retype password for validate"
  frRes + 2656, "General"
  frRes + 2657, "Password protected"
  frRes + 2658, "Document"
  frRes + 2659, "Attribute"
  frRes + 2660, "Name"
  frRes + 2661, "Author"
  frRes + 2662, "Version"
  frRes + 2663, "Major"
  frRes + 2664, "Minor"
  frRes + 2665, "Release"
  frRes + 2666, "Build"
  frRes + 2667, "Description"
  frRes + 2668, "Comment"
  frRes + 2669, "Modified"
  frRes + 2670, "Created"

;-- Additions in 2.52
;-- OLE Excel export
  frRes + 2700, "Styles"
;-- XML Excel export
  frRes + 2710, "Excel table (XML) file (*.xls)"
  frRes + 2711, "XML table file (*.xml)"
  frRes + 2712, "Export to XML"
  frRes + 2713, "Export to Excel (XML)"
  frRes + 2714, "Numbers"
;-- HTML Table export
  frRes + 2720, "HTML table file (*.html)"
  frRes + 2721, "Export to HTML"
  frRes + 2722, "Pictures"
  frRes + 2723, "All in one folder"
  frRes + 2724, "Open in default browser after export"
  frRes + 2725, "Fixed width"
  frRes + 2726, "Page navigator"
  frRes + 2727, "Multipage"
  frRes + 2728, "Mozilla frames"
  frRes + 2729, "Pages"
  frRes + 2730, "Advanced"
;-- Text advanced export
  frRes + 2740, "Text (dot-matrix printer) (*.prn)"
  frRes + 2741, "Export to text (dot-matrix printer)"
  frRes + 2742, "Preview on/off"
  frRes + 2743, "Printer init setup"
  frRes + 2744, " Export properties "
  frRes + 2745, "Page breaks"
  frRes + 2746, "OEM codepage"
  frRes + 2747, "Empty lines"
  frRes + 2748, "Lead spaces"
  frRes + 2749, " Scaling "
  frRes + 2750, "Width"
  frRes + 2751, "Height"
  frRes + 2752, " Frames "
  frRes + 2753, "None"
  frRes + 2754, "Simple"
  frRes + 2755, "Only with OEM codepage"
  frRes + 2756, "Graphic"
  frRes + 2757, "Print after export"
  frRes + 2758, "Save settings"
  frRes + 2759, " Preview "
  frRes + 2760, "Width:"
  frRes + 2761, "Height:"
  frRes + 2762, "Page"
  frRes + 2763, "Enlarge preview"
  frRes + 2764, "Reduce preview"
  frRes + 2765, "Printer init setup"
  frRes + 2766, "Printer type"
  frRes + 2767, "Load"
  frRes + 2768, "Save"
  frRes + 2769, "Printer init template (*.fpi)|*.fpi"

;--- Strings resources -------------------------------------------------------
  SOk, "OK"
  SCancel, "N·vrat"
  SYes, "Ano"
  SNo, "Nie"
  SPg, "Strana"
  SNotAssigned, "[éiaden]"
  SDefaultPrinter, "Virtu·lna tlaËiareÚ"
  SBand1, "Report title"
  SBand2, "Report summary"
  SBand3, "Page header"
  SBand4, "Page footer"
  SBand5, "Master header"
  SBand6, "Master data"
  SBand7, "Master footer"
  SBand8, "Detail header"
  SBand9, "Detail data"
  SBand10, "Detail footer"
  SBand11, "Subdetail header"
  SBand12, "Subdetail data"
  SBand13, "Subdetail footer"
  SBand14, "Overlay"
  SBand15, "Column header"
  SBand16, "Column footer"
  SBand17, "Group header"
  SBand18, "Group footer"
  SBand19, "Cross header"
  SBand20, "Cross data"
  SBand21, "Cross footer"
  SBand22, "Child"
  SBand23, "éiaden"
  SCateg1, "Text"
  SCateg2, "»Ìslo"
  SCateg3, "D·tum"
  SCateg4, "»as"
  SCateg5, "Vyhodnotenie"
  SFormat11, "[éiaden]"
  SFormat12, ""
  SFormat13, ""
  SFormat14, ""
  SFormat15, ""
  SFormat21, "1234,5"
  SFormat22, "1234,50"
  SFormat23, "1 234,5"
  SFormat24, "1 234,50"
  SFormat25, "Vlastn˝"
  SFormat31, "11.15.98"
  SFormat32, "11.15.1998"
  SFormat33, "15 nov 1998"
  SFormat34, "15 november 1998"
  SFormat35, "Vlastn˝"
  SFormat41, "02:43:35"
  SFormat42, "2:43:35"
  SFormat43, "02:43"
  SFormat44, "2:43"
  SFormat45, "Vlastn˝"
  SFormat51, "0;1"
  SFormat52, "Nie;Ano"
  SFormat53, "_;x"
  SFormat54, "Nepravdiv˝;Pravdiv˝"
  SFormat55, "Vlastn˝"
  SDateFormat1, "mm.dd.yy"
  SDateFormat2, "mm.dd.yyyy"
  SDateFormat3, "d mmm yyyy"
  SDateFormat4, "d mmmm yyyy"
  STimeFormat1, "hh:nn:ss"
  STimeFormat2, "h:nn:ss"
  STimeFormat3, "hh:nn"
  STimeFormat4, "h:nn"
  SFrom, "z"
  SErrorOccured, "Pri v˝poËte sa vyskytla chyba"
  SDoc, "Zostava:"
  SObject, "P·ska:"
  SReportPreparing, "PrÌprava zostavy"
  SFirstPass, "UskutoËÚujem 1. skok:"
  SPagePreparing, "Generovanie strany:"
  SError, "Chyba"
  SPreview, "Uk·ûka"
  SPagePrinting, "TlaË strany:"
  SUntitled, "Bezmena"
  SPrinterError, "Nastaven· tlaËiareÚ nedostupn·"
  SRepFile, "S˙bor zost·v"
  STextFile, "ASCII Text s˙bor"
  SRTFFile, "Rich Text s˙bor"
  SCSVFile, "CSV s˙bor"
  SHTMFile, "HTML s˙bor"
  SFont, "PÌsmo..."
  SCharset, "1"
  SBarcodeError, "Chyba v def. »K"
  SFRFError, "Nepodporovan˝ FRF form·t"
  SUndefinedSymbol, "Nedefinovan˝ symbol"
}
